[2020-05-29 03:51] MingcongBai opened #2177 "chromium, google-chrome: security update to 83.0.4103.61"
**CVE IDs:** CVE-2020-6465, CVE-2020-6466, CVE-2020-6467, CVE-2020-6468, CVE-2020-6469, CVE-2020-6470, CVE-2020-6471, CVE-2020-6472, CVE-2020-6473, CVE-2020-6474, CVE-2020-6475, CVE-2020-6476, CVE-2020-6477, CVE-2020-6478, CVE-2020-6479, CVE-2020-6480, CVE-2020-6481, CVE-2020-6482, CVE-2020-6483, CVE-2020-6484, CVE-2020-6485, CVE-2020-6486, CVE-2020-6487, CVE-2020-6488, CVE-2020-6489, CVE-2020-649

[2020-05-29 04:00] eatradish commented on #2176
Fixed on https://github.com/AOSC-Dev/aosc-os-abbs/commit/575d74c87f78b97c19ebf8e7d837f13d72246c40, Closing.

[2020-05-29 04:00] #2176 closed, assigned to nobody

[2020-05-30 16:59] MingcongBai opened #2178 "miniupnpd: various security fixes"
**CVE IDs:** CVE-2019-12107, CVE-2019-12108, CVE-2019-12111

**Other security advisory IDs:** N/A

**Description:**

- CVE-2019-12107 miniupnpd: miniupnp: information disclosure in function upnp_event_prepare in upnpevents.c [Redhat Bugzilla 1715001](https://bugzilla.redhat.com/show_bug.cgi?id=1715007)
- CVE-2019-12108 miniupnp: null-pointer dereference in GetOutboundPinholeTimeout in upnpsoap.c f

[2020-05-31 06:20] l2dy commented on #2164
Use AOSA-2020-0098.

[2020-06-02 02:42] KexyBiscuit opened #2179 "freerdp: security update to 2.1.1"
**CVE IDs:** N/A

**Other security advisory IDs:** GHSL-2020-100, GHSL-2020-101, GHSL-2020-102, [USN-4379-1](https://usn.ubuntu.com/4379-1/)

**Description:** 2.1.1 is mainly a security and bug fix release that addresses multiple security issues indentified by Antonio Morales from GitHub Security Lab (GHSL).

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**
- [x] AMD64 `amd64`
- [x]

[2020-06-02 02:43] KexyBiscuit commented on #2149
Superseded by #2179, closing.

[2020-06-02 02:43] #2149 closed, assigned to nobody

[2020-06-02 02:46] KexyBiscuit opened #2180 "ca-certs: contains an expired CA certificate"
**CVE IDs:** N/A

**Other security advisory IDs:** [USN-4377-1](https://usn.ubuntu.com/4377-1/)

**Description:** The ca-certificates package contained an expired CA certificate that caused connectivity issues. This update removes the "AddTrust External Root" CA.

**Patches:** [ca-certificates 20190110ubuntu1.1 source package in Ubuntu](https://launchpad.net/ubuntu/+source/ca-certificates/20190110

[2020-06-02 02:50] KexyBiscuit opened #2181 "apache-ant: security update to 1.10.8"
**CVE IDs:** [CVE-2020-1945](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1945)

**Other security advisory IDs:** [USN-4380-1](https://usn.ubuntu.com/4380-1/)

**Description:** Apache Ant 1.1 to 1.9.14 and 1.10.0 to 1.10.7 uses the default temporary directory identified by the Java system property java.io.tmpdir for several tasks and may thus leak sensitive information. The fixcrlf and

[2020-06-04 08:52] KexyBiscuit opened #2183 "Django: security update to 3.0.7"
**CVE IDs:** [CVE-2020-13254](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13254), [CVE-2020-13596](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13596)

**Other security advisory IDs:** [USN-4381-1](https://usn.ubuntu.com/4381-1/)

**Description:** An issue was discovered in Django 2.2 before 2.2.13 and 3.0 before 3.0.7. In cases where a memcached backend does not perform key

[2020-06-05 05:11] KexyBiscuit opened #2184 "Chromium: security update to 83.0.4103.97"
**CVE IDs:** [CVE-2020-6493](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6493), [CVE-2020-6494](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6494), [CVE-2020-6495](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6495), [CVE-2020-6496](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6496)

**Other security advisory IDs:** [Stable Channel Update for Desktop](ht

[2020-06-05 05:11] KexyBiscuit commented on #2177
Superseded by #2184, closing.

[2020-06-05 05:11] #2177 closed, assigned to nobody

[2020-06-05 05:21] KexyBiscuit opened #2185 "Firefox: security update to ^77"
**CVE IDs:** [CVE-2020-12399](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12399), [CVE-2020-12405](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12405), [CVE-2020-12406](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12406), [CVE-2020-12407](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12407), [CVE-2020-12408](https://cve.mitre.org/cgi-bin/cvename.cgi?name

[2020-06-05 05:24] KexyBiscuit opened #2186 "Thunderbird: security update to 68.9.0"
**CVE IDs:** [CVE-2020-12398](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12398), [CVE-2020-12399](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12399), [CVE-2020-12405](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12405), [CVE-2020-12406](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12406), [CVE-2020-12410](https://cve.mitre.org/cgi-bin/cvename.cgi?name

[2020-06-08 22:02] MingcongBai commented on #2180
All done. @l2dy Advised not to assign an AOSA for this issue.

[2020-06-08 22:02] #2180 closed, assigned to nobody

[2020-06-08 22:04] MingcongBai commented on #2181
All done. @l2dy Please assign an AOSA.

[2020-06-08 22:04] #2181 closed, assigned to nobody

[2020-06-08 22:06] MingcongBai commented on #2183
All done. @l2dy Please assign an AOSA.

[2020-06-08 22:06] #2183 closed, assigned to nobody

[2020-06-08 23:35] MingcongBai commented on #2185
Updating to 77.0.1.

[2020-06-09 05:49] KexyBiscuit opened #2187 "GnuTLS: security update to 3.6.14"
**CVE IDs:** [CVE-2020-13777](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13777)

**Other security advisory IDs:** [GNUTLS-SA-2020-06-03](https://gnutls.org/security-new.html#GNUTLS-SA-2020-06-03), [USN-4384-1](https://usn.ubuntu.com/4384-1/)

**Description:** GnuTLS 3.6.x before 3.6.14 uses incorrect cryptography for encrypting a session ticket (a loss of confidentiality in TLS 1.2, a

[2020-06-09 12:45] l2dy commented on #2181
Use AOSA-2020-0099.

[2020-06-09 12:45] l2dy commented on #2183
Use AOSA-2020-0100.

[2020-06-09 22:47] MingcongBai commented on #2143
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:47] #2143 closed, assigned to nobody

[2020-06-09 22:48] MingcongBai commented on #2144
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:48] #2144 closed, assigned to MingcongBai, KexyBiscuit

[2020-06-09 22:48] MingcongBai commented on #2148
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:48] #2148 closed, assigned to KexyBiscuit

[2020-06-09 22:49] MingcongBai commented on #2150
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:49] #2150 closed, assigned to nobody

[2020-06-09 22:49] MingcongBai commented on #2151
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:49] #2151 closed, assigned to nobody

[2020-06-09 22:49] MingcongBai commented on #2154
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:49] #2154 closed, assigned to nobody

[2020-06-09 22:52] MingcongBai commented on #2174
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/2187. Closing.

[2020-06-09 22:52] #2174 closed, assigned to nobody

[2020-06-09 22:52] MingcongBai commented on #2177
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/2184. Closing.

[2020-06-09 22:52] MingcongBai commented on #2178
All done. @l2dy Please assign an AOSA.

[2020-06-09 22:52] #2178 closed, assigned to nobody

[2020-06-09 23:00] MingcongBai commented on #2153
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:00] #2153 closed, assigned to nobody

[2020-06-09 23:06] MingcongBai commented on #2156
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:06] #2156 closed, assigned to nobody

[2020-06-09 23:07] MingcongBai commented on #2157
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:07] #2157 closed, assigned to nobody

[2020-06-09 23:12] MingcongBai commented on #2152
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:12] #2152 closed, assigned to nobody

[2020-06-09 23:21] MingcongBai commented on #2158
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:21] #2158 closed, assigned to nobody

[2020-06-09 23:24] MingcongBai commented on #2159
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:24] #2159 closed, assigned to nobody

[2020-06-09 23:32] MingcongBai commented on #2160
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:32] #2160 closed, assigned to nobody

[2020-06-09 23:32] MingcongBai commented on #2161
All done. @l2dy Please assign an AOSA.

[2020-06-09 23:32] #2161 closed, assigned to nobody

[2020-06-10 00:45] MingcongBai commented on #2162
All done. @l2dy Please assign an AOSA.

[2020-06-10 00:45] #2162 closed, assigned to nobody

[2020-06-10 01:02] MingcongBai commented on #2163
All done. @l2dy Please assign an AOSA.

[2020-06-10 01:02] #2163 closed, assigned to nobody

[2020-06-10 01:45] MingcongBai commented on #2166
All done. @l2dy Please assign an AOSA.

[2020-06-10 01:45] #2166 closed, assigned to nobody

[2020-06-10 01:46] MingcongBai commented on #2167
All done. @l2dy Please assign an AOSA.

[2020-06-10 01:46] #2167 closed, assigned to nobody

[2020-06-10 03:09] KexyBiscuit opened #2188 "Adobe Flash Player(flashplayer-ppapi): security update to 32.0.0.387"
**CVE IDs:** [CVE-2020-9633](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-9633)

**Other security advisory IDs:** [APSB20-30](https://helpx.adobe.com/security/products/flash-player/apsb20-30.html), [ADV200010](https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/ADV200010), [KB4561600](https://support.microsoft.com/en-us/help/4561600/security-update-for-adobe-flash-player)

[2020-06-10 03:33] MingcongBai commented on #2188
All done. @l2dy Please assign an AOSA.

[2020-06-10 03:33] #2188 closed, assigned to nobody

[2020-06-10 04:26] MingcongBai commented on #2172
All done. @l2dy Please assign an AOSA.

[2020-06-10 04:26] #2172 closed, assigned to nobody

[2020-06-10 05:30] MingcongBai commented on #2173
All done. @l2dy Please assign an AOSA.

[2020-06-10 05:30] #2173 closed, assigned to nobody

[2020-06-10 05:30] MingcongBai commented on #2187
All done. @l2dy Please assign an AOSA.

[2020-06-10 05:30] #2187 closed, assigned to nobody

[2020-06-10 06:41] KexyBiscuit opened #2189 "Intel® Processors: Special Register Buffer Data Sampling (SRBDS)"
**CVE IDs:** [CVE-2020-0543](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-0543)

**Other security advisory IDs:** [INTEL-SA-00320](https://www.intel.com/content/www/us/en/security-center/advisory/INTEL-SA-00320.html), [USN-4385-1](https://usn.ubuntu.com/4385-1/), [USN-4385-2](https://usn.ubuntu.com/4385-2/), [USN-4389-1](https://usn.ubuntu.com/4389-1/)

**Description:** A potential secu

[2020-06-10 06:48] KexyBiscuit opened #2190 "libjpeg-turbo: CVE-2020-13790"
**CVE IDs:** [CVE-2020-13790](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13790)

**Other security advisory IDs:** [USN-4386-1](https://usn.ubuntu.com/4386-1/)

**Description:** libjpeg-turbo 2.0.4, and mozjpeg 4.0.0, has a heap-based buffer over-read in get_rgb_row() in rdppm.c via a malformed PPM input file.

**Patches:** [rdppm.c: Fix buf overrun caused by bad binary PPM](https://gi

[2020-06-10 06:53] KexyBiscuit opened #2191 ".NET Core: security update to June 2020"
**CVE IDs:** [CVE-2020-1108](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1108)

**Other security advisory IDs:** [CVE-2020-1108@MSRC](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2020-1108), dotnet/announcements#157

**Description:** A denial of service vulnerability exists when .NET Core or .NET Framework improperly handles web requests. An attacker who succe

[2020-06-10 17:44] MingcongBai commented on #2169
All done. @l2dy Please assign an AOSA.

[2020-06-10 17:44] #2169 closed, assigned to nobody

[2020-06-10 17:44] MingcongBai commented on #2175
All done. @l2dy Please assign an AOSA.

[2020-06-10 17:44] #2175 closed, assigned to nobody

[2020-06-10 17:46] MingcongBai commented on #2179
All done. @l2dy Please assign an AOSA.

[2020-06-10 17:46] #2179 closed, assigned to nobody

[2020-06-10 23:51] MingcongBai commented on #2185
All done. @l2dy Please assign an AOSA.

[2020-06-10 23:51] #2185 closed, assigned to nobody

[2020-06-11 00:00] MingcongBai commented on #2186
All done. @l2dy Please assign an AOSA.

[2020-06-11 00:00] #2186 closed, assigned to nobody

[2020-06-11 03:45] KexyBiscuit opened #2193 "SQLite: security update to ^3.32.1"
**CVE IDs:** [CVE-2019-19603](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19603), [CVE-2019-19645](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19645), [CVE-2020-11655](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11655), [CVE-2020-13434](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13434), [CVE-2020-13435](https://cve.mitre.org/cgi-bin/cvename.cgi?name

[2020-06-12 04:39] KexyBiscuit opened #2194 "PowerShell: security update to 6.2.6"
**CVE IDs:** [CVE-2020-1108](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1108)

**Other security advisory IDs:** [CVE-2020-1108@MSRC](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2020-1108), #2191

**Description:** A denial of service vulnerability exists when .NET Core or .NET Framework improperly handles web requests. An attacker who successfully exploited t

[2020-06-14 05:26] MingcongBai commented on #2184
All done. @l2dy Please assign an AOSA.

[2020-06-14 05:32] MingcongBai commented on #2189
Dropped Retro Kernels from the list, they will never ship on AMD64.

[2020-06-14 05:37] MingcongBai commented on #2189
All done. @l2dy Please assign an AOSA.

[2020-06-14 05:51] MingcongBai commented on #2191
@KexyBiscuit What is the status on this?

[2020-06-14 05:51] MingcongBai commented on #2194
@KexyBiscuit What is the status on this?

[2020-06-14 22:09] #2184 closed, assigned to nobody

[2020-06-14 22:21] MingcongBai commented on #2189
Sorry, re-opening as this is still developing.

@l2dy With an correction to my comment above, please assign an AOSA for each of the packages affected.

[2020-06-16 19:41] MingcongBai opened #2195 "v2ray: security update to ^4.23.4 (4.24.2)"
**CVE IDs:** N/A

**Other security advisory IDs:** N/A

**Description:**

https://gfw.report/blog/v2ray_weaknesses/en/

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-06-17 03:42] MingcongBai commented on #2124
Frozen. Future work to be recorded in Summer 2020 iteration plan, when available. @KexyBiscuit

[2020-06-19 07:22] KexyBiscuit opened #2196 "chromium, google-chrome, vivaldi: security update to 83.0.4103.116"
**CVE IDs:** [CVE-2020-6505](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6505), [CVE-2020-6506](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6506), [CVE-2020-6507](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6507), [CVE-2020-6509](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6509)

**Other security advisory IDs:**

- [Stable Channel Update for Desktop,

[2020-06-19 07:29] KexyBiscuit opened #2197 "fwupd: security update to ^1.3.10"
**CVE IDs:** [CVE-2020-10759](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-10759)

**Other security advisory IDs:** [Legacy LVFS S3 bucket takeover and CVE-2020-10759 fwupd signature verification bypass](https://github.com/justinsteven/advisories/blob/master/2020_fwupd_dangling_s3_bucket_and_CVE-2020-10759_signature_verification_bypass.md), [USN-4395-1](https://usn.ubuntu.com/4395-1/)

[2020-06-19 07:45] KexyBiscuit opened #2198 "libexif: security update to 0.6.22"
**CVE IDs:** [CVE-2020-0093](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-0093), [CVE-2020-0182](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-0182), [CVE-2020-0198](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-0198), [CVE-2020-13112](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13112), [CVE-2020-13113](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2

[2020-06-19 07:55] KexyBiscuit opened #2199 "D-Bus: security update to 1.12.18"
**CVE IDs:** [CVE-2020-12049](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12049)

**Other security advisory IDs:** [USN-4398-1](https://usn.ubuntu.com/4398-1/)

**Description:** An issue was discovered in dbus >= 1.3.0 before 1.12.18. The DBusServer in libdbus, as used in dbus-daemon, leaks file descriptors when a message exceeds the per-message file descriptor limit. A local attacker

[2020-06-19 07:59] KexyBiscuit opened #2200 "BIND: security update to 9.16.4"
**CVE IDs:** [CVE-2020-8618](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8618), [CVE-2020-8619](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8619)

**Other security advisory IDs:** [USN-4399-1](https://usn.ubuntu.com/4399-1/)

**Description:** An attacker who is permitted to send zone data to a server via zone transfer can exploit this to intentionally trigger the assertion

[2020-06-19 08:06] KexyBiscuit commented on #2189
This should be done for now.

[2020-06-19 08:06] #2189 closed, assigned to nobody

[2020-06-19 17:30] l2dy opened #2201 "mutt, neomutt: security update to 1.14.4, 20200619"
**CVE IDs:** TBD

**Other security advisory IDs:** N/A

**Description:**
https://github.com/neomutt/neomutt/releases/tag/20200619

http://lists.mutt.org/pipermail/mutt-announce/Week-of-Mon-20200608/000022.html

are exposed, but could result in unintended emails being "saved" to an
attacker's server.  The $ssl_starttls quadoption is now used to check
for an unencrypted PREAUTH response from the ser

[2020-06-22 15:22] KexyBiscuit opened #2202 "[FROZEN] Iteration Plan for Summer 2020"
This plan captures our work in **Summer**.

## Important dates

- July 8, 2020: Start the first survey for updates.
- September 29, 2020: Freeze Testing-Proposed.
  - Merge all changes to Testing for updates.
  - Transfer all skip-ahead changes to Experimental.
  - All non-complete entries on Testing-Proposed => Testing to be deferred to Fall 2020.
- September 29, 2020: Commence draft on Fall 2020

[2020-06-29 12:50] eatradish opened #2205 "konsole: FTBFS (testing, amd64)"
**Intended Version:**
20.04

**Target Branch:**
testing

**Description:**
1. Add patch to fix pasting multiline text from Firefox results in double new lines between each text block (https://invent.kde.org/utilities/konsole/-/merge_requests/118/diffs?commit_id=a1022442dc2f59321976fd3456ad97c61300d1f2)

2. log: https://fars.ee/pV_d

[2020-06-29 13:32] eatradish commented on #2205
https://github.com/AOSC-Dev/aosc-os-abbs/commit/d72bb80dacf9aabbf45b12c9cf7c4d4e27a94e93, closing.

[2020-06-29 13:32] #2205 closed, assigned to nobody

[2020-07-08 05:31] MingcongBai commented on #2196
Redirected to 83.0.4103.116.

[2020-07-08 05:43] MingcongBai commented on #2202
Summer 2020 is now live, all dates pushed back by 7 days due to delay from the last cycle.

[2020-07-08 05:43] MingcongBai commented on #1510
All done as of Spring 2020.

[2020-07-08 05:43] #1510 closed, assigned to nobody

[2020-07-08 05:45] MingcongBai opened #2208 "palemoon: security update to 28.10.0"
**CVE IDs:** CVE-2020-12399, CVE-2020-12409

**Description:**

- [Pale Moon 28.10.0](https://github.com/MoonchildProductions/Pale-Moon/releases/tag/28.10.0_Release)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-07-08 05:56] MingcongBai commented on #2191
@KexyBiscuit ping?

[2020-07-16 02:55] liushuyu opened #2210 "openjdk-8: security update to 8u262"
**CVE IDs:** CVE-2020-14579, CVE-2020-14578, CVE-2020-14556, CVE-2020-14577, CVE-2020-14581, CVE-2020-14583, CVE-2020-14593, CVE-2020-14621

**Other security advisory IDs:** N/A

**Description:**

CVE-2020-14579: NullPointerException in DerValue.equals(DerValue)
CVE-2020-14578: NegativeArraySizeException in sun.security.util.DerInputStream.getUnalignedBitString()
CVE-2020-14556: Better ForkJoinPoo

[2020-07-16 05:54] liushuyu opened #2211 "openjdk: update to 11.0.8+ga"
**CVE IDs:** CVE-2020-14579, CVE-2020-14578, CVE-2020-14556, CVE-2020-14577, CVE-2020-14581, CVE-2020-14583, CVE-2020-14593, CVE-2020-14621

**Other security advisory IDs:** JDK-8028431, JDK-8028591, JDK-8237117, JDK-8237592, JDK-8238002, JDK-8238920, JDK-8240119, JDK-8242136

**Description:**
JDK-8028431, CVE-2020-14579: NullPointerException in DerValue.equals(DerValue)
JDK-8028591, CVE-2020-1457

[2020-07-17 02:46] MingcongBai opened #2212 "webkit2gtk: security update to 2.28.3"
**CVE IDs:** CVE-2020-9802, CVE-2020-9803, CVE-2020-9805, CVE-2020-9806, CVE-2020-9807, CVE-2020-9843, CVE-2020-9850, CVE-2020-13753.

**Other security advisory IDs:** [WSA-2020-0006](https://webkitgtk.org/security/WSA-2020-0006.html)

**Description:**

See [WSA-2020-0006](https://webkitgtk.org/security/WSA-2020-0006.html).

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

-

[2020-07-17 20:42] MingcongBai commented on #2165
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:42] #2165 closed, assigned to nobody

[2020-07-17 20:43] MingcongBai commented on #2190
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:43] #2190 closed, assigned to nobody

[2020-07-17 20:43] MingcongBai commented on #2191
@KexyBiscuit Any update on this issue?

[2020-07-17 20:44] MingcongBai commented on #2193
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:44] #2193 closed, assigned to nobody

[2020-07-17 20:45] MingcongBai commented on #2195
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:45] #2195 closed, assigned to nobody

[2020-07-17 20:46] MingcongBai commented on #2196
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:46] #2196 closed, assigned to nobody

[2020-07-17 20:52] liushuyu commented on #2211
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-17 20:52] #2211 closed, assigned to nobody

[2020-07-18 21:52] MingcongBai commented on #2208
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 21:52] #2208 closed, assigned to nobody

[2020-07-18 21:59] MingcongBai commented on #2197
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 21:59] #2197 closed, assigned to nobody

[2020-07-18 22:03] MingcongBai commented on #2198
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:03] #2198 closed, assigned to nobody

[2020-07-18 22:12] MingcongBai commented on #2199
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:12] #2199 closed, assigned to nobody

[2020-07-18 22:33] MingcongBai commented on #2210
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:33] #2210 closed, assigned to nobody

[2020-07-18 22:35] MingcongBai commented on #2200
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:35] #2200 closed, assigned to nobody

[2020-07-18 22:37] MingcongBai commented on #2201
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:37] #2201 closed, assigned to nobody

[2020-07-18 22:37] MingcongBai commented on #2212
All done. Closing.

@l2dy Please assign an AOSA.

[2020-07-18 22:37] #2212 closed, assigned to nobody

[2020-07-29 01:11] MingcongBai opened #2217 "chromium, google-chrome: security update to 84.0.4147.105"
**CVE IDs:** CVE-2020-6532, CVE-2020-6537, CVE-2020-6538, CVE-2020-6539, CVE-2020-6540, CVE-2020-6541

**Other security advisory IDs:** N/A

**Description:**

[Stable Channel Update for Desktop](https://chromereleases.googleblog.com/2020/07/stable-channel-update-for-desktop_27.html)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Chromium):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64

[2020-07-29 01:14] MingcongBai opened #2218 "brave-browser: security update to 1.11.101"
**CVE IDs:** N/A

**Other security advisory IDs:** N/A

**Description:**

[Desktop Release Channel v1.11.101](https://github.com/brave/brave-browser/releases/tag/v1.11.101)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`

[2020-07-29 01:25] MingcongBai opened #2219 "firefox: security update to 79.0"
**CVE IDs:** CVE-2020-6463, CVE-2020-6514, CVE-2020-15652, CVE-2020-15653, CVE-2020-15654, CVE-2020-15655, CVE-2020-15656, CVE-2020-156527, CVE-2020-15658, CVE-2020-15659

**Other security advisory IDs:** [msfa2020-30](https://www.mozilla.org/en-US/security/advisories/mfsa2020-30/)

**Description:**

[Security Vulnerabilities fixed in Firefox 79.0](https://www.mozilla.org/en-US/security/advisories

[2020-07-29 01:32] MingcongBai opened #2220 "thunderbird: security update to 78.0.1"
*This issue will soon be superseded with 78.1.0.*

**CVE IDs:** CVE-2020-12402, CVE-2020-12415, CVE-2020-12416, CVE-2020-12417, CVE-2020-12418, CVE-2020-12419, CVE-2020-12420, CVE-2020-12421, CVE-2020-12422, CVE-2020-12423, CVE-2020-12424, CVE-2020-12425, CVE-2020-12426, CVE-2020-15648

**Other security advisory IDs:** [msfa2020-29](https://www.mozilla.org/en-US/security/advisories/mfsa2020-29/)

[2020-07-29 01:35] MingcongBai opened #2221 "seamonkey: security update to 2.53.3"
**CVE IDs:** See description.

**Other security advisory IDs:** See description.

**Description:**

[SeaMonkey 2.53.3 Release Notes](https://www.seamonkey-project.org/releases/seamonkey2.53.3/)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-07-29 01:46] MingcongBai opened #2222 "palemoon: security update to 28.11.0"
**CVE IDs:** CVE-2020-12402, CVE-2020-12418, CVE-2020-12422

**Other security advisory IDs:** N/A

**Description:**

[Pale Moon 28.11.0](https://github.com/MoonchildProductions/Pale-Moon/releases/tag/28.11.0_Release)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-07-30 16:31] MingcongBai opened #2223 "webkit2gtk: security update to 2.28.4"
**CVE IDs:** CVE-2020-9862, CVE-2020-9893, CVE-2020-9894, CVE-2020-9895, CVE-2020-9915, CVE-2020-9925.

**Other security advisory IDs:** WSA-2020-0007.

**Description:**

[WebKitGTK and WPE WebKit Security Advisory WSA-2020-0007](https://webkitgtk.org/security/WSA-2020-0007.html)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-07-31 21:33] eatradish opened #2224 "fcitx5: FTBFS on amd64, testing-proposed"
**Intended Version:**
fcitx5 20200730 (upstream newest commit)

**Target Branch:**
t-p, amd64

**Description:**
https://fars.ee/iz4m

[2020-08-02 03:40] MingcongBai opened #2225 "x11-lib: security update for libX11 (update to 1.6.10)"
**CVE IDs:** CVE-2020-14344

**Other security advisory IDs:** N/A

**Description:**

The X Input Method (XIM) client implementation in libX11 has some
integer overflows and signed/unsigned comparison issues that can lead
to heap corruption when handling malformed messages from an input
method.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [x]

[2020-08-02 03:42] MingcongBai opened #2226 "xorg-server: security update for CVE-2020-14347"
**CVE IDs:** CVE-2020-14347

**Other security advisory IDs:** N/A

**Description:**

Allocation for pixmap data in AllocatePixmap() does not initialize the
memory in xserver, it leads to leak uninitialize heap memory to
clients. When the X server runs with elevated privileges.

This flaw can lead to ASLR bypass, which when combined with other
flaws (known/unknown) could lead to lead to privilege e

[2020-08-02 23:08] eatradish commented on #2224
Fixed on fmt update to 7.0.2, Closing...

[2020-08-02 23:08] #2224 closed, assigned to nobody

[2020-08-03 06:08] l2dy commented on #2143
Use AOSA-2020-0101.

[2020-08-03 06:08] l2dy commented on #2144
Use AOSA-2020-0102.

[2020-08-03 06:08] l2dy commented on #2148
Use AOSA-2020-0103.

[2020-08-03 06:09] l2dy commented on #2150
Use AOSA-2020-0104.

[2020-08-03 06:09] l2dy commented on #2151
Use AOSA-2020-0105.

[2020-08-03 06:09] l2dy commented on #2154
Use AOSA-2020-0106.

[2020-08-03 06:09] l2dy commented on #2178
Use AOSA-2020-0107.

[2020-08-03 06:09] l2dy commented on #2153
Use AOSA-2020-0108.

[2020-08-03 06:09] l2dy commented on #2156
Use AOSA-2020-0109.

[2020-08-03 06:10] l2dy commented on #2157
Use AOSA-2020-0110.

[2020-08-03 06:10] l2dy commented on #2152
Use AOSA-2020-0111.

[2020-08-03 06:10] l2dy commented on #2158
Use AOSA-2020-0112.

[2020-08-03 06:10] l2dy commented on #2159
Use AOSA-2020-0113.

[2020-08-03 06:10] l2dy commented on #2160
Use AOSA-2020-0114.

[2020-08-03 06:10] l2dy commented on #2161
Use AOSA-2020-0115.

[2020-08-03 06:10] l2dy commented on #2162
Use AOSA-2020-0116.

[2020-08-03 06:10] l2dy commented on #2163
Use AOSA-2020-0117.

[2020-08-03 06:11] l2dy commented on #2166
Use AOSA-2020-0118.

[2020-08-03 06:11] l2dy commented on #2167
Use AOSA-2020-0119.

[2020-08-03 06:14] l2dy commented on #2188
Use AOSA-2020-0120.

[2020-08-03 06:14] l2dy commented on #2172
Use AOSA-2020-0121.

[2020-08-03 06:15] l2dy commented on #2173
Use AOSA-2020-0122.

[2020-08-03 06:15] l2dy commented on #2187
Use AOSA-2020-0123.

[2020-08-03 06:15] l2dy commented on #2169
Use AOSA-2020-0124.

[2020-08-03 06:15] l2dy commented on #2175
Use AOSA-2020-0125.

[2020-08-03 06:15] l2dy commented on #2179
Use AOSA-2020-0126.

[2020-08-03 06:15] l2dy commented on #2185
Use AOSA-2020-0127.

[2020-08-03 06:15] l2dy commented on #2186
Use AOSA-2020-0128.

[2020-08-03 06:15] l2dy commented on #2184
Use AOSA-2020-0129.

[2020-08-03 06:17] l2dy commented on #2189
Use AOSA-2020-0130 for the Linux kernel.
Use AOSA-2020-0131 for intel-ucode.

[2020-08-03 06:17] l2dy commented on #2165
Use AOSA-2020-0132.

[2020-08-03 06:17] l2dy commented on #2190
Use AOSA-2020-0133.

[2020-08-03 06:17] l2dy commented on #2193
Use AOSA-2020-0134.

[2020-08-03 06:17] l2dy commented on #2195
Use AOSA-2020-0135.

[2020-08-03 06:17] l2dy commented on #2196
Use AOSA-2020-0136.

[2020-08-03 06:17] l2dy commented on #2211
Use AOSA-2020-0137.

[2020-08-03 06:18] l2dy commented on #2197
Use AOSA-2020-0139.

[2020-08-03 06:18] l2dy commented on #2208
Use AOSA-2020-0138.

[2020-08-03 06:18] l2dy commented on #2198
Use AOSA-2020-0140.

[2020-08-03 06:18] l2dy commented on #2199
Use AOSA-2020-0141.

[2020-08-03 06:18] l2dy commented on #2210
Use AOSA-2020-0142.

[2020-08-03 06:19] l2dy commented on #2200
Use AOSA-2020-0143.

[2020-08-03 06:19] l2dy commented on #2201
Use AOSA-2020-0144.

[2020-08-03 06:19] l2dy commented on #2212
Use AOSA-2020-0145.

[2020-08-03 07:31] l2dy opened #2227 "sqlite: security update to 3.32.3"
**CVE IDs:** CVE-2020-15358

**Other security advisory IDs:** USN-4438-1, GLSA 202007-26

**Description:**
It was discovered that SQLite incorrectly handled query-flattener
optimization. An attacker could use this issue to cause SQLite to crash,
resulting in a denial of service, or possibly execute arbitrary code.

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [x] 32-bit Option

[2020-08-03 07:38] l2dy opened #2228 "freerdp: security update to 2.2.0"
**CVE IDs:** CVE-2020-15103

**Other security advisory IDs:** N/A

**Description:**
SECURITY: CVE-2020-15103 - Integer overflow due to missing input sanitation in rdpegfx channel

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 07:43] l2dy opened #2229 "hostapd: CVE-2020-12695"
**CVE IDs:** CVE-2020-12695

**Other security advisory IDs:** MGASA-2020-0304

**Description:**
The Open Connectivity Foundation UPnP specification before 2020-04-17 does
not forbid the acceptance of a subscription request with a delivery URL on
a different network segment than the fully qualified event-subscription
URL, aka the CallStranger issue. (CVE-2020-12695).

https://w1.fi/security/2020-1/

[2020-08-03 08:06] l2dy opened #2230 "graphicsmagick: security update to 1.3.35"
**CVE IDs:** CVE-2020-10938

**Other security advisory IDs:** openSUSE-SU-2020:0416-1, DSA-4675-1

**Description:**
   - CVE-2020-10938: Fixed an integer overflow and resultant heap-based
     buffer overflow in HuffmanDecodeImages (boo#1167623).

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 08:10] l2dy opened #2231 "ntfs-3g: CVE-2019-9755"
**CVE IDs:** CVE-2019-9755

**Other security advisory IDs:** openSUSE-SU-2019:1314-1, GLSA 202007-45

**Description:**
   - CVE-2019-9755: Fixed a heap-based buffer overflow which could lead to
     local privilege escalation (bsc#1130165).

**Patches:** from Gentoo

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 08:13] l2dy opened #2232 "libraw: CVE-2020-15503"
**CVE IDs:** CVE-2020-15503

**Other security advisory IDs:** openSUSE-SU-2020:1128-1

**Description:**
   This update for libraw fixes the following issues:

   - security update
   - added patches fix CVE-2020-15503 [bsc#1173674], lack of thumbnail size
     range check can lead to buffer overflow
     + libraw-CVE-2020-15503.patch

**Patches:** from openSUSE

**PoC(s):** N/A

**Architectural pr

[2020-08-03 08:21] l2dy opened #2233 "evolution-data-server: security update to 3.36.4"
**CVE IDs:** CVE-2020-14928

**Other security advisory IDs:** DSA-4725-1, USN-4429-1

**Description:**
Damian Poddebniak and Fabian Ising discovered a response injection
vulnerability in Evolution data server, which could enable MITM
attacks.

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 08:36] l2dy opened #2234 "libtiff: security update for CVE-2019-14973"
**CVE IDs:** CVE-2019-14973

**Other security advisory IDs:** RHSA-2020:1688-01

**Description:**
* libtiff: integer overflow in _TIFFCheckMalloc and _TIFFCheckRealloc in
tif_aux.c (CVE-2019-14973)

**Patch**: https://gitlab.com/libtiff/libtiff/-/commit/2218055ca67d84be596a13080e8f50f22116555c

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `opten

[2020-08-03 15:22] l2dy opened #2235 "mariadb: security update to 10.4.13"
**CVE IDs:** CVE-2020-2752, CVE-2020-2812, CVE-2020-2814, CVE-2020-2760, CVE-2020-13249, CVE-2020-2574, CVE-2020-7221

**Other security advisory IDs:** MGASA-2020-0284, openSUSE-SU-2020:0870-1

**Description:**
https://mariadb.com/kb/en/mariadb-10412-release-notes/
https://mariadb.com/kb/en/mariadb-10413-release-notes/

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm

[2020-08-03 15:32] l2dy opened #2236 "grub: multiple vulnerabilities"
**CVE IDs:** CVE-2020-10713, CVE-2020-14308, CVE-2020-14309, CVE-2020-14310, CVE-2020-14311, CVE-2020-15705, CVE-2020-15706, CVE-2020-15707

**Other security advisory IDs:** RHSA-2020:3216-01

**Description:**
* grub2: Crafted grub.cfg file can lead to arbitrary code execution during
boot process (CVE-2020-10713)

* grub2: grub_malloc does not validate allocation size allowing for
arithmetic overf

[2020-08-03 15:46] l2dy commented on #1996
Note that phpMyAdmin 5.0.2 additionally fixed CVE-2020-10802, CVE-2020-10803, and CVE-2020-10804.

[2020-08-03 16:00] l2dy opened #2237 "ghostscript: security update to 9.52 and patch CVE-2020-15900"
**CVE IDs:** CVE-2019-14869, CVE-2019-10216, CVE-2020-15900, CVE-2019-14811, CVE-2019-14812, CVE-2019-14813, CVE-2019-14817

**Other security advisory IDs:** USN-4092-1, USN-4111-1, USN-4193-1, USN-4445-1

**Description:**
https://artifex.com/security-advisories/CVE-2019-14869
https://artifex.com/security-advisories/CVE-2020-15900

CVE-2019-10216:
Netanel Fisher discovered that the font handler in

[2020-08-03 16:04] l2dy opened #2238 "clamav: security update to 0.102.4"
**CVE IDs:** CVE-2020-3327, CVE-2020-3350, CVE-2020-3481

**Other security advisory IDs:** USN-4435-1

**Description:**
It was discovered that ClamAV incorrectly handled parsing ARJ archives. A
remote attacker could possibly use this issue to cause ClamAV to crash,
resulting in a denial of service. (CVE-2020-3327)

It was discovered that ClamAV incorrectly handled scanning malicious files.
A local

[2020-08-03 16:37] l2dy opened #2239 "squid: security update to 4.12"
**CVE IDs:** CVE-2020-14058, CVE-2020-15049

**Other security advisory IDs:** SQUID-2020:6, SQUID-2020:7

**Description:**
SQUID-2020:7 (CVE-2020-15049), Jun 27, 2020
    Fixed from 5.0.3, 4.12
SQUID-2020:6 (CVE-2020-14058), Jun 19, 2020
    Fixed from 5.0.3, 4.12
    Denial of Service issue in TLS handshake

http://www.squid-cache.org/Advisories/

**Patches:** N/A

**PoC(s):** N/A

**Architectura

[2020-08-03 16:46] l2dy opened #2240 "ffmpeg: security update to 4.2.4"
**CVE IDs:** CVE-2019-13312, CVE-2020-12284, CVE-2020-13904

**Other security advisory IDs:** ASA-202007-4, GLSA 202007-58, USN-4431-1, MGASA-2020-0290, DSA-4722-1

**Description:**
It was discovered that FFmpeg incorrectly handled certain WEBM files. An
attacker could possibly use this issue to obtain sensitive data or other
unspecified impact. This issue only affected Ubuntu 20.04 LTS.
(CVE-2019

[2020-08-03 16:55] l2dy opened #2241 "python-3: security update to 3.8.5; drop ipaddress"
**CVE IDs:** CVE-2020-14422

**Other security advisory IDs:** openSUSE-SU-2020:1002-1, DLA-2280-1

**Description:**
Lib/ipaddress.py improperly computes hash values in the IPv4Interface and IPv6Interface classes, which might allow a remote attacker to cause a denial of service if an application is affected by the performance of a dictionary containing IPv4Interface or IPv6Interface objects, and th

[2020-08-03 16:58] l2dy commented on #1820
Update also fixes CVE-2018-12181.

[2020-08-03 17:11] l2dy opened #2242 "hostapd, wpa-supplicant: CVE-2019-16275"
**CVE IDs:** CVE-2019-16275

**Other security advisory IDs:** USN-4136-1

**Description:**
https://w1.fi/security/2019-7/ap-mode-pmf-disconnection-protection-bypass.txt

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `armel`
- [ ] ARMv7 `armhf`
- [ ] i486 `i486`
- [ ] Loongson 2F `loongson2f`
- [ ] PowerPC 32-bi

[2020-08-03 17:12] l2dy commented on #2242
2.10 not released, patch instead.

[2020-08-03 17:20] l2dy opened #2243 "mxml: security update to ^3.0"
**CVE IDs:** CVE-2018-20004, CVE-2018-20005, CVE-2018-20592, CVE-2018-20593

**Other security advisory IDs:** MGASA-2019-0159

**Description:**
An issue has been found in Mini-XML (aka mxml) 2.12. It is a stack-based
buffer overflow in mxml_write_node in mxml-file.c via vectors involving
a double-precision floating point number and the '<order type="real">'
substring, as demonstrated by testmxml (

[2020-08-03 17:24] l2dy opened #2244 "libetpan: CVE-2020-15953"
**CVE IDs:** CVE-2020-15953

**Other security advisory IDs:** GLSA 202007-55

**Description:**
It was discovered that libetpan was not properly handling state within
the STARTTLS protocol handshake.

**Patches:** `https://github.com/dinhvh/libetpan/pull/388`

**PoC(s):** `https://github.com/dinhvh/libetpan/issues/386`

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm6

[2020-08-03 17:27] l2dy opened #2245 "claws-mail: security update to 3.17.6"
**CVE IDs:** CVE-2020-15917

**Other security advisory IDs:** openSUSE-SU-2020:1139-1

**Description:**
   - CVE-2020-15917: Fixed an improper handling of suffix data after STARTTLS
     is mishandled (boo#1174457).

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 17:37] l2dy opened #2246 "qt-5: security update to 5.14.2"
**CVE IDs:** CVE-2020-12267

**Other security advisory IDs:** GLSA 202007-38

**Description:**
https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=20450

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-03 17:43] l2dy opened #2247 "sysstat: security update to 12.4.0"
**CVE IDs:** CVE-2019-16167, CVE-2019-19725

**Other security advisory IDs:** USN-4242-1

**Description:**
It was discovered that Sysstat incorrectly handled certain inputs.
An attacker could possibly use this issue to cause a crash or execute
arbitrary code. This issue only affected Ubuntu 19.04 and Ubuntu 19.10.
(CVE-2019-16167)

It was discovered that Sysstat incorrectly handled certain inputs.

[2020-08-03 17:47] l2dy opened #2248 "ruby-bundler: CVE-2019-3881"
**CVE IDs:** CVE-2019-3881

**Other security advisory IDs:** openSUSE-SU-2020:0861-1

**Description:**
   - CVE-2019-3881: Fixed insecure permissions on a directory in /tmp/ that
     allowed malicious code execution (bsc#1143436).

**Patches:** from openSUSE or [Debian](https://github.com/rubygems/bundler/issues/6501#issuecomment-516226136)

**PoC(s):** N/A

**Architectural progress (Mainline):**

[2020-08-03 17:54] l2dy opened #2249 "ruby: security update to 2.6.6"
**CVE IDs:** CVE-2020-10933

**Other security advisory IDs:** openSUSE-SU-2020:0586-1, DSA-4721-1

**Description:**
   - CVE-2020-10933: Heap exposure vulnerability in the socket library
     (bsc#1168938).

https://www.ruby-lang.org/en/news/2020/03/31/heap-exposure-in-socket-cve-2020-10933/

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch

[2020-08-03 18:00] l2dy opened #2250 "vino: use system libvncserver and miniupnp or drop the package"
**CVE IDs:** CVE-2019-15681

**Other security advisory IDs:** openSUSE-SU-2020:1071-1

**Description:**
vino-3.22.0/server/libvncserver/...

   - CVE-2019-15681: Fixed a memory leak which could have allowed to a remote
     attacker to read stack memory (bsc#1155419).

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 00:06] l2dy opened #2251 "ark: CVE-2020-16116"
**CVE IDs:** CVE-2020-16116

**Other security advisory IDs:** DSA-4738-1

**Description:**
Dominik Penner discovered that the Ark archive manager did not sanitise
extraction paths, which could result in maliciously crafted archives
writing outside the extraction directory.

**Patches:** https://invent.kde.org/utilities/ark/-/commit/0df592524fed305d6fbe74ddf8a196bc9ffdb92f

**PoC(s):**

**Architect

[2020-08-04 00:15] l2dy opened #2252 "curl: CVE-2020-8169 CVE-2020-8177"
**CVE IDs:** CVE-2020-8169, CVE-2020-8177

**Other security advisory IDs:** openSUSE-SU-2020:0883-1

**Description:**
   - CVE-2020-8177: Fixed an issue where curl could have been tricked by a
     malicious server to overwrite a local file when using the -J option
     (bsc#1173027).
   - CVE-2020-8169: Fixed an issue where could have led to partial password
     leak
     over DNS on HTTP redire

[2020-08-04 00:37] l2dy opened #2253 "wireshark: security update to 3.2.5"
**CVE IDs:** CVE-2020-11647

**Other security advisory IDs:** ASA-202004-10

**Description:**
A stack overflow has been found in the fAbstractSyntaxNType function of
the BACApp dissector of Wireshark versions prior to 3.2.3, which could
be triggered by injecting a malformed packet onto the wire or by
convincing someone to read a malformed packet trace file.

**Patches:** N/A

**PoC(s):** N/A

**Ar

[2020-08-04 00:40] l2dy opened #2254 "xrdp: CVE-2020-4044"
**CVE IDs:** CVE-2020-4044

**Other security advisory IDs:** DSA-4737-1

**Description:**
Ashley Newson discovered that the XRDP sessions manager was susceptible
to denial of service. A local attacker can further take advantage of
this flaw to impersonate the XRDP sessions manager and capture any user
credentials that are submitted to XRDP, approve or reject arbitrary
login credentials or to hijac

[2020-08-04 00:45] l2dy opened #2255 "mbedtls: security update to 2.16.7"
**CVE IDs:** CVE-2020-10932

**Other security advisory IDs:** ASA-202007-5

**Description:**
A side channel attack has been found on the ECDSA implementation of
Mbed TLS before 2.22.0, 2.16.6 and 2.7.15, allowing a local attacker
with access to precise enough timing and memory access information
(typically an untrusted operating system attacking a secure enclave
such as SGX or the TrustZone secure

[2020-08-04 00:56] l2dy opened #2256 "go: security update to ^1.14.7"
**CVE IDs:** CVE-2020-15586, CVE-2020-16845

**Other security advisory IDs:** openSUSE-SU-2020:1095-1

**Description:**
     * go#40211 net/http: Expect 100-continue panics in httputil.ReverseProxy
       bsc#1174153 CVE-2020-15586

Note that

**Patches:**

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 01:01] l2dy opened #2257 "docker: security update to 19.03.11"
**CVE IDs:** CVE-2020-13401

**Other security advisory IDs:** DSA-4716-1, openSUSE-SU-2020:0846-1

**Description:**
Etienne Champetier discovered that Docker, a Linux container runtime,
created network bridges which by default accept IPv6 router advertisements.
This could allow an attacker with the CAP_NET_RAW capability in a
container to spoof router advertisements, resulting in information
discl

[2020-08-04 01:09] l2dy opened #2258 "bsdiff: CVE-2020-14315"
**CVE IDs:** CVE-2020-14315

**Other security advisory IDs:** X41-2020-006

**Description:**
2016-07-21 CVE-2014-9862 published
2016-07-25 Partial fix for FreeBSD published at FreeBSD-SA-16:25.bspatch
2016-10-10 Complete fix for FreeBSD published at FreeBSD-SA-16:29.bspatch

**Patches:** FreeBSD-SA-16:29.bspatch

**PoC(s):** https://github.com/x41sec/advisories/blob/master/X41-2020-006/x41-2020-00

[2020-08-04 01:20] l2dy opened #2259 "perl: security update to 5.28.3"
**CVE IDs:** CVE-2020-10543, CVE-2020-10878, CVE-2020-12723

**Other security advisory IDs:** openSUSE-SU-2020:0850-1

**Description:**
   - CVE-2020-10543: Fixed a heap buffer overflow in regular expression
     compiler which could have allowed overwriting of allocated memory with
     attacker's data (bsc#1171863).
   - CVE-2020-10878: Fixed multiple integer overflows which could have
     allo

[2020-08-04 01:28] l2dy opened #2260 "librsvg-2.40: CVE-2019-20446"
**CVE IDs:** CVE-2019-20446

**Other security advisory IDs:** openSUSE-SU-2020:0343-1

**Description:**
   - CVE-2019-20446: Fixed an issue where a crafted SVG file with nested
     patterns can cause denial of service (bsc#1162501). NOTE: Librsvg now
     has limits on the number of loaded XML elements, and the number of
     referenced elements within an SVG document.
   - Fixed a stack exhausti

[2020-08-04 01:33] l2dy opened #2261 "redis: CVE-2020-14147"
**CVE IDs:** CVE-2020-14147

**Other security advisory IDs:** DSA-4731-1, openSUSE-SU-2020:1035-1

**Description:**
An integer overflow flaw leading to a stack-based buffer overflow was
discovered in redis, a persistent key-value database. A remote attacker
can use this flaw to cause a denial of service (application crash).

**Patches:** from Debian

**PoC(s):**

**Architectural progress (Mainline

[2020-08-04 01:47] l2dy opened #2262 "cups: security update to 2.3.3"
**CVE IDs:** CVE-2020-3898, CVE-2019-8842

**Other security advisory IDs:** MGASA-2020-0248

**Description:**
https://github.com/apple/cups/blob/82e3ee0e3230287b76a76fb8f16b92ca6e50b444/CHANGES.md

- CVE-2020-3898: The `ppdOpen` function did not handle invalid UI
  constraint.  `ppdcSource::get_resolution` function did not handle
  invalid resolution strings.
- CVE-2019-8842: The `ippReadIO` funct

[2020-08-04 01:50] l2dy opened #2263 "file-roller: security update to 3.36.2"
**CVE IDs:** CVE-2020-11736

**Other security advisory IDs:** USN-4332-1

**Description:**
It was discovered that File Roller incorrectly handled symlinks.
An attacker could possibly use this issue to expose sensitive information.

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [ ] AArch64 `arm64`

[2020-08-04 01:56] l2dy opened #2264 "haproxy: CVE-2020-11100"
**CVE IDs:** CVE-2020-11100

**Other security advisory IDs:** RHSA-2020:1288-01, USN-4321-1

**Description:**
* haproxy: malformed HTTP/2 requests can lead to out-of-bounds writes
(CVE-2020-11100)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [ ] AArch64 `arm64`

[2020-08-04 02:04] l2dy opened #2265 "libvncserver: security update to 0.9.13"
**CVE IDs:** CVE-2018-21247, CVE-2019-20839, CVE-2019-20840, CVE-2020-14396, CVE-2020-14397, CVE-2020-14398, CVE-2020-14399, CVE-2020-14400, CVE-2020-14401, CVE-2020-14402, CVE-2020-14403, CVE-2020-14404, CVE-2020-14405

**Other security advisory IDs:** USN-4434-1

**Description:**
https://github.com/LibVNC/libvncserver/releases/tag/LibVNCServer-0.9.13

    CVE-2018-21247: When connecting to a rep

[2020-08-04 02:07] l2dy opened #2266 "dropbear: security update to ^2020.79"
**CVE IDs:** CVE-2018-20685

**Other security advisory IDs:** GLSA 202007-53

**Description:**
- scp fix for CVE-2018-20685 where a server could modify name of output files

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 02:11] l2dy opened #2267 "podofo: multiple vulnerabilities"
**CVE IDs:** CVE-2018-5783, CVE-2018-11254, CVE-2018-11255, CVE-2018-11256, CVE-2018-12982, CVE-2018-12983, CVE-2018-14320, CVE-2018-19532, CVE-2018-20751, CVE-2019-9199, CVE-2019-9687, CVE-2019-20093

**Other security advisory IDs:** MGASA-2020-0294

**Description:**
A stack-based buffer over-read in the PdfEncryptMD5Base::ComputeEncryptionKey()
function in PdfEncrypt.cpp in PoDoFo 0.9.6-rc1 coul

[2020-08-04 02:16] l2dy opened #2268 "pillow: security update to 7.2.0"
**CVE IDs:** CVE-2020-10177, CVE-2020-10378, CVE-2020-10379, CVE-2020-10994, CVE-2020-11538

**Other security advisory IDs:** USN-4430-1

**Description:**
https://pillow.readthedocs.io/en/stable/releasenotes/7.1.0.html

CVE-2020-10177 Fix multiple OOB reads in FLI decoding
CVE-2020-10378 Fix bounds overflow in PCX decoding
CVE-2020-10379 Fix two buffer overflows in TIFF decoding
CVE-2020-10994 Fix

[2020-08-04 02:32] l2dy opened #2269 "radare2: security update to 4.5.0"
**CVE IDs:** CVE-2019-19590, CVE-2019-19647

**Other security advisory IDs:** MGASA-2020-0100

**Description:**
A vulnerability was found in radare2 through 4.0, there is an integer
overflow for the variable new_token_size in the function r_asm_massemble
at libr/asm/asm.c. This integer overflow will result in a Use-After-Free
for the buffer tokens, which can be filled with arbitrary malicious data

[2020-08-04 02:34] l2dy opened #2270 "upx: security update to 3.96"
**CVE IDs:** CVE-2018-11243, CVE-2019-1010048, CVE-2019-14296, CVE-2019-20021, CVE-2019-20053

**Other security advisory IDs:** openSUSE-SU-2020:0163-1

**Description:**
   - CVE-2019-1010048: Fixed a denial of service in
     PackLinuxElf32::PackLinuxElf32help1() (boo#1141777).
   - CVE-2019-14296: Fixed a denial of service in canUnpack() (boo#1143839).
   - CVE-2019-20021: Fixed a heap-based buf

[2020-08-04 02:40] l2dy opened #2271 "libgd: security update to 2.3.0"
**CVE IDs:** CVE-2019-6978, CVE-2019-6977, CVE-2019-11038, CVE-2018-1000222, CVE-2018-14553, CVE-2018-5711

**Other security advisory IDs:** openSUSE-SU-2020:0332-1

**Description:**
- Potential double-free in gdImage*Ptr(). (CVE-2019-6978)
- gdImageColorMatch() out of bounds write on heap. (CVE-2019-6977)
- Uninitialized read in gdImageCreateFromXbm(). (CVE-2019-11038)
- Double-free in gdImageBmp

[2020-08-04 02:43] l2dy opened #2272 "gdb: CVE-2019-1010180"
**CVE IDs:** CVE-2019-1010180

**Other security advisory IDs:** RHSA-2020:1635-01, MGASA-2020-0239

**Description:**
* gdb: buffer overflow while opening an ELF for debugging leads to Dos,
information dislosure and code execution (CVE-2019-1010180)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Re

[2020-08-04 02:49] l2dy commented on #730
Closing. Please open new issues if there is more to be done.

[2020-08-04 02:49] #730 closed

[2020-08-04 02:53] l2dy opened #2273 "glibc: security update to 2.31"
**CVE IDs:** CVE-2019-19126

**Other security advisory IDs:** RHSA-2020:1828-01

**Description:**
* glibc: LD_PREFER_MAP_32BIT_EXEC not ignored in setuid binaries
(CVE-2019-19126)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AMD64 `amd64`
    - [ ] 32-bit Optional Environment `optenv32`
- [ ] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `arme

[2020-08-04 02:56] l2dy opened #2274 "gpac: security update to 1.0.0"
**CVE IDs:** CVE-2018-21015, CVE-2018-21016, CVE-2019-13618

**Other security advisory IDs:** MGASA-2020-0137

**Description:**
AVC_DuplicateConfig() at isomedia/avc_ext.c in GPAC 0.7.1 allows remote
attackers to cause a denial of service (NULL pointer dereference and
application crash) via a crafted file.
There is "cfg_new->AVCLevelIndication = cfg->AVCLevelIndication;" but
cfg could be NULL. (CV

[2020-08-04 03:00] l2dy opened #2275 "postgresql: security update to 12.3"
**CVE IDs:** CVE-2020-1720

**Other security advisory IDs:** RHSA-2020:0980-01

**Description:**
* PostgreSQL: ALTER ... DEPENDS ON EXTENSION is missing authorization
checks (CVE-2020-1720)

https://www.postgresql.org/about/news/2011/

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 03:02] l2dy commented on #2137
This is CVE-2020-11958.

[2020-08-04 03:05] l2dy opened #2276 "nghttp2: security update to 1.41.0"
**CVE IDs:** CVE-2020-11080

**Other security advisory IDs:** RHSA-2020:2755-01

**Description:**
* nghttp2: overly large SETTINGS frames can lead to DoS (CVE-2020-11080)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AMD64 `amd64`
- [ ] AArch64 `arm64`

[2020-08-04 03:21] l2dy opened #2277 "transmission: security update to 3.00"
**CVE IDs:** CVE-2018-10756

**Other security advisory IDs:** MGASA-2020-0235, GLSA 202007-07

**Description:**
Use-after-free in libtransmission/variant.c in Transmission
before 3.00 allows remote attackers to cause a denial of service
(crash) or possibly execute arbitrary code via a crafted torrent
file (CVE-2018-10756).

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [

[2020-08-04 03:37] l2dy opened #2278 "tre: CVE-2016-8859"
**CVE IDs:** CVE-2016-8859

**Other security advisory IDs:** GLSA 202007-43

**Description:**
https://bugs.gentoo.org/597616
https://www.openwall.com/lists/oss-security/2016/10/19/1

P.S. Try upstream this.

**Patches:** from Gentoo

**PoC(s):** N/A

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 03:54] l2dy opened #2279 "qutebrowser: security update to ^1.11.1"
**CVE IDs:** CVE-2020-11054

**Other security advisory IDs:** ASA-202005-5

**Description:**
In qutebrowser before version 1.11.1 there is an issue where after a
certificate error was overridden by the user, qutebrowser displays the
URL as yellow (colors.statusbar.url.warn.fg). However, when the
affected website was subsequently loaded again, the URL was mistakenly
displayed as green (colors.statu

[2020-08-04 03:59] l2dy opened #2280 "ipmitool: CVE-2020-5208"
**CVE IDs:** CVE-2020-5208

**Other security advisory IDs:** RHSA-2020:0981-01, openSUSE-SU-2020:0247-1

**Description:**
* ipmitool: Buffer overflow in read_fru_area_section function in
lib/ipmi_fru.c (CVE-2020-5208)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `armel`

[2020-08-04 04:07] l2dy opened #2281 "glib-networking: security update to 2.64.3"
**CVE IDs:** CVE-2020-13645

**Other security advisory IDs:** USN-4405-1

**Description:**
It was discovered that glib-networking skipped hostname certificate
verification if the application failed to specify the server
identity. A remote attacker could use this to perform a
person-in-the-middle attack and expose sensitive information.

**Patches:** N/A

**PoC(s):**

**Architectural progress (Main

[2020-08-04 04:15] l2dy opened #2282 "fuseiso: CVE-2015-8837"
**CVE IDs:** CVE-2015-8837

**Other security advisory IDs:** GLSA 202007-20

**Description:**
Stack-based buffer overflow in the isofs_real_readdir function in isofs.c in FuseISO 20070708 allows remote attackers to cause a denial of service (application crash) or possibly execute arbitrary code via a long pathname in an ISO file.

**Patches:** from Debian

**PoC(s):**

**Architectural progress (Ma

[2020-08-04 04:21] l2dy opened #2283 "twisted: security update to 20.3.0"
**CVE IDs:** CVE-2020-10108, CVE-2020-10109

**Other security advisory IDs:** GLSA 202007-24

**Description:**
https://github.com/twisted/twisted/blob/twisted-20.3.0/NEWS.rst

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AMD64 `amd64`
    - [ ] 32-bit Optional Environment `optenv32`
- [ ] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `armel`
-

[2020-08-04 04:26] l2dy opened #2284 "samba: security update to 4.10.17"
**CVE IDs:** CVE-2019-14861, CVE-2019-14870, CVE-2019-14902, CVE-2019-14907, CVE-2019-19344, CVE-2020-10700, CVE-2020-10704, CVE-2020-10730, CVE-2020-10745, CVE-2020-10760, CVE-2020-14303

**Other security advisory IDs:** openSUSE-SU-2019:2700-1, openSUSE-SU-2020:0122-1, openSUSE-SU-2020:0601-1, openSUSE-SU-2020:0984-1, openSUSE-SU-2020:1023-1

**Description:**
https://www.samba.org/samba/history/

[2020-08-04 07:34] l2dy opened #2285 "ntp: security update to 4.2.8p15"
**CVE IDs:** CVE-2020-11868, CVE-2020-13817, CVE-2020-15025

**Other security advisory IDs:** openSUSE-SU-2020:1007-1

**Description:**
   - CVE-2020-11868: Fixed an issue which a server mode packet with spoofed
     source address frequently send to the client ntpd could have caused
     denial of service (bsc#1169740).
   - CVE-2020-13817: Fixed an issue which an off-path attacker with the

[2020-08-04 07:39] l2dy opened #2286 "sane-backends: security update to 1.0.30"
**CVE IDs:** CVE-2020-12861, CVE-2020-12865

**Other security advisory IDs:** RHSA-2020:2902-01

**Description:**
This release fixes several security related issues and a build issue.

### Backends

- `epson2`: fixes CVE-2020-12867 (GHSL-2020-075) and several memory
  management issues found while addressing that CVE
- `epsonds`: addresses out-of-bound memory access issues to fix
  CVE-2020-12862

[2020-08-04 07:42] l2dy commented on #2162
Also fixed CVE-2020-12823.

[2020-08-04 07:48] l2dy opened #2287 "networkmanager: CVE-2020-10754"
**CVE IDs:** CVE-2020-10754

**Other security advisory IDs:** RHSA-2020:3011-01

**Description:**
* NetworkManager: user configuration not honoured leaving the connection
unauthenticated via insecure defaults (CVE-2020-10754)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+

[2020-08-04 07:50] l2dy commented on #2287
Alternatively, update to ^1.22.14. https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/commit/6066e163673e4bfac7d77d3133a4e425a902189c

[2020-08-04 07:54] l2dy opened #2288 "markdown2: security update to 2.3.9"
**CVE IDs:** CVE-2020-11888

**Other security advisory IDs:** openSUSE-SU-2020:0651-1

**Description:**
   - CVE-2020-11888: Fixed unsanitized input for cross-site scripting
     (boo#1171379)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**
- [x] Architecture-independent `noarch`

[2020-08-04 08:05] l2dy opened #2289 "crypto++: CVE-2019-14318"
**CVE IDs:** CVE-2019-14318

**Other security advisory IDs:** openSUSE-SU-2019:1968-1, MGASA-2019-0362, ASA-201912-3

**Description:**
   - CVE-2019-14318: Fixed a timing side channel vulnerability in the ECDSA
     signature generation (boo#1143532).

**Patches:** from openSUSE, or `https://github.com/weidai11/cryptopp/issues/869#issuecomment-520124657`

**PoC(s):**

**Architectural progress (Mai

[2020-08-04 08:09] l2dy opened #2290 "werkzeug: security update to 1.0.1"
**CVE IDs:** CVE-2019-14806

**Other security advisory IDs:** openSUSE-SU-2019:2145-1, MGASA-2020-0004

**Description:**
   - CVE-2019-14806: Fixed the development server in Docker, the debugger
     security pin is now unique per container (bsc#1145383).

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AMD64 `amd64`
    - [ ] 32-bit Optional Environment `optenv32`
- [

[2020-08-04 08:13] l2dy opened #2291 "pyyaml: update to 5.3.1"
**CVE IDs:** CVE-2020-1747

**Other security advisory IDs:** openSUSE-SU-2020:0630-1

**Description:**
   - CVE-2020-1747: Fixed an arbitrary code execution when YAML files are
     parsed by FullLoader (bsc#1165439).

**Patches:** from openSUSE

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 08:20] l2dy opened #2292 "httplib2: security update to ^0.18.0"
**CVE IDs:** CVE-2020-11078

**Other security advisory IDs:** MGASA-2020-0269

**Description:**
In httplib2, an attacker controlling unescaped part of uri for
httplib2.Http.request() could change request headers and body, send
additional hidden requests to same server. This vulnerability impacts
software that uses httplib2 with uri constructed by string concatenation,
as opposed to proper urllib b

[2020-08-04 08:23] l2dy opened #2293 "pypsutil: security update to ^5.6.6"
**CVE IDs:** CVE-2019-18874

**Other security advisory IDs:** USN-4204-1

**Description:**
Riccardo Schirone discovered that psutil incorrectly handled certain
reference counting operations. An attacker could use this issue to cause
psutil to crash, resulting in a denial of service, or possibly execute
arbitrary code.

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AM

[2020-08-04 08:31] l2dy opened #2294 "python-3: security update to 3.8.5"
**CVE IDs:** CVE-2019-20907, CVE-2020-14422

**Other security advisory IDs:** GLSA 202008-01

**Description:**
https://python-security.readthedocs.io/vuln/tarfile-pax-dos.html
https://python-security.readthedocs.io/vuln/ipaddress-hash-collisions.html

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro):*

[2020-08-04 08:35] l2dy opened #2295 "libvpx: security update to 1.9.0"
**CVE IDs:** CVE-2019-9232, CVE-2019-9325, CVE-2019-9433, CVE-2019-9371

**Other security advisory IDs:** DSA-4578-1

**Description:**
Multiple security issues were found in libvpx multimedia library which
could result in denial of service and potentially the execution of
arbitrary code if malformed WebM files are processed.

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

-

[2020-08-04 08:42] l2dy opened #2296 "jbig2dec: security update to 0.18"
**CVE IDs:** CVE-2020-12268

**Other security advisory IDs:** RHSA-2020:2897-01

**Description:**
* jbig2dec: heap-based buffer overflow in jbig2_image_compose in
jbig2_image.c (CVE-2020-12268)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 08:50] l2dy opened #2297 "ceph: CVE-2020-10753"
**CVE IDs:** CVE-2020-10753

**Other security advisory IDs:** openSUSE-SU-2020:0898-1

**Description:**
A flaw was found in the Ceph Storage RadosGW (Ceph Object Gateway). The
vulnerability is related to the injection of HTTP headers via a CORS
ExposeHeader tag.
The newline character in the ExposeHeader tag in the CORS configuration
file generates a header injection in the response when the CORS r

[2020-08-04 09:04] l2dy opened #2298 "ppp: CVE-2020-8597"
**CVE IDs:** CVE-2020-8597

**Other security advisory IDs:** USN-4288-1, DSA-4632-1, RHSA-2020:0633-01, openSUSE-SU-2020:0286-1, ASA-202003-3, GLSA 202003-19

**Description:**
It was discovered that ppp incorrectly handled certain rhostname values. A
remote attacker could use this issue to cause ppp to crash, resulting in a
denial of service, or possibly execute arbitrary code.

**Patches:** from

[2020-08-04 09:10] l2dy opened #2299 "icu: CVE-2020-10531"
**CVE IDs:** CVE-2020-10531

**Other security advisory IDs:** GLSA 202003-15, USN-4305-1, RHSA-2020:0902-01, DSA-4646-1, openSUSE-SU-2020:0459-1

**Description:**
   - CVE-2020-10531: Fixed a potential integer overflow in
     UnicodeString:doAppend (bsc#1166844).

**Patches:** from Ubuntu

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environme

[2020-08-04 09:13] l2dy opened #2300 "weechat: security update to ^2.7.1"
**CVE IDs:** CVE-2020-8955, CVE-2020-9759, CVE-2020-9760

**Other security advisory IDs:** MGASA-2020-0122, MGASA-2020-0153

**Description:**
irc_mode_channel_update in plugins/irc/irc-mode.c in WeeChat through
2.7 allows remote attackers to cause a denial of service (buffer
overflow and application crash) or possibly have unspecified other
impact via a malformed IRC message 324 (channel mode)(CVE

[2020-08-04 09:32] l2dy opened #2301 "nvidia: several security issues"
**CVE IDs:** CVE-2020-5963, CVE-2020-5967, CVE-2020-5973

**Other security advisory IDs:** USN-4404-1

**Description:**
Thomas E. Carroll discovered that the NVIDIA Cuda grpahics driver did not
properly perform access control when performing IPC. An attacker could use
this to cause a denial of service or possibly execute arbitrary code.
(CVE-2020-5963)

It was discovered that the UVM driver in the

[2020-08-04 09:45] l2dy opened #2302 "vlc: security update to 3.0.11"
**CVE IDs:** CVE-2020-6071, CVE-2020-6072, CVE-2020-6073, CVE-2020-6077, CVE-2020-6078, CVE-2020-6079, CVE-2020-6080, CVE-2020-13428

**Other security advisory IDs:** DSA-4671-1, DSA-4704-1

**Description:**
Multiple security issues were discovered in the microdns plugin of the
VLC media player, which could result in denial of service or potentially
the execution of arbitrary code via malicious mD

[2020-08-04 09:54] l2dy opened #2303 "dnsmasq: security update to ^2.81"
**CVE IDs:** CVE-2019-14834

**Other security advisory IDs:** RHSA-2020:1715-01, openSUSE-SU-2019:2669-1, MGASA-2019-0392

**Description:**
* dnsmasq: memory leak in the create_helper() function in /src/helper.c
(CVE-2019-14834)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `arme

[2020-08-04 10:33] l2dy opened #2304 "e2fsprogs: security update to 1.45.6"
**CVE IDs:** CVE-2019-5188

**Other security advisory IDs:** MGASA-2020-0039, USN-4249-1

**Description:**
It was discovered that e2fsprogs incorrectly handled certain ext4 partitions.
An attacker could possibly use this issue to execute arbitrary code.

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Retro

[2020-08-04 10:43] l2dy opened #2305 "libarchive: security update to 3.4.3"
**CVE IDs:** CVE-2019-18408, CVE-2019-19221, CVE-2020-9308, CVE-2019-20509

**Other security advisory IDs:** USN-4169-1, USN-4293-1, MGASA-2020-0127, MGASA-2020-0253

**Description:**
It was discovered that libarchive incorrectly handled certain archive files.
An attacker could possibly execute arbitrary code.
(CVE-2019-18408)

It was discovered that libarchive incorrectly handled certain archive

[2020-08-04 10:48] l2dy opened #2306 "cyrus-sasl: CVE-2019-19906"
**CVE IDs:** CVE-2019-19906

**Other security advisory IDs:** DSA-4591-1, USN-4256-1

**Description:**
Stephan Zeisberg reported an out-of-bounds write vulnerability in the
_sasl_add_string() function in cyrus-sasl2, a library implementing the
Simple Authentication and Security Layer. A remote attacker can take
advantage of this issue to cause denial-of-service conditions for
applications using th

[2020-08-04 10:52] l2dy opened #2307 "tigervnc: security update to 1.10.1"
**CVE IDs:** CVE-2019-15691, CVE-2019-15692, CVE-2019-15693, CVE-2019-15694, CVE-2019-15695

**Other security advisory IDs:** openSUSE-SU-2020:0087-1

**Description:**
   - CVE-2019-15691: Fixed a use-after-return due to incorrect usage of stack
     memory in ZRLEDecoder (bsc#1159856).
   - CVE-2019-15692: Fixed a heap-based buffer overflow in CopyRectDecode
     (bsc#1160250).
   - CVE-2019-1569

[2020-08-04 10:58] l2dy opened #2308 "fontforge: security update to 20200314"
**CVE IDs:** CVE-2020-5395, CVE-2020-5496

**Other security advisory IDs:** MGASA-2020-0057

**Description:**
FontForge 20190801 has a use-after-free in SFD_GetFontMetaData in sfd.c
(CVE-2020-5395)

FontForge 20190801 has a heap-based buffer overflow in the
Type2NotDefSplines() function in splinesave.c (CVE-2020-5496)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AM

[2020-08-04 11:05] l2dy opened #2309 "xawtv: CVE-2020-13696"
**CVE IDs:** CVE-2020-13696

**Other security advisory IDs:** openSUSE-SU-2020:0784-1

**Description:**
   - CVE-2020-13696: Fixed an issue in setuid-root program that which could
     have allowed arbitrary file existence tests and
     open() with O_RDWR (boo#1171655).

https://www.openwall.com/lists/oss-security/2020/06/04/6

**Patches:** from openSUSE

**PoC(s):**

**Architectural progress (Ma

[2020-08-04 11:12] l2dy opened #2310 "varnish: security update to 6.3.2"
**CVE IDs:** CVE-2020-11653

**Other security advisory IDs:** openSUSE-SU-2020:0808-1

**Description:**
   - CVE-2020-11653: Fixed a performance loss due to an assertion failure and
     daemon restart when communicating with TLS termination proxy that uses
     PROXY version 2 (boo#1169039)

https://varnish-cache.org/security/VSV00005.html#vsv00005

**Patches:** N/A

**PoC(s):**

**Architectural

[2020-08-04 11:18] l2dy opened #2311 "openexr: security update to ^2.4.2"
**CVE IDs:** CVE-2020-11758, CVE-2020-11759, CVE-2020-11760, CVE-2020-11761, CVE-2020-11762, CVE-2020-11763, CVE-2020-11764, CVE-2020-11765, CVE-2020-15305, CVE-2020-15306

**Other security advisory IDs:** USN-4339-1, USN-4418-1

**Description:**
Samuel Groß discovered that OpenEXR incorrectly handled certain malformed
EXR image files. If a user were tricked into opening a crafted EXR image
file,

[2020-08-04 11:18] l2dy commented on #2311
Fixed in 06b71fe6f42b21be26d68e4171c3f417b9aea666.

[2020-08-04 11:25] l2dy opened #2312 "xerces-c: CVE-2018-1311"
**CVE IDs:** CVE-2018-1311

**Other security advisory IDs:** RHSA-2020:0704-01

**Description:**
* xerces-c: XML parser contains a use-after-free error triggered during the
scanning of external DTDs (CVE-2018-1311)

**Patches:** https://bugzilla.redhat.com/show_bug.cgi?id=1788472#c23

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 11:30] l2dy opened #2313 "faad2: security update to ^2.9.0"
**CVE IDs:** CVE-2018-19502, CVE-2018-19503, CVE-2018-19504, CVE-2018-20194, CVE-2018-20195, CVE-2018-20197, CVE-2018-20198, CVE-2018-20357, CVE-2018-20358, CVE-2018-20359, CVE-2018-20361, CVE-2018-20362, CVE-2019-15296

**Other security advisory IDs:** DSA-4522-1, GLSA 202006-17

**Description:**
Multiple vulnerabilities have been discovered in faad2, the Freeware Advanced
Audio Coder. These vuln

[2020-08-04 11:33] l2dy opened #2314 "libreoffice{,-help}: security update to ^6.4.4"
**CVE IDs:** CVE-2020-12801, CVE-2020-12802, CVE-2020-12803

**Other security advisory IDs:** openSUSE-SU-2020:0786-1

**Description:**
Addressed in LibreOffice 6.4.4

* CVE-2020-12802 remote graphics contained in docx format retrieved in 'stealth mode'
* CVE-2020-12803 XForms submissions could overwrite local files

Addressed in LibreOffice 6.3.6/6.4.3

* CVE-2020-12801 Crash-recovered MSOffice e

[2020-08-04 11:37] l2dy opened #2315 "axel: security update to 2.17.9"
**CVE IDs:** CVE-2020-13614

**Other security advisory IDs:** openSUSE-SU-2020:0778-1

**Description:**
   * CVE-2020-13614: SSL Certificate Hostnames were not verified (boo#1172159)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 11:48] l2dy opened #2316 "libcroco: CVE-2017-8834. CVE-2017-8871"
**CVE IDs:** CVE-2017-8834, CVE-2017-8871

**Other security advisory IDs:** openSUSE-SU-2020:0780-1, MGASA-2019-0389

**Description:**
   - CVE-2017-8834: Fixed denial of service (memory allocation error) via a
     crafted CSS file (bsc#1043898).
   - CVE-2017-8871: Fixed denial of service (infinite loop and CPU
     consumption) via a crafted CSS file (bsc#1043899).

**Patches:** from openSUSE,

[2020-08-04 11:48] l2dy commented on #732
Cross-References: openSUSE-SU-2019:1575-1

[2020-08-04 11:53] l2dy opened #2317 "libvirt: security update to ^6.1.0"
**CVE IDs:** CVE-2020-10703, CVE-2020-12430

**Other security advisory IDs:** MGASA-2020-0250

**Description:**
It was discovered that libvirt incorrectly handled an active pool without
a target path. A remote attacker could possibly use this issue to cause
libvirt to crash, resulting in a denial of service (CVE-2020-10703).

It was discovered that libvirt incorrectly handled memory when retrievin

[2020-08-04 11:58] l2dy opened #2318 "libzypp: CVE-2019-18900"
**CVE IDs:** CVE-2019-18900

**Other security advisory IDs:** openSUSE-SU-2020:0255-1

**Description:**
   - CVE-2019-18900: Fixed assert cookie file that was world readable
     (bsc#1158763).

**Patches:** `https://github.com/openSUSE/libzypp/pull/196`

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 12:06] l2dy opened #2319 "libmspack: security update to 0.10.1alpha"
**CVE IDs:** CVE-2019-1010305

**Other security advisory IDs:** RHSA-2020:1686-01, openSUSE-SU-2020:0746-1

**Description:**
* libmspack: buffer overflow in function chmd_read_headers()
(CVE-2019-1010305)

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [ ] AMD64 `amd64`
    - [ ] 32-bit Optional Environment `optenv32`
- [ ] AArch64 `arm64`

**Architectural progress (Retro

[2020-08-04 12:51] l2dy opened #2320 "exiv2: security update to 0.27.3"
**CVE IDs:** CVE-2019-13108, CVE-2019-13109, CVE-2019-13110, CVE-2019-13112, CVE-2019-13113, CVE-2019-13114, CVE-2019-17402, CVE-2019-20421, CVE-2019-13111

**Other security advisory IDs:** MGASA-2019-0415, MGASA-2020-0084, MGASA-2020-0196

**Description:**
https://www.exiv2.org/whatsnew.html

An integer overflow in Exiv2 through 0.27.1 allows an attacker to cause
a denial of service (SIGSEGV) via

[2020-08-04 12:57] l2dy opened #2321 "zziplib: security update to 0.13.71"
**CVE IDs:** CVE-2018-16548, CVE-2018-17828

**Other security advisory IDs:** openSUSE-SU-2019:2396-1, RHSA-2020:1653-01

**Description:**
   - CVE-2018-16548: Prevented memory leak from
     __zzip_parse_root_directory().  Free allocated structure if its address
     is not passed back. (bsc#1107424)

* zziplib: directory traversal in unzzip_cat in the bins/unzzipcat-mem.c
(CVE-2018-17828)

**Pat

[2020-08-04 13:03] l2dy opened #2322 "jasper: security update to 2.0.19"
**CVE IDs:** CVE-2018-9154, CVE-2018-19541, CVE-2016-9399, CVE-2017-13751, CVE-2018-19540, CVE-2018-9055, CVE-2017-13748, CVE-2017-5503, CVE-2017-5504, CVE-2017-5505, CVE-2018-9252, CVE-2018-19139, CVE-2018-19543, CVE-2017-9782, CVE-2018-20570, CVE-2018-20622, CVE-2016-9398, CVE-2017-14132, CVE-2017-5499, CVE-2018-18873, CVE-2017-13750

**Other security advisory IDs:** N/A

**Description:**
https:

[2020-08-04 13:45] l2dy opened #2323 "libxml2: CVE-2019-20388 CVE-2020-7595"
**CVE IDs:** ~~CVE-2019-20388~~, CVE-2020-7595

**Other security advisory IDs:** MGASA-2020-0101, openSUSE-SU-2020:0681-1

**Description:**
xmlSchemaPreRun in xmlschemas.c in libxml2 2.9.10 allows an
xmlSchemaValidateStream memory leak (CVE-2019-20388).

xmlStringLenDecodeEntities in parser.c in libxml2 2.9.10 has an infinite
loop in a certain end-of-file situation (CVE-2020-7595).

**Patches:** f

[2020-08-04 13:49] l2dy opened #2324 "teeworlds: security update to 0.7.5"
**CVE IDs:** CVE-2020-12066

**Other security advisory IDs:** openSUSE-SU-2020:0557-1

**Description:**
https://teeworlds.com/?page=news&id=14785

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`

[2020-08-04 14:28] l2dy opened #2325 "netpbm: security update to 10.73.32"
**CVE IDs:** CVE-2017-2579, CVE-2017-2580, CVE-2018-8975

**Other security advisory IDs:** openSUSE-SU-2019:1200-1, openSUSE-SU-2019:1605-1

**Description:**
   - CVE-2018-8975: The pm_mallocarray2 function allowed remote attackers to
     cause a denial of service (heap-based buffer over-read) via a crafted
     image file (bsc#1086777).
   - CVE-2017-2579: Fixed out-of-bounds read in expandCodeO

[2020-08-04 14:43] l2dy opened #2326 "openslp: CVE-2019-5544"
**CVE IDs:** CVE-2019-5544

**Other security advisory IDs:** RHSA-2019:4240-01

**Description:**
* openslp: Heap-based buffer overflow in ProcessSrvRqst() in slpd_process.c
leading to remote code execution (CVE-2019-5544)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 15:01] l2dy opened #2327 "sox: multiple CVEs"
**CVE IDs:** CVE-2019-8354, CVE-2019-8355, CVE-2019-8356, CVE-2019-8357

**Other security advisory IDs:** USN-4079-2, MGASA-2020-0045

**Description:**
It was discovered that SoX incorrectly handled certain MP3 files. An attacker
could possibly use this issue to cause a denial of service. (CVE-2019-8354,
CVE-2019-8355, CVE-2019-8356, CVE-2019-8357)

**Patches:** from Ubuntu

**PoC(s):**

**Archite

[2020-08-04 15:04] l2dy opened #2328 "ibus: security update to 1.5.22"
**CVE IDs:** CVE-2019-14822

**Other security advisory IDs:** openSUSE-SU-2019:2199-1

**Description:**
   - CVE-2019-14822: Fixed misconfiguration of the DBus server allows to
     unprivileged user could monitor and send method calls to the ibus bus
     of another user (bsc#1150011).

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64

[2020-08-04 15:10] l2dy opened #2329 "mp3gain: CVE-2019-18359"
**CVE IDs:** CVE-2019-18359

**Other security advisory IDs:** openSUSE-SU-2020:0522-1, MGASA-2020-0179

**Description:**
   - CVE-2019-18359: Fixed a buffer over-read was discovered in ReadMP3APETag
     (boo#1154971)

**Patches:** from openSUSE

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 15:50] l2dy opened #2330 "libvorbis: security update to 1.3.7"
**CVE IDs:** CVE-2018-10393, CVE-2017-14160

**Other security advisory IDs:** GLSA 202003-36

**Description:**
libvorbis 1.3.7 (2020-07-04) -- "Xiph.Org libVorbis I 20200704 (Reducing Environment)"

* Fix CVE-2018-10393 - out-of-bounds read encoding very low sample rates.
* Fix CVE-2017-14160 - out-of-bounds read encoding very low sample rates.

**Patches:** N/A

**PoC(s):**

**Architectural progr

[2020-08-04 16:19] l2dy opened #2331 "fortune-mod: security update to 2.22.0"
**CVE IDs:** N/A

**Other security advisory IDs:** N/A

**Description:**
https://github.com/shlomif/fortune-mod/releases/tag/fortune-mod-2.22.0

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [ ] 32-bit Optional Environment `optenv32`
- [ ] AArch64 `arm64`

**Architectural progress (Retro):**

- [ ] ARMv5t+ `armel`
- [ ] ARMv7 `armhf`
- [ ] i486 `i

[2020-08-04 16:25] l2dy opened #2332 "openjpeg: CVE-2020-6851, CVE-2020-8112"
**CVE IDs:** CVE-2020-6851, CVE-2020-8112

**Other security advisory IDs:** RHSA-2020:0274-01, RHSA-2020:0570-01

**Description:**
* openjpeg: Heap-based buffer overflow in opj_t1_clbl_decode_processor()
(CVE-2020-6851)
* openjpeg: heap-based buffer overflow in pj_t1_clbl_decode_processor in
openjp2/t1.c (CVE-2020-8112)

**Patches:** from CentOS

**PoC(s):**

**Architectural progress (Mainline):**

[2020-08-04 16:31] l2dy commented on #2311
Fixed in 06b71fe6f42b21be26d68e4171c3f417b9aea666 and d18ca6b1dda2c6abbfdbd74caedbdc0607e3f7da.

[2020-08-04 16:46] l2dy opened #2333 "ucl: CVE-2018-11243"
**CVE IDs:** CVE-2018-11243

**Other security advisory IDs:** openSUSE-SU-2020:0162-1

**Description:**
   CVE-2018-11243: Fix remotely triggerable DoS via double free (boo#1094138)

**Patches:** from openSUSE

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 16:57] l2dy opened #2334 "gnuchess: security update to 6.2.7"
**CVE IDs:** CVE-2019-15767

**Other security advisory IDs:** MGASA-2020-0194

**Description:**
A vulnerability was found in GNU Chess 6.2.5, there is a stack-based buffer
overflow in the cmd_load function in frontend/cmd.cc via a crafted chess
position in an EPD file (CVE-2019-15767).

**Patches:** N/A

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-08-04 17:14] l2dy opened #2335 "virglrenderer: security update to 0.8.2"
**CVE IDs:** CVE-2019-18388, CVE-2019-18389, CVE-2019-18390, CVE-2019-18391

**Other security advisory IDs:** openSUSE-SU-2020:0058-1

**Description:**
   - CVE-2019-18388: Fixed a null pointer dereference which could have led to
     denial of service (bsc#1159479).
   - CVE-2019-18390: Fixed an out of bound read which could have led to
     denial of service (bsc#1159478).
   - CVE-2019-18389: F

[2020-08-04 17:22] l2dy opened #2336 "freeimage: CVE-2019-12211, CVE-2019-12213"
**CVE IDs:** CVE-2019-12211, CVE-2019-12213

**Other security advisory IDs:** DSA-4593-1, MGASA-2020-0019

**Description:**
CVE-2019-12211

    Heap buffer overflow caused by invalid memcpy in PluginTIFF. This
    flaw might be leveraged by remote attackers to trigger denial of
    service or any other unspecified impact via crafted TIFF data.

CVE-2019-12213

    Stack exhaustion caused by unwant

[2020-08-04 18:05] l2dy opened #2337 "libcgroup: CVE-2018-14348"
**CVE IDs:** CVE-2018-14348

**Other security advisory IDs:** openSUSE-SU-2018:2241-1, MGASA-2018-0380, RHSA-2019:2047-01

**Description:**
   - CVE-2018-14348: Fixed a permission issue with /var/log/cgred. The
     permissions were not restrictive enough beforehand and ignored any umask
     setting. (boo#1100365)

**Patches:** https://sourceforge.net/p/libcg/libcg/ci/0d88b73d189ea3440ccaab00418d

[2020-08-04 18:22] l2dy opened #2338 "libssh: CVE-2020-16135"
**CVE IDs:** CVE-2020-16135

**Other security advisory IDs:** USN-4447-1

**Description:**
It was discovered that libssh incorrectly handled certain requests.
An attacker could possibly use this issue to cause a denial of service.

**Patches:** from Ubuntu

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `optenv32`
- [x] AArch64 `arm64

[2020-08-04 18:26] l2dy opened #2339 "ksh93: CVE-2019-14868"
**CVE IDs:** CVE-2019-14868

**Other security advisory IDs:** RHSA-2020:0559-01, ASA-202002-4

**Description:**
* ksh: certain environment variables interpreted as arithmetic expressions
on startup, leading to code injection (CVE-2019-14868)

**Patches:** https://github.com/att/ast/commit/c7de8b641266bac7c77942239ac659edfee9ecd2

**PoC(s):**

**Architectural progress (Mainline):**

- [x] AMD64 `am

[2020-08-07 01:47] l2dy commented on #2256
Moving target to Go 1.14.7, fixing CVE-2020-16845.

[2020-08-09 02:18] eatradish opened #2340 "deno 1.2.3 : FTBFS on t-p, amd64"
**Intended Version:**
deno 1.2.3

**Target Branch:**
t-p, amd64

**Description:**
[code]

log: http://fars.ee/EwoY

[2020-08-09 02:59] chenx97 commented on #2340
`defines` has `USECLANG=1` but `BUILDDEP` does not have `llvm`. Try adding that first.

[2020-08-09 05:59] liushuyu opened #2341 "rustc: update to 1.45.2"
**CVE IDs:** N/A

**Other security advisory IDs:** N/A

**Description:**
In Rust 1.45.0, `rustc`'s const propagation pass did not properly handle encountering references when determining whether to propagate a given constant, which could lead to incorrect behavior. Our releases are run through crater, and we did not detect it, which helps us be fairly confident that this affects a very small set o

[2020-08-09 06:13] liushuyu commented on #2340
`rustc` version 1.45 or better required

[2020-08-10 02:56] l2dy commented on #2341
Does it affect Rust before version 1.45.0?

[2020-08-10 03:07] liushuyu commented on #2341
Seems like it doesn't affect the version that AOSC OS currently has.

[2020-08-13 08:49] eatradish commented on #2340
Have new errors:

[code]

[2020-08-13 20:02] #2340 closed, assigned to nobody

[2020-08-19 03:08] MingcongBai commented on #2217
@l2dy Please assign AOSAs for Google Chrome, Opera, and Vivaldi (one for each).

[2020-08-19 03:10] MingcongBai commented on #2218
All done. @l2dy Please assign an AOSA.

[2020-08-19 03:10] #2218 closed, assigned to nobody

[2020-08-19 03:11] MingcongBai commented on #2221
Addressed in 0255669738f8f401d0adbf76374e8afb9e5c17d5.

[2020-08-19 04:04] MingcongBai commented on #2217
All done. @l2dy Please assign an AOSA.

[2020-08-19 04:04] #2217 closed, assigned to nobody

[2020-08-19 04:23] MingcongBai commented on #2226
Since 1.20.9 is not yet released, we will use this [patch](https://gitlab.freedesktop.org/xorg/xserver/-/commit/aac28e162e5108510065ad4c323affd6deffd816) instead.

[2020-08-19 05:09] MingcongBai commented on #2234
Opting to backport a patch, this will make it easier for Retro.

[2020-08-19 05:33] MingcongBai commented on #2228
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:33] #2228 closed, assigned to nobody

[2020-08-19 05:34] MingcongBai commented on #2230
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:34] #2230 closed, assigned to nobody

[2020-08-19 05:34] MingcongBai commented on #2231
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:34] #2231 closed, assigned to nobody

[2020-08-19 05:35] MingcongBai commented on #2232
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:35] #2232 closed, assigned to nobody

[2020-08-19 05:35] MingcongBai commented on #2233
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:35] #2233 closed, assigned to nobody

[2020-08-19 05:36] MingcongBai commented on #2235
All done. @l2dy Please assign an AOSA.

[2020-08-19 05:36] #2235 closed, assigned to nobody

[2020-08-19 06:23] MingcongBai commented on #2237
Hmm sorry for the label swaps. @l2dy What exactly do you want done here? Please advise.

[2020-08-19 06:34] MingcongBai commented on #2236
This is giving me massive headaches.

[2020-08-19 06:45] MingcongBai commented on #2238
All done. @l2dy Please assign an AOSA.

[2020-08-19 06:45] #2238 closed, assigned to nobody

[2020-08-19 08:47] MingcongBai commented on #2219
All done. @l2dy Please assign an AOSA.

[2020-08-19 08:47] #2219 closed, assigned to nobody

[2020-08-19 18:59] MingcongBai commented on #2220
All done. @l2dy Please assign an AOSA.

[2020-08-19 18:59] #2220 closed, assigned to nobody

[2020-08-19 19:20] MingcongBai commented on #2221
All done. @l2dy Please assign an AOSA.

[2020-08-19 19:20] #2221 closed, assigned to nobody

[2020-08-19 19:37] MingcongBai commented on #2222
All done. @l2dy Please assign an AOSA.

[2020-08-19 19:37] #2222 closed, assigned to nobody

[2020-08-19 19:56] MingcongBai commented on #2223
All done. @l2dy Please assign an AOSA.

[2020-08-19 19:56] #2223 closed, assigned to nobody

[2020-08-19 21:02] MingcongBai commented on #2241
This issue is actually for `python-3`.

See: https://security-tracker.debian.org/tracker/CVE-2020-14422

[2020-08-19 21:02] MingcongBai commented on #2241
Updating to 3.8.5 instead.

[2020-08-20 00:08] MingcongBai commented on #2226
~Patch introduced to address this issue causes NVIDIA to segfault.~

This issue was caused by the introduction of forward-ported XAA patches. We have since limited these patches for AOSC OS/Retro.

[2020-08-20 01:13] MingcongBai commented on #2244
All done. @l2dy Please assign an AOSA.

[2020-08-20 01:13] #2244 closed, assigned to nobody

[2020-08-20 01:16] MingcongBai commented on #2245
All done. @l2dy Please assign an AOSA.

[2020-08-20 01:16] #2245 closed, assigned to nobody

[2020-08-20 02:07] MingcongBai commented on #2246
All done. @l2dy Please assign an AOSA.

[2020-08-20 02:07] #2246 closed, assigned to nobody

[2020-08-24 11:43] l2dy commented on #2218
Use AOSA-2020-0146.

[2020-08-24 11:43] l2dy commented on #2217
Use AOSA-2020-0147.

[2020-08-24 11:43] l2dy commented on #2228
Use AOSA-2020-0148.

[2020-08-24 11:43] l2dy commented on #2230
Use AOSA-2020-0149.

[2020-08-24 11:44] l2dy commented on #2237
Ghostscript 9.52 doesn't contain fix for CVE-2020-15900, so upgrading and patching are both required.

[2020-08-24 11:46] l2dy commented on #2231
Use AOSA-2020-0150.

[2020-08-24 11:46] l2dy commented on #2232
Use AOSA-2020-0151.

[2020-08-24 11:46] l2dy commented on #2233
Use AOSA-2020-0152.

[2020-08-24 11:46] l2dy commented on #2235
Use AOSA-2020-0153.

[2020-08-24 11:46] l2dy commented on #2238
Use AOSA-2020-0154.

[2020-08-24 11:46] l2dy commented on #2219
Use AOSA-2020-0155.

[2020-08-24 11:46] l2dy commented on #2220
Use AOSA-2020-0156.

[2020-08-24 11:46] l2dy commented on #2221
Use AOSA-2020-0157.

[2020-08-24 11:49] l2dy commented on #2241
But `extra-python/ipaddress` is also affected.

[2020-08-24 11:50] l2dy commented on #2222
Use AOSA-2020-0158.

[2020-08-24 11:50] l2dy commented on #2223
Use AOSA-2020-0159.

[2020-08-24 11:50] l2dy commented on #2244
Use AOSA-2020-0160.

[2020-08-24 11:50] l2dy commented on #2245
Use AOSA-2020-0161.

[2020-08-24 11:50] l2dy commented on #2246
Use AOSA-2020-0162.

[2020-08-26 05:51] MingcongBai commented on #2248
Might have to delay this, since we build from .gem files and there's no clean way to patch them.

[2020-08-26 06:00] MingcongBai commented on #2249
Addressed in (mis-labeled) 8f2a4b511f89650e3ce5570555c222a0164e4c72.

[2020-08-26 06:00] MingcongBai commented on #2250
Directing to stable with suggested solution (system libvncserver/miniupnpc).

[2020-08-26 06:10] MingcongBai commented on #2250
All done. @l2dy Please assign an AOSA.

[2020-08-26 06:19] MingcongBai commented on #2251
All done. @l2dy Please assign an AOSA.

[2020-08-26 06:19] #2251 closed, assigned to nobody

[2020-08-26 06:26] l2dy commented on #2250
Commit https://gitlab.gnome.org/GNOME/vino/-/commit/af30833fe2c7629ee2102853a4c01b71f56acf43 seems to be security-sensitive. Other vulnerabilities have to be analyzed on a case-by-case basis.

[2020-08-26 06:45] MingcongBai commented on #2250
From Telegram:

_@l2dy: Upstream should be notified if they are still affected by some of the vulenrabilities, but someone has to do the investigation and I'm not interested given that they have not cut a new release in almost 4 years._

This package will be dropped in the following cycle, and this issue will then be closed.

[2020-08-26 11:35] l2dy commented on #2251
Use AOSA-2020-0163.

[2020-08-26 16:26] MingcongBai commented on #2253
All done. @l2dy Please assign an AOSA.

[2020-08-26 16:26] #2253 closed, assigned to nobody

[2020-08-26 16:30] l2dy commented on #2253
Use AOSA-2020-0164.

[2020-08-26 17:55] MingcongBai commented on #2254
All done. @l2dy Please assign an AOSA.

[2020-08-26 17:55] #2254 closed, assigned to nobody

[2020-08-26 17:57] MingcongBai commented on #2256
All done. @l2dy Please assign an AOSA.

[2020-08-26 17:57] #2256 closed, assigned to nobody

[2020-08-26 20:16] MingcongBai commented on #2257
All done. @l2dy Please assign an AOSA.

[2020-08-26 20:16] #2257 closed, assigned to nobody

[2020-08-26 20:17] MingcongBai commented on #2259
This will be released in the next Core update, one each for Mainline and Retro.

[2020-08-26 20:17] MingcongBai commented on #2260
This issue is for Retro only.

[2020-08-26 23:35] chenx97 commented on #2335
All done. @l2dy Please assign an AOSA.

[2020-08-27 14:09] l2dy commented on #2254
Use AOSA-2020-0165.

[2020-08-27 14:09] l2dy commented on #2256
Use AOSA-2020-0166.

[2020-08-27 14:09] l2dy commented on #2335
Use AOSA-2020-0168.

[2020-08-27 14:10] l2dy commented on #2257
Use AOSA-2020-0167.

[2020-08-27 18:52] MingcongBai commented on #2265
All done. @l2dy Please assign an AOSA.

[2020-08-27 18:52] #2265 closed, assigned to nobody

[2020-08-27 18:52] MingcongBai commented on #2266
All done. @l2dy Please assign an AOSA.

[2020-08-27 18:52] #2266 closed, assigned to nobody

[2020-08-27 18:58] MingcongBai commented on #2267
Taken a look at their source RPM and we are in fact affected by more CVEs than originally listed. Edited report.

[2020-08-27 19:00] MingcongBai commented on #2267
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:00] #2267 closed, assigned to nobody

[2020-08-27 19:02] MingcongBai commented on #2270
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:02] #2270 closed, assigned to nobody

[2020-08-27 19:03] MingcongBai commented on #2271
Redirecting to Testing.

[2020-08-27 19:30] MingcongBai commented on #2275
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:30] #2275 closed, assigned to nobody

[2020-08-27 19:31] MingcongBai commented on #2276
Redirecting to Testing.

[2020-08-27 19:34] MingcongBai commented on #2277
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:34] #2277 closed, assigned to nobody

[2020-08-27 19:40] MingcongBai commented on #2278
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:40] #2278 closed, assigned to nobody

[2020-08-27 19:41] MingcongBai commented on #2279
Adding qutebrowser to the list of "Exceptions to the Update Cycles," in category 1.

[2020-08-27 19:56] MingcongBai commented on #2279
All done. @l2dy Please assign an AOSA.

[2020-08-27 19:56] #2279 closed, assigned to nobody

[2020-08-29 07:38] eatradish opened #2345 "netease-cloud-music-gtk: FTBFS"
**Intended Version:**
1.1.2

**Target Branch:**
s-p, amd64

**Description:**
[code]

[2020-08-29 07:55] #2345 closed, assigned to nobody

[2020-09-05 16:32] eatradish opened #2350 "virtualbox 6.1.14: FTBFS on stable, amd64"
**Intended Version:**
virtualbox 6.1.14

**Target Branch:**
stable, amd64

**Description:**
full log: http://fars.ee/YHnj

highlight:
[code]
[code]

[2020-09-06 17:57] eatradish opened #2351 "grpc 1.3.0: FTBFS"
**Intended Version:**
grpc 1.3.0

**Target Branch:**
testing-proposed, amd64

**Description:**
autobuild file: https://github.com/AOSC-Dev/aosc-os-abbs/commit/d70377d1b204467bb69dc704dc74e18cffdaf5ed

log: http://fars.ee/-cFM

[2020-09-07 04:36] MingcongBai commented on #2202
Delaying cycle endpoint by three weeks, new schedule as follows:

- September 29, 2020: Freeze Testing-Proposed.
  - Merge all changes to Testing for updates.
  - Transfer all skip-ahead changes to Experimental.
  - All non-complete entries on Testing-Proposed => Testing to be deferred to Fall 2020.
- September 29, 2020: Commence draft on Fall 2020 Iteration Plan.
- October 13, 2020: Merge all cha

[2020-09-07 05:21] MingcongBai commented on #2258
Patch provided in description is incompatible with Linux... @liushuyu Could you take a look (patch ported as follows)?

[code]

[2020-09-07 07:26] chenx97 commented on #2323
Note: CVE-2019-20388 has been patched by upstream already.

[2020-09-07 16:52] MingcongBai commented on #2261
All done. @l2dy Please assign an AOSA.

[2020-09-07 16:52] #2261 closed, assigned to nobody

[2020-09-07 17:07] MingcongBai commented on #2282
All done. @l2dy please assign an AOSA.

[2020-09-07 17:07] #2282 closed, assigned to nobody

[2020-09-07 17:18] MingcongBai commented on #2284
All done. @l2dy Please assign an AOSA.

[2020-09-07 17:34] MingcongBai commented on #2285
All done. @l2dy Please assign an AOSA.

[2020-09-07 17:34] #2285 closed, assigned to nobody

[2020-09-07 17:35] MingcongBai commented on #2286
Updating to 1.0.31 instead.

[2020-09-07 17:45] MingcongBai commented on #2286
All done. @l2dy Please assign an AOSA.

[2020-09-07 17:45] #2286 closed, assigned to nobody

[2020-09-07 17:46] MingcongBai commented on #2287
Used upstream patch.

[2020-09-07 17:55] MingcongBai commented on #2288
All done. @l2dy Please assign an AOSA.

[2020-09-07 17:55] #2288 closed, assigned to nobody

[2020-09-07 18:11] MingcongBai commented on #2289
All done. @l2dy Please assign an AOSA.

[2020-09-07 18:11] #2289 closed, assigned to nobody

[2020-09-07 18:15] MingcongBai commented on #2314
Updating to 6.4.6.2.

[2020-09-07 19:48] MingcongBai commented on #2314
All done. @l2dy Please assign an AOSA.

[2020-09-07 19:48] #2314 closed, assigned to nobody

[2020-09-08 04:19] MingcongBai commented on #2312
All done. @l2dy Please assign an AOSA.

[2020-09-08 04:19] #2312 closed, assigned to nobody

[2020-09-08 04:38] #2350 closed, assigned to nobody

[2020-09-08 04:50] MingcongBai commented on #2310
All done. @l2dy Please assign an AOSA.

[2020-09-08 04:50] #2310 closed, assigned to nobody

[2020-09-08 04:51] MingcongBai commented on #2309
All done. @l2dy Please assign an AOSA.

[2020-09-08 04:51] #2309 closed, assigned to nobody

[2020-09-08 04:52] MingcongBai commented on #2307
All done. @l2dy Please assign an AOSA.

[2020-09-08 04:52] #2307 closed, assigned to nobody

[2020-09-08 04:52] MingcongBai commented on #2306
All done. @l2dy Please assign an AOSA.

[2020-09-08 04:52] #2306 closed, assigned to nobody

[2020-09-08 04:57] MingcongBai commented on #2301
This probably has been addressed already. Let's not open any more NVIDIA-related issues.

[2020-09-08 04:57] #2301 closed, assigned to nobody

[2020-09-08 05:03] MingcongBai commented on #2302
All done. @l2dy Please assign an AOSA.

[2020-09-08 05:03] #2302 closed, assigned to nobody

[2020-09-08 05:38] MingcongBai commented on #2297
All done. @l2dy Please assign an AOSA.

[2020-09-08 05:38] #2297 closed, assigned to nobody

[2020-09-08 06:05] MingcongBai commented on #2296
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:05] #2296 closed, assigned to nobody

[2020-09-08 06:05] MingcongBai commented on #2294
Fixed with d750918e554d7d003ea65fe25f2af9a2683ff558.

[2020-09-08 06:16] MingcongBai commented on #2291
Updating instead, patching would require major editing.

[2020-09-08 06:18] MingcongBai commented on #2291
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:18] #2291 closed, assigned to nobody

[2020-09-08 06:19] MingcongBai commented on #2315
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:19] #2315 closed, assigned to nobody

[2020-09-08 06:35] MingcongBai commented on #2318
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:35] #2318 closed, assigned to nobody

[2020-09-08 06:39] MingcongBai commented on #2321
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:39] #2321 closed, assigned to nobody

[2020-09-08 06:44] MingcongBai commented on #2324
All done. @l2dy Please assign an AOSA.

[2020-09-08 06:44] #2324 closed, assigned to nobody

[2020-09-08 08:11] chenx97 commented on #2333
All done. @l2dy Please assign an AOSA.

[2020-09-08 16:39] MingcongBai commented on #2327
All done. @l2dy Please assign an AOSA.

[2020-09-08 16:39] #2327 closed, assigned to nobody

[2020-09-08 16:43] MingcongBai commented on #2328
All done. @l2dy Please assign an AOSA.

[2020-09-08 16:43] #2328 closed, assigned to nobody

[2020-09-08 16:51] MingcongBai commented on #2329
All done. @l2dy Please assign an AOSA.

[2020-09-08 16:51] #2329 closed, assigned to nobody

[2020-09-08 17:04] MingcongBai commented on #2326
All done. @l2dy Please assign an AOSA.

[2020-09-08 17:04] #2326 closed, assigned to nobody

[2020-09-08 17:13] MingcongBai commented on #2332
All done. @l2dy Please assign an AOSA.

[2020-09-08 17:13] #2332 closed, assigned to nobody

[2020-09-08 17:15] MingcongBai commented on #2334
All done. @l2dy Please assign an AOSA.

[2020-09-08 17:15] #2334 closed, assigned to nobody

[2020-09-08 17:20] MingcongBai commented on #2336
All done. @l2dy Please assign an AOSA.

[2020-09-08 17:20] #2336 closed, assigned to nobody

[2020-09-11 17:52] MingcongBai commented on #2337
All done. @l2dy Please assign an AOSA.

[2020-09-11 17:52] #2337 closed, assigned to nobody

[2020-09-11 20:21] MingcongBai commented on #2338
All done. @l2dy Please assign an AOSA.

[2020-09-11 20:21] #2338 closed, assigned to nobody

[2020-09-11 20:23] MingcongBai commented on #2339
Fixed bbaa421e520f70ce4bc62e89ec4ea7fa2dba5a4a.

[2020-09-11 20:23] MingcongBai commented on #2339
All done. @l2dy Please assign an AOSA.

[2020-09-11 20:23] #2339 closed, assigned to nobody

[2020-09-11 21:14] MingcongBai opened #2352 "chromium, google-chrome: update to 85.0.4183.102"
**CVE IDs:** CVE-2020-6573, CVE-2020-6574, CVE-2020-6575, CVE-2020-6576, CVE-2020-15959

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Chromium, Mainline):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

**Architectural progress (Google Chrome, Mainline):**

- [x] AMD64 `amd64`

[2020-09-11 22:19] MingcongBai commented on #2352
All done. @l2dy Please assign an AOSA.

[2020-09-11 22:19] #2352 closed, assigned to nobody

[2020-09-12 03:32] MingcongBai commented on #2341
Note, follow testing-proposed and build LLVM 10.0, then update Rustc as part of its rebuilds.

[2020-09-13 22:02] eatradish opened #2353 "fcitx5-configtool: FTBFS"
**Intended Version:**
20200913 (https://github.com/fcitx/fcitx5-configtool/commit/4c0054d5407e15af7c41aabd997388bba60b877c)

**Target Branch:**
t-p, amd64

**Description:**
Full log: http://fars.ee/w1TZ

Highlight:

[code]

[2020-09-13 22:43] eatradish commented on #2353
Fixed in 89b8cc5d03c97e7ed3c19a845d5d17c8ade19c94, closing.

[2020-09-13 22:43] #2353 closed, assigned to nobody

[2020-09-14 06:38] KexyBiscuit opened #2354 "GnuTLS: security update to 3.6.15"
**CVE IDs:** [CVE-2020-24659](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-24659)

**Other security advisory IDs:** [GNUTLS-SA-2020-09-04](https://www.gnutls.org/security-new.html#GNUTLS-SA-2020-09-04), [USN-4491-1](https://ubuntu.com/security/notices/USN-4491-1)

**Description:** An issue was discovered in GnuTLS before 3.6.15. A server can trigger a NULL pointer dereference in a TLS 1

[2020-09-15 05:32] KexyBiscuit opened #2355 "Cryptsetup: security update to 2.3.4"
**CVE IDs:** [CVE-2020-14382](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-14382)

**Other security advisory IDs:** [USN-4493-1](https://ubuntu.com/security/notices/USN-4493-1)

**Description:** Out-of-bounds write when validating segments

**Patches:** [Check segment gaps regardless of heap space.](https://gitlab.com/cryptsetup/cryptsetup/-/merge_requests/102)

**PoC(s):** N/A

**Archi

[2020-09-20 08:22] eatradish opened #2356 "mpv: bash-completion FTBFS"
**Intended Version:**
mpv 0.32.0

**Target Branch:**
t-p, amd64

**Description:**

[code]

See https://github.com/AOSC-Dev/aosc-os-abbs/blob/590eba8b42f7ad7efca1ad35762652a8d0d9637f/extra-multimedia/mpv/autobuild/build

[2020-09-22 05:52] MingcongBai commented on #2354
Addressed by 9dc35148ac5eabdd89e823d5472052815ddfd235 (`gnutls`) and 973acc625ebba69a7f0333837f38fcee0a95bea7 (`gnutls+32`).

[2020-09-22 05:57] MingcongBai opened #2359 "chromium, google-chrome: security update to 85.0.4183.121"
**CVE IDs:** CVE-2020-15960, CVE-2020-15961, CVE-2020-15962, CVE-2020-15963, CVE-2020-15964, CVE-2020-15965, CVE-2020-15966

**Description:**

- [$15000][1100136] High CVE-2020-15960: Out of bounds read in storage. Reported by Anonymous on 2020-06-28
- [$15000][1114636] High CVE-2020-15961: Insufficient policy enforcement in extensions. Reported by David Erceg on 2020-08-10
- [$10000][1121836] Hig

[2020-09-22 21:31] MingcongBai commented on #2359
All done. @l2dy Please assign an AOSA.

[2020-09-22 21:31] #2359 closed, assigned to nobody

[2020-09-25 03:01] KexyBiscuit opened #2360 "PackageKit: CVE-2020-16121 & CVE-2020-16122"
**CVE IDs:** [CVE-2020-16121](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-16121), [CVE-2020-16122](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-16122)

**Other security advisory IDs:** [USN-4538-1](https://ubuntu.com/security/notices/USN-4538-1)

**Description:** The InstallFiles, GetFilesLocal and GetDetailsLocal methods of the DBus
interface to PackageKit accesses given fi

[2020-09-25 03:06] KexyBiscuit opened #2361 "BusyBox: third patch for CVE-2018-1000500"
**CVE IDs:** [CVE-2018-1000500](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000500)

**Other security advisory IDs:** [USN-4531-1](https://ubuntu.com/security/notices/USN-4531-1)

**Description:** Busybox contains a Missing SSL certificate validation vulnerability in The "busybox wget" applet that can result in arbitrary code execution. This attack appear to be exploitable via Simply

[2020-09-28 19:11] MingcongBai commented on #2202
Iteration frozen, this will be our last until topic-base iterations starts rolling.

[2020-09-29 07:55] #2351 closed, assigned to nobody

[2020-09-29 11:20] Fearyncess opened #2367 "qtstyleplugins: incompatible with qt-5 5.14 (need a rebuilding?)"
Bug description
-----------------------
When running a Qt5 program with the setting `QT_QPA_PLATFORMTHEME=gtk2` environment variable (which is provided by the package "_qtstyleplugins_"), it shall coredump and says "`Cannot mix incompatible Qt library with this library.`"

Steps to reproduce
---------------------------
Run any Qt5 program with the setting `QT_QPA_PLATFORMTHEME=gtk2` environment va

[2020-09-29 11:33] Fearyncess opened #2368 "keepassxc: failed to start due to lack a dependency "libsodium""
Bug description
-----------------------
the package "_keepassxc_" has lacked a dependency "_libsodium_". it will failed to start because of that.
[code]

Update channel(s)
--------------------------
stable, with stable-proposed enabled

Package and version
------------------------------
Version: 2.5.1

[2020-09-30 03:52] KexyBiscuit opened #2370 "Node.js, libuv: September 2020 Security Releases (CVE-2020-8201, CVE-2020-8252)"
**CVE IDs:** [CVE-2020-8201](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8201), [CVE-2020-8252](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8252)

**Other security advisory IDs:** [USN-4548-1](https://ubuntu.com/security/notices/USN-4548-1)

**Description:** Node.js < 12.18.4 and < 14.11 can be exploited to perform HTTP desync attacks and deliver malicious payloads to unsus

[2020-09-30 04:57] #2368 closed, assigned to nobody

[2020-09-30 04:58] Fearyncess commented on #2368
this issue is fixed by merged PR #2369

[2020-10-01 00:59] eatradish opened #2372 "v2ray: FTBFS"
**Intended Version:**
v2ray 4.29.0

**Target Branch:**
amd64, s-p

**Description:**
[code]

But it compiles successfully in Go 1.15.2

[2020-10-01 10:27] eatradish commented on #2372
Update Go to 1.15.2 to fix problem, closing.

[2020-10-01 10:27] #2372 closed, assigned to nobody

[2020-10-01 17:50] Fearyncess commented on #2367
this issue is fixed by #2371

[2020-10-01 17:50] #2367 closed, assigned to nobody

[2020-10-02 17:01] eatradish opened #2373 "netease-cloud-music-gtk: cannot connect to network"
Bug description
-----------------------

[code]

Steps to reproduce
---------------------------

Open netease-cloud-music-gtk

Update channel(s)
--------------------------

amd64, t-p

Package and version
------------------------------

[code]

[2020-10-02 19:12] liushuyu commented on #2373
The backtrack is totally useless, no relevant information could be deduced.

Next time, please make a build with `ABSTRIP=0` so that the backtrack information is actually useful.

[2020-10-03 03:46] l2dy commented on #2335
@chenx97 Remember to close the issue before requesting an AOSA.

[2020-10-03 03:46] #2335 closed, assigned to nobody

[2020-10-03 03:48] l2dy commented on #2265
Use AOSA-2020-0169.

[2020-10-03 03:48] l2dy commented on #2266
Use AOSA-2020-0170.

[2020-10-03 03:49] l2dy commented on #2267
Use AOSA-2020-0171.

[2020-10-03 03:49] l2dy commented on #2270
Use AOSA-2020-0172.

[2020-10-03 03:49] l2dy commented on #2275
Use AOSA-2020-0173.

[2020-10-03 03:49] l2dy commented on #2277
Use AOSA-2020-0174.

[2020-10-03 03:49] l2dy commented on #2278
Use AOSA-2020-0175.

[2020-10-03 03:49] l2dy commented on #2279
Use AOSA-2020-0176.

[2020-10-03 03:49] l2dy commented on #2261
Use AOSA-2020-0177.

[2020-10-03 03:49] l2dy commented on #2282
Use AOSA-2020-0178.

[2020-10-03 03:51] l2dy commented on #2284
Use AOSA-2020-0179.

[2020-10-03 03:51] #2284 closed, assigned to nobody

[2020-10-03 03:53] l2dy commented on #2285
Use AOSA-2020-0180.

[2020-10-03 03:53] l2dy commented on #2286
Use AOSA-2020-0181.

[2020-10-03 03:53] l2dy commented on #2288
Use AOSA-2020-0182.

[2020-10-03 03:53] l2dy commented on #2289
Use AOSA-2020-0183.

[2020-10-03 03:53] l2dy commented on #2314
Use AOSA-2020-0184.

[2020-10-03 03:53] l2dy commented on #2312
Use AOSA-2020-0185.

[2020-10-03 03:53] l2dy commented on #2310
Use AOSA-2020-0186.

[2020-10-03 03:53] l2dy commented on #2309
Use AOSA-2020-0187.

[2020-10-03 03:55] l2dy commented on #2307
Use AOSA-2020-0188.

[2020-10-03 03:55] l2dy commented on #2306
Use AOSA-2020-0189.

[2020-10-03 03:55] l2dy commented on #2301
Use AOSA-2020-0190.

[2020-10-03 03:56] l2dy commented on #2302
Use AOSA-2020-0190.

[2020-10-03 03:59] l2dy commented on #2297
Use AOSA-2020-0191.

[2020-10-03 03:59] l2dy commented on #2296
Use AOSA-2020-0192.

[2020-10-03 03:59] l2dy commented on #2291
Use AOSA-2020-0193.

[2020-10-03 03:59] l2dy commented on #2315
Use AOSA-2020-0194.

[2020-10-03 03:59] l2dy commented on #2318
Use AOSA-2020-0195.

[2020-10-03 03:59] l2dy commented on #2321
Use AOSA-2020-0196.

[2020-10-03 03:59] l2dy commented on #2324
Use AOSA-2020-0197.

[2020-10-03 03:59] l2dy commented on #2333
Use AOSA-2020-0198.

[2020-10-03 03:59] #2333 closed, assigned to nobody

[2020-10-03 04:00] l2dy commented on #2327
Use AOSA-2020-0199.

[2020-10-03 04:01] l2dy commented on #2328
Use AOSA-2020-0200.

[2020-10-03 04:01] l2dy commented on #2329
Use AOSA-2020-0201.

[2020-10-03 04:01] l2dy commented on #2326
Use AOSA-2020-0202.

[2020-10-03 04:01] l2dy commented on #2332
Use AOSA-2020-0203.

[2020-10-03 04:01] l2dy commented on #2334
Use AOSA-2020-0204.

[2020-10-03 04:01] l2dy commented on #2336
Use AOSA-2020-0205.

[2020-10-03 04:01] l2dy commented on #2337
Use AOSA-2020-0206.

[2020-10-03 04:01] l2dy commented on #2339
Use AOSA-2020-0208.

[2020-10-03 04:01] l2dy commented on #2338
Use AOSA-2020-0207.

[2020-10-03 04:01] l2dy commented on #2352
Use AOSA-2020-0209.

[2020-10-03 04:01] l2dy commented on #2359
Use AOSA-2020-0210.

[2020-10-03 04:48] eatradish commented on #2373
Fixed on enable debug symbols, closing...

[2020-10-03 04:48] #2373 closed, assigned to nobody

[2020-10-03 04:54] MingcongBai commented on #2373
@eatradish Could be worth it to open an issue online about this as well.

[2020-10-05 11:52] OriginCode opened #2376 "rethinkdb: FTBFS (2.3.7)"
**Intended Version:**

2.3.7

**Target Branch:**

stable
stable-proposed
testing
testing-proposed
explosive

**Description:**

FTBFS
![image](https://user-images.githubusercontent.com/17294071/95076339-431bd480-0744-11eb-8342-8d20cf02b210.png)

[2020-10-06 04:01] MingcongBai commented on #2037
We are dropping this package, no point maintaining a package that no one asked for. Open a package request if needed.

[2020-10-06 04:01] #2037 closed, assigned to nobody

[2020-10-10 09:26] #2376 closed, assigned to cthbleachbit, MingcongBai, KexyBiscuit

[2020-10-14 00:23] chenx97 commented on #2320
All done. @l2dy Please assign an AOSA.

[2020-10-15 17:05] l2dy commented on #2320
Use AOSA-2020-0211.

[2020-10-15 17:05] #2320 closed, assigned to nobody

[2020-10-18 07:51] szclsya opened #2382 "linux-kernel*: INTEL-SA-00435"
**CVE IDs:** CVE-2020-12351, CVE-2020-12352, CVE-2020-24490
**Other security advisory IDs:** INTEL-SA-00435

**Description:**
Potential security vulnerabilities in BlueZ may allow escalation of privilege or information disclosure.  BlueZ is releasing Linux kernel fixes to address these potential vulnerabilities.

**Patches:**
https://git.kernel.org/pub/scm/linux/kernel/git/bluetooth/bluetooth-next

[2020-10-18 08:37] szclsya commented on #2382
Update `linux-kernel` to 5.9.1 and `linux-kernel-lts` to 5.4.72 would address this issue, but these updates are currently blocked by the univt patch.

[2020-10-29 23:08] chenx97 opened #2447 "qemu-*-static: FTBFS"
**Intended Version:**
5.1.0-2
**Target Branch:**

qemu-user-static-5.1.0-2

**Description:**

- [x] amd64
[code]

[2020-10-30 05:52] MingcongBai commented on #2447
Will track this issue on #2446. Closing.

[2020-10-30 05:52] #2447 closed, assigned to nobody

[2020-10-31 02:41] liushuyu opened #2457 "openjdk-8: security update to 8u272"
**CVE IDs:** CVE-2020-14779, CVE-2020-14781, CVE-2020-14782, CVE-2020-14792, CVE-2020-14796, CVE-2020-14797, CVE-2020-14798, CVE-2020-14803

**Other security advisory IDs: N/A

**Description:**
https://mail.openjdk.java.net/pipermail/jdk8u-dev/2020-October/012817.html

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**
- [ ] AMD64 `amd64`
- [ ] AArch64 `arm64`
- [ ] Loongson

[2020-10-31 02:58] liushuyu opened #2459 "openjdk: update to 11.0.9"
**CVE IDs:** CVE-2020-14779, CVE-2020-14781, CVE-2020-14782, CVE-2020-14792, CVE-2020-14796, CVE-2020-14797, CVE-2020-14798, CVE-2020-14803

**Other security advisory IDs: N/A

**Description:**
https://mail.openjdk.java.net/pipermail/jdk-updates-dev/2020-October/004007.html

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress (Mainline):**
- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] Lo

[2020-11-01 02:28] #2457 closed, assigned to nobody

[2020-11-07 04:05] #2459 closed, assigned to nobody

[2020-11-12 22:43] Artoria2e5 opened #2512 "Retire python2 someday"
Python 2 has to go eventually with the cessation of security updates. We should make a list of packages still built with py2, and either abandon or migrate them to py3.

I doubt the security part is going to matter *that* much, since python isn't exactly CVE-prone judging from history. We do save ~50M of disk space just from removing the python2 standard site library, so that's nice.

## Py2 packa

[2020-11-15 14:37] zqqw opened #2518 "What are your plans for the Pale Moon package?"
Dear AOSC, apologies if this is not the correct place to make this enquiry, but I didn't see any contact email or similar on your website.
There is a link on the Pale Moon website that now gives a 404:
https://www.palemoon.org/contributed-builds.shtml
https://github.com/AOSC-Dev/aosc-os-abbs/tree/testing/extra-web/palemoon
Searching this repo on GitHub doesn't find anything. I did find some packag

[2020-11-15 15:40] Cyanoxygen commented on #2518
Hi zqqw,
Thank you for your notice! We have [switched to a topic-based iteration plan](https://wiki.aosc.io/developer/packaging/topic-based-maintenance-guideline/), so the old iteration cycle was dropped, old branches (`testing`, `testing-proposed`, `stable-proposed`) are merged to `stable` and removed. Everything is done under the `stable` branch once a topic is finished. And we are sorry for not

[2020-11-16 00:34] zqqw commented on #2518
That's great news, thank you.

[2020-11-16 00:34] #2518 closed, assigned to nobody

[2020-11-22 09:32] eatradish commented on #2100
Fixed. closing...

[2020-11-22 09:32] #2100 closed, assigned to nobody

[2020-11-23 20:01] #2356 closed, assigned to nobody

[2020-11-27 22:39] liushuyu commented on #2025
Seems to have fixed.

[2020-11-27 22:39] #2025 closed, assigned to nobody

[2020-11-28 10:21] Neustradamus opened #2568 "lurch / libomemo: 12-byte IVs patch"
Hello @AOSC-Dev,

Here:
- https://github.com/AOSC-Dev/aosc-os-abbs/tree/stable/extra-web/lurch

Can you add the missing 12-byte IVs patch:
- https://github.com/gkdr/libomemo/pull/27

Explanation:
- https://github.com/gkdr/libomemo/issues/24

Thanks in advance.

[2020-12-07 23:56] LionNatsu opened #2592 "multipath-tools: installed in wrong location"
Bug description
-----------------------
There are

    /usr/bin/kpartx
    /usr/bin/multipath
    etc.

but also

    /usr/usr/include/libdmmp/libdmmp.h
    /usr/usr/lib/libmultipath.so
    etc.

Package and version
------------------------------
multipath-tools/stable,now 0.8.3-3 amd64

[2020-12-07 23:57] LionNatsu opened #2593 "openexr: python packages installed in wrong locations"
Bug description
-----------------------
`/usr/sr/lib/python3.8/site-packages/iex.so`

Package and version
------------------------------
openexr/stable,now 2.5.2 amd64

[2020-12-08 00:03] LionNatsu opened #2594 "nvidia: nvidia-uvm.ko cannot be loaded into kernel 5.9+"
Bug description
-----------------------
[code]

Steps to reproduce
---------------------------
1. `modprobe nvidia-uvm`
2. `dmesg`

Package and version
------------------------------
nvidia/stable,now 455.38 amd64

[2020-12-08 00:27] LionNatsu commented on #2594
It could be related to https://www.spinics.net/lists/linux-fsdevel/msg173844.html.

Linux 5.9 [has reinforced](https://lwn.net/ml/linux-kernel/20200730061027.29472-9-hch@lst.de/) the limitation of using GPL only symbols. Although `nvidia-uvm` is GPL-compatible (licensed with "Dual MIT/GPL"), it's inheriting taint by `nvidia` (licensed with "NVIDIA"), so it cannot import GPL only variable `radix_tr

[2020-12-09 17:28] LionNatsu commented on #2594
`CONFIG_DEBUG_PREEMPT=y` works around the issue.

[2020-12-13 06:06] #2594 closed, assigned to nobody

[2020-12-30 12:27] #2024 closed, assigned to nobody

[2021-01-01 02:16] l2dy commented on #2250
https://gitlab.gnome.org/Archive/vino "Projects that were part of the GNOME group but were archived due to inactivity or deprecation"

[2021-01-01 19:27] Fearyncess commented on #2568
XEP doesn't recommend use 12-bytes IV.
https://github.com/xsf/xeps/pull/894#issuecomment-596255509
https://github.com/xsf/xeps/pull/903

[2021-01-01 19:27] #2568 closed, assigned to nobody

[2021-01-01 22:36] Neustradamus commented on #2568
@fearyncess: The upstream is now good like all other OMEMO XMPP clients.
Please update it to libomemo 0.7.0.

Can you reopen this ticket, close only when it will be good?

Thanks in advance.

[2021-01-02 00:54] Fearyncess commented on #2568
AOSC doesn't have libomemo. It only have lurch. The lurch isn't updated.
And more, the XMPP clients almost can be compatible with 16bytes IV, except chatsecure. I think it needn't to change this for only chatsecure, even the 12bytes IV may has the security problem.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Neustradamus <notifications@github.com>
Sent: S

[2021-01-02 01:17] Neustradamus commented on #2568
@fearyncess: Thanks for your comment :)

ChatSecure is good, there is a problem with Monal.
Please read all for explanation: https://github.com/gkdr/libomemo/pull/27
The problem is that there was not a XEP-0384 0.3.1 before 0.4.0 with this.
All clients send now with good 12-byte IV.

It is not possible to have separate libs like Debian for example?

At the same time, I have requested a 0.7.0 lurch

[2021-01-07 01:13] OriginCode opened #2675 "openssl: CVE-2020-1971"
**CVE IDs:** [CVE-2020-1971](https://nvd.nist.gov/vuln/detail/CVE-2020-1971)

**Other security advisory IDs:** [USN-4662-1](https://ubuntu.com/security/notices/USN-4662-1)

**Patches:** https://git.openssl.org/gitweb/?p=openssl.git;a=commitdiff;h=f960d81215ebf3f65e03d4d5d857fb9b666d6920

**PoC(s):** https://www.openssl.org/news/secadv/20201208.txt

**Architectural progress (Mainline):**

- [ ] AMD

[2021-01-07 01:50] l2dy commented on #2675
FreeBSD has an independently-developed backport for OpenSSL 1.0.2, we may need it for openssl+1.0. https://security.freebsd.org/patches/SA-20:33/openssl.11.patch

[2021-01-09 08:58] #2593 closed, assigned to nobody

[2021-01-09 09:56] cthbleachbit commented on #2382
At the time of this comment we already have 5.9.13, but still need to work on 5.4.x LTS

[2021-01-09 10:00] cthbleachbit commented on #2382
As we have working kmscon, UniVT will be removed from LTS kernel as well...

[2021-01-12 05:53] Neustradamus commented on #2568
@fearyncess: Any news?
Thanks in advance.

[2021-01-14 00:43] Neustradamus opened #2695 "radvd 2.19"
Dear @MingcongBai, @colin4124, @gumblex,

Can you update radvd to 2.19?
- https://github.com/radvd-project/radvd
- https://github.com/radvd-project/radvd/releases
- https://github.com/radvd-project/radvd/releases/tag/v2.19
- https://github.com/AOSC-Dev/aosc-os-abbs/commits/stable/extra-network/radvd

Thanks in advance.

[2021-01-14 00:49] liushuyu commented on #2695
Thanks for the notification. We will be updating `radvd` pretty soon.

[2021-01-16 04:28] #2382 closed, assigned to nobody

[2021-01-21 09:56] Neustradamus opened #2715 "Dnsmasq 2.83"
Dear @MingcongBai, @Artoria2e5, @l2dy, @colin4124, @gumblex, @eatradish:

Can you update Dnsmasq to 2.83?

**CVE IDs:**
- CVE-2020-25681, CVE-2020-25682, CVE-2020-25683, CVE-2020-25687
- CVE-2020-25684
- CVE-2020-25685
- CVE-2020-25686

Links:
- http://www.thekelleys.org.uk/dnsmasq/doc.html
- http://www.thekelleys.org.uk/dnsmasq/CHANGELOG
- https://github.com/AOSC-Dev/aosc-os-abbs/tree/stable/extr

[2021-01-22 06:29] #2695 closed, assigned to cthbleachbit

[2021-01-22 06:34] cthbleachbit commented on #2311
This has been long fixed... Closing.

[2021-01-22 06:34] #2311 closed, assigned to nobody

[2021-01-22 06:35] cthbleachbit commented on #2303
This is now superseded by #2715.

[2021-01-22 06:35] #2303 closed, assigned to nobody

[2021-01-22 06:48] Neustradamus commented on #2695
@cthbleachbit and @MingcongBai: Thanks! :)

At the same time: Have you looked for PPP 2.4.9 (PR is here) and Dnsmasq 2.83?

[2021-01-22 06:48] cthbleachbit commented on #2695
I‘m handling dnsmasq in a second.

[2021-01-22 06:50] MingcongBai commented on #2695
@Neustradamus We were experiencing some failure with our authentication services that prevented me from uploading the packages. I have already build-tested the updates, and they will merge shortly.

[2021-01-22 10:50] #2341 closed, assigned to nobody

[2021-01-22 10:50] liushuyu commented on #2341
Stale, fixed in unknown commit

[2021-01-23 14:40] Neustradamus commented on #2695
@cthbleachbit and @MingcongBai: Thanks! :)

[2021-01-23 19:30] MingcongBai commented on #2298
Fixed with #2658. Closing.

[2021-01-23 19:30] #2298 closed, assigned to nobody

[2021-01-23 22:48] cthbleachbit commented on #2715
Fixed in #2720. Closing.

[2021-01-23 22:48] #2715 closed, assigned to nobody

[2021-01-24 02:41] Neustradamus commented on #2715
@cthbleachbit and @MingcongBai: Thanks! :)

Attention, there is a bug in 2.83: "failed to send packet: Network is unreachable":
- http://lists.thekelleys.org.uk/pipermail/dnsmasq-discuss/2021q1/014613.html
- http://lists.thekelleys.org.uk/pipermail/dnsmasq-discuss/2021q1/014629.html
- http://www.thekelleys.org.uk/dnsmasq/test-releases/

[2021-01-26 02:09] Neustradamus opened #2729 "Dnsmasq 2.84"
@cthbleachbit and @MingcongBai: Can you update to 2.84?
- http://lists.thekelleys.org.uk/pipermail/dnsmasq-discuss/2021q1/014640.html

There was a bug in Dnsmasq 2.83, I have informed you here:
- https://github.com/AOSC-Dev/aosc-os-abbs/issues/2715#issuecomment-766280179

Thanks in advance.

[2021-01-26 05:31] MingcongBai commented on #2729
I'm on it.

[2021-01-29 12:52] Neustradamus opened #2744 "Libgcrypt to 1.9.1"
Libgcrypt to 1.9.1:
- https://gnupg.org/software/libgcrypt/index.html

Here:
- https://github.com/AOSC-Dev/aosc-os-abbs/blob/stable/extra-libs/libgcrypt
- https://github.com/AOSC-Dev/aosc-os-abbs/blob/stable/extra-optenv32/libgcrypt+32

[2021-01-29 12:53] Neustradamus opened #2745 "Libgpg-error to 1.41"
Libgpg-error to 1.41:
- https://gnupg.org/software/libgpg-error/index.html

Here:
- https://github.com/AOSC-Dev/aosc-os-abbs/blob/stable/extra-libs/libgpg-error
- https://github.com/AOSC-Dev/aosc-os-abbs/blob/stable/extra-optenv32/libgpg-error+32

[2021-01-30 05:40] MingcongBai commented on #2729
Done with #2730. Closing.

[2021-01-30 05:40] #2729 closed, assigned to nobody

[2021-01-30 06:41] Neustradamus commented on #2729
@MingcongBai: Thanks! :)

[2021-02-01 23:19] chenx97 commented on #2308
addressed by 9b2106f5c9a57c366bf92e799e2e35b572adead1.

[2021-02-11 07:43] chenx97 commented on #2308
All done. @l2dy Please assign an AOSA.

[2021-02-11 09:05] l2dy commented on #2308
Use AOSA-2021-0001.

[2021-02-11 09:58] #2308 closed, assigned to nobody

[2021-03-13 10:29] #152 closed

[2021-03-13 10:29] liushuyu commented on #152
Fixed. Using https://github.com/AOSC-Dev/aoscbootstrap.

[2021-03-13 10:33] liushuyu commented on #525
Probably this is not needed now.

[2021-03-13 10:33] #525 closed

[2021-03-13 10:36] liushuyu commented on #1633
AOSC OS has updated `boost` to 1.75. This can be closed now.

[2021-03-13 10:36] #1633 closed, assigned to nobody

[2021-03-13 10:40] liushuyu commented on #511
https://packages.aosc.io/packages/gpick

[2021-03-13 10:40] #511 closed

[2021-03-13 10:42] #1638 closed, assigned to nobody

[2021-03-15 02:14] MingcongBai commented on #2089
We use `aoscbootstrap` now for distribution generation. As for new ports, this process is not simply about introducing package management. Closing.

[2021-03-15 02:14] #2089 closed

[2021-03-15 02:21] MingcongBai commented on #2088
Stalled for over five years. It's best to leave this issue as-is, there is virtually no possibility of a non-Bash AOSC OS distribution/environment.

[2021-03-15 02:21] #2088 closed

[2021-03-15 02:23] MingcongBai commented on #110
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:23] #110 closed

[2021-03-15 02:23] MingcongBai commented on #28
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:23] #28 closed

[2021-03-15 02:27] MingcongBai commented on #119
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:27] #119 closed

[2021-03-15 02:28] MingcongBai commented on #2087
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

Not to mention our plans for a minimal environment has changed significantly, that I'm not sure if this would benefit us anyways (especially considering the immense amount of `alternative` registering that would be necessary). If anyone would like to take this on, feel free.

[2021-03-15 02:28] #2087 closed

[2021-03-15 02:30] MingcongBai commented on #2090
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:30] #2090 closed

[2021-03-15 02:30] MingcongBai commented on #182
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:30] #182 closed

[2021-03-15 02:31] MingcongBai commented on #200
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 02:31] #200 closed

[2021-03-15 02:33] MingcongBai commented on #201
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

@Artoria2e5 If you still think we should do this, we should re-orient this at the upstream side.

[2021-03-15 02:33] #201 closed

[2021-03-15 02:35] MingcongBai commented on #205
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

@Artoria2e5 Looks to have lost maintenance since 2019, also considering the slew of security vulnerabilities that have arisen since that time.

[2021-03-15 02:35] #205 closed

[2021-03-15 02:44] MingcongBai commented on #237
Since https://github.com/mono/libgdiplus/pull/39 is already merged. Closing.

[2021-03-15 02:44] #237 closed

[2021-03-15 02:44] MingcongBai commented on #269
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

And honestly, I have trouble convincing myself that this is worth it.

[2021-03-15 02:44] #269 closed

[2021-03-15 02:45] MingcongBai commented on #298
This was resolved with #2763 . Closing.

[2021-03-15 02:45] #298 closed

[2021-03-15 02:46] MingcongBai commented on #362
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

Also since ACBS now have multi-source spec support, and that we have plans to move towards an "offline" source cache and build routine, this should not be a concern in the future.

[2021-03-15 02:46] #362 closed

[2021-03-15 02:48] MingcongBai commented on #370
We have moved past using hard-coded `-fPIE` since Core 5, see https://github.com/AOSC-Dev/autobuild3/commit/b18916f063598476d5f5139d4ccfc2fd7208e990.

[2021-03-15 02:48] #370 closed

[2021-03-15 02:49] MingcongBai commented on #377
Updated multiple times since then. If this issue arises again, please open another issue.

[2021-03-15 02:49] #377 closed

[2021-03-15 02:51] MingcongBai commented on #422
@lmy441900 Is this still an issue (since you've got a new laptop already)? I have ran into other TPM issues before with other laptops, but nonetheless, it may be best to direct these kinds of issue to the upstream in the future.

[2021-03-15 02:51] #422 closed

[2021-03-15 02:52] MingcongBai commented on #429
Addressed with 051f2615d2ca1f45c766dabb07328f3f3d412686 (and many commits since then). Closing.

[2021-03-15 02:52] #429 closed

[2021-03-15 02:53] MingcongBai commented on #479
Probably resolved since it can no longer be reproduced (obviously...). Closing.

[2021-03-15 02:53] #479 closed

[2021-03-15 02:54] MingcongBai commented on #502
Still an issue.

[2021-03-15 02:55] MingcongBai commented on #503
Won't introduce any more of them unless necessary, and scripts have been rewritten since 2020. Closing.

[2021-03-15 02:55] #503 closed

[2021-03-15 05:13] MingcongBai commented on #510
Addressed by 76851b76a01790e9e83cf423a4d6011a8531eff1. Lua 5.1 is still the default, but such is life.

[2021-03-15 05:13] #510 closed

[2021-03-15 05:14] #580 closed

[2021-03-15 05:14] MingcongBai commented on #580
Stale issue with no further information providence. Closing.

[2021-03-15 05:16] MingcongBai commented on #597
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 05:16] #597 closed

[2021-03-15 05:17] MingcongBai commented on #610
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 05:17] #610 closed

[2021-03-15 05:17] MingcongBai commented on #630
No longer reproducible. Closing.

[2021-03-15 05:17] #630 closed

[2021-03-15 05:18] MingcongBai commented on #633
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 05:18] #633 closed

[2021-03-15 05:18] MingcongBai commented on #636
This was addressed long ago. Closing.

[2021-03-15 05:18] #636 closed

[2021-03-15 05:19] MingcongBai commented on #649
As noted above, and with no further input. Closing.

[2021-03-15 05:19] #649 closed

[2021-03-15 05:20] MingcongBai commented on #678
Addressed long ago, and since we build all packages with clean environments, this should never happen again.

[2021-03-15 05:22] MingcongBai commented on #820
Yeah I think @gumblex has a point here... Since pgAdmin 4 is now at v5.0+.

[2021-03-15 05:24] MingcongBai commented on #860
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

@Artoria2e5 Sigh... This seemed to be stalled upstream as well - correct me if I'm wrong (and reopen).

[2021-03-15 05:24] #860 closed

[2021-03-15 05:26] MingcongBai commented on #864
Addressed again with bcb161bf8c53c2b1dc7195574f780e56e33f7196. Closing.

Please open new issues if this stupid issue arises again (and again, we should work on a file template mechanism for Autobuild3).

[2021-03-15 05:26] #864 closed

[2021-03-15 05:28] MingcongBai commented on #937
No longer reproducible (GNOME 3.38). Closing.

[2021-03-15 05:28] #937 closed

[2021-03-15 05:28] MingcongBai commented on #940
@eatradish Please look into this.

[2021-03-15 05:29] MingcongBai commented on #942
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 05:29] #942 closed

[2021-03-15 05:30] MingcongBai commented on #987
Package dropped as orphan (804082070c03229de97b8dec6fabdb9be7dec8cb). Closing.

[2021-03-15 05:30] #987 closed

[2021-03-15 05:30] MingcongBai commented on #988
Package dropped as orphan (804082070c03229de97b8dec6fabdb9be7dec8cb). Closing.

[2021-03-15 05:30] #988 closed

[2021-03-15 05:30] MingcongBai commented on #989
Package dropped as orphan (804082070c03229de97b8dec6fabdb9be7dec8cb). Closing.

[2021-03-15 05:30] #989 closed

[2021-03-15 05:31] MingcongBai commented on #990
Package dropped as orphan (804082070c03229de97b8dec6fabdb9be7dec8cb). Closing.

[2021-03-15 05:31] #990 closed

[2021-03-15 05:31] MingcongBai commented on #992
Package dropped as orphan (804082070c03229de97b8dec6fabdb9be7dec8cb). Closing.

[2021-03-15 05:31] #992 closed

[2021-03-15 05:32] MingcongBai commented on #1080
Seems like now with OpenJDK 11 as mainline, we have moved past this issue. Closing.

[2021-03-15 05:32] #1080 closed

[2021-03-15 05:33] MingcongBai commented on #1090
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-15 05:33] #1090 closed

[2021-03-15 05:33] MingcongBai commented on #1109
Anticipating package rename to `edb-debugger`.

[2021-03-15 05:36] MingcongBai commented on #1298
No longer reproducible as of 6.10.0.

[2021-03-15 05:36] #1298 closed

[2021-03-15 05:38] MingcongBai commented on #1622
Addressed since long ago. Closing.

[2021-03-15 05:38] #1622 closed, assigned to nobody

[2021-03-15 05:39] MingcongBai commented on #1635
Addressed with 76294338d8fc91a57c17e3de579f750b647b270d. Closing.

[2021-03-15 05:39] #1635 closed, assigned to nobody

[2021-03-15 05:39] MingcongBai commented on #1639
Addressed with b9eb2df644690e45d1d90df076716cd232c8f9e1. Closing.

[2021-03-15 05:39] #1639 closed, assigned to nobody

[2021-03-15 05:40] MingcongBai commented on #1732
Package dropped as of a08a2122972078a4d0a86844b69f79a5d652f774. Closing.

[2021-03-15 05:40] #1732 closed, assigned to nobody

[2021-03-15 05:42] MingcongBai commented on #1743
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

@luzpaz I will still hold off on this, let's wait for 1.6.

[2021-03-15 05:42] #1743 closed, assigned to nobody

[2021-03-15 05:42] MingcongBai commented on #1763
No longer reproducible as of v2.2.9. Closing.

[2021-03-15 05:42] #1763 closed, assigned to nobody

[2021-03-15 05:43] MingcongBai commented on #1790
`ppc32be`, or `powerpc` in DPKG speech is now a Retro port. Closing.

[2021-03-15 05:43] #1790 closed, assigned to nobody

[2021-03-15 05:43] MingcongBai commented on #1837
We are way past this issue. Closing.

[2021-03-15 05:43] #1837 closed, assigned to MingcongBai, Artoria2e5

[2021-03-15 05:44] MingcongBai commented on #1901
Transitive issue. Closing. (Surprise, it builds now)

[2021-03-15 05:44] #1901 closed, assigned to nobody

[2021-03-15 05:44] MingcongBai commented on #1902
Addressed with d3efd2829cc0ad3abea4f1653721a08ee2f01cf2. Closing.

[2021-03-15 05:44] #1902 closed, assigned to nobody

[2021-03-15 05:45] MingcongBai commented on #1918
Addressed with a batch job back in May, 2020 (for instance, 109176c42ae1e7d34f3acfad5c0c47c6bf26434d). Closing.

[2021-03-15 05:45] #1918 closed, assigned to MingcongBai

[2021-03-15 05:46] MingcongBai commented on #1818
Addressed with 570979d6690a37fe008f01f22bc9ae712d04e998. Closing.

[2021-03-15 05:46] #1818 closed, assigned to nobody

[2021-03-15 05:46] MingcongBai commented on #2085
Addressed with b7d08e8e38b5dc86f06d42fe5beec03fab4d67da. Closing.

[2021-03-15 05:46] #2085 closed, assigned to nobody

[2021-03-15 05:47] MingcongBai commented on #1939
Mischaracterised issue.

[2021-03-15 05:50] MingcongBai commented on #1940
No longer reproducible as of Abiword v3.0.2-6, and Aiksaurus v1:1.2.1-3. Closing.

[2021-03-15 05:50] #1940 closed, assigned to nobody

[2021-03-15 05:51] MingcongBai commented on #1941
Deluge has a missing dep now, but it seems that the original issue is already resolved. Closing.

[2021-03-15 05:51] #1941 closed, assigned to nobody

[2021-03-15 05:52] MingcongBai commented on #1948
No longer reproducible. Closing.

[2021-03-15 05:52] #1948 closed, assigned to nobody

[2021-03-15 05:52] MingcongBai commented on #1949
No longer reproducible. Closing.

[2021-03-15 05:52] #1949 closed, assigned to nobody

[2021-03-15 05:52] MingcongBai commented on #1950
No longer reproducible. Closing.

[2021-03-15 05:52] #1950 closed, assigned to nobody

[2021-03-15 05:53] MingcongBai commented on #1952
We are now using [topic-based maintenance "cycles"](https://wiki.aosc.io/developer/packaging/topic-based-maintenance-guideline/). Closing.

[2021-03-15 05:53] #1952 closed, assigned to nobody

[2021-03-15 05:53] MingcongBai commented on #1955
Introduced with 40f66f07475d446d61368c854868b4d92d9dc335. Closing.

[2021-03-15 05:53] #1955 closed, assigned to nobody

[2021-03-15 05:54] MingcongBai commented on #1956
No longer reproducible (addressed with updates above). Closing.

[2021-03-15 05:54] #1956 closed, assigned to nobody

[2021-03-15 05:54] MingcongBai commented on #1960
Device dead... Closing. Issue could be used for future reference.

[2021-03-15 05:54] #1960 closed, assigned to KexyBiscuit

[2021-03-15 05:55] MingcongBai commented on #1974
ARMv7 is now a Retro port, with limited maintenance. Closing.

[2021-03-15 05:55] #1974 closed, assigned to nobody

[2021-03-15 05:55] MingcongBai commented on #1983
Addressed with 984d1b5ac05137bd27ce2c1615bc414b6a311971. Closing.

[2021-03-15 05:55] #1983 closed, assigned to nobody

[2021-03-15 05:58] MingcongBai commented on #1984
Addressed with bf4ea5d8f6b9c896f0db480d0c46400d956d58be. Closing.

[2021-03-15 05:58] #1984 closed, assigned to nobody

[2021-03-15 05:59] MingcongBai commented on #1998
Both ports are now Retro ports, and these two packages builds just fine. Closing.

[2021-03-15 05:59] #1998 closed, assigned to nobody

[2021-03-15 05:59] MingcongBai commented on #2000
ARMv7 is now a Retro port, and this package is not yet introduced. Closing.

[2021-03-15 05:59] #2000 closed, assigned to nobody

[2021-03-15 06:00] MingcongBai commented on #2012
As noted above. Closing.

[2021-03-15 06:00] #2012 closed, assigned to nobody

[2021-03-15 06:00] MingcongBai commented on #2017
`ppc64be` is now a Retro port. Closing.

[2021-03-15 06:00] #2017 closed, assigned to nobody

[2021-03-15 06:01] MingcongBai commented on #2018
ARMv7 is now a Retro port. Closing.

[2021-03-15 06:01] #2018 closed, assigned to nobody

[2021-03-15 06:02] MingcongBai commented on #2026
Way Cooler stack was dropped earlier, as upstream ceased maintenance (3e482c0a6d71292cf4d7523c8c0171d19e6276a4). Closing.

[2021-03-15 06:02] #2026 closed, assigned to nobody

[2021-03-15 06:02] MingcongBai commented on #2027
Ceph builds just fine as of v15.2.8 (295298dfe78dbea4c24b47a5dfc4c2dcc38a485c). Closing.

[2021-03-15 06:02] #2027 closed, assigned to nobody

[2021-03-15 06:05] MingcongBai commented on #2033
Addressed with 181638887c3d81f2cbdc9aaf9a7dfdacf5bd970e (`fuse-3` introduction). However, upstream adoption is still ongoing - there is no rush and, if anyone would like to pick this up, please re-open this issue.

[2021-03-15 06:05] #2033 closed, assigned to nobody

[2021-03-15 06:06] MingcongBai commented on #2036
This was an issue where `anthy` and `anthy-ut` were confused. It builds just fine as of 778f97e16d76020b889ef0282a7b90d78b08a8c2. Closing.

[2021-03-15 06:06] #2036 closed, assigned to nobody

[2021-03-15 06:06] MingcongBai commented on #2021
As noted above. Closing.

[2021-03-15 06:06] #2021 closed, assigned to nobody

[2021-03-15 06:07] MingcongBai commented on #2044
This has been addressed with the two commits above. Closing.

[2021-03-15 06:07] #2044 closed, assigned to nobody

[2021-03-15 06:08] MingcongBai commented on #2046
Addressed as of LxQt 0.16 (with the two commits above). Closing.

[2021-03-15 06:08] #2046 closed, assigned to nobody

[2021-03-15 06:12] MingcongBai commented on #2067
No longer reproducible as of `qt-5` v1:5.15.1+wk5.212.0-4, and `qtcreator` v4.13.3-1. Closing.

[2021-03-15 06:12] #2067 closed, assigned to nobody

[2021-03-15 06:13] MingcongBai commented on #2068
Not reproducible here (and I don't have that specific dump file). Closing.

[2021-03-15 06:13] #2068 closed, assigned to nobody

[2021-03-15 06:14] MingcongBai commented on #2074
No longer reproducible with v1.35.0-3. Closing.

[2021-03-15 06:14] #2074 closed, assigned to nobody

[2021-03-15 06:15] MingcongBai commented on #2075
Builds just fine as of v20200426-4 (c82546873fbb54f25284b6551437054244e03c2c). Closing.

[2021-03-15 06:15] #2075 closed, assigned to nobody

[2021-03-15 06:15] MingcongBai commented on #2091
We no longer use the Exception mechanism as we have moved to topic-based maintenance. Closing.

[2021-03-15 06:15] #2091 closed, assigned to nobody

[2021-03-15 06:16] MingcongBai commented on #2096
It seems that Firefox enables this behaviour by default, and Thunderbird is still left out.

[2021-03-15 06:17] MingcongBai commented on #2097
Thanks for the note. We are now on GCC 10 as of Core 8, and as we comb through the tree with survey topics, we will fix them as we go along. Closing.

[2021-03-15 06:17] #2097 closed, assigned to nobody

[2021-03-15 06:18] MingcongBai commented on #2106
PPC64 is now an active Retro port, and distributions will be available in the near future. Closing.

[2021-03-15 06:18] #2106 closed, assigned to nobody

[2021-03-15 06:21] MingcongBai commented on #2107
We are now using GRUB for Retro distributions. Distributions and documentation updates to come.

[2021-03-15 06:22] MingcongBai commented on #2108
We are now keeping these ports as Retro ports, and they are now using GRUB. Closing.

[2021-03-15 06:22] #2108 closed, assigned to nobody

[2021-03-15 06:23] #2124 closed, assigned to KexyBiscuit

[2021-03-15 06:23] MingcongBai commented on #2191
Superseded by #2576 , #2717 , and #2806 . Closing.

[2021-03-15 06:23] #2191 closed, assigned to KexyBiscuit

[2021-03-15 06:24] MingcongBai commented on #2194
Security update still needed.

[2021-03-15 06:24] #2202 closed, assigned to cthbleachbit, MingcongBai, LionNatsu, liushuyu, KexyBiscuit, StephDC, szclsya, eatradish

[2021-03-15 06:24] MingcongBai commented on #2225
Addressed with 3258802a1b93eb79f6d13a451bb85e96a70624c6. Closing.

@l2dy Please assign an AOSA.

[2021-03-15 06:24] #2225 closed, assigned to nobody

[2021-03-15 06:34] MingcongBai commented on #2226
All done. Closing.

@l2dy Please assign an AOSA.

[2021-03-15 06:34] #2226 closed, assigned to nobody

[2021-03-15 06:35] MingcongBai commented on #2227
All done. Closing.

@l2dy Please assign an AOSA.

[2021-03-15 06:35] #2227 closed, assigned to nobody

[2021-03-15 06:35] MingcongBai commented on #2229
Superseded by #2794 .

[2021-03-15 06:35] #2229 closed, assigned to nobody

[2021-03-15 06:36] MingcongBai commented on #2234
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:36] #2234 closed, assigned to nobody

[2021-03-15 06:36] MingcongBai commented on #2236
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:36] #2236 closed, assigned to nobody

[2021-03-15 06:43] MingcongBai commented on #2240
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:43] #2240 closed, assigned to nobody

[2021-03-15 06:46] MingcongBai commented on #2241
All done (at least for Python 3). I am yet to find any reference to a possible fix for `ipaddress`.

@l2dy Please assign an AOSA for `python-3`.

[2021-03-15 06:47] MingcongBai commented on #2242
Superseded by #2794 . Closing.

[2021-03-15 06:47] #2242 closed, assigned to nobody

[2021-03-15 06:55] MingcongBai commented on #2249
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:55] #2249 closed, assigned to nobody

[2021-03-15 06:57] MingcongBai commented on #2252
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:57] #2252 closed, assigned to nobody

[2021-03-15 06:57] MingcongBai commented on #2255
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:57] #2255 closed, assigned to nobody

[2021-03-15 06:58] MingcongBai commented on #2258
Help still needed on this one.

[2021-03-15 06:59] MingcongBai commented on #2259
Perl updated to 5.32 with Core 8. @l2dy Please assign an AOSA.

[2021-03-15 06:59] #2259 closed, assigned to nobody

[2021-03-15 06:59] MingcongBai commented on #2262
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:59] #2262 closed, assigned to nobody

[2021-03-15 06:59] MingcongBai commented on #2264
All done. @l2dy Please assign an AOSA.

[2021-03-15 06:59] #2264 closed, assigned to nobody

[2021-03-15 07:00] MingcongBai commented on #2263
All done. @l2dy Please assign an AOSA.

[2021-03-15 07:00] #2263 closed, assigned to nobody

[2021-03-15 07:12] MingcongBai commented on #2269
Addressed by 06aba12fa318990831d2d8b1d63005616f46583b.

@l2dy Please assign an AOSA.

[2021-03-15 07:12] #2269 closed, assigned to nobody

[2021-03-15 07:17] MingcongBai commented on #2272
All done. @l2dy Please assign an AOSA.

[2021-03-15 07:17] #2272 closed, assigned to nobody

[2021-03-15 07:17] MingcongBai commented on #2273
Addressed with Core 8. @l2dy Please assign an AOSA.

[2021-03-15 07:17] #2273 closed, assigned to nobody

[2021-03-15 07:41] MingcongBai commented on #2280
All done. @l2dy Please assign an AOSA.

[2021-03-15 07:41] #2280 closed, assigned to nobody

[2021-03-15 07:42] MingcongBai commented on #2281
All done. @l2dy Please assign an AOSA.

[2021-03-15 07:42] #2281 closed, assigned to nobody

[2021-03-15 17:53] MingcongBai commented on #2287
All done. @l2dy Please assign an AOSA.

[2021-03-15 17:53] #2287 closed, assigned to nobody

[2021-03-15 18:07] MingcongBai commented on #2290
Addressed with 10b26e836d2c606988d85f152e63f1912cce0db9.

@l2dy Please assign an AOSA.

[2021-03-15 18:07] #2290 closed, assigned to nobody

[2021-03-15 18:18] MingcongBai commented on #2294
All done. @l2dy Please assign an AOSA.

[2021-03-15 18:18] #2294 closed, assigned to nobody

[2021-03-15 18:37] MingcongBai commented on #2744
Addressed with #2758 . Closing.

[2021-03-15 18:37] #2744 closed, assigned to nobody

[2021-03-15 18:38] MingcongBai commented on #2745
Addressed with dd7a8e6462ef0bbd4d90f9061b9b3dd57f4abe66. Closing.

[2021-03-15 18:38] #2745 closed, assigned to nobody

[2021-03-16 11:13] EchedelleLR commented on #2107
:3

[2021-03-16 21:21] MingcongBai commented on #2299
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:21] #2299 closed, assigned to nobody

[2021-03-16 21:21] MingcongBai commented on #2300
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:21] #2300 closed, assigned to nobody

[2021-03-16 21:22] MingcongBai commented on #2304
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:22] #2304 closed, assigned to nobody

[2021-03-16 21:22] MingcongBai commented on #2305
Addressed with e6a16f2de8de371f28f567737338f2d6ededf1d1. @l2dy Please assign an AOSA.

[2021-03-16 21:22] #2305 closed, assigned to nobody

[2021-03-16 21:44] MingcongBai commented on #2316
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:44] #2316 closed, assigned to nobody

[2021-03-16 21:45] MingcongBai commented on #2317
Addressed with 9fc459d98f1c8266dc167272a0c5f2a9f9b20f38. @l2dy Please assign an AOSA.

[2021-03-16 21:45] #2317 closed, assigned to nobody

[2021-03-16 21:48] MingcongBai commented on #2322
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:48] #2322 closed, assigned to nobody

[2021-03-16 21:48] MingcongBai commented on #2323
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:48] #2323 closed, assigned to nobody

[2021-03-16 21:53] MingcongBai commented on #2330
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:53] #2330 closed, assigned to nobody

[2021-03-16 21:53] MingcongBai commented on #2331
Addressed with 0907bec0d2111f78b1841bc8a7f825f57a669af6. @l2dy Please assign an AOSA.

[2021-03-16 21:53] #2331 closed, assigned to nobody

[2021-03-16 21:53] MingcongBai commented on #2354
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:53] #2354 closed, assigned to nobody

[2021-03-16 21:54] MingcongBai commented on #2355
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:54] #2355 closed, assigned to nobody

[2021-03-16 21:54] MingcongBai commented on #2360
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:54] #2360 closed, assigned to nobody

[2021-03-16 21:54] MingcongBai commented on #2361
All done. @l2dy Please assign an AOSA.

[2021-03-16 21:54] #2361 closed, assigned to nobody

[2021-03-16 21:55] MingcongBai commented on #2370
Addressed with 2f51fc241aa42cdf70af12ee78d6cdb3faefbc65. @l2dy Please assign an AOSA.

[2021-03-16 21:55] #2370 closed, assigned to nobody

[2021-03-17 00:35] MingcongBai commented on #363
Addressed with b2011f02c9832c62ae315a8ee1b4c9d4328f6dae. Closing.

[2021-03-17 00:35] #363 closed

[2021-03-17 00:51] MingcongBai commented on #536
Clearly Qt 4 is not yet ready to disappear from this world. Closing.

[2021-03-17 00:51] #536 closed

[2021-03-17 01:18] MingcongBai commented on #684
This most likely is an intended design - not a convenient one, but it's not our bug.

https://stackoverflow.com/questions/20611783/after-changing-hostname-gedit-and-other-x-clients-dont-open

Could be worth it to write an errata about this though.

[2021-03-17 01:18] #684 closed

[2021-03-17 01:25] MingcongBai commented on #586
Seems like the vast majority of packages are already marked. I have a few more to add.

[2021-03-17 03:28] sabazk opened #2870 "current 6-8-2020 kde image aarch64 rockpro64 pinebookpro"
kde plasma doesn't launch from sddm - blank screen or could not sync evironment to dbus in a small window in the corner
tried manual launch from console with wayland and X same result
tried commands below
To start Plasma with xinit/startx, append export DESKTOP_SESSION=plasma and exec startplasma-x11 to your .xinitrc file. If you want to start Xorg at login, please see Start X at login.
To start a

[2021-03-17 04:26] MingcongBai commented on #537
Nah. Let's not.

[2021-03-17 04:26] #537 closed

[2021-03-17 04:31] MingcongBai commented on #820
Proposing a drop in a new pull request.

[2021-03-17 04:31] #820 closed

[2021-03-17 05:00] MingcongBai commented on #935
No longer reproducible. Closing.

[2021-03-17 05:00] #935 closed

[2021-03-17 05:01] MingcongBai commented on #876
`love11` was introduced earlier.

[2021-03-17 05:01] #876 closed

[2021-03-17 05:02] MingcongBai commented on #1724
Orphaned in an upcoming PR. Closing.

This package could of course be re-introduced if their development picks up again.

[2021-03-17 05:02] #1724 closed, assigned to nobody

[2021-03-17 07:19] MingcongBai commented on #2870
@javan-z For the meanwhile, did you update your system?

@Icenowy Would you mind taking a look at this?

[2021-03-17 07:20] MingcongBai commented on #2870
@javan-z Issue moved. In the future, please report AOSC OS issues here.

[2021-03-17 07:22] Icenowy commented on #2870
Could you check `journalctl -xrb` for any error?

[2021-03-17 21:34] MingcongBai commented on #1389
Dropped in an upcoming PR. Closing.

If anyone cares to revive the project, it could be introduced again.

[2021-03-17 21:34] #1389 closed, assigned to nobody

[2021-03-17 21:39] MingcongBai commented on #1246
Refer to this [list](https://packages.aosc.io/qa/code/421) for remaining issues. Closing.

[2021-03-17 21:39] #1246 closed

[2021-03-17 21:40] MingcongBai commented on #1109
No longer reproducible with v1.2.0. Closing.

[2021-03-17 21:40] #1109 closed

[2021-03-17 21:42] MingcongBai commented on #1026
Introduced with e84abf44634b8f8a22d16e1c0d0f96af5c32e5c7 (v2.28). Closing.

@Artoria2e5 Thanks again for your work!

[2021-03-17 21:43] #1026 closed

[2021-03-17 22:06] MingcongBai commented on #1835
Dropped in an upcoming PR due to lack of maintenance. Closing.

[2021-03-17 22:06] #1835 closed, assigned to nobody

[2021-03-17 22:56] MingcongBai commented on #1943
@liushuyu Noted a reason for not moving there, yet. Would you mind elaborating here just for the record?

[2021-03-17 22:57] MingcongBai commented on #2109
Stalled (feature/design change) issue, closing. Please open a new issue if this thought arises again.

[2021-03-17 22:57] #2109 closed, assigned to nobody

[2021-03-17 22:59] MingcongBai commented on #2101
It's funny how few people cared. I will try and patch against 1.20.9-2.

[2021-03-17 23:11] MingcongBai commented on #2070
Dropped in an upcoming PR. Closing.

[2021-03-17 23:11] #2070 closed, assigned to nobody

[2021-03-17 23:11] MingcongBai commented on #2070
See #1389

[2021-03-19 03:05] MingcongBai commented on #2082
Dropping shared libbfd in next Core patch release (forgotten).

[2021-03-19 06:13] MingcongBai commented on #2194
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:13] #2194 closed, assigned to nobody

[2021-03-19 06:14] MingcongBai commented on #2237
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:14] #2237 closed, assigned to nobody

[2021-03-19 06:14] MingcongBai commented on #2239
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:14] #2239 closed, assigned to nobody

[2021-03-19 06:15] MingcongBai commented on #2243
@l2dy Please assign an AOSA.

[2021-03-19 06:15] #2243 closed, assigned to nobody

[2021-03-19 06:15] MingcongBai commented on #2241
Oops. A better choice would be to drop `ipaddress` altogether.

[2021-03-19 06:15] MingcongBai commented on #2247
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:15] #2247 closed, assigned to nobody

[2021-03-19 06:16] MingcongBai commented on #2250
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:16] #2250 closed, assigned to nobody

[2021-03-19 06:16] MingcongBai commented on #2248
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:16] #2248 closed, assigned to nobody

[2021-03-19 06:16] MingcongBai commented on #2268
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:16] #2268 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2271
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2271 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2274
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2274 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2276
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2276 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2283
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2283 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2292
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2292 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2293
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2293 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2295
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2295 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2313
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2313 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2319
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2319 closed, assigned to nobody

[2021-03-19 06:17] MingcongBai commented on #2675
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:17] #2675 closed, assigned to nobody

[2021-03-19 06:18] MingcongBai commented on #2325
All done. @l2dy Please assign an AOSA.

[2021-03-19 06:18] #2325 closed, assigned to nobody

[2021-03-19 06:38] Artoria2e5 commented on #119
icu58 has no layout engine at all, so I guess it's really just fixed.

[2021-03-19 06:42] MingcongBai commented on #119
Sounds good.

[2021-03-19 06:55] Artoria2e5 commented on #335
Current bin (jar) is at https://repo.e-hentai.org/hath/HentaiAtHome_1.6.1.zip; src is at https://repo.e-hentai.org/hath/HentaiAtHome_1.6.1_src.zip. No auth needed.

Might need a systemd unit for autostart, since they really care about uptime. Or just do the `screen` thing.

Claims need for java 8 through 11. Might be a fun thing to figure out why.

[2021-03-19 17:21] MingcongBai commented on #2258
This is actually a duplicated issue from #2118 , dedicated for Colin Percival's bsdiff (ref [Telegram]: @l2dy @Artoria2e5 ). Closing.

[2021-03-19 17:21] #2258 closed, assigned to nobody

[2021-03-20 05:25] MingcongBai commented on #2592
Addressed with #2882. Closing.

[2021-03-20 05:25] #2592 closed, assigned to nobody

[2021-03-20 05:25] MingcongBai commented on #502
Addressed with #2882. Closing.

[2021-03-20 05:25] #502 closed

[2021-03-20 05:25] MingcongBai commented on #507
Addressed with #2882. Closing.

[2021-03-20 05:25] #507 closed

[2021-03-20 05:26] MingcongBai commented on #803
Addressed with #2882. Closing.

[2021-03-20 05:26] #803 closed

[2021-03-20 05:26] MingcongBai commented on #586
Addressed with #2882. Closing.

[2021-03-20 05:26] #586 closed

[2021-03-20 05:26] MingcongBai commented on #845
Addressed with #2882. Closing.

[2021-03-20 05:26] #845 closed

[2021-03-20 05:26] MingcongBai commented on #945
Addressed with #2882. Closing.

[2021-03-20 05:26] #945 closed

[2021-03-20 05:27] MingcongBai commented on #1631
Addressed with #2882. Closing.

[2021-03-20 05:27] #1631 closed, assigned to nobody

[2021-03-20 05:27] MingcongBai commented on #1618
Addressed with #2882. Closing.

[2021-03-20 05:27] #1618 closed, assigned to nobody

[2021-03-20 05:27] MingcongBai commented on #1556
Addressed with #2882. Closing.

[2021-03-20 05:27] #1556 closed, assigned to nobody

[2021-03-20 05:27] MingcongBai commented on #1939
Addressed with #2882. Closing.

[2021-03-20 05:27] #1939 closed, assigned to nobody

[2021-03-20 05:27] MingcongBai commented on #2029
Addressed with #2882. Closing.

[2021-03-20 05:27] #2029 closed, assigned to nobody

[2021-03-20 05:28] MingcongBai commented on #2101
Addressed with #2882. Closing.

[2021-03-20 05:28] #2101 closed, assigned to nobody

[2021-03-20 05:28] MingcongBai commented on #2096
Addressed with #2882. Closing.

[2021-03-20 05:28] #2096 closed, assigned to nobody

[2021-03-20 05:28] MingcongBai commented on #2065
Addressed with #2882. Closing.

[2021-03-20 05:28] #2065 closed, assigned to nobody

[2021-03-21 13:29] l2dy commented on #2225
Use AOSA-2021-0008.

[2021-03-21 13:29] l2dy commented on #2226
Use AOSA-2021-0009.

[2021-03-21 13:30] l2dy commented on #2227
Use AOSA-2021-0010.

[2021-03-21 13:30] l2dy commented on #2234
Use AOSA-2021-0011.

[2021-03-21 13:30] l2dy commented on #2236
Use AOSA-2021-0012.

[2021-03-21 13:30] l2dy commented on #2240
Use AOSA-2021-0013.

[2021-03-21 13:32] l2dy commented on #2249
Use AOSA-2021-0014.

[2021-03-21 13:32] l2dy commented on #2252
Use AOSA-2021-0015.

[2021-03-21 13:32] l2dy commented on #2255
Use AOSA-2021-0016.

[2021-03-21 13:32] l2dy commented on #2259
Use AOSA-2021-0017.

[2021-03-21 13:32] l2dy commented on #2262
Use AOSA-2021-0018.

[2021-03-21 13:33] l2dy commented on #2264
Use AOSA-2021-0019.

[2021-03-21 13:33] l2dy commented on #2263
Use AOSA-2021-0020.

[2021-03-21 13:33] l2dy commented on #2269
Use AOSA-2021-0021.

[2021-03-21 13:33] l2dy commented on #2272
Use AOSA-2021-0022.

[2021-03-21 13:33] l2dy commented on #2273
Use AOSA-2021-0023.

[2021-03-21 13:33] l2dy commented on #2280
Use AOSA-2021-0024.

[2021-03-21 13:33] l2dy commented on #2281
Use AOSA-2021-0025.

[2021-03-21 13:33] l2dy commented on #2287
Use AOSA-2021-0026.

[2021-03-21 13:33] l2dy commented on #2290
Use AOSA-2021-0027.

[2021-03-21 13:33] l2dy commented on #2294
Use AOSA-2021-0028.

[2021-03-21 13:33] l2dy commented on #2299
Use AOSA-2021-0029.

[2021-03-21 13:33] l2dy commented on #2300
Use AOSA-2021-0030.

[2021-03-21 13:34] l2dy commented on #2304
Use AOSA-2021-0031.

[2021-03-21 13:34] l2dy commented on #2305
Use AOSA-2021-0032.

[2021-03-21 13:34] l2dy commented on #2316
Use AOSA-2021-0033.

[2021-03-21 13:34] l2dy commented on #2317
Use AOSA-2021-0034.

[2021-03-21 13:34] l2dy commented on #2322
Use AOSA-2021-0035.

[2021-03-21 13:34] l2dy commented on #2323
Use AOSA-2021-0036.

[2021-03-21 13:35] l2dy commented on #2330
Use AOSA-2021-0037.

[2021-03-21 13:35] l2dy commented on #2331
Use AOSA-2021-0038.

[2021-03-21 13:36] l2dy commented on #2241
Use AOSA-2021-0039 for `python-3`.

[2021-03-21 13:37] l2dy commented on #2354
Use AOSA-2021-0040.

[2021-03-21 13:37] l2dy commented on #2355
Use AOSA-2021-0041.

[2021-03-21 13:37] l2dy commented on #2360
Use AOSA-2021-0042.

[2021-03-21 13:37] l2dy commented on #2361
Use AOSA-2021-0043.

[2021-03-21 13:37] l2dy commented on #2370
Use AOSA-2021-0044.

[2021-03-21 13:37] l2dy commented on #2194
Use AOSA-2021-0045.

[2021-03-21 13:37] l2dy commented on #2237
Use AOSA-2021-0046.

[2021-03-21 13:37] l2dy commented on #2239
Use AOSA-2021-0047.

[2021-03-21 13:37] l2dy commented on #2243
Use AOSA-2021-0048.

[2021-03-21 13:39] l2dy commented on #2247
Use AOSA-2021-0049.

[2021-03-21 13:39] l2dy commented on #2250
Use AOSA-2021-0050.

[2021-03-21 13:39] l2dy commented on #2248
Use AOSA-2021-0051.

[2021-03-21 13:40] l2dy commented on #2268
Use AOSA-2021-0052.

[2021-03-21 13:40] l2dy commented on #2271
Use AOSA-2021-0053.

[2021-03-21 13:40] l2dy commented on #2274
Use AOSA-2021-0054.

[2021-03-21 13:40] l2dy commented on #2276
Use AOSA-2021-0055.

[2021-03-21 13:40] l2dy commented on #2283
Use AOSA-2021-0056.

[2021-03-21 13:40] l2dy commented on #2292
Use AOSA-2021-0057.

[2021-03-21 13:40] l2dy commented on #2293
Use AOSA-2021-0058.

[2021-03-21 13:40] l2dy commented on #2295
Use AOSA-2021-0059.

[2021-03-21 13:40] l2dy commented on #2313
Use AOSA-2021-0060.

[2021-03-21 13:40] l2dy commented on #2319
Use AOSA-2021-0061.

[2021-03-21 13:41] l2dy commented on #2675
Use AOSA-2021-0062.

[2021-03-21 13:41] l2dy commented on #2325
Use AOSA-2021-0063.

[2021-03-23 03:05] MingcongBai opened #2892 "webkit2gtk: security update to 2.30.6"
**CVE IDs:** CVE-2020-27918, CVE-2020-29623, CVE-2020-9947, CVE-2021-1765, CVE-2021-1789, CVE-2021-1799, CVE-2021-1801, CVE-2021-1870.

**Other security advisory IDs:** [WSA-2021-0002](https://webkitgtk.org/security/WSA-2021-0002.html)

**Description:** See [WSA-2021-0002](https://webkitgtk.org/security/WSA-2021-0002.html).

**Patches:** N/A

**PoC(s):** N/A

**Topic PR**: #2893

[2021-03-23 05:17] MingcongBai commented on #2892
All done. @l2dy Please assign an AOSA.

[2021-03-23 05:17] #2892 closed, assigned to nobody

[2021-03-23 16:04] l2dy commented on #2892
Use AOSA-2021-0064.

[2021-03-29 22:06] MingcongBai opened #2922 "webkit2gtk: security update to 2.32.0"
**CVE IDs:** CVE-2021-1788, CVE-2021-1844, CVE-2021-1871.

**Other security advisory IDs:** [WSA-2021-0003](https://webkitgtk.org/security/WSA-2021-0003.html)

**Description:**

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** #2957

[2021-03-29 22:06] MingcongBai commented on #2922
@l2dy FYI, only GNOME 40.0 is compatible with this new version. Working on GNOME 40 as we speak.

[2021-03-29 22:13] MingcongBai opened #2923 "openssl: security update to 1.1.1k"
**CVE IDs:** CVE-2021-3449, CVE-2021-3450.

**Other security advisory IDs:** N/A

**Description:**

CVE-2021-3449:

[code]

CVE-2021-3450:

[code]

Notes on 1.0.2 (`openssl+1.0`):

OpenSSL 1.0.2 is **not impacted** by this issue (both CVEs).

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** #2934

[2021-03-29 22:16] MingcongBai opened #2924 "spamassassin: security update to 3.4.5"
**CVE IDs:** CVE-2020-1946

**Other security advisory IDs:** N/A

**Description:**

In Apache SpamAssassin before 3.4.5, malicious rule configuration (.cf) files can be configured to run system commands without any output or errors. With this, exploits can be injected in a number of scenarios.  In addition to upgrading to SA version 3.4.5, users should only use update channels or 3rd party .cf fil

[2021-03-29 22:26] MingcongBai opened #2925 "django: security update to 3.2.2"
**CVE IDs:** CVE-2021-23336, CVE-2021-28658, CVE-2021-31542, CVE-2021-32052

**Other security advisory IDs:** [bpo-42967](https://bugs.python.org/issue42967)

**Description:**

CVE-2021-23336

[code]

CVE-2021-28658

[code]

CVE-2021-31542

[code]

CVE-2021-32052

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** Pending.

[2021-03-29 22:28] MingcongBai opened #2926 "privoxy: security update to 3.0.29"
**CVE IDs:** CVE-2020-35502, CVE-2021-20209, CVE-2021-20210, CVE-2021-20211, CVE-2021-20212, CVE-2021-20213, CVE-2021-20214, CVE-2021-20215.

**Other security advisory IDs:** OVE-20201118-0001, OVE-20201118-0002, OVE-20201118-0003, OVE-20201118-0004, OVE-20201118-0005, OVE-20201118-0006, OVE-20201118-0007, OVE-20201118-0008.

**Description:**

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:

[2021-03-29 22:31] MingcongBai opened #2927 "freetype: security update to 2.10.4"
**CVE IDs:** CVE-2020-15999

**Other security advisory IDs:** N/A

**Description:**

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** Pending.

[2021-03-29 22:34] MingcongBai opened #2928 "libass: Overflows in Outline Processing"
**CVE IDs:** CVE-2020-26682

**Other security advisory IDs:** [libass #431](https://github.com/libass/libass/issues/431)

**Description:**

[code]

**Patches:** Yes, [#432](https://github.com/libass/libass/pull/432)

**PoC(s):** N/A

**Topic PR:** Pending.

[2021-03-31 06:25] MingcongBai opened #2935 "curl: security update to 7.76.0"
**CVE IDs:** CVE-2021-22876, CVE-2021-22890.

**Other security advisory IDs:** N/A

**Description:**

CVE-2021-22876:

[code]

CVE-2021-22890:

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:**  #2936

[2021-04-01 02:02] #2923 closed, assigned to nobody

[2021-04-03 18:01] MingcongBai commented on #2923
@l2dy Please assign an AOSA.

[2021-04-08 05:00] MingcongBai commented on #2935
All done. @l2dy Please assign an AOSA.

[2021-04-08 05:00] #2935 closed, assigned to nobody

[2021-04-11 14:46] l2dy commented on #2923
Use AOSA-2021-0065.

[2021-04-11 14:46] l2dy commented on #2935
Use AOSA-2021-0066.

[2021-04-12 18:36] MingcongBai opened #2975 "commons-io: security update to 2.7"
**CVE IDs:** CVE-2021-29425

**Other security advisory IDs:** IO-556, IO-559

**Description:**

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** Pending.

[2021-04-12 18:38] MingcongBai opened #2976 "firefox: security update to 87.0"
**CVE IDs:** CVE-2021-23981, CVE-2021-23982, CVE-2021-23983, CVE-2021-23984, CVE-2021-23985, CVE-2021-23986, CVE-2021-23987, CVE-2021-23988

**Other security advisory IDs:** [mfsa2021-10](https://www.mozilla.org/en-US/security/advisories/mfsa2021-10/)

**Description:**

See [mfsa2021-10](https://www.mozilla.org/en-US/security/advisories/mfsa2021-10/).

**Patches:** N/A

**PoC(s):** N/A

**Topic PR

[2021-04-12 18:39] MingcongBai commented on #2976
All done. @l2dy Please assign an AOSA.

[2021-04-12 18:39] #2976 closed, assigned to nobody

[2021-04-12 18:42] MingcongBai opened #2977 "thunderbird: security update to 78.9.1"
**CVE IDs:** CVE-2021-23981, CVE-2021-23982, CVE-2021-23984, CVE-2021-23987, CVE-2021-23991, CVE-2021-23992, CVE-2021-23993, MOZ-2021-0002

**Other security advisory IDs:** [mfsa2021-12](https://www.mozilla.org/en-US/security/advisories/mfsa2021-12/), [mfsa2021-13](https://www.mozilla.org/en-US/security/advisories/mfsa2021-13/)

**Description:**

See [mfsa2021-12](https://www.mozilla.org/en-US/sec

[2021-04-12 18:42] MingcongBai commented on #2977
@cthbleachbit Please rebase your `thunderbird-78.9.0` branch for `thunderbird-78.9.1`.

[2021-04-13 04:06] l2dy commented on #2976
Use AOSA-2021-0067.

[2021-04-14 04:26] MingcongBai opened #2980 "xorg-server: security update to 1.20.11"
**CVE IDs:** CVE-2021-3472

**Other security advisory IDs:** ZDI-CAN-1259

**Description:**

[code]

**Patches:** N/A (but patch available via 7aaf54a1884f71dc363f0b884e57bcb67407a6cd)

**PoC(s):** N/A

**Topic PR:** #2981

[2021-04-14 05:43] MingcongBai commented on #2980
@l2dy All done. Please assign an AOSA.

[2021-04-14 05:43] #2980 closed, assigned to nobody

[2021-04-14 12:06] l2dy commented on #2980
Use AOSA-2021-0068.

[2021-04-15 07:17] MingcongBai opened #2989 "ceph: unauthorized global_id reuse in cephx (CVE-2021-20288)"
**CVE IDs:** CVE-2021-20288

**Other security advisory IDs:** N/A

**Description:**

[code]

**Patches:** https://github.com/ceph/ceph/commit/33244522fa277ace4054f36885daebd01f35a3ee, https://github.com/ceph/ceph/commit/9f3efe7cd1a780b91e5c8cfee192a0c51d0151dc

**PoC(s):** N/A

**Topic PR:** Pending.

[2021-04-15 07:20] MingcongBai opened #2990 "chromium, google-chrome: security update to 90.0.4430.72"
**CVE IDs:** CVE-2021-21201, CVE-2021-21202, CVE-2021-21203, CVE-2021-21204, CVE-2021-21205, CVE-2021-21207, CVE-2021-21208, CVE-2021-21209, CVE-2021-21210, CVE-2021-21211, CVE-2021-21212, CVE-2021-21213, CVE-2021-21214, CVE-2021-21215, CVE-2021-21216, CVE-2021-21217, CVE-2021-21218, CVE-2021-21219, CVE-2021-21221

**Other security advisory IDs:** N/A

**Description:**

See [upstream announcement]

[2021-04-15 18:50] MingcongBai opened #2994 "nodejs: security update to 14.16.1"
**CVE IDs:** CVE-2020-7774, CVE-2021-3449, CVE-2021-3450, CVE-2021-22883, CVE-2021-22884, CVE-2021-23840

**Other security advisory IDs:** N/A

**Description:**

v14.16.0

- CVE-2021-22883: HTTP2 'unknownProtocol' cause Denial of Service by resource exhaustion
  - Affected Node.js versions are vulnerable to denial of service attacks when too many connection attempts with an 'unknownProtocol' are e

[2021-04-16 05:08] #2977 closed, assigned to cthbleachbit

[2021-04-16 05:09] MingcongBai commented on #2977
@l2dy All done. Please assign an AOSA.

[2021-04-17 08:02] #2994 closed, assigned to eatradish

[2021-04-17 08:23] MingcongBai commented on #2994
@l2dy All done. Please assign an AOSA.

[2021-04-19 22:21] #2990 closed, assigned to nobody

[2021-04-19 22:21] MingcongBai commented on #2990
@l2dy All done, please assign an AOSA.

[2021-04-20 20:57] RedL0tus opened #3007 "firefox: security update to 88.0"
**CVE IDs:** CVE-2021-23994, CVE-2021-23995, CVE-2021-23996, CVE-2021-23997, CVE-2021-23998, CVE-2021-23999, CVE-2021-24000, CVE-2021-24001, CVE-2021-24002, CVE-2021-29945, CVE-2021-29944, CVE-2021-29946, CVE-2021-29947

**Other security advisory IDs:** [`MFSA2021-16`](https://www.mozilla.org/en-US/security/advisories/mfsa2021-16/)

**Description:**

 - CVE-2021-23994 (Out of bound write due to la

[2021-04-21 01:44] #3007 closed, assigned to nobody

[2021-04-21 01:44] MingcongBai commented on #3007
@l2dy All done. Please assign an AOSA.

[2021-05-03 01:59] l2dy commented on #2977
Use AOSA-2021-0069.

[2021-05-03 01:59] l2dy commented on #2994
Use AOSA-2021-0070.

[2021-05-03 01:59] l2dy commented on #2990
Use AOSA-2021-0071.

[2021-05-03 01:59] l2dy commented on #3007
Use AOSA-2021-0072.

[2021-05-05 23:08] liushuyu opened #3049 "openjdk-8: security update to 8u292"
**CVE IDs:** CVE-2021-2163, CVE-2021-2161

**Other security advisory IDs:** JDK-8249906, JDK-8250568

**Description:**

https://mail.openjdk.java.net/pipermail/jdk8u-dev/2021-April/013680.html

  - JDK-8227467: Better class method invocations
  - JDK-8244473: Contextualize registration for JNDI
  - JDK-8244543: Enhanced handling of abstract classes
  - JDK-8249906, CVE-2021-2163: Enhance opening J

[2021-05-07 21:42] MingcongBai commented on #2922
All done. @l2dy Please assign an AOSA.

[2021-05-07 21:42] #2922 closed, assigned to nobody

[2021-05-07 22:31] MingcongBai commented on #2928
Updating to v0.15.1 instead.

[2021-05-10 08:08] MingcongBai opened #3064 "firefox: security update to 88.0.1"
**CVE IDs:** CVE-2021-29952, CVE-2021-29953

**Other security advisory IDs:** [MFSA2021-20](https://www.mozilla.org/en-US/security/advisories/mfsa2021-20/)

**Description:**

See [MFSA2021-20](https://www.mozilla.org/en-US/security/advisories/mfsa2021-20/)

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** #3065

[2021-05-10 08:17] liushuyu opened #3066 "openjdk: security update to 11.0.11"
**CVE IDs:** CVE-2021-2163, CVE-2021-2161

**Other security advisory IDs:** JDK-8249906, JDK-8250568

**Description:**

https://mail.openjdk.java.net/pipermail/jdk-updates-dev/2021-April/005860.html

  - JDK-8244473: Contextualize registration for JNDI
  - JDK-8244543: Enhanced handling of abstract classes
  - JDK-8249906, CVE-2021-2163: Enhance opening JARs
  - JDK-8250568, CVE-2021-2161: Less am

[2021-05-13 00:11] #3049 closed, assigned to nobody

[2021-05-13 09:00] MingcongBai commented on #3049
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:01] MingcongBai commented on #2924
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:01] #2924 closed, assigned to nobody

[2021-05-13 09:02] #2925 closed, assigned to nobody

[2021-05-13 09:02] MingcongBai commented on #2925
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:07] #2926 closed, assigned to nobody

[2021-05-13 09:07] MingcongBai commented on #2926
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:08] #2927 closed, assigned to nobody

[2021-05-13 09:08] MingcongBai commented on #2927
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:10] #2928 closed, assigned to nobody

[2021-05-13 09:10] MingcongBai commented on #2928
@l2dy All done. Please assign an AOSA.

[2021-05-13 09:11] #3064 closed, assigned to nobody

[2021-05-13 09:11] MingcongBai commented on #3064
@l2dy All done. Please assign an AOSA.

[2021-05-17 05:43] liushuyu opened #3088 "php7: security update to 7.4.19"
**CVE IDs:** CVE-2021-21702, CVE-2020-7071, CVE-2020-7070, CVE-2020-7069

**Other security advisory IDs:** N/A

**Description:**

https://www.php.net/ChangeLog-7.php#PHP_7_4

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** #3089

[2021-05-17 07:14] #3088 closed, assigned to nobody

[2021-05-17 07:21] MingcongBai commented on #3088
All done. @l2dy please assign an AOSA.

[2021-05-19 06:07] #3066 closed, assigned to nobody

[2021-05-20 20:36] liushuyu opened #3103 "deno: security update to 1.10.2"
**CVE IDs:** CVE-2021-32619

**Other security advisory IDs:** N/A

**Description:**

[code]

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** #3104

[2021-05-20 23:36] #3103 closed, assigned to nobody

[2021-05-26 01:55] MingcongBai opened #3115 "chromium, google-chrome: security update to 91.0.4472.77"
**CVE IDs:** CVE-2021-21212, CVE-2021-30521, CVE-2021-30522, CVE-2021-30523, CVE-2021-30524, CVE-2021-30525, CVE-2021-30526, CVE-2021-30527, CVE-2021-30528, CVE-2021-30529, CVE-2021-30530, CVE-2021-30531, CVE-2021-30532, CVE-2021-30533, CVE-2021-30534, CVE-2021-30535, CVE-2021-30536, CVE-2021-30537, CVE-2021-30538, CVE-2021-30539, CVE-2021-30540.

**Other security advisory IDs:** N/A

**Descriptio

[2021-05-29 14:42] l2dy commented on #2922
Use AOSA-2021-0073.

[2021-05-29 14:42] l2dy commented on #3049
Use AOSA-2021-0074.

[2021-05-29 14:42] l2dy commented on #2924
Use AOSA-2021-0075.

[2021-05-29 14:42] l2dy commented on #2925
Use AOSA-2021-0076.

[2021-05-29 14:42] l2dy commented on #2926
Use AOSA-2021-0077.

[2021-05-29 14:42] l2dy commented on #2927
Use AOSA-2021-0078.

[2021-05-29 14:42] l2dy commented on #2928
Use AOSA-2021-0079.

[2021-05-29 14:42] l2dy commented on #3064
Use AOSA-2021-0080.

[2021-05-29 14:42] l2dy commented on #3088
Use AOSA-2021-0081.

[2021-06-04 06:02] MingcongBai opened #3136 "firefox: security update to 89.0"
**CVE IDs:** CVE-2021-29959, CVE-2021-29960, CVE-2021-29961, CVE-2021-29962, CVE-2021-29963, CVE-2021-29964, CVE-2021-29965, CVE-2021-29966, CVE-2021-29967

**Other security advisory IDs:** [MFSA2021-23](https://www.mozilla.org/en-US/security/advisories/mfsa2021-23)

**Description:**

See [MFSA2021-23](https://www.mozilla.org/en-US/security/advisories/mfsa2021-23).

**Patches:** N/A

**PoC(s):** N

[2021-06-05 15:28] l2dy opened #3141 "thunderbird: security update to 78.11.0"
**CVE IDs:** CVE-2021-29964, CVE-2021-29967

**Other security advisory IDs:** N/A

**Description:**
CVE-2021-29964: Out of bounds-read when parsing a `WM_COPYDATA` message
CVE-2021-29967: Memory safety bugs fixed in Thunderbird 78.11

**Patches:** N/A

**PoC(s):**

**Topic PR:** #3230

[2021-06-05 15:40] l2dy opened #3142 "opera: security update to 76.0.4017.177"
**CVE IDs:** CVE-2021-30506, CVE-2021-30507, CVE-2021-30508, CVE-2021-30509, CVE-2021-30510, CVE-2021-30511, CVE-2021-30512, CVE-2021-30513, CVE-2021-30514, CVE-2021-30515, CVE-2021-30516, CVE-2021-30517, CVE-2021-30518, CVE-2021-30519, CVE-2021-30520

**Other security advisory IDs:** openSUSE-SU-2021:0829-1

**Description:**
   - The update to chromium 90.0.4430.212 fixes following issues:
     C

[2021-06-05 16:31] l2dy opened #3143 "ceph: security update to 15.2.12"
**CVE IDs:** CVE-2021-3509, CVE-2021-3524, CVE-2021-3531

**Other security advisory IDs:** openSUSE-SU-2021:0833-1

**Description:**
https://docs.ceph.com/en/latest/releases/octopus/#v15-2-12-octopus

* mgr/dashboard: fix cookie injection issue (CVE-2021-3509: Dashboard XSS via token cookie, Ernesto Puerta)
* rgw: RGWSwiftWebsiteHandler::is_web_dir checks empty subdir_name (CVE-2021-3531: Swift AP

[2021-06-06 05:33] l2dy opened #3146 "redis: security update to 6.2.4"
**CVE IDs:** CVE-2021-32625, CVE-2021-29477, CVE-2021-29478

**Other security advisory IDs:** RHSA-2021:2034-01, openSUSE-SU-2021:0841-1

**Description:**
Fix integer overflow in STRALGO LCS (CVE-2021-32625)
An integer overflow bug in Redis version 6.0 or newer can be exploited using the
STRALGO LCS command to corrupt the heap and potentially result with remote code
execution. This is a result of

[2021-06-06 05:39] cthbleachbit opened #3148 "polkit: CVE-2021-3560 fixed in 0.119"
### CVE IDs:

* CVE-2021-3560: local privilege escalation using `polkit_system_bus_name_get_creds_sync()`

### Other security advisory IDs:

* RedHat Bugzilla ID [1961710](https://bugzilla.redhat.com/show_bug.cgi?id=1961710)
* [USN-4980-1](https://ubuntu.com/security/notices/USN-4980-1)

### Description - from RH bugzilla

The function polkit_system_bus_name_get_creds_sync is used to get the uid a

[2021-06-06 06:34] #3148 closed, assigned to nobody

[2021-06-07 05:54] #3115 closed, assigned to nobody

[2021-06-07 08:22] MingcongBai commented on #3066
@l2dy All done. Please assign an AOSA.

[2021-06-07 08:22] MingcongBai commented on #3103
@l2dy All done. Please assign an AOSA.

[2021-06-07 08:22] MingcongBai commented on #3115
@l2dy All done. Please assign an AOSA.

[2021-06-07 08:22] MingcongBai commented on #3148
@l2dy All done. Please assign an AOSA.

[2021-06-07 08:22] #3136 closed, assigned to nobody

[2021-06-08 04:15] OriginCode opened #3154 "aiohttp: security update to 3.7.4.post0"
**CVE IDs: CVE-2021-21330**

**Description:**
An open redirect flaw was found in python-aiohttp. This flaw allows a remote, unauthenticated attacker to trick users into visiting a malicious webpage, disguised as a legitimate webpage and affects applications using the normalize_path_middleware functionality. The highest threat from this vulnerability is to confidentiality and integrity.

**Patches:

[2021-06-08 06:14] #3154 closed, assigned to nobody

[2021-06-18 05:49] #3146 closed, assigned to nobody

[2021-06-18 18:11] Fearyncess opened #3190 "vivaldi: security update to 4.0.2312.27"
**CVE IDs:** CVE-2021-21212, CVE-2021-30521, CVE-2021-30522, CVE-2021-30523, CVE-2021-30524, CVE-2021-30525, CVE-2021-30526, CVE-2021-30527, CVE-2021-30528, CVE-2021-30529, CVE-2021-30530, CVE-2021-30531, CVE-2021-30532, CVE-2021-30533, CVE-2021-30534, CVE-2021-30535, CVE-2021-30536, CVE-2021-30537, CVE-2021-30538, CVE-2021-30539, CVE-2021-30540.

**Other security advisory IDs:** N/A

**Descriptio

[2021-06-18 18:17] #3190 closed, assigned to nobody

[2021-06-18 18:17] MingcongBai commented on #3190
All done. @l2dy Please assign an AOSA.

[2021-06-21 06:14] MingcongBai opened #3195 "postgresql: security update to 13.3"
**CVE IDs:** CVE-2021-32027, CVE-2021-32028, CVE-2021-32029

**Other security advisory IDs:** N/A

**Description:**

See [Release Notes](https://www.postgresql.org/docs/13/release-13-3.html).

**Patches:** N/A

**PoC(s):** N/A

**Topic PR:** N/A

[2021-06-21 21:40] #3195 closed, assigned to nobody

[2021-06-21 21:49] MingcongBai commented on #3195
All done. @l2dy Please assign an AOSA.

[2021-06-30 23:27] MingcongBai opened #3227 "xrdp: compromised package containing private keys"
**CVE IDs:** N/A

**Other security advisory IDs:** AOSA pending. @l2dy

**Description:**

The `xrdp` package contains build-time generated `/etc/xrdp/cert.pem` and `/etc/xrdp/key.pem`, which are then shipped with every system distribution with this package installed. This compromises security by shipping identical private keys across multiple devices.

**Patches:** N/A

**Topic PR:** #3228

[2021-07-01 00:20] #3227 closed, assigned to nobody

[2021-07-01 00:23] MingcongBai commented on #3227
All done. @l2dy Please assign an AOSA.

[2021-07-01 14:38] l2dy commented on #3066
Use AOSA-2021-0082.

[2021-07-01 14:38] l2dy commented on #3103
Use AOSA-2021-0083.

[2021-07-01 14:38] l2dy commented on #3115
Use AOSA-2021-0084.

[2021-07-01 14:38] l2dy commented on #3148
Use AOSA-2021-0085.

[2021-07-01 14:38] l2dy commented on #3190
Use AOSA-2021-0086.

[2021-07-01 14:38] l2dy commented on #3195
Use AOSA-2021-0087.

[2021-07-01 14:38] l2dy commented on #3227
Use AOSA-2021-0088.

[2021-07-03 06:00] cthbleachbit opened #3237 "OpenLDAP: security update 2.4.59"
**CVE IDs:**

CVE-2021-27212,CVE-2020-36230,CVE-2020-36229,CVE-2020-36228,CVE-2020-36227,CVE-2020-36226,CVE-2020-36225,CVE-2020-36224,CVE-2020-36223,CVE-2020-36222,CVE-2020-36221,CVE-2020-25710,CVE-2020-25709

**Description:**

This issue covers 13 CVEs since 2.4.53.

**Topic PR:** #3220

[2021-07-03 06:06] cthbleachbit opened #3238 "openssh: Security update to 8.6p1"
**CVE IDs:** CVE-2021-28041, CVE-2020-15778, CVE-2020-14145

**Description:**

CVE-2021-28041: ssh-agent in OpenSSH before 8.5 has a double free that may be relevant in a few less-common scenarios, such as unconstrained agent-socket access on a legacy operating system, or the forwarding of an agent to an attacker-controlled host.

CVE-2020-15778: scp in OpenSSH through 8.3p1 allows command injecti

[2021-07-03 06:11] cthbleachbit opened #3239 "sudo: Privilege escalation via sudoedit"
**CVE IDs:** CVE-2021-3156

**Other security advisory IDs:** dsa-4839

**Description:**

Sudo before 1.9.5p2 contains an off-by-one error that can result in a heap-based buffer overflow, which allows privilege escalation to root via "sudoedit -s" and a command-line argument that ends with a single backslash character.

**Patches:** N/A, updating to 1.9.7p1 as part of survey

**Topic PR:** #3220

[2021-07-05 15:30] MingcongBai commented on #3239
All done. @l2dy Please assign an AOSA.

[2021-07-05 15:30] #3239 closed, assigned to nobody

[2021-07-05 15:30] MingcongBai commented on #3238
All done. @l2dy Please assign an AOSA.

[2021-07-05 15:30] #3238 closed, assigned to nobody

[2021-07-05 15:31] MingcongBai commented on #3237
All done. @l2dy Please assign an AOSA.

[2021-07-05 15:31] #3237 closed, assigned to nobody

[2021-07-05 15:32] MingcongBai opened #3251 "expat: security update to 2.4.1"
**CVE IDs:** CVE-2013-0340

**Description:**

See [CVE-2013-0340 "Billion Laughs" fixed in Expat 2.4.0](https://blog.hartwork.org/posts/cve-2013-0340-billion-laughs-fixed-in-expat-2-4-0/).

**Patches:** N/A

**Topic PR:** Pending.

[2021-07-08 09:04] eatradish opened #3258 "nodejs: CVE-2021-22918, CVE-2021-22921, CVE-2021-27290, CVE-2021-23362"
**CVE IDs**: CVE-2021-22918, CVE-2021-22921, CVE-2021-27290, CVE-2021-23362

**Description:**
https://nodejs.org/en/blog/vulnerability/july-2021-security-releases/

**Patches:**  N/A (Release 14.17.3)

**PoC(s):**

**Topic PR:** #3257

[2021-07-09 06:37] #3258 closed, assigned to nobody

[2021-07-10 19:52] KexyBiscuit opened #3261 "exa: man pages are not copied"
Bug description
-----------------------

Reported by @aran-w, title explains.

Steps to reproduce
---------------------------

`man exa`

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

[code]

[2021-07-19 07:59] eatradish opened #3286 "firefox: security update to 90.0"
### CVE IDs

CVE-2021-29970, CVE-2021-29971, CVE-2021-29972, CVE-2021-30547, CVE-2021-29973, CVE-2021-29974, CVE-2021-29975, CVE-2021-29976, CVE-2021-29977

### Other security advisory IDs

nothing

### Description

https://www.mozilla.org/en-US/security/advisories/mfsa2021-28/

### Patches

Firefox 90.0

### PoC(s)

nothing

### Topic PR

#3285

[2021-07-19 08:36] #3286 closed, assigned to nobody

[2021-07-19 08:47] MingcongBai commented on #3286
All done. @l2dy Please assign an AOSA.

[2021-07-19 12:47] l2dy commented on #3237
Use AOSA-2021-0091.

[2021-07-19 12:47] l2dy commented on #3238
Use AOSA-2021-0090.

[2021-07-19 12:47] l2dy commented on #3239
Use AOSA-2021-0089.

[2021-07-19 12:47] l2dy commented on #3286
Use AOSA-2021-0092.

[2021-07-20 08:16] WordlessEcho opened #3289 "pakreq: kweather"
URL: https://github.com/KDE/kweather

Description: A convergent weather application for Plasma.

[2021-07-21 16:13] taoky opened #3291 "broadcom-wl: kernel module cannot be compiled under Linux 5.13.0"
## Package & system version

- broadcom-wl 6.30.223.271-4
- dkms 1:2.8.3
- linux-kernel-5.13.0 1:5.13.0
- gcc 10.3.1+git20210510

[code]

## Bug description

Broadcom wl kernel modules cannot be built successfully when installing `broadcom-wl` package.

The contents of `/var/lib/dkms/broadcom-wl/6.30.223.271/build/make.log`:

[code]

## Steps to reproduce

`sudo apt install broadcom-wl`

It seems

[2021-07-22 06:58] OriginCode opened #3292 "curl: security update to 7.78.0"
### CVE IDs

CVE-2021-22922,CVE-2021-22923,CVE-2021-22924,CVE-2021-22925,CVE-2021-22926,CVE-2021-22897,CVE-2021-22898,CVE-2021-22901

### Other security advisory IDs

(null)

### Description

Wrong content via metalink not discarded;
Metalink download sends credentials;
Bad connection reuse due to flawed path name checks;
TELNET stack contents disclosure again;
CURLOPT_SSLCERT mixup with Secure Tr

[2021-07-24 06:43] liushuyu opened #3297 "openjdk-8: security update to 8u302"
### CVE IDs

CVE-2021-2341, CVE-2021-2369, CVE-2021-2388

### Other security advisory IDs

JDK-8258432, JDK-8260967, JDK-8264066

### Description

[code]

### Patches

N/A

### PoC(s)

N/A

### Topic PR

PENDING

[2021-07-24 06:45] liushuyu opened #3298 "openjdk: update to 11.0.12"
### CVE IDs

CVE-2021-2341, CVE-2021-2369, CVE-2021-2388

### Other security advisory IDs

JDK-8258432, JDK-8260967, JDK-8264066

### Description

[code]

### Patches

N/A

### PoC(s)

N/A

### Topic PR

PENDING

[2021-07-24 21:36] cthbleachbit opened #3301 "Linux Kernel: Privilege escalation from out-of-bound writes and integer overflow"
### CVE IDs

CVE-2021-33909

### Other security advisory IDs

* [DSA-4941](https://www.debian.org/security/2021/dsa-4941)
* [FEDORA-2021-07dc0b3eb1](https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/Z4UHHIGISO3FVRF4CQNJS4IKA25ATSFU/)

### Description

See original report at https://www.openwall.com/lists/oss-security/2021/07/20/1

### Patches

N/A, will

[2021-07-24 23:02] liushuyu opened #3305 "php: security update to 7.4.25"
### CVE IDs

CVE-2021-21704, CVE-2021-21705, CVE-2021-21706, CVE-2021-21703

### Other security advisory IDs

PHP-76448, PHP-76449, PHP-76450, PHP-76452, PHP-81122, PHP-81420, PHP-81026

### Description

- Fixed bug `#76448` (Stack buffer overflow in firebird_info_cb). (CVE-2021-21704)
- Fixed bug `#76449` (SIGSEGV in firebird_handle_doer). (CVE-2021-21704)
- Fixed bug `#76450` (SIGSEGV in firebir

[2021-07-29 15:47] eatradish commented on #3289
Done

[2021-07-29 15:47] #3289 closed, assigned to nobody

[2021-07-30 02:01] #3292 closed, assigned to nobody

[2021-07-30 02:31] eatradish opened #3320 "nodejs: security update to 14.17.4"
### CVE IDs

CVE-2021-22930

### Other security advisory IDs

None

### Description

CVE-2021-22930: Use after free on close http2 on stream canceling (High)

Node.js is vulnerable to a use after free attack where an attacker might be able to exploit the memory corruption, to change process behavior.

### Patches

nodejs 14.17.4

### PoC(s)

None

### Topic PR

#3319

[2021-07-30 05:28] #3320 closed, assigned to nobody

[2021-07-30 05:29] eatradish commented on #3320
Fixed in e71353eb297cd522b126623e09c3e368fa0531be

[2021-07-30 07:23] MingcongBai commented on #3320
@l2dy Please assign an AOSA.

[2021-08-08 05:27] l2dy commented on #3320
Use AOSA-2021-0093.

[2021-08-10 02:53] szclsya opened #3326 "Styling and dependency issues"
### Bug description

Packages that contain styling or dependency issues.

### Steps to reproduce

Just look at it ;)

### Update channel(s)

stable

### Package and version
These packages contains `-` in their version or dependency's version requirement.
[code]

These packages have dependency issues:
[code]

[2021-08-11 02:44] KexyBiscuit opened #3329 "Add CHKUPDATE for .NET projects"
Use Generic Webpage Matching checker to parse https://dotnetcli.azureedge.net/dotnet/release-metadata/releases-index.json should work.

[2021-08-12 04:38] liushuyu opened #3330 "thunderbird: security update to 91.0"
### CVE IDs

CVE-2021-29986, CVE-2021-29981, CVE-2021-29988, CVE-2021-29984, CVE-2021-29980, CVE-2021-29987, CVE-2021-29985, CVE-2021-29982, CVE-2021-29989

### Other security advisory IDs

MFSA-2021-36

### Description

https://www.mozilla.org/en-US/security/advisories/mfsa2021-36

### Patches

N/A

### PoC(s)

N/A

### Topic PR

#PENDING

[2021-08-18 02:01] liushuyu opened #3355 "glibc: security updates for CVE-2021-38604, CVE-2021-33574"
### CVE IDs

CVE-2021-38604, CVE-2021-33574

### Other security advisory IDs

- [GLSA-202107-07](https://security.gentoo.org/glsa/202107-07)
- [FEDORA-2021-f29b4643c7](https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/KJYYIMDDYOHTP2PORLABTOHYQYYREZDD/)
- [FEDORA-2021-7ddb8b0537](https://lists.fedoraproject.org/archives/list/package-announce@lists.fedora

[2021-08-18 19:58] MingcongBai opened #3359 "bind: security update to ^9.16.20"
### CVE IDs

CVE-2021-25218

### Other security advisory IDs

N/A

### Description

See https://kb.isc.org/docs/cve-2021-25218.

### Patches

N/A

### PoC(s)

N/A

### Topic PR

Pending.

[2021-08-19 19:14] WhiredPlanck opened #3368 "bzip2: missing pkgconfig"
### Bug description

There is no `bzip2.pc` or similar file in `/usr/lib/pkgconfig`, which will let some build systems like meson can not find `bzip2`.

### Steps to reproduce

Just run ``` $ ls -l /usr/lib/ | grep bzip ``` or ``` $ ls -l /usr/lib/pkgconfig | grep bzip```, then see the result. Or we can check [here](https://packages.aosc.io/files/amd64/stable/bzip2/1.0.8-2).

### Update channel(s)

[2021-08-21 07:32] #3355 closed, assigned to nobody

[2021-08-22 20:15] liushuyu opened #3375 "firefox: security update to 91.0.1"
### CVE IDs

CVE-2021-29991

### Other security advisory IDs

[MFSA2021-37](https://www.mozilla.org/en-US/security/advisories/mfsa2021-37/)

### Description

Firefox incorrectly accepted a newline in a HTTP/3 header, interpretting it as two separate headers. This allowed for a header splitting attack against servers using HTTP/3.

### Patches

N/A

### PoC(s)

N/A

### Topic PR

#PENDING

[2021-08-30 03:37] WhiredPlanck commented on #3368
~As for now, according the result of the building on my machine, adding pkgconfig seems to conflict with `mariadb`.~

**UPDATE**: I didn't install `usr/lib/pkgconfig` in build procedure first... Sorry to make you laugh. Never mind it.

[2021-08-31 20:33] KexyBiscuit opened #3404 "nodejs: security update to 14.17.6"
### CVE IDs

CVE-2021-37701, CVE-2021-37712, CVE-2021-37713, CVE-2021-39134, CVE-2021-39135

### Other security advisory IDs

[August 31 2021 Security Releases](https://nodejs.org/en/blog/vulnerability/aug-2021-security-releases2/)
GHSA-9r2w-394v-53qc, GHSA-qq89-hq3f-393p, GHSA-5955-9wpr-37jh, GHSA-2h3h-q99f-3fhc, GHSA-gmw6-94gg-2rc2

### Description

These are vulnerabilities in the node-tar, arb

[2021-09-01 03:07] KexyBiscuit opened #3406 "openssl: security update to 1.1.1l"
### CVE IDs

CVE-2021-3711, CVE-2021-3712

### Other security advisory IDs

[OpenSSL Security Advisory [24 August 2021]](https://www.openssl.org/news/secadv/20210824.txt)

### Description

OpenSSL 1.1.1l is now available, including bug and security fixes

### Patches

N/A

### PoC(s)

See CVEs.

### Topic PR

#3409

[2021-09-01 03:21] KexyBiscuit opened #3407 "openssl+1.0: security update to 1.0.2u"
### CVE IDs

CVE-2019-1551

### Other security advisory IDs

[OpenSSL Security Advisory [6 December 2019]](https://www.openssl.org/news/secadv/20191206.txt)

### Description

OpenSSL 1.0.2u is now available, including security fixes

### Patches

N/A

### PoC(s)

See CVE.

### Topic PR

#3410

[2021-09-01 04:25] #3406 closed, assigned to KexyBiscuit

[2021-09-01 09:09] #3407 closed, assigned to KexyBiscuit

[2021-09-01 09:10] #3329 closed, assigned to KexyBiscuit

[2021-09-01 09:11] #3301 closed, assigned to nobody

[2021-09-01 09:18] #2107 closed, assigned to nobody

[2021-09-01 23:38] #3404 closed, assigned to KexyBiscuit

[2021-09-02 08:58] KexyBiscuit opened #3421 "vscode: distribute Visual Studio Code instead of Code - OSS"
Pros:

- Full [Visual](https://marketplace.visualstudio.com/items/ms-dotnettools.csharp/license) [Studio](https://marketplace.visualstudio.com/items/ms-vscode-remote.vscode-remote-extensionpack/license) [product](https://marketplace.visualstudio.com/items/ms-vscode.cpptools/license) [experience](https://marketplace.visualstudio.com/items/VisualStudioExptTeam.vscodeintellicode/license).

Cons:

- M

[2021-09-04 06:22] #3368 closed, assigned to WhiredPlanck

[2021-09-10 05:21] eatradish opened #3444 "firefox: some CVE fixed on version 92"
### CVE IDs

CVE-2021-29993, CVE-2021-38491, CVE-2021-38492, CVE-2021-38494

### Other security advisory IDs

N/A

### Description

Some CVE fixed on version 92

### Patches

Firefox 92

### PoC(s)

N/A

### Topic PR

#3443

[2021-09-10 11:00] eatradish commented on #3444
Fixed on stable branch, Closing...

[2021-09-10 11:00] #3444 closed, assigned to nobody

[2021-09-10 11:01] MingcongBai commented on #3444
@eatradish @l2dy0 Please assign an AOSA.

[2021-09-10 16:22] l2dy commented on #3444
Use AOSA-2021-0094.

[2021-09-15 01:47] outloudvi opened #3454 "rime-config-manager: Cannot read default.yml"
### Bug description

Due to a recent update on `rime-config-manager` (probably ce6b70f4bd73eea8ce9e1b7ec9e92f02647528b0), `rime-config-manager` can no more read `/usr/share/rime-data/default.yaml`, breaking the `postinst` process of `rime-prelude` and thus builds for many RIME-related packages.

<details>
<pre><code>Setting up rime-prelude (1:0+git20210627) ...
Re-add schema...
Error: schema_list:

[2021-09-15 07:09] MingcongBai opened #3457 "curl: security update to 7.79.0"
### CVE IDs

CVE-2021-22945, CVE-2021-22946, CVE-2021-22947

### Other security advisory IDs

N/A

### Description

CVE-2021-22945

[code]

CVE-2021-22946

[code]

CVE-2021-22947

[code]

### Patches

N/A

### PoC(s)

N/A

### Topic PR

Pending.

[2021-09-24 18:50] KexyBiscuit opened #3471 "Preparing for DST Root CA X3 expiration (September 2021)"
### Tasks

- [ ] Update `ca-certs` package.
  - [ ] Blacklist DST Root CA X3 so any self built old copies of OpenSSL or GnuTLS should work after September 30, 2021.
- [ ] Drop `openssl+1.0` since it's no longer used by any package.

### Regression

### See also

- [Help thread for DST Root CA X3 expiration (September 2021)](https://community.letsencrypt.org/t/help-thread-for-dst-root-ca-x3-expirat

[2021-09-26 04:23] #3471 closed, assigned to KexyBiscuit

[2021-10-01 20:07] MingcongBai opened #3489 "chromium: security update to 94.0.4606.81"
### CVE IDs

CVE-2021-30565, CVE-2021-30566, CVE-2021-30567, CVE-2021-30568, CVE-2021-30569, CVE-2021-30571, CVE-2021-30572, CVE-2021-30573, CVE-2021-30574, CVE-2021-30575, CVE-2021-30576, CVE-2021-30577, CVE-2021-30578, CVE-2021-30579, CVE-2021-30580, CVE-2021-30581, CVE-2021-30582, CVE-2021-30583, CVE-2021-30584, CVE-2021-30585, CVE-2021-30586, CVE-2021-30587, CVE-2021-30588, CVE-2021-30589, CVE

[2021-10-01 20:23] MingcongBai opened #3491 "palemoon: security update to 29.4.1"
### CVE IDs

CVE-2021-38492

### Other security advisory IDs

See https://www.palemoon.org/releasenotes.shtml.

### Description

Fixed a potential indirect exploit of Microsoft Internet Explorer. (CVE-2021-38492)

### Patches

N/A

### PoC(s)

N/A

[2021-10-01 20:30] MingcongBai opened #3492 "seamonkey: security update to 2.53.9.1"
### CVE IDs

CVE-2018-5156, CVE-2018-5187, CVE-2018-5188, CVE-2018-12359, CVE-2018-12360, CVE-2018-12361, CVE-2018-12362, CVE-2018-12363, CVE-2018-12364, CVE-2018-12365, CVE-2018-12366, CVE-2018-12367, CVE-2018-12368, CVE-2018-123671, CVE-2019-9811, CVE-2019-11709, CVE-2019-11711, CVE-2019-11712, CVE-2019-11713, CVE-2019-11715, CVE-2019-11717, CVE-2019-11719, CVE-2019-11729, CVE-2019-11730

### Ot

[2021-10-02 15:55] KexyBiscuit commented on #3261
/build exa

[2021-10-02 16:48] KexyBiscuit commented on #3261
/build exa

[2021-10-03 08:08] KexyBiscuit commented on #3261
/build exa

[2021-10-04 13:23] KexyBiscuit opened #3524 "workflows-build: add more build agents"
- GitHub Actions supports ephemeral self-hosted runners on x64, ARM64 and ARM32 architectures, which could be used to loop `ciel` and buildbots into the workflow.
- Azure Pipelines supports scale set agents, providing bigger VMs so more packages could be built, however it costs money 💸.
- Travis CI supports Arm and POWER architectures.
- CircleCI supports Arm resources.

[2021-10-05 16:29] MingcongBai opened #3530 "httpd: security update to 2.4.51"
### CVE IDs

CVE-2019-17567, CVE-2020-13938, CVE-2020-13950, CVE-2020-35452, CVE-2021-26690, CVE-2021-26691, CVE-2021-30641, CVE-2021-31618, CVE-2021-33193, CVE-2021-34798, CVE-2021-36160, CVE-2021-39275, CVE-2021-40438, CVE-2021-41524, CVE-2021-41773, CVE-2021-42013

### Other security advisory IDs

N/A

### Description

See [Apache HTTP Server 2.4 vulnerabilities](https://httpd.apache.org/securi

[2021-10-06 04:33] KexyBiscuit opened #3534 "Consider allow squash merging?"
As we upload the packages after merging.

[2021-10-06 04:35] MingcongBai commented on #3534
@KexyBiscuit No, the point is not to preserve hash so much as we would like a complete record of changes. You may also consider using interactive rebase to fix up your commits and dropped irrelevant ones that way.

[2021-10-06 04:36] KexyBiscuit commented on #3534
Got it, closing.

[2021-10-06 04:36] #3534 closed, assigned to nobody

[2021-10-09 05:45] eatradish opened #3541 "firefox: security update to 93"
### CVE IDs

CVE-2021-38496, CVE-2021-38497, CVE-2021-38498, CVE-2021-32810, CVE-2021-38500, CVE-2021-38501, CVE-2021-38499

### Other security advisory IDs

N/A

### Description

Some CVEs, Fixed on firefox 93

### Patches

Firefox 93

### PoC(s)

N/A

[2021-10-09 12:10] KexyBiscuit opened #3546 "openssh: CVE-2021-41617"
### CVE IDs

CVE-2021-41617

### Other security advisory IDs

[OpenSSH Security](https://www.openssh.com/security.html)

### Description

sshd in OpenSSH between 6.2 and 8.7 (inclusive).
sshd(8) failed to correctly initialise supplemental groups when executing an AuthorizedKeysCommand or AuthorizedPrincipalsCommand, where a AuthorizedKeysCommandUser or AuthorizedPrincipalsCommandUser directive was

[2021-10-10 08:58] KexyBiscuit opened #3550 "postgresql: security update to 13.4"
### CVE IDs

CVE-2021-3677

### Other security advisory IDs

N/A

### Description

Memory disclosure in certain queries

### Patches

N/A

### PoC(s)

N/A