[2019-07-10 04:40] KexyBiscuit opened #1900 "php7: security update to ^7.3.6"
**CVE IDs:** CVE-2019-11036, CVE-2019-11038, CVE-2019-11039, CVE-2019-11040

**Other security advisory IDs:** USN-4009-1, openSUSE-SU-2019:1572-1, openSUSE-SU-2019:1778-1

**Descriptions:**
[Version 7.3.5](https://www.php.net/ChangeLog-7.php#7.3.5), [Version 7.3.6](https://www.php.net/ChangeLog-7.php#7.3.6)

Heap-buffer-overflow in _estrndup via exif_process_IFD_TAG

Potential heap corruption in T

[2019-07-10 04:41] KexyBiscuit commented on #1849
Superseded by #1900, closing.

[2019-07-10 04:41] #1849 closed, assigned to KexyBiscuit

[2019-07-11 06:32] bobcao3 opened #1901 "zathura-pdf-poppler: SRC download timeout"
Bug description
-----------------------

zathura-pdf-poppler's SRC link timeout when trying to download src. (North america)

Reproducing steps
---------------------------

acbs build zathura-pdf-poppler

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

zathura-pdf-poppler : 0.2.9-1

[2019-07-11 06:46] bobcao3 opened #1902 "gtk3-tqt-engine: SRC link 404"
Bug description
-----------------------

gtk3-tqt-engine: SRC link 404

Reproducing steps
---------------------------

acbs build gtk3-tqt-engine

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

gtk3-tqt-engine : 14.0.6

[2019-07-13 01:33] l2dy opened #1903 "qemu: security update to 4.0.0"
**CVE IDs:** CVE-2018-20815

**Other security advisory IDs:** GLSA 201904-25, RHSA-2019:1175-01, USN-3978-1, openSUSE-SU-2019:1405-1

**Descriptions:**
`[oss-security] CVE-2018-20815 QEMU: device_tree: heap buffer overflow while loading device tree blob`
A heap buffer overflow issue was found in the load_device_tree() function of QEMU, which is invoked to load device tree blob at boot time. It occ

[2019-07-13 01:37] l2dy opened #1904 "dosbox: security update to 0.74-3"
**CVE IDs:** CVE-2019-7165, CVE-2019-12594

**Other security advisory IDs:** MGASA-2019-0205, DSA-4478-1, openSUSE-SU-2019:1905-1

**Descriptions:**

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-07-13 01:53] l2dy opened #1905 "bzip2: security update to 1.0.7"
**CVE IDs:** CVE-2019-12900

**Other security advisory IDs:** USN-4038-1, openSUSE-SU-2019:1781-1, FreeBSD-SA-19:18.bzip2

**Descriptions:**
It was discovered that bzip2 incorrectly handled certain files.
An attacker could possibly use this issue to execute arbitrary code.
(CVE-2019-12900)

**Architectural progress:**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `optenv32`
- [x] AArc

[2019-07-13 01:59] l2dy opened #1906 "libmediainfo: security update to 19.04"
**CVE IDs:** CVE-2019-11372, CVE-2019-11373

**Other security advisory IDs:** USN-3988-1, openSUSE-SU-2019:1629-1

**Descriptions:**
   * CVE-2019-11373: Fixed out-of-bounds read in function
     File__Analyze:Get_L8 (boo#1133156)
   * CVE-2019-11372: Fixed out-of-bounds read in function
     MediaInfoLib:File__Tags_Helper:Synched_Test (boo#1133157)

**Architectural progress:**

- [x] AMD64 `amd64

[2019-07-13 03:03] l2dy opened #1907 "rdesktop: security update to 1.8.6"
**CVE IDs:** N/A

**Other security advisory IDs:** DSA-4473-1, MGASA-2019-0247

**Descriptions:**
Multiple security issues were found in the rdesktop RDP client, which
could result in denial of service and the execution of arbitrary code.

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-07-13 03:22] l2dy opened #1908 "wireshark: security update to 3.0.2"
**CVE IDs:** CVE-2019-10895, CVE-2019-10899, CVE-2019-10897, CVE-2019-10898, CVE-2019-10900, CVE-2019-10894, CVE-2019-10896, CVE-2019-10902, CVE-2019-10901, CVE-2019-10903

**Other security advisory IDs:** N/A

**Descriptions:**
The following vulnerabilities have been fixed:

-   [wnpa-sec-2019-09](https://www.wireshark.org/security/wnpa-sec-2019-09) NetScaler file parser crash. [Bug 15497](https:

[2019-07-13 03:33] l2dy opened #1909 "redis: security update to 5.0.5"
**CVE IDs:** CVE-2019-10192, CVE-2019-10193

**Other security advisory IDs:** DSA-4480-1, USN-4061-1, RHSA-2019:2002-01, GLSA 201908-04, MGASA-2019-0226

**Descriptions:**
Multiple vulnerabilities were discovered in the HyperLogLog implementation
of Redis, a persistent key-value database, which could result in denial
of service or potentially the execution of arbitrary code.

**Architectural progr

[2019-07-13 05:06] l2dy opened #1910 "bind: security update to 9.12.4-P2"
**CVE IDs:** CVE-2019-6471

**Other security advisory IDs:** USN-4026-1, RHSA-2019:1714-01

**Descriptions:**
* bind: Race condition when discarding malformed packets can cause bind to
exit with assertion failure (CVE-2019-6471)

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-07-13 06:48] KexyBiscuit opened #1911 "Tags everywhere!!!!"

[2019-07-13 06:49] eatradish opened #1912 "shadowsocks{,-libev} and haveged: The shadowsocks systemd service is likely to start before haveged"
Bug description
-----------------------

If the system is low on entropy, one would need to start `haveged.service` before `shadowsocks{,-libev} .service`. If both services are enabled, as both are `WantedBy=multi-user.target`, `shadowsocks{,-libev} .service` may start before `haveged.service`. In this case, `shadowsocks{,-libev} .service` may fail as `haveged.service` has not generated enough ent

[2019-07-13 06:59] LionNatsu commented on #1912
Could you change WantedBy= from multi-user.target to basic.target and try again?

[2019-07-13 09:54] eatradish commented on #1912
It seems that the problem has not been solved.

[code]

[2019-07-13 11:10] eatradish opened #1913 "apt: FTBFS (1.9.1)"
Bug description
-----------------------

Version: 1.9.1

FTBFS

[code]
acbs log: http://fars.ee/CD1l
CMake error log: http://fars.ee/NycV
CMake output log: http://fars.ee/HB6X

Update channel(s)
--------------------------

Explosive

[2019-07-13 11:43] #1825 closed, assigned to nobody

[2019-07-13 11:44] #1769 closed, assigned to nobody

[2019-07-13 13:21] MingcongBai commented on #1896
No longer a draft, let's get hacking on it.

[2019-07-13 13:25] MingcongBai commented on #1913
Could you state what version this is?

[2019-07-13 21:57] eatradish commented on #1913
sorry....1.9.1

[2019-07-15 09:23] l2dy opened #1914 "x11-lib: CVE-2017-2626"
**CVE IDs:** CVE-2017-2626

**Other security advisory IDs:** N/A

**Descriptions:**
`[oss-security] Fwd: [ANNOUNCE] libICE 1.0.10`

This release provides a fix for CVE-2017-2626 for platforms which don't have
arc4random_buf() in their default libraries but do have getentropy(), such
as Linux platforms with a kernel version of 3.17 or newer and a glibc version
of 2.25 or newer.   (libICE 1.0.9 alre

[2019-07-15 09:27] l2dy opened #1915 "thunderbird: security update to 60.8.0"
**CVE IDs:** CVE-2019-9811, CVE-2019-11709, CVE-2019-11711, CVE-2019-11712, CVE-2019-11713, CVE-2019-11715, CVE-2019-11717, CVE-2019-11730

**Other security advisory IDs:** DSA-4482-1

**Descriptions:**
Multiple security issues have been found in Thunderbird which could
potentially result in the execution of arbitrary code, cross-site
scripting, spoofing, information disclosure, denial of service

[2019-07-19 13:54] l2dy opened #1916 "libreoffice: security update to 6.2.5"
**CVE IDs:** CVE-2019-9848, CVE-2019-9849

**Other security advisory IDs:** DSA-4483-1, USN-4063-1

**Descriptions:**
Nils Emmerich discovered that LibreOffice incorrectly handled LibreLogo
scripts. If a user were tricked into opening a specially crafted document,
a remote attacker could cause LibreOffice to execute arbitrary code.
(CVE-2019-9848)

Matei "Mal" Badanoiu discovered that LibreOffice

[2019-07-19 14:05] l2dy opened #1917 "squid: security update to 4.8"
**CVE IDs:** CVE-2019-12854, CVE-2019-12529, CVE-2019-12525, CVE-2019-12527, CVE-2019-13345

**Other security advisory IDs:** USN-4059-1, USN-4065-1, openSUSE-SU-2019:1963-1, DSA-4507-1, RHSA-2019:2593-01

**Descriptions:**
It was discovered that Squid incorrectly handled the cachemgr.cgi web
module. A remote attacker could possibly use this issue to conduct
cross-site scripting (XSS) attacks. (CV

[2019-07-20 03:32] eatradish commented on #1913
I tried to add `export LDFLAGS="${LDFLAGS} -lpthread"` to prepare, and a different error occurred.

CMakeError.log: http://fars.ee/NnDp

[2019-07-20 16:48] eatradish commented on #1912
Fix with #1912, Closing.

[2019-07-20 16:48] #1912 closed, assigned to nobody

[2019-07-22 06:55] KexyBiscuit commented on #1870
Moving to [Summer](https://github.com/AOSC-Dev/aosc-os-abbs/issues/1896).

[2019-07-22 06:55] #1870 closed, assigned to KexyBiscuit

[2019-07-22 08:32] MingcongBai opened #1918 "Meta: Re-evaluate All PKGRECOM/PKGSUG"
Rationale
--------------

The current semantic interpretation of `$PKGRECOM` (Recommends) is something along the line of "soft dependency", which refers to package(s) that could enhance a package's functionalities if installed - and they are not installed automatically in our distribution, as specified in `/etc/apt/apt.conf.d/99synaptic`:

[code]

The issue stands that this semantic meaning should

[2019-07-23 02:21] jyhi commented on #1918
Supplementary information:

-- https://www.debian.org/doc/debian-policy/ch-relationships.html#binary-dependencies-depends-recommends-suggests-enhances-pre-depends

[2019-07-23 05:45] KexyBiscuit opened #1919 "atril: buffer overflow"
**CVE IDs:** [CVE-2019-1010006](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-1010006)

**Other security advisory IDs:** [Debian](https://security-tracker.debian.org/tracker/CVE-2019-1010006), [Ubuntu](https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-1010006.html)

**Descriptions:** Evince 3.26.0 is affected by buffer overflow. The impact is: DOS / Possible code execution.

[2019-07-23 06:18] KexyBiscuit opened #1920 "libmspack: Buffer Overflow"
**CVE IDs:** [CVE-2019-1010305](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-1010305)

**Other security advisory IDs:** [Debian](https://security-tracker.debian.org/tracker/CVE-2019-1010305), [USN-4066-1](https://usn.ubuntu.com/4066-1/), MGASA-2019-0248

**Descriptions:** libmspack 0.9.1alpha is affected by: Buffer Overflow. The impact is: Information Disclosure. The component is: funct

[2019-07-24 11:03] KexyBiscuit opened #1921 "powershell: Object reference not set to an instance of an object."
Reproducing steps
---------------------------

[code]

Update channel(s)
--------------------------

Explosive

## See Also

PowerShell/PowerShell#9746

[2019-07-25 02:23] KexyBiscuit opened #1922 "Update to ICU 64.2"
## Rebuild

- [x] brltty
- [x] xfsprogs
- [x] couchdb
- [x] mongo-c-driver
- [x] cutter
- [x] hhvm
- [x] php7
- [x] emacs
- [x] open-vm-tools
- [x] 0ad
- [x] epiphany
- [x] evolution-data-server
- [x] gnome-calendar
- [x] tracker-miners
- [x] tracker
- [x] gnustep-base
- [x] gnustep-corebase
- [x] gnustep-gui
- [x] renaissance
- [x] fcitx
- [x] ibus-qt
- [x] poedit
- [x] nodejs
- [x] boost
- [x] d

[2019-07-25 13:12] eatradish opened #2085 "readline: inputrc add bash history search feature"
add
[code]
to `/etc/inputrc`

[2019-07-25 15:28] l2dy opened #1923 "elvis: security update to v2.2_1-pre3"
**CVE IDs:** CVE-2019-12735

**Other security advisory IDs:** N/A

**Descriptions:**
https://github.com/mbert/elvis/commit/68c4b5231ee6c9b9b88c22c92ce20948f021245a

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-07-26 07:44] KexyBiscuit opened #1924 "virtualbox{,-guest}: security update to 6.0.10"
**CVE IDs:** CVE-2019-2848, CVE-2019-2850, CVE-2019-2859, CVE-2019-2863, CVE-2019-2864, CVE-2019-2865, CVE-2019-2866, CVE-2019-2867, CVE-2019-2873, CVE-2019-2874, CVE-2019-2875, CVE-2019-2876, CVE-2019-2877

**Other security advisory IDs:** [Oracle Critical Patch Update Advisory - July 2019](https://www.oracle.com/technetwork/security-advisory/cpujul2019-5072835.html), MGASA-2019-0216, openSUSE-SU

[2019-07-26 08:22] KexyBiscuit opened #1925 "exim: security update to 4.92.1"
**CVE IDs:** [CVE-2019-13917](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13917)

**Other security advisory IDs:** [DSA-4488](https://www.debian.org/security/2019/dsa-4488), USN-4075-1

**Descriptions:** Exim 4.85 through 4.92 (fixed in 4.92.1) allows remote code execution as root in some unusual configurations that use the ${sort } expansion for items that can be controlled by an atta

[2019-07-26 09:05] KexyBiscuit opened #1926 "openjdk: security update to 8u222"
**CVE IDs:** CVE-2019-2745, CVE-2019-2762, CVE-2019-2766, CVE-2019-2769, CVE-2019-2786, CVE-2019-2816, CVE-2019-2842

**Other security advisory IDs:** [Oracle Critical Patch Update Advisory - July 2019](https://www.oracle.com/technetwork/security-advisory/cpujul2019-5072835.html), [DSA-4485](https://www.debian.org/security/2019/dsa-4485), USN-4080-1, openSUSE-SU-2019:1912-1, MGASA-2019-0241

**Des

[2019-07-26 13:13] eatradish opened #3570 ""PPA" with AOSC OS: Introduction, construction, discussion"
The plan discussed earlier is as follows:

Packages that are not suitable for introduction to [aosc-os-abbs](https://github.com/AOSC-Dev/aosc-os-abbs) will enter the AOSC "PPA" trees.

Step:
- [x] Is there an auditing process, if so, what requirements are set?
- [ ] Documentation
- [ ] Naming

[2019-07-26 15:30] MingcongBai commented on #3570
The current consensus is that we will create a information page for all "PPA" trees, and *not* to audit the tree submissions - rather, we will make sure that any copyright/license infringement will be dealt with (removal warning or banning).

[2019-07-26 15:55] MingcongBai commented on #3570
Another consensus comes that users and maintainers must use [ciel](https://github.com/AOSC-Dev/ciel) to build packages - as a mean to ensure clean environments and therefore clean packages.

[2019-07-31 11:32] KexyBiscuit opened #1927 "linux-kernel: security update to ^5.2.3"
**CVE IDs:** [CVE-2019-14283](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14283), [CVE-2019-14284](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14284)

**Other security advisory IDs:** N/A

**Descriptions:** In the Linux kernel before 5.2.3, set_geometry in drivers/block/floppy.c does not validate the sect and head fields, as demonstrated by an integer overflow and out-of-bo

[2019-07-31 11:42] KexyBiscuit opened #1928 "yarn: Missing Encryption of Sensitive Data"
**CVE IDs:** [CVE-2019-5448](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5448)

**Other security advisory IDs:** N/A

**Descriptions:** Yarn before 1.17.3 is vulnerable to Missing Encryption of Sensitive Data due to HTTP URLs in lockfile causing unencrypted authentication data to be sent over the network.

**Patches:** [Forces using https for the regular registries](https://github.com/

[2019-07-31 11:52] KexyBiscuit opened #2084 "binutils*: readelf: interger overflow in apply_relocations"
**CVE IDs:** [CVE-2019-14444](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14444)

**Other security advisory IDs:** N/A

**Descriptions:** apply_relocations in readelf.c in GNU Binutils 2.32 contains an integer overflow that allows attackers to trigger a write access violation (in byte_put_little_endian function in elfcomm.c) via an ELF file, as demonstrated by readelf.

**Patches:** [C

[2019-08-01 02:57] KexyBiscuit opened #1929 "nodejs: security update to ^10.16.1"
**CVE IDs:** [CVE-2019-1543](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-1543)

**Other security advisory IDs:** [OpenSSL Security Advisory [6 March 2019]](https://www.openssl.org/news/secadv/20190306.txt), #1889

**Descriptions:** ChaCha20-Poly1305 is an AEAD cipher, and requires a unique nonce input for every encryption operation. RFC 7539 specifies that the nonce value (IV) should b

[2019-08-01 06:17] MingcongBai opened #1930 "chromium, google-chrome: security update to 76.0.3809.87, 76.0.3809.100"
**CVE IDs:** CVE-2019-5850, CVE-2019-5851, CVE-2019-5852, CVE-2019-5853, CVE-2019-5854, CVE-2019-5855, CVE-2019-5856, CVE-2019-5857, CVE-2019-5858, CVE-2019-5859, CVE-2019-5860, CVE-2019-5861, CVE-2019-5862, CVE-2019-5863, CVE-2019-5864, CVE-2019-5865

google-chrome v76.0.3809.100: CVE-2019-5867, CVE-2019-5868

**Descriptions:**
This update includes 43 security fixes.

google-chrome v76.0.3809.100

[2019-08-01 09:04] KexyBiscuit opened #1931 "openjdk: icedtea-web: security update to 1.8.3"
**CVE IDs:** [CVE-2019-10181](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10181), [CVE-2019-10182](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10182), [CVE-2019-10185](https://nvd.nist.gov/vuln/detail/CVE-2019-10185)

**Other security advisory IDs:** [RHSA-2019:2004](https://access.redhat.com/errata/RHSA-2019:2004), openSUSE-SU-2019:1911-1, MGASA-2019-0242

**Descriptions:*

[2019-08-01 09:16] KexyBiscuit opened #1932 "sdl2-image: security update to 2.0.5"
**CVE IDs:** [CVE-2019-5051](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5051), [CVE-2019-5052](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5052), [CVE-2019-5057](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5057), [CVE-2019-5058](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5058), [CVE-2019-5059](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019

[2019-08-01 09:28] KexyBiscuit opened #1933 "sigil: security update to 0.9.16"
**CVE IDs:** [CVE-2019-14452](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14452)

**Other security advisory IDs:** USN-4085-1, MGASA-2019-0249

**Descriptions:** Sigil before 0.9.16 is vulnerable to a directory traversal, allowing attackers to write arbitrary files via a ../ (dot dot slash) in a ZIP archive entry that is mishandled during extraction.
Sigil-Ebook/flightcrew#52

**Patche

[2019-08-01 09:32] KexyBiscuit opened #1934 "u{,-}boot*: security update to 2019.07"
**CVE IDs:** [CVE-2019-14192](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14192)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in Das U-Boot through 2019.07. There is an unbounded memcpy when parsing a UDP packet due to a net_process_received_packet integer underflow during an nc_input_packet call.

**Patches:** N/A

**PoC(s):** [U-Boot NFS RCE Vulner

[2019-08-01 14:39] eatradish commented on #1928
All Done. Closing....

[2019-08-01 14:39] #1928 closed, assigned to eatradish

[2019-08-02 15:56] MingcongBai opened #1935 "Weekly Testing Queue for Stable-Proposed (20190802)"
Effective August 2, 2019 @ 15:56, UTC Time.

- [ ] bsp-sunxi(arm64): linux-kernel-sunxi64-5.3.0-rc2 `v5.3.0~rc2`
- [ ] bsp-sunxi(arm64): linux-kernel-sunxi64-5.3.0-rc2 `v5.3.0~rc2-1`
- [ ] bsp-sunxi(arm64): linux+kernel+sunxi64 `v22~1`
- [ ] bsp-sunxi(armel): linux-kernel-sunxi-kvm-5.3.0-rc2 `v5.3.0~rc2`
- [ ] bsp-sunxi(armel): linux+kernel+sunxi+kvm `v11~1`
- [ ] bsp-sunxi(armel): linux-kernel-su

[2019-08-03 09:37] liushuyu commented on #1935
Update:
Missing dependency `future` and plugin `ip` malfunctioned.

[2019-08-04 14:16] l2dy opened #1936 "firmware-nonfree: CVE-2019-9836"
**CVE IDs:** CVE-2019-9836

**Other security advisory IDs:** openSUSE-SU-2019:1770-1

**Descriptions:**
* linux-firmware: Update AMD SEV firmware (CVE-2019-9836, bsc#1139383)

**Patches:** update to >= 20190618

**Architectural progress:**

- [x] Architecture-independent `noarch`

[2019-08-04 14:16] l2dy commented on #1936
Fixed in 2b7db6b6aa7904906031b2b1032d927c6b01caaa.

[2019-08-04 14:17] MingcongBai commented on #1936
Done, closing.

[2019-08-04 14:17] #1936 closed, assigned to nobody

[2019-08-04 14:18] l2dy commented on #1936
Use AOSA-2019-0177.

[2019-08-04 14:29] l2dy opened #1937 "subversion: security update to 1.12.2"
**CVE IDs:** CVE-2018-11782, CVE-2019-0203

**Other security advisory IDs:** USN-4082-1, DSA-4490-1, openSUSE-SU-2019:1910-1, RHSA-2019:2512-01, ASA-201908-10, MGASA-2019-0243

**Descriptions:**
The recent releases of Apache Subversion 1.12.2, 1.10.6, 1.9.12, contain fixes for two security issues, CVE-2018-11782 and CVE-2019-0203. These issues affect Subversion 'svnserve' servers. We encourage ser

[2019-08-04 14:43] l2dy opened #1938 "django: security update to 2.1.11"
**CVE IDs:** CVE-2019-14232, CVE-2019-14233, CVE-2019-14234, CVE-2019-14235

**Other security advisory IDs:** USN-4084-1, ASA-201908-2, openSUSE-SU-2019:1839-1, DSA-4498-1

**Descriptions:**
It was discovered that Django incorrectly handled the Truncator function. A
remote attacker could possibly use this issue to cause Django to consume
resources, leading to a denial of service. (CVE-2019-14232)

[2019-08-05 01:51] MingcongBai commented on #1935
Glances is fixed in `3.1.1-1`, delayed to the next queue.

[2019-08-05 01:58] MingcongBai opened #1939 "ocserv: pending rebuild for http-parser"
Bug description
-----------------------

With current `ocserv v0.12.2`, the package is missing a dynamic shared object from `http-parser`.

[code]

Reproducing steps
---------------------------

Install `ocserv` and execute `ocserv`.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

`ocserv` v0.12.2

[2019-08-05 03:38] MingcongBai opened #1940 "abiword: Thesaurus function broken due to libhunspell sover changes"
Bug description
-----------------------

When attempting to utilise Abiword's "Thesaurus" function, the interface freezes and then crashes with the following error log:

[code]

Reproducing steps
---------------------------

Tools > Thesaurus

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

`abiword` v3.0.2-4

[2019-08-05 03:49] MingcongBai opened #1941 "qbittorrent, deluge: libtorrent-rasterbar ABI break"
Bug description
-----------------------

`libtorrent-rasterbar.so.9 -> libtorrent-rasterbar.so.10`

Reproducing steps
---------------------------

Install `qbittorrent` and attempt to launch it.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

- `deluge` v1.3.15-2
- `qbittorrent` v4.0.4-1

[2019-08-05 04:45] MingcongBai opened #1942 "gnome-boxes: segfault at libosinfo"
Bug description
-----------------------

When launching GNOME Boxes, the application interface freezes and eventually crashes (SIGSEGV).

Reproducing steps
---------------------------

Launch GNOME Boxes.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

`gnome-boxes` v3.30.3

[2019-08-05 05:42] KexyBiscuit opened #1943 "Build .NET Core from source"
## See Also

- ~~[Build .NET Core from source](https://docs.microsoft.com/en-us/dotnet/core/build/)~~
- [.NET distribution packaging](https://docs.microsoft.com/en-us/dotnet/core/distribution-packaging)
- [.NET Core Build Scripts](https://github.com/dotnet/source-build)

[2019-08-05 05:57] MingcongBai commented on #1935
All tested packages are merged with `stable`.

[2019-08-06 07:56] cthbleachbit commented on #1942
Stack trace for reference:

[code]

Proposed fix: introduce `osinfo-db-tools` as dependency of `libosinfo` as required by libosinfo official [website](https://libosinfo.org/download/).

[2019-08-07 01:38] l2dy opened #1945 "ffmpeg: security update to 4.1.4"
**CVE IDs:** CVE-2019-12730

**Other security advisory IDs:** MGASA-2019-0208

**Descriptions:**
https://ffmpeg.org/security.html

**Architectural progress:**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `optenv32`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-08-07 05:20] KexyBiscuit commented on #1845
4 more CVEs added.

[2019-08-07 08:24] #1942 closed, assigned to nobody

[2019-08-07 21:31] eatradish opened #1947 "konqueror 19.04.3, 19.08.0: FTBFS (explosive)"
[code]
full log: http://fars.ee/y07q
CMakeError.log: http://fars.ee/JbAu

[2019-08-07 21:32] eatradish opened #1948 "rocs 19.04.3, 19.08.0: FTBFS (explosive)"
log: http://fars.ee/lbYW

[2019-08-07 21:32] eatradish opened #1949 "umbrello 19.04.3, 19.08.0: FTBFS (explosive)"
log: http://fars.ee/Cc1_

[2019-08-07 21:35] eatradish opened #1950 "linux-kernel-5.2.* and nvida (nouveau?): Enter tty can not display interface"
branch: stable

[2019-08-08 08:29] KexyBiscuit opened #1951 "dee: FTBFS because of removed gtk-doc feature"
## Symptoms

[code]

## Cause

gtk-doc removed the support for tmpl files.

## See Also

GNOME/gtk-doc@46df4354abed5724697fd5e39630c5bbc6637cc4

[2019-08-08 08:49] KexyBiscuit commented on #1921
Root cause is https://unicode-org.atlassian.net/browse/ICU-20575, fixed in 6850a991fb22d5ea5f6bc82d964be2ab89ca8ac0, closing.

[2019-08-08 08:49] #1921 closed, assigned to KexyBiscuit

[2019-08-08 09:12] KexyBiscuit commented on #1922
All completed except `dee`, which has a dedicated issue, closing. :shipit:

[2019-08-08 09:12] #1922 closed, assigned to KexyBiscuit

[2019-08-08 09:12] MingcongBai commented on #1922
@KexyBiscuit Congratulations!

[2019-08-08 12:23] Icenowy opened #1952 "[RFC] Allow newly introduced package to enter stable-proposed and then stable if possible"
As new packages usually do not affect the dependency tree that already exists (except if it needs changes of configurations of some dependencies, which is a rare condition), we should be able to put them into stable as soon as possible to satisfy the need of users.

Considered roadmaps of new packages to enter stable:
- Directly enter stable-proposed, then stable after tested.
- Enter explosive-te

[2019-08-09 09:43] KexyBiscuit opened #1953 "postgresql: security update to 11.5"
**CVE IDs:** [CVE-2019-10208](https://access.redhat.com/security/cve/cve-2019-10208), [CVE-2019-10209](https://access.redhat.com/security/cve/cve-2019-10209)

**Other security advisory IDs:** DSA-4493-1, USN-4090-1, ASA-201908-8, MGASA-2019-0225

**Descriptions:** TYPE in pg_temp executes arbitrary SQL during SECURITY DEFINER execution

Memory disclosure in cross-type comparison for hashed subplan

[2019-08-10 14:13] jarun opened #1955 "pakreq: nnn"
This is a request to package `nnn` - a full-featured file manager for low-end devices and the regular desktop.

Homepage: https://github.com/jarun/nnn

Would highly appreciate if `nnn` can be added to AOSC OS.

[2019-08-10 17:33] eatradish commented on #1955
Now, `nnn 2.6`  has entered the testing branch, request your test.

[2019-08-10 17:48] jarun commented on #1955
Thank you!

Can you please let me know the steps to test it if I download the Base flavour of AOSC?

How do I add the testing branch and install the package from there?

[2019-08-11 05:19] MingcongBai commented on #1955
@jarun

The "Base" variant can be obtained [here](https://releases.aosc.io/os-amd64/base/aosc-os_base_20190722_amd64.tar.xz), assuming that you are using an AMD64 PC. Then, deploy the system according to our [Wiki](https://wiki.aosc.io/users/installation/amd64).

From there, execute the following command to enable Testing:

[code]

[2019-08-11 05:39] jarun commented on #1955
Thank you!

[2019-08-12 14:57] eatradish opened #1956 "fontconfig: {firefox,chromium} open quora font problem"
I tried to open quora and found that the font rendering was terrible.

Their font-family looks like this:
[code]
I found that I didn't change the Georgia font from CSS. I noticed a change when I deleted Times.

After that, I turned on the chromium and did the same thing. I found the behavior even more strange. I deleted the `q_serif` loaded by chromium and it fallback to serif.

I have two Problem

[2019-08-12 15:00] MingcongBai commented on #1956
Chromium has always had the problem with inconsistent font rendering when compared with Firefox, and really, the whole system.

The "Times" fonts that came with `x11-font` are bitmap fonts. What does "Times" match to in your system? For mine, it matches with "Noto Serif CJK SC Regular" in a `zh_CN.UTF-8` locale configuration:

[code]

When using `C.UTF-8`...

[code]

[2019-08-12 15:02] eatradish commented on #1956
![Screenshot_20190812_225854](https://user-images.githubusercontent.com/19554922/62875223-39235f00-bd55-11e9-9daf-22ea0c6ca49f.png)

This is a list of installed fonts

[2019-08-12 15:03] MingcongBai commented on #1956
Does this file exist for you? `/etc/fonts/conf.d/66-google-noto-serif.conf`

[2019-08-12 15:07] eatradish commented on #1956
[code]

[2019-08-12 15:19] eatradish commented on #1956
I tried `dpkg --force-all -r x11-font` and found the problem. The poor rendering problem was solved.

This is the comparison of `fc-match`:
Before uninstalled:
[code]
After uninstalling:
[code]

[2019-08-12 15:59] MingcongBai commented on #1956
Will add "Times" match for Noto Serif.

[2019-08-13 10:01] KexyBiscuit commented on #1913
Fixed by introducing triehash, thanks to Debian/apt#68, close this after #1957 gets merged.

[2019-08-13 14:21] #1913 closed, assigned to nobody

[2019-08-13 19:35] MingcongBai commented on #1956
Correction: Liberation Serif.

[2019-08-13 19:42] MingcongBai commented on #1956
Correction again: will install `70-no-bitmaps` to `/etc/fonts/conf.d` by default.

[2019-08-15 08:48] cthbleachbit commented on #864
So this has happened again as of `9850611415c7f1a7d33a547374065b600b5e0947`.

[2019-08-15 16:37] MingcongBai commented on #1956
@eatradish Fixes committed. Please look out for the following updates:

- fontconfig v2.13.0-3
- liberation-fonts v2.00.5

[2019-08-16 02:02] KexyBiscuit opened #1958 "HTTP/2 implementations do not robustly handle abnormal traffic and resource exhaustion"
**Packages affected & Source progress:**
- [x] Apache HTTP Server < v2.4.40
- [x] nginx < v1.16.1
- [x] go < v1.12.8
- [x] nghttp2 < v1.39.2
- [x] Node.js < v10.16.3
- ~Twisted <= v19.7.0~ See #1993
- ~Caddy < v1.0.2~

**CVE IDs:** CVE-2019-9511, CVE-2019-9512, CVE-2019-9513, CVE-2019-9514, CVE-2019-9515, CVE-2019-9516, CVE-2019-9517, CVE-2019-9518

**Other security advisory IDs:** [VU#605641](htt

[2019-08-16 09:48] KexyBiscuit opened #1959 "lvm2: broken by iptables unexpected shared library version change"
Bug description
-----------------------

[code]

`iptables` v1.8.2 and prior versions provides libip4tc.so.0.1.0, however v1.8.3 provides libip4tc.so.2.0.0.

Reproducing steps
---------------------------

[code]

Update channel(s)
--------------------------

Stable-Proposed

Package and version
------------------------------

[code]

[2019-08-16 10:24] KexyBiscuit opened #1960 "nodejs: unusable on NVIDIA Jetson TX1 Developer Kit in AArch32 state"
Bug description & Reproducing steps
-----------------------

[code]

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

[code]

[2019-08-16 16:08] MingcongBai commented on #1959
Resolved by 28fbd8a470d706ea452adf38c042e245b4c65e26. `iptables` seems to have deviated from semantic versioning.

Closing.

[2019-08-16 16:08] #1959 closed, assigned to nobody

[2019-08-17 01:05] Icenowy commented on #1960
what device and kernel are you using?

[2019-08-17 06:10] Plectranthus-fg opened #1962 "kde: cannot find trackpad correctly"
Bug description
-----------------------
Cannot find trackpad correctly (other DE can find the touchpad）

Update channel(s)
--------------------------

Testing

[2019-08-17 06:21] Plectranthus-fg commented on #1962
![image](https://user-images.githubusercontent.com/37979371/63207511-b0b10f80-c102-11e9-9e16-3b271bd397d0.png)

[2019-08-19 01:51] KexyBiscuit commented on #1960
[NVIDIA Jetson TX1 Developer Kit](https://developer.nvidia.com/embedded/jetson-tx1-developer-kit) with [L4T](https://developer.nvidia.com/embedded/linux-tegra) kernel. It's the "Tegra" build agent owned by @MingcongBai.

[code]

[2019-08-19 02:57] KexyBiscuit commented on #1960
Can't repro on other devices, what's worse is the problem can't be reproed even on tx1, all commands now returns SIGSEGV. Moving to backlog.

[2019-08-19 03:08] KexyBiscuit commented on #1960
Might be Tegra specific problem, .NET Core also crashes immediately.

[2019-08-19 04:30] MingcongBai opened #1963 "Testing Queue for Stable-Proposed (20190819)"
Effective August 19, 2019 @ 4:29, UTC Time.

Tested - Duplications to Drop
-------------------

- ~main(amd64): `android-platform-tools` 9.0.0r45-1~ *DUPLICATE: DROP FROM REPOSITORY!!*
- ~main(amd64): `baidupcs-go` 3.5.6-1~ *DUPLICATE: DROP FROM REPOSITORY!!*
- ~main(amd64): `ccat` 20181115-1~ *DUPLICATE: DROP FROM REPOSITORY!!*
- ~main(amd64): `ciel` 2.3.2-1~ *DUPLICATE: DROP FROM REPOSITORY!!*
-

[2019-08-21 16:05] MingcongBai opened #1965 "docker: CVE-2018-15664"
**CVE IDs:** CVE-2018-15664

**Descriptions:**

The basic premise of this attack is that FollowSymlinkInScope suffers from a fairly fundamental TOCTOU attack. The purpose of FollowSymlinkInScope is to take a given path and safely resolve it as though the process was inside the container. After the full path has been resolved, the resolved path is passed around a bit and then operated on a bit late

[2019-08-21 17:14] eatradish opened #1966 "telegram-desktop 1.8.2: FTBFS on explosive"
log: http://fars.ee/a5pv

[2019-08-22 02:31] KexyBiscuit opened #1967 "faad2: Fix a couple buffer overflows"
**CVE IDs:** [CVE-2019-15296](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15296)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in Freeware Advanced Audio Decoder 2 (FAAD2) 2.8.8. The faad_resetbits function in libfaad/bits.c is affected by a buffer overflow vulnerability. The number of bits to be read is determined by ld->buffer_size - words*4, cast t

[2019-08-22 02:37] KexyBiscuit opened #1968 "commons-beanutils: security update to 1.9.4"
**CVE IDs:** [CVE-2019-10086](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10086)

**Other security advisory IDs:** openSUSE-SU-2019:2058-1

**Descriptions:** In Apache Commons Beanutils 1.9.2, a special BeanIntrospector class was added which allows suppressing the ability for an attacker to access the classloader via the class property available on all Java objects. We, however were no

[2019-08-22 02:49] KexyBiscuit opened #1969 "linux{-,+}kernel*: Linux kernel: multiple vulnerabilities in the USB subsystem x2"
**CVE IDs:** [CVE-2019-15290](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15290), [CVE-2019-15291](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15291)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in the Linux kernel through 5.2.9. There is a NULL pointer dereference caused by a malicious USB device in the ath6kl_usb_alloc_urb_from_pipe fun

[2019-08-22 02:56] KexyBiscuit opened #1970 "djvulibre: update to 3.5.27.1 (Debian Rel. 12) - denial-of-service attack"
**CVE IDs:** [CVE-2019-15142](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15142), [CVE-2019-15143](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15143), [CVE-2019-15144](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15144), [CVE-2019-15145](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15145)

**Other security advisory IDs:** N/A

**Descriptions:** In DjVu

[2019-08-22 03:18] KexyBiscuit opened #1971 "patch: vulnerabilities"
**CVE IDs:** [CVE-2018-20969](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20969), [CVE-2019-13636](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13636), [CVE-2019-13638](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13638)

**Other security advisory IDs:** N/A

**Descriptions:** do_ed_script in pch.c in GNU patch through 2.7.6 does not block strings beginning with a

[2019-08-22 03:31] KexyBiscuit opened #1972 "giflib: security update to ^5.1.8"
**CVE IDs:** [CVE-2019-15133](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15133)

**Other security advisory IDs:** [USN-4107-1](https://usn.ubuntu.com/4107-1/), MGASA-2019-0252

**Descriptions:** In GIFLIB before 2019-02-16, a malformed GIF file triggers a divide-by-zero exception in the decoder function DGifSlurp in dgif_lib.c if the height field of the ImageSize data structure is equ

[2019-08-22 03:49] KexyBiscuit opened #1973 "vlc: security update to 3.0.8"
**CVE IDs:** CVE-2019-13602, CVE-2019-13962, CVE-2019-14437, CVE-2019-14438, CVE-2019-14498, CVE-2019-14533, CVE-2019-14534, CVE-2019-14535, CVE-2019-14776, CVE-2019-14777, CVE-2019-14778, CVE-2019-14970

**Other security advisory IDs:** [DSA-4504-1](https://www.debian.org/security/2019/dsa-4504), MGASA-2019-0233, GLSA 201909-02

**Descriptions:** Multiple security issues were discovered in the VL

[2019-08-22 08:42] eatradish commented on #1951
All Done, Closing.

[2019-08-22 08:42] #1951 closed, assigned to nobody

[2019-08-22 10:29] KexyBiscuit commented on #1973
Closing since Armv7-A has been FTBFS for a while, and no usable version is available on the repo.
Use AOSA-2019-0178.

[2019-08-22 10:29] #1973 closed, assigned to KexyBiscuit

[2019-08-22 10:57] eatradish opened #1974 "RFC: drop armel support"
Considering that the current community interest in armel is lower than the Retro branch, it is difficult to maintain, we should drop armel support

[2019-08-22 12:26] sztsian commented on #1974
I tend to agree that armv7 is probably not as high priority as aarch64, but I think it is not so bad (far from the 'bad to keep')

[2019-08-23 02:50] KexyBiscuit commented on #1974
## Motivation

I personally closed the [security issue of VLC](https://github.com/AOSC-Dev/aosc-os-abbs/issues/1973#issuecomment-523846442), since VLC has been FTBFS for a while on Armv7-A but works fine on all other 4 arches receiving security updates routinely. Currently, the build agent available for Armv7-A is [NVIDIA Jetson TX1 Developer Kit](https://developer.nvidia.com/embedded/jetson-tx1-d

[2019-08-23 03:11] KexyBiscuit opened #1975 "linux{-,+}kernel*: expected security update to 5.2.10, 4.19.68"
**CVE IDs:** [CVE-2019-15117](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15117), [CVE-2019-15118](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15118), [CVE-2019-15538](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15538)

**Other security advisory IDs:** N/A

**Descriptions:** parse_audio_mixer_unit in sound/usb/mixer.c in the Linux kernel through 5.2.9 mishandles

[2019-08-23 03:20] KexyBiscuit opened #1976 "libreoffice{,-help}: security update to 6.2.6"
**CVE IDs:** [CVE-2019-9850](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9850), [CVE-2019-9851](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9851), [CVE-2019-9852](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9852)

**Other security advisory IDs:** [DSA-4501-1](https://www.debian.org/security/2019/dsa-4501)

**Descriptions:** LibreOffice is typically bundled with

[2019-08-23 05:36] KexyBiscuit opened #1977 "kconfig, kdelibs: code execution with minimal user interaction"
**CVE IDs:** [CVE-2019-14744](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14744)

**Other security advisory IDs:** [KDE Project Security Advisory](https://kde.org/info/security/advisory-20190807-1.txt), [DSA-4494-1](https://www.debian.org/security/2019/dsa-4494), [USN-4100-1](https://usn.ubuntu.com/4100-1/), [FEDORA-2019-48b691092f](https://lists.fedoraproject.org/archives/list/package

[2019-08-23 08:07] KexyBiscuit opened #1978 "hostapd, wpa-supplicant: security update to 2.9"
**CVE IDs:** [CVE-2019-13377](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13377)

**Other security advisory IDs:** [USN-4098-1](https://usn.ubuntu.com/4098-1/), [FEDORA-2019-97e9040197](https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/IELLEPIXWQOJFW4SZMU3WQHO63JFAHA4/)

**Descriptions:** The implementations of SAE and EAP-pwd in hostapd and

[2019-08-23 17:08] MingcongBai commented on #1963
To fix, drop, and merge in ~6hrs.

[2019-08-23 20:40] MingcongBai commented on #1935
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/1963. Closing.

[2019-08-23 20:40] #1935 closed, assigned to nobody

[2019-08-24 08:21] KexyBiscuit opened #1979 "linux{-,+}kernel*: a double free bug in rsi_91x_deinit"
**CVE IDs:** [CVE-2019-15504](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15504)

**Other security advisory IDs:** N/A

**Descriptions:** drivers/net/wireless/rsi/rsi_91x_usb.c in the Linux kernel through 5.2.9 has a Double Free via crafted USB device traffic (which may be remote via usbip or usbredir).

**Patches:** [[PATCH] Fix a double free bug in rsi_91x_deinit](https://lore.kernel

[2019-08-24 08:33] KexyBiscuit opened #1980 "cuberite: security update to 2019-06-11"
**CVE IDs:** [CVE-2019-15516](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15516)

**Other security advisory IDs:** N/A

**Descriptions:** Cuberite before 2019-06-11 allows webadmin directory traversal via ....// because the protection mechanism simply removes one ../ substring.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**
- [x] AMD64 `amd64`
- [x] ARMv7 `armel`
- [x]

[2019-08-24 08:34] KexyBiscuit commented on #1980
What we have is 2018-01-22, much too far away from the latest version, target testing instead.

[2019-08-24 08:43] KexyBiscuit opened #1981 "httpie: Open Redirect"
**CVE IDs:** CVE-2019-10751

**Other security advisory IDs:** [SNYK-PYTHON-HTTPIE-460107](https://snyk.io/vuln/SNYK-PYTHON-HTTPIE-460107), openSUSE-SU-2019:2050-1

**Descriptions:** All versions of the HTTPie package are vulnerable to Open Redirect that allows an attacker to write an arbitrary file with supplied filename and content to the current directory, by redirecting a request from HTTP to a

[2019-08-26 01:48] KexyBiscuit opened #1982 "libmirage: heap-based buffer overflow"
**CVE IDs:** [CVE-2019-15540](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15540)

**Other security advisory IDs:** N/A

**Descriptions:** filters/filter-cso/filter-stream.c in the CSO filter in libMirage 3.2.2 in CDemu does not validate the part size, triggering a heap-based buffer overflow that can lead to root access by a local Linux user.

**Patches:** [libMirage: CSO filter: valida

[2019-08-26 02:20] KexyBiscuit commented on #1773
Armv7-A and PowerPC 32-bit big-endian are fixed by updating to 2.3.1.
Use AOSA-2019-0179.

[2019-08-26 02:20] #1773 closed, assigned to KexyBiscuit

[2019-08-26 17:58] luzpaz opened #1983 "blender: please update to 2.80"
https://packages.aosc.io/packages/blender isn't showing the correct upstream stable.
See https://www.blender.org/download/

[2019-08-28 08:32] l2dy commented on #1981
This is CVE-2019-10751.

[2019-08-31 03:31] MingcongBai commented on #1974
I am against this - we should not justify dropping a port simply because a build host is exhibiting runtime issues (as described by @KexyBiscuit ).

@Icenowy Has suggested that we started stripping features from `armel` packages, however.

[2019-08-31 04:50] MingcongBai commented on #1963
All clear, including broken ones.

[2019-08-31 04:50] #1963 closed, assigned to nobody

[2019-09-02 00:48] eatradish commented on #1966
Fix with ac4dbc7, close this issue

[2019-09-02 00:48] #1966 closed, assigned to nobody

[2019-09-02 03:37] MingcongBai commented on #1980
Redirected to Stable - [patch in question](https://github.com/cuberite/cuberite/commit/85006d10f5b4f8fb2e95be479d0b7c28a42d1d46).

[2019-09-02 03:38] MingcongBai commented on #1979
Fixed with e1bab4317e2533cf41719a18687ca6b50b882ed7.

[2019-09-02 03:39] MingcongBai commented on #1975
Fix commits:

- Mainline (to 5.2.11) - e1bab4317e2533cf41719a18687ca6b50b882ed7
- LTS (to 4.19.69) - c561f7418419cce9cce6121be81521ef12e1fa3e

[2019-09-02 03:40] MingcongBai commented on #1978
Redirected to Testing - this is not a patch-level update.

@KexyBiscuit @l2dy Any fix available for 2.7?

[2019-09-02 12:58] MingcongBai commented on #1978
It seems that this vulnerability only affects configurations with WPA3 enabled (which we don't). Let's target this for Testing, when we will update to 2.9 and enable such support.

[2019-09-02 13:10] MingcongBai commented on #1970
Also included patch to fix bug 295, while I'm here:

[code]

[2019-09-02 13:22] MingcongBai commented on #1969
Fixed with e1bab4317e2533cf41719a18687ca6b50b882ed7.

[2019-09-02 15:15] MingcongBai commented on #1958
Dropping Caddy - unbuildable.

[2019-09-02 15:15] MingcongBai commented on #1958
Twisted update still not released.

[2019-09-02 15:19] MingcongBai commented on #1933
Fixed with eea56f24c1b4e0a7be3ff1b82348af04709252d4.

[2019-09-02 15:27] MingcongBai commented on #1932
Fixed with 854b839b5e.

[2019-09-02 15:29] MingcongBai commented on #1927
Fixed with fc5c7c76ad62459b553e6c94ec346759a3e0cd75 - merged. Closing.

[2019-09-02 15:29] #1927 closed, assigned to nobody

[2019-09-02 15:30] MingcongBai commented on #1924
Fixed with 11f05a8d6e446da290e616155b5f7dd105a1cbd1 and 1cb10d700fd434962e06a30362ac3168b14fa374 - merged. Closing.

[2019-09-02 15:30] #1924 closed, assigned to nobody

[2019-09-02 15:35] MingcongBai commented on #1916
Superseded by #1976. Closing.

[2019-09-02 15:35] #1916 closed, assigned to nobody

[2019-09-02 15:35] MingcongBai commented on #1915
Fixed with 8a00d7c529b28161f73e6fae60a263a86fa97ae5.

[2019-09-02 15:51] MingcongBai commented on #1909
Fixed with 714a28d4b6814bdb6f72717e85dcdaa4fe953f33.

[2019-09-02 15:51] MingcongBai commented on #1908
Fixed with d2e7370b1f9c66ec222986cf453d419b84970a78.

[2019-09-03 12:34] #1892 closed, assigned to nobody

[2019-09-03 12:36] MingcongBai commented on #1760
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/1828. Closing.

[2019-09-03 12:36] #1760 closed, assigned to nobody

[2019-09-03 12:46] MingcongBai commented on #1828
Dovecot 2.3.x is now Stable.

[2019-09-03 12:58] MingcongBai commented on #1793
Delayed for https://github.com/AOSC-Dev/aosc-os-abbs/issues/1978. Closing.

[2019-09-03 12:58] #1793 closed, assigned to nobody

[2019-09-04 09:26] r4sas opened #1984 "i2pd: update to 2.28.0"
Current version in repository (2.23.0) is outdated.
Please update package to 2.28.0, because here was few network changes that are preferred to have, like using new transport protocol NTCP2 as default, new signature types and protocols bugfixes.

https://github.com/PurpleI2P/i2pd/releases/tag/2.28.0

[2019-09-04 10:25] Plectranthus-fg opened #1985 "ca-certs: vision:20190820-x unusable"
Bug description
-----------------------

after upgrade to vision 20190820-x, ca-certs is invalid.

Reproducing steps
---------------------------

upgrade to 20190820-x

Update channel(s)
--------------------------

stable-proposed

Package and version
------------------------------

ca-certs/stable-proposed 20190820-2 all
ca-certs/stable-proposed 20190820-1 all
ca-certs/stable-proposed 20190820 al

[2019-09-07 11:36] l2dy opened #1986 "exim: security update to 4.92.2"
**CVE IDs:** CVE-2019-15846

**Other security advisory IDs:** DSA-4517-1, USN-4124-1, GLSA 201909-06

**Descriptions:**
"Zerons" and Qualys discovered that a buffer overflow triggerable in the
TLS negotiation code of the Exim mail transport agent could result in the
execution of arbitrary code with root privileges.

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `a

[2019-09-07 11:38] l2dy commented on #1986
Official advisory: https://www.exim.org/static/doc/security/CVE-2019-15846.txt

[2019-09-07 11:41] l2dy opened #1987 "chromium, google-chrome: security update to 76.0.3809.132"
**CVE IDs:** CVE-2019-5869

**Other security advisory IDs:** RHSA-2019:2670-01, openSUSE-SU-2019:2080-1

**Descriptions:**
This update includes 3 security fixes. Below, we highlight fixes that were contributed by external researchers. Please see the Chrome Security Page for more information.

[$5500][978793] High CVE-2019-5869: Use-after-free in Blink. Reported by Zhe Jin（金哲），Luyao Liu(刘路遥) from C

[2019-09-07 12:16] l2dy opened #1988 "firefox: security update to 69.0"
**CVE IDs:** CVE-2019-11734, CVE-2019-11735, CVE-2019-11737, CVE-2019-11738, CVE-2019-11740, CVE-2019-11741, CVE-2019-11742, CVE-2019-11743, CVE-2019-11744, CVE-2019-11746, CVE-2019-11747, CVE-2019-11748, CVE-2019-11749, CVE-2019-11750, CVE-2019-11752, CVE-2019-5849, CVE-2019-9812

**Other security advisory IDs:** RHSA-2019:2663-01, USN-4122-1, DSA-4516-1

**Descriptions:**
https://www.mozilla.org

[2019-09-07 15:05] l2dy commented on #1978
We have `CONFIG_EAP_PWD=y` in `extra-network/wpa-supplicant/autobuild/config`.

Reference: https://w1.fi/security/2019-6/sae-eap-pwd-side-channel-attack-update.txt

[2019-09-07 15:07] l2dy commented on #1978
Patches for 2.8: https://w1.fi/security/2019-6/

[2019-09-07 15:44] l2dy commented on #1828
Adding `Open-Xchange Security Advisory 2019-08-14`.

[2019-09-07 15:54] MingcongBai commented on #1965
Duplication with https://github.com/AOSC-Dev/aosc-os-abbs/issues/1891. Closing.

[2019-09-07 15:54] #1965 closed, assigned to nobody

[2019-09-07 16:04] l2dy opened #1989 "irssi: security update to 1.2.2"
**CVE IDs:** CVE-2019-15717

**Other security advisory IDs:** USN-4119-1, ASA-201908-20, MGASA-2019-0255

**Descriptions:**
https://irssi.org/security/irssi_sa_2019_08.txt

Use after free when receiving duplicate CAP found by Joseph Bisch.
    (CWE-416)

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-09-07 16:12] l2dy opened #1990 "sdl2: security update to 2.0.10"
**CVE IDs:** CVE-2019-7572, CVE-2019-7573, CVE-2019-7574, CVE-2019-7575, CVE-2019-7576, CVE-2019-7577, CVE-2019-7578, CVE-2019-7635, CVE-2019-7636, CVE-2019-7638

**Other security advisory IDs:** openSUSE-SU-2019:1261-1, ASA-201908-5, MGASA-2019-0239

**Descriptions:**
- CVE-2019-7572 (arbitrary code execution)

SDL (Simple DirectMedia Layer) through 1.2.15 and 2.x through 2.0.9 has
a buffer over-

[2019-09-07 16:12] l2dy commented on #1990
Fixed in dba2ffe4135229273b35b2430296a6645a667b2f.

[2019-09-07 16:25] l2dy commented on #1958
httpd 2.4.41 also fixed CVE-2019-10092, CVE-2019-10097, CVE-2019-10098.

[2019-09-07 16:29] l2dy opened #1991 "commons-compress: security update to 1.19"
**CVE IDs:** CVE-2019-12402

**Other security advisory IDs:** N/A

**Descriptions:**

The file name encoding algorithm used internally in Apache Commons
Compress can get into an infinite loop when faced with specially
crafted inputs. This can lead to a denial of service attack if an
attacker can choose the file names inside of an archive created by
Compress.

**Architectural progress:**

- [x] Arc

[2019-09-07 16:35] l2dy opened #1992 "libreoffice{,-help}: security update to 6.2.7"
**CVE IDs:** [CVE-2019-9854](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9854), [CVE-2019-9855](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9855)

**Other security advisory IDs:** N/A

**Descriptions:**
https://www.libreoffice.org/about-us/security/advisories/cve-2019-9854/

LibreOffice has a feature where documents can specify that pre-installed macros can be executed on v

[2019-09-07 16:44] l2dy opened #1993 "twisted: security update to 19.7.0"
**CVE IDs:** CVE-2019-12387, CVE-2019-12855

**Other security advisory IDs:** openSUSE-SU-2019:1760-1, openSUSE-SU-2019:2068-1

**Descriptions:**
   - CVE-2019-12387: Fixed an improper sanitization of URIs or HTTP which
     could have allowed attackers to perfrom CRLF attacks (bsc#1137825).
   - CVE-2019-12855: Fixed TLS certificate verification to protecting against
     MITM attacks (bsc#113846

[2019-09-07 16:59] l2dy opened #1994 "wireshark: security update to 3.0.3"
**CVE IDs:** CVE-2019-13619

**Other security advisory IDs:** wnpa-sec-2019-20, openSUSE-SU-2019:1965-1, MGASA-2019-0227

**Descriptions:**
   - CVE-2019-13619: ASN.1 BER and related dissectors crash (bsc#1141980).

https://www.wireshark.org/security/wnpa-sec-2019-20.html

**PoC(s):** https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15870

**Architectural progress:**

- [x] AMD64 `amd64`
- [x]

[2019-09-07 17:17] l2dy opened #1995 "php7: security update to 7.3.9"
**CVE IDs:** CVE-2019-11041, CVE-2019-11042

**Other security advisory IDs:** MGASA-2019-0218, USN-4097-1

**Descriptions:**
When PHP EXIF extension is parsing EXIF information from an image, e.g.
via exif_read_data() function, in PHP versions 7.1.x below 7.1.31,
7.2.x below 7.2.21 and 7.3.x below 7.3.8 it is possible to supply it with
data what will cause it to read past the allocated buffer. Thi

[2019-09-07 17:24] l2dy opened #1996 "phpmyadmin: security update to 5.0.2"
**CVE IDs:** CVE-2019-11768, CVE-2019-12616, CVE-2020-10802, CVE-2020-10803, CVE-2020-10804

**Other security advisory IDs:** MGASA-2019-0200, MGASA-2020-0150, openSUSE-SU-2019:1689-1, openSUSE-SU-2020:0405-1

**Descriptions:**
   - boo#1137497 / PMASA-2019-4 / CVE-2019-12616 / CWE-661: Fixed CSRF
     vulnerability in login form
     https://www.phpmyadmin.net/security/PMASA-2019-4/

   - boo#113

[2019-09-10 02:24] KexyBiscuit commented on #1366
@MingcongBai What's your thought on this? I prefer to replace the deprecated package with ybk-mgr.

[2019-09-10 02:25] MingcongBai commented on #1366
I am honestly impartial since there is no interest to continue maintenance.

[2019-09-10 02:27] KexyBiscuit commented on #1649
Use AOSA-2019-0180.

[2019-09-10 02:27] #1649 closed, assigned to nobody

[2019-09-10 02:46] MingcongBai commented on #1896
FROZEN: no further updates (apart from those already listed under "Expected Updates") shall be added to this iteration plan. Any future additions should be made in the Fall Iteration Plan (draft pending cc @KexyBiscuit ).

[2019-09-10 03:44] KexyBiscuit opened #1997 "[FROZEN] Iteration Plan for Fall 2019"
This plan captures our work in **Fall**. Typhoon blows away the dust on software updates, here comes a new iteration.

## Expected Updates

### Stable-Proposed => Stable

_Freeze pending._

### Testing-Proposed => Testing

_Freeze pending._

## Released Updates

### Stable-Proposed => Stable

- [x] December 20, 2019: `unzip` v6.10c25
- [x] February 3, 2019: MAWK v1.3.4+20190203
  - [x] `mawk`
- [x

[2019-09-10 04:15] KexyBiscuit opened #1998 "python-{2,3}: FTBFS on PowerPC 32-bit"
Bug description
-----------------------

Python 2:
[code]

Python 3:
[code]

Reproducing steps
---------------------------

Build `python-{2,3}` on PowerPC 32-bit.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

b4848b4, 9248d99

[2019-09-10 07:16] KexyBiscuit opened #1999 "neovim: FTBFS on PowerPC 64-bit"
Bug description
-----------------------

[code]

Reproducing steps
---------------------------

Build `neovim` on PowerPC 64-bit.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

0ae0169

[2019-09-10 07:25] KexyBiscuit commented on #1999
Neovim depends on LuaJIT, which doesn't support PowerPC 64-bit. Documented in a5133ae, closing.

[2019-09-10 07:25] #1999 closed, assigned to KexyBiscuit

[2019-09-10 07:30] KexyBiscuit opened #2000 "neovim: FTBFS on Armv7-A"
Bug description
-----------------------

[code]

Reproducing steps
---------------------------

Build `neovim` on Armv7-A.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

0ae0169

[2019-09-10 07:38] KexyBiscuit commented on #1865
Use AOSA-2019-0181.

[2019-09-10 07:38] #1865 closed, assigned to KexyBiscuit

[2019-09-10 08:00] KexyBiscuit commented on #1854
Use AOSA-2019-0182.

[2019-09-10 08:00] #1854 closed, assigned to KexyBiscuit

[2019-09-10 08:00] KexyBiscuit commented on #1857
Use AOSA-2019-0183.

[2019-09-10 08:00] #1857 closed, assigned to KexyBiscuit

[2019-09-10 08:01] KexyBiscuit commented on #1856
Use AOSA-2019-0184.

[2019-09-10 08:01] #1856 closed, assigned to KexyBiscuit

[2019-09-10 09:13] KexyBiscuit opened #2001 "python-{2,3}: wrongly parses email addresses"
**CVE IDs:** [CVE-2019-16056](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16056)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in Python through 2.7.16, 3.x through 3.5.7, 3.6.x through 3.6.9, and 3.7.x through 3.7.4. The email module wrongly parses email addresses that contain multiple @ characters. An application that uses the email module and imple

[2019-09-10 09:37] KexyBiscuit commented on #1847
Use AOSA-2019-0185.

[2019-09-10 09:37] #1847 closed, assigned to KexyBiscuit

[2019-09-10 14:50] MingcongBai commented on #1896
FROZEN: no further updates (apart from those already listed under "Expected Updates", or are exceptional updates targeting Stable) shall be added to this iteration plan. Any future additions should be made in the Fall Iteration Plan (#1997).

[2019-09-11 01:41] MingcongBai opened #2002 "openssl: update to 1.0.2t/1.1.1.d"
**CVE IDs:** CVE-2019-1563

**Descriptions:** https://www.openssl.org/news/secadv/20190910.txt

**Patches:** N/A

**PoC(s):** N/A

~**Architectural progress (1.1.1):**~ See #2133

**Architectural progress (1.0.2):**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2019-09-11 01:41] MingcongBai commented on #1889
Superseded by #2002. Closing.

[2019-09-11 01:41] #1889 closed, assigned to nobody

[2019-09-11 06:06] KexyBiscuit commented on #1835
Help wanted on this.

[2019-09-11 06:18] KexyBiscuit commented on #1828
Build `dovecot` requires `pandoc`, which requires `ghc`, which isn't available on arches other than AMD64. Since it's built via bootstrapping, enable other arches isn't trivial, help wanted.

[2019-09-11 08:14] KexyBiscuit commented on #1852
Use AOSA-2019-0186.

[2019-09-11 08:14] #1852 closed, assigned to KexyBiscuit

[2019-09-11 08:14] KexyBiscuit commented on #1839
Use AOSA-2019-0187.

[2019-09-11 08:14] #1839 closed, assigned to KexyBiscuit

[2019-09-11 08:15] KexyBiscuit commented on #1621
Use AOSA-2019-0188.

[2019-09-11 08:15] #1621 closed, assigned to nobody

[2019-09-11 08:15] KexyBiscuit commented on #1846
Use AOSA-2019-0189.

[2019-09-11 08:15] #1846 closed, assigned to KexyBiscuit

[2019-09-11 08:25] KexyBiscuit commented on #1031
[GLSA 201908-05](https://security.gentoo.org/glsa/201908-05) declares v0.9.12 fixes [CVE-2018-7226](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7226), is that true? @l2dy @MingcongBai

[2019-09-12 09:26] KexyBiscuit commented on #1803
Use AOSA-2019-0190.

[2019-09-12 09:26] #1803 closed, assigned to nobody

[2019-09-12 09:27] KexyBiscuit commented on #1738
@MingcongBai Armv7-A was marked as completed but I can't find the updated package in the repo, please check.

[2019-09-12 09:37] KexyBiscuit commented on #1778
Use AOSA-2019-0191.

[2019-09-12 10:08] #1778 closed, assigned to KexyBiscuit

[2019-09-12 10:09] KexyBiscuit commented on #1781
Use AOSA-2019-0192.

[2019-09-12 10:09] #1781 closed, assigned to KexyBiscuit

[2019-09-12 10:09] KexyBiscuit commented on #1782
Use AOSA-2019-0193.

[2019-09-12 10:09] #1782 closed, assigned to KexyBiscuit

[2019-09-12 10:10] KexyBiscuit commented on #1701
Use AOSA-2019-0194.

[2019-09-12 10:10] #1701 closed, assigned to nobody

[2019-09-12 10:10] KexyBiscuit commented on #1774
Use AOSA-2019-0195.

[2019-09-12 10:10] #1774 closed, assigned to nobody

[2019-09-12 10:10] KexyBiscuit commented on #1741
Use AOSA-2019-0196.

[2019-09-12 10:10] #1741 closed, assigned to nobody

[2019-09-13 10:12] eatradish opened #2004 "apt-fast: unable to use aria2c as the download backend for apt-fast"
Bug description
-----------------------

Unable to use aria2c as the download backend for apt-fast

Reproducing steps
---------------------------

I tried to add the following line in `/etc/apt-fast.conf`:
[code]
But it doesn't work.

and:
[code]
Update channel(s)
--------------------------

All

Package and version
------------------------------

[code]

[2019-09-14 19:22] hartwork opened #2005 "expat: Please update to version 2.2.8 with security fixes"
https://blog.hartwork.org/posts/expat-228-with-security-fixes-has-been-released/

Thank you!

Related: #1880

[2019-09-15 02:08] MingcongBai commented on #1880
Superseded by #2005. Closing.

[2019-09-15 02:08] #1880 closed, assigned to nobody

[2019-09-15 02:12] MingcongBai commented on #2005
Thanks for reporting. Here below is our security work stub.

--------------

**CVE IDs:** CVE-2019-15903
**Other security advisory IDs:**

**Descriptions:**

In libexpat before 2.2.8, crafted XML input could fool the parser into changing from DTD parsing to document parsing too early; a consecutive call to XML_GetCurrentLineNumber (or XML_GetCurrentColumnNumber) then resulted in a heap-based buffe

[2019-09-15 06:01] eatradish commented on #1985
Fixed with `ca-certs/stable-proposed 20190820-3 all` , Closing.

[2019-09-15 06:01] #1985 closed, assigned to nobody

[2019-09-16 06:09] KexyBiscuit commented on #1992
Update: add CVE-2019-9855.

[2019-09-16 06:10] KexyBiscuit commented on #1992
e64b326 will fix this.

[2019-09-17 04:18] ananaoscbot opened #2006 "wine:"
而且aosc的wine没有编译gtk theme plugin???

[2019-09-17 04:19] #2006 closed

[2019-09-17 04:28] ananaoscbot opened #2007 "test"
Hello!

[2019-09-17 04:29] #2007 closed

[2019-09-17 06:14] ananaoscbot opened #2008 "1"
Hello!

[2019-09-17 06:24] #2008 closed

[2019-09-17 15:22] ananaoscbot opened #2009 "test four"
## Description

Hello!

## Open issue By

ShimizuSaki from telegram

[2019-09-17 15:22] #2009 closed

[2019-09-18 01:12] MingcongBai opened #2010 "Testing Queue for Stable-Proposed (20190917)"
- [x] main(amd64): android-platform-tools 9.0.0r48
- [x] main(amd64): appstream 0.12.8
- [x] main(amd64): appstream-qt 0.12.8
- [x] main(amd64): argtable2 2.13-1
- [x] main(amd64): atril 1.20.2-3
- [x] main(amd64): avidemux 2.7.4
- [x] main(amd64): bind 9.12.4.P2
- [x] main(amd64): brave-browser 0.69.125
- [x] main(amd64): bup 0.29.3
- [x] main(amd64): cdemu-client 3.2.3
- [x] main(amd64): cgdb 0.

[2019-09-18 02:10] MingcongBai opened #2011 "libpeas: rebuild for Python 3.7"
Bug description
-----------------------

libpeas: /usr/lib/libpeas-1.0/loaders/libpython3loader.so

Reproducing steps
---------------------------

Launch liferea.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

`libpeas` v1.22.0

[2019-09-18 03:21] MingcongBai commented on #2011
Fixed with https://github.com/AOSC-Dev/aosc-os-abbs/commit/26c6e4d23b6b13a35a5c73cccb29ecb0bff92d65. Closing.

[2019-09-18 03:21] #2011 closed, assigned to nobody

[2019-09-18 04:05] MingcongBai commented on #2010
Green and merged. Closing.

[2019-09-18 04:05] #2010 closed, assigned to nobody

[2019-09-18 07:28] ananaoscbot opened #2012 "rhythmbox: rhythmbox does not recognize my iPod device"
## Description

Hello,
Rhythmbox does not recognize my iPod device
My lsusb:
➜  Downloads lsusb
Bus 006 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 005 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 002 Device 012: ID 0cf3:e003 Qualcomm Atheros Communications
Bus 002 Device 033: ID 05ac:1209 Apple, Inc. iPod Video
Bus 002 Device 002: ID 8087:0024 Intel Corp. Integrated R

[2019-09-18 07:32] ananaoscbot opened #2013 "test"
## Description

/openissue rhythmbox: rhythmbox does not recognize my iPod device

## Open issue By

ShimizuSaki from telegram

[2019-09-18 07:32] #2013 closed

[2019-09-18 14:35] MingcongBai commented on #2012
Please advise, what branch are you on (Stable/Testing)?

[2019-09-19 03:45] KexyBiscuit opened #2016 "linux{-,+}kernel{,-lts}: security update to 5.2.15, 4.19.73"
**CVE IDs:** [CVE-2019-14835](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14835)

**Other security advisory IDs:** [USN-4135-1](https://usn.ubuntu.com/4135-1/)

**Descriptions:** A buffer overflow flaw was found, in versions from 2.6.34 to 5.2.x, in the way Linux kernel's vhost functionality that translates virtqueue buffers to IOVs, logged the buffer descriptors during migration. A pr

[2019-09-19 09:08] KexyBiscuit commented on #1979
Wait... really? https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.2.16 (also in 4.19.74) has the patch.@MingcongBai

[2019-09-19 09:32] KexyBiscuit commented on #1958
Twisted hasn't been actively developed on...

[2019-09-19 09:35] KexyBiscuit commented on #1958
Use AOSA-2019-0197 for Apache HTTP Server, AOSA-2019-0198 for nginx, AOSA-2019-0199 for go, AOSA-2019-0200 for nghttp2, AOSA-2019-0201 for Node.js.

[2019-09-19 09:42] KexyBiscuit commented on #1995
Fixed by 02bfdf5.

[2019-09-19 09:44] KexyBiscuit commented on #1863
Use AOSA-2019-0202 for Vim.

[2019-09-19 09:49] KexyBiscuit commented on #209
Only 4 search results left, 2 are `unset`, 2 seems to be correct. Time to close this?

[2019-09-19 09:53] KexyBiscuit commented on #335
Wondering what's the license of it?

[2019-09-19 09:55] KexyBiscuit commented on #1938
Use AOSA-2019-0203.

[2019-09-19 09:55] #1938 closed, assigned to nobody

[2019-09-19 14:00] Artoria2e5 commented on #209
LGTM.

[2019-09-19 14:00] #209 closed

[2019-09-19 14:01] Artoria2e5 commented on #2004
FYI, the default is:
[code]

[2019-09-19 15:04] eatradish commented on #2004
I tried to change to this
`_DOWNLOADER='aria2c -c -j ${_MAXNUM} -i ${DLLIST} --connect-timeout=600 --timeout=600 -m0'`

I tried to change to this:
[code]
but:
[code]

and:
[code]
[code]

[2019-09-19 15:40] Artoria2e5 commented on #2004
https://github.com/AOSC-Dev/aosc-os-abbs/blob/a45e8d1/extra-admin/apt-fast/spec#L1-L2

I am suspecting a packaging error here. Who the heck calls 1.8.2 version 1.9.8? Why are we not using GITCO from https://github.com/ilikenwf/apt-fast/ on `-b 1.9.8`?

[2019-09-19 15:41] MingcongBai commented on #2004
Yep that's a hard-coded version...

[2019-09-20 04:55] KexyBiscuit commented on #1738
Use AOSA-2019-0204.

[2019-09-20 04:55] #1738 closed, assigned to nobody

[2019-09-20 05:24] eatradish commented on #2004
Fixed with 9c7e4045b7b950ba7d272c6ada23cb97523c9d78

[2019-09-20 05:29] Artoria2e5 commented on #2004
Now you are supposed to update your config to match the example...

[2019-09-20 05:31] eatradish commented on #2004
After testing, the newly pushed apt-fast function is all right. The question is, @MingcongBai  do you need to push it to the branch that already has version 1.9.8?

[2019-09-20 05:32] MingcongBai commented on #2004
@eatradish You should bump REL, and push it to the offending branch (Stable in this case).

[2019-09-20 05:41] KexyBiscuit opened #2017 "ceph: FTBFS on PowerPC 64-bit"
Bug description
-----------------------

Before: [acbs-build_hxxg3sc9.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3634326/acbs-build_hxxg3sc9.log)
After 45bd930: [acbs-build_v981_s6h.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3634524/acbs-build_v981_s6h.log)

Reproducing steps
---------------------------

Build `ceph` on PowerPC 64-bit.

Update channel(s)
-------------------------

[2019-09-20 06:11] KexyBiscuit opened #2018 "ceph: FTBFS on Armv7-A"
Bug description
-----------------------

[acbs-build_3unn3id0.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3634422/acbs-build_3unn3id0.log)

Reproducing steps
---------------------------

Build `ceph` on Armv7-A.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

45bd930

[2019-09-20 06:36] KexyBiscuit commented on #2017
805ba9a fixes some but not all problems.

[2019-09-20 06:38] KexyBiscuit opened #2019 "ceph: FTBFS on AArch64"
Bug description
-----------------------

[acbs-build_w0q_mddf.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3634544/acbs-build_w0q_mddf.log)

Reproducing steps
---------------------------

Build `ceph` on AArch64.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

45bd930

[2019-09-20 06:39] KexyBiscuit commented on #1734
Totally blocked, details in architectural progress section.

[2019-09-20 06:40] eatradish commented on #2004
Fixed with a87f4a53b0ccdb3e89de4e9e30427e24f307f31c

Branch that has completed the update:
- [x] AMD64
- [ ] AArch64
- [ ] AArch32
- [ ] PowerPC 32
- [ ] PPC64be
- [ ] PPC64el

[2019-09-20 06:44] KexyBiscuit commented on #1698
Use AOSA-2019-0205.

[2019-09-20 06:44] #1698 closed, assigned to KexyBiscuit

[2019-09-20 06:53] KexyBiscuit commented on #1702
Use AOSA-2019-0206.

[2019-09-20 06:53] #1702 closed, assigned to KexyBiscuit

[2019-09-20 07:03] Artoria2e5 commented on #2004
apt-fast should be noarch... (Architecture: any or all) Does ab3 support that?
https://wiki.debian.org/MultiArch/Hints

[2019-09-20 07:09] KexyBiscuit commented on #1988
Use AOSA-2019-0207.

[2019-09-20 07:09] #1988 closed, assigned to KexyBiscuit

[2019-09-20 07:42] KexyBiscuit commented on #1850
Use AOSA-2019-0208.

[2019-09-20 07:42] #1850 closed, assigned to KexyBiscuit

[2019-09-20 07:45] KexyBiscuit commented on #1804
This blocks #1992 on Armv7-A.

[2019-09-20 07:54] KexyBiscuit commented on #2004
[`apt-fast`](https://packages.aosc.io/packages/apt-fast) has already been `noarch` AFAIK...

[2019-09-20 07:55] eatradish commented on #2004
ok....
close this issue.

[2019-09-20 07:55] #2004 closed, assigned to nobody

[2019-09-20 07:59] KexyBiscuit commented on #643
@MingcongBai I think you have done this?

[2019-09-20 07:59] MingcongBai commented on #643
@KexyBiscuit Indeed, this has become a standard protocol in groups/go-rebuild.

[2019-09-20 08:00] KexyBiscuit commented on #643
Closing.

[2019-09-20 08:00] #643 closed

[2019-09-20 12:27] KexyBiscuit opened #2020 "clp: FTBFS on AArch64 and Armv7-A"
Bug description
-----------------------

AArch64: [acbs-build_nxyv5qmj.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3635865/acbs-build_nxyv5qmj.log)

Armv7-A: [acbs-build_obmlxfv3.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3635866/acbs-build_obmlxfv3.log)

Reproducing steps
---------------------------

Build `clp` on AArch64 or Armv7-A.

Update channel(s)
--------------------------

[2019-09-20 12:28] KexyBiscuit commented on #2020
This blocks #1992 on AArch64.

[2019-09-22 08:58] Fearyncess opened #2021 "xfce4-session: missing light-locker-command support in xflock4"
Bug description
-----------------------

The xfce-base in the tree has a light-locker dep but the xflock4 simple screensaver wrapper program has not "light-locker" support in it. It causes user can not directly use the "Lock" button provided by xfce4-session to lock the device quickly.

Reproducing steps
---------------------------

click Lock button in the xfce4's session dialog.

Update channel(

[2019-09-23 04:14] KexyBiscuit opened #2022 "linux{-,+}kernel{,-lts}: security update to 5.2.17, 4.19.75"
**CVE IDs:** [CVE-2019-14814](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14814), [CVE-2019-14816](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14816)

**Other security advisory IDs:** N/A

**Descriptions:** There is heap-based buffer overflow in Linux kernel, all versions up to, excluding 5.3, in the marvell wifi chip driver in Linux kernel, that allows local users to cause

[2019-09-23 08:27] KexyBiscuit commented on #2022
Fixed in 5ff809eb4e2c12100c801986657db49d1e95372c and 495666e773bccc385bfe5d020415a338d4b2fb9c.

[2019-09-23 10:18] KexyBiscuit opened #2023 "it87: repository is gone"
Bug description
-----------------------

The SRCTBL in [spec](https://github.com/AOSC-Dev/aosc-os-abbs/blob/explosive/extra-kernel/it87/spec) returns 404, since the repository has been removed.

Reproducing steps
---------------------------

`curl https://github.com/groeck/it87/archive/v1.0.tar.gz`

Update channel(s)
--------------------------

Any

Package and version
----------------------------

[2019-09-23 10:20] KexyBiscuit commented on #2023
The driver seems to be [in the mainline kernel](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/hwmon/it87?id=51b00d8509dc69c98740da2ad07308b630d3eb7d) (for some time).

[2019-09-23 10:27] Garfield550 commented on #2023
I found a fork: https://github.com/a1wong/it87

[2019-09-23 14:31] Fearyncess commented on #2021
fixed in 4.14 and xfce 4.14 is in summer 2019

[2019-09-23 15:02] Fearyncess opened #2024 "thunar-archive-plugin: can not detect the file-roller correctly"
Bug description
-----------------------

this plugin provided thunar's archive file support through customized "tap" file. and the
"tap" filename should follow the archive manager fd.o ".desktop" file in `/usr/share/applications`.
but our xfce-base has a dep of Gnome File-Roller, it has a fd.o ".desktop" file named "org.gnome.FileRoller.desktop" instead of "file-roller.desktop" or "gnome-file-roll

[2019-09-23 17:14] liushuyu opened #2025 "PHP: Basic extensions not enabled"
Bug description
-----------------------

PHP is not compiled with necessary extensions enabled.

[code]

Not able to install `composer`, the package manager for PHP ecosystem:

[code]

Reproducing steps
---------------------------

Follow the installation steps on https://getcomposer.org/download/

Update channel(s)
--------------------------

Stable

Package and version
--------------------------

[2019-09-23 17:26] liushuyu commented on #2025
Addendum:

The problem isn't with PHP itself, but it's configuration file. OpenSSL support was compiled as a plugin in our case and the configuration file does not contain the use clause (`extension=openssl`), same story for `phar` support.

[2019-09-25 07:23] KexyBiscuit opened #2026 "way-cooler: FTBFS"
Bug description
-----------------------

[acbs-build_2hie89z3.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3651058/acbs-build_2hie89z3.log)

`way-cooler` depends on `rlua`, which depends on `lua` v5.3, which isn't available.

Reproducing steps
---------------------------

Build `way-cooler`.

Update channel(s)
--------------------------

Stable-Proposed or Stable

Package and version
------

[2019-09-25 07:48] KexyBiscuit opened #2027 "ceph: FTBFS on AMD64"
Bug description
-----------------------

[acbs-build_ashodjw0.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3651222/acbs-build_ashodjw0.log)

Reproducing steps
---------------------------

Build ceph on AMD64.

Update channel(s)
--------------------------

Stable-Proposed

Package and version
------------------------------

806ec8257ed6f35100dc23113245343c503fcacc

[2019-09-25 08:45] KexyBiscuit commented on #1878
Use AOSA-2019-0210.

[2019-09-25 08:45] #1878 closed, assigned to nobody

[2019-09-25 08:46] KexyBiscuit commented on #1975
Use AOSA-2019-0211.

[2019-09-25 08:46] #1975 closed, assigned to nobody

[2019-09-25 08:47] KexyBiscuit commented on #1979
Actually fixed in #2016.

[2019-09-25 08:56] KexyBiscuit commented on #1969
CVE-2019-15290 wasn't fixed on [5.2.y](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/log/drivers/net/wireless/ath/ath6kl/usb.c?h=linux-5.2.y), neither [4.19.y](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/log/drivers/net/wireless/ath/ath6kl/usb.c?h=linux-4.19.y). CVE-2019-15291 [isn't fixed](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/l

[2019-09-25 08:58] KexyBiscuit commented on #1969
[Patch for 15290](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/drivers/net/wireless/ath/ath6kl/usb.c?id=39d170b3cb62ba98567f5c4f40c27b5864b304e5) is still in torvalds' tree only.

[2019-09-26 09:57] KexyBiscuit opened #2028 "e2fsprogs: patch or security update to 1.45.4"
**CVE IDs:** [CVE-2019-5094](url)

**Other security advisory IDs:** [TALOS-2019-0887](https://talosintelligence.com/vulnerability_reports/TALOS-2019-0887)

**Descriptions:** An exploitable code execution vulnerability exists in the quota file functionality of E2fsprogs 1.45.3. A specially crafted ext4 partition can cause an out-of-bounds write on the heap, resulting in code execution. An attacker

[2019-10-02 04:23] Artoria2e5 opened #2029 "ntfs-3g: include reparse point plugins"
NTFS has a fancy feature called reparse point that serves as the basis for many of MS's backwards-compatible extensions to the filesystem. Jean-Pierre André from NTFS-3G provides three plugins to help us read some of these things:

* system compression: better readonly compression, used by some space-constrained installations
* file deduplication by chunk: used on some windows servers
* onedrive:

[2019-10-06 04:32] LionNatsu opened #2030 "ipmitool: access violation with wild pointer, coredumps"
Bug description
-----------------------

`ipmitool` coredumps with SIGSEGV, the backtrace shows it died in EVP_CipherInit_ex.

Reproducing steps
---------------------------

@cthbleachbit

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

ipmitool 1.8.18-1, the latest version plus one patch.

[2019-10-06 04:35] cthbleachbit commented on #2030
### Details

##### Backtrace

[code]

Notably frame 0 received a null pointer in its first argument, the cipher context. I am suspecting a bug in `ipmitools`.

##### Reproduction steps

Try to attempt connection to a Serial-on-LAN enabled baseband management module:

`ipmitool -I lanplus -H [address] -U [user] -P [password] sol activate`

Upon authentication success, ipmitool will crash.

[2019-10-06 04:39] LionNatsu commented on #2030
The bug is in the patch set

https://github.com/AOSC-Dev/aosc-os-abbs/blob/38868816c8e132d3025fa5d1efa0e40ad4b8e79b/extra-utils/ipmitool/autobuild/patches/0001-ID-461-OpenSSL-1.1-compatibility-error-storage-size-.patch#L18-L29

It passes an uninitialised pointer `ctx` into EVP_xxx.

Upstream has fixed this in several commits, and FreeBSD has a manually merged patch we may use it to replace the one

[2019-10-08 02:48] KexyBiscuit opened #2031 "linux{-,+}kernel{,-lts}: security update to ^5.2.19, 4.19.79"
**CVE IDs:** [CVE-2019-16746](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16746), [CVE-2019-17052](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17052), [CVE-2019-17053](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17053), [CVE-2019-17054](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-17054), [CVE-2019-17055](https://cve.mitre.org/cgi-bin/cvename.cgi?name

[2019-10-08 05:00] KexyBiscuit opened #2032 "pillow: patch or security update to 6.2.0"
**CVE IDs:** [CVE-2019-16865](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16865)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in Pillow before 6.2.0. When reading specially crafted invalid image files, the library can either allocate very large amounts of memory or take an extremely long period of time to process the image.

**Patches:** python-pillo

[2019-10-11 08:14] KexyBiscuit commented on #335
Not sure why didn't I see it.

https://e-hentai.org/hentaiathome.php (Login required)

[2019-10-11 09:18] Journey-x commented on #1357
How to verify the existence of this vulnerability ?

[2019-10-11 09:19] KexyBiscuit commented on #1357
@Journey-x [Another OpenSSH "user enumeration"](https://seclists.org/oss-sec/2018/q3/180) contains a PoC, which might help.

[2019-10-12 18:29] Artoria2e5 opened #2033 "libfuse: update to 3.x for speeed at next core"
libfuse has been at version 3 for quite a long time. A bunch of defaults are changed, and the SONAME was bumped up, so we are looking at an ABI break here.

libfuse3 is designed to coexist with libfuse2 with some soname magic. Arch Linux is already doing that.

See the changelog at https://github.com/libfuse/libfuse/blob/master/ChangeLog.rst#libfuse-300-2016-12-08.

### Patching packages
If we wan

[2019-10-13 04:17] jyhi commented on #2033
[code]

[2019-10-13 04:22] jyhi commented on #2033
I use fuse 3 in my final year project, but I don't know the difference between fuse 2 and 3. As API changes may lead to design decision, will it be better if we first contact authors of packages depending on fuse 2?

[2019-10-13 04:23] MingcongBai commented on #2033
@lmy441900 The current assumption is that, since other distributions (Arch Linux, Debian, Fedora, ...) are keeping both FUSE 2.x/3.x, and only a small collection of packages depends on the 3.x library, that there is some sort of incompatibility...

[2019-10-13 06:24] Artoria2e5 commented on #2033
There is. That's why I mentioned porting and the API changes.

[2019-10-13 07:53] Artoria2e5 commented on #2033
Done porting wimlib: https://github.com/Artoria2e5/wimlib-fuse3/commit/9324650c18044085a3f8127b5ea1cb61799ffec9

[2019-10-14 16:03] Artoria2e5 opened #2034 "Missing setuid on fusermount (fuse)"
Bug description
-----------------------

Fuse is designed to be usable by unpriv users as long as they are only writing to their own thing. It achieves it by falling back to calling the setuid binary `fusermount` when directly communicating to the kernel is not allowed. We currently fails to make it setuid.

Reproducing steps
---------------------------

Run `ntfs-3g some_drive_or_bin_file some_wr

[2019-10-14 16:18] Artoria2e5 commented on #2034
It's there. Meh.

[2019-10-14 16:18] #2034 closed, assigned to nobody

[2019-10-15 17:49] KexyBiscuit opened #2035 "sudo: security update to 1.8.28"
**CVE IDs:** [CVE-2019-14287](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14287)

**Other security advisory IDs:** N/A

**Descriptions:** When sudo is configured to allow a user to run commands as an arbitrary user via the ALL keyword in a Runas specification, it is possible to run commands as root by specifying the user ID -1 or 4294967295.

This can be used by a user with sufficient

[2019-10-15 18:02] KexyBiscuit commented on #2031
Add CVE-2019-16746 for Linux Kernel v4.19.79, will update to Linux Kernel 5.3.6 since 5.2 has been EOL.

[2019-10-17 06:58] KexyBiscuit opened #2036 "ibus-anthy: FTBFS"
Bug description
-----------------------

[code]

[acbs-build_1m_9laqu.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3737772/acbs-build_1m_9laqu.log)

Reproducing steps
---------------------------

Build `ibus-anthy`.

Update channel(s)
--------------------------

Stable-Proposed

Package and version
------------------------------

31a4351fad2827852bdb71897949f1800788a6a8

[2019-10-17 08:33] KexyBiscuit opened #2037 "rethinkdb: FTBFS"
Bug description
-----------------------

[code]

[acbs-build_2_5en26i.log](https://github.com/AOSC-Dev/aosc-os-abbs/files/3738189/acbs-build_2_5en26i.log)

Reproducing steps
---------------------------

Build `rethinkdb`.

Update channel(s)
--------------------------

Stable-Proposed

Package and version
------------------------------

b0d2b465dd918c03574522e3f7432e7d9c61d360

[2019-10-21 12:57] Artoria2e5 commented on #119
Meow?

[2019-10-25 03:36] Journey-x commented on #1357
@KexyBiscuit Thx for your repley. Do you know which verison solves this problem ?

[2019-10-25 04:10] KexyBiscuit commented on #1357
@Journey-x After fast research, it seems to me that no fix was included in [OpenSSH Portable upstream](https://anongit.mindrot.org/openssh).
@MingcongBai The patch we used was a PoC instead of a fix, however, openSUSE decided not to fix this after all, so I'll keep the issue closed.

[2019-10-25 04:17] KexyBiscuit commented on #1357
@l2dy Revoke AOSA-2019-0063.

[2019-10-25 05:01] l2dy commented on #1357
https://bugzilla.opensuse.org/show_bug.cgi?id=1106163#c41

[2019-10-27 13:39] KexyBiscuit commented on #1927
Use AOSA-2019-0212.

[2019-10-28 03:08] LionNatsu commented on #2030
creeper?

[2019-10-28 03:33] KexyBiscuit commented on #2030
Released v1.8.18-2 on Stable Proposed as AMD64 package. @LionNatsu Could you please test this out?

[2019-10-28 03:46] cthbleachbit commented on #2030
Tested with `18.8.18-2`. I suppose this issue has been fixed.

[2019-10-28 03:46] #2030 closed, assigned to KexyBiscuit

[2019-10-31 14:39] ananaoscbot opened #2039 "rockbox-utility: no package on branch"
## Description

rockbox-utility in https://packages.aosc.io/packages/rockbox-utility, but no package on branch

## Open issue By

ShimizuSaki from telegram

[2019-11-04 08:40] ananaoscbot opened #2040 "Why some package not in branch?"
## Description

@JeffBai 为什么很多包从源上消失了？

## Open issue By

ShimizuSaki from telegram

[2019-11-04 08:41] eatradish commented on #2039
See #2040

[2019-11-04 08:41] #2039 closed, assigned to nobody

[2019-11-04 15:06] MingcongBai commented on #2040
@ananaoscbot This is such a use of the bot - exactly what I was worrying about...

[2019-11-06 04:38] eatradish opened #2041 "GParted: exFAT is not supported"
Bug description
-----------------------

GParted exFAT is not supported

Update channel(s)
--------------------------

Testing-proposed

Package and version
------------------------------

[code]

[2019-11-06 04:41] eatradish opened #2042 "virtualbox: linux-kernel-5.3.8 cannot install virtualbox module"
Bug description
-----------------------

linux-kernel-5.3.8 cannot install virtualbox module

Update channel(s)
--------------------------

Testing-proposed, Testing, Stable-Proposed, Stable

Package and version
------------------------------
[code]

[2019-11-06 05:10] KexyBiscuit commented on #2041
Upstream issue closed: https://gitlab.gnome.org/GNOME/gparted/issues/74
They're waiting for an implementation in Linux Kernel.

[2019-11-06 05:15] KexyBiscuit commented on #2042
Upstream fix: https://www.virtualbox.org/ticket/18911
Update VirtualBox to ^6.0.12 should fix this.

[2019-11-06 05:18] KexyBiscuit commented on #2031
Use AOSA-2019-0213.

[2019-11-06 05:18] #2031 closed, assigned to KexyBiscuit

[2019-11-06 05:18] KexyBiscuit commented on #2022
Use AOSA-2019-0214.

[2019-11-06 05:18] #2022 closed, assigned to nobody

[2019-11-06 05:18] KexyBiscuit commented on #2016
Use AOSA-2019-0215.

[2019-11-06 05:18] #2016 closed, assigned to KexyBiscuit

[2019-11-06 05:19] KexyBiscuit commented on #1979
Closing with #2016.

[2019-11-06 05:19] #1979 closed, assigned to nobody

[2019-11-06 05:19] KexyBiscuit commented on #2023
@MingcongBai ping?

[2019-11-06 05:20] MingcongBai commented on #2023
@KexyBiscuit This package has already been dropped (before the end of the last cycle), as it is now part of the mainline Kernel.

[2019-11-06 05:21] KexyBiscuit commented on #2023
Thanks for the clarification. Closing as resolved.

[2019-11-06 05:21] #2023 closed, assigned to MingcongBai

[2019-11-06 05:22] KexyBiscuit commented on #1968
Use AOSA-2019-0216.

[2019-11-06 05:22] #1968 closed, assigned to nobody

[2019-11-06 05:44] KexyBiscuit commented on #1958
Ubuntu marks these Twisted CVEs as deferred: https://people.canonical.com/~ubuntu-security/cve/pkg/twisted.html

[2019-11-06 10:44] eatradish opened #2043 "RFC: Exception Update use Github Pull Requests"

[2019-11-06 10:53] eatradish commented on #2042
Fix on 7faafac5eceb26ee03dda0f78ec64d39f96de1c8, But have not yet pushed to the stable branch

[2019-11-06 13:46] jyhi commented on #2041
A "legal" inclusion of exFAT code, I think.

[2019-11-07 01:21] misaka4e21 opened #2044 "linux-kernel: Refuse to generate GRUB menu on physical machine"
Bug description
-----------------------

Every time I upgrade linux-kernel, it will fail to regenerate grub entries, complaining "GRUB is not installed or in container/chroot, skipping regeneration of GRUB menu." Just like #636

In the `postinst` script, however, a new method `systemd-detect-virt` has been used to detect chroot/container environments since acac7f70dc9d. It seems that it fixed #636

[2019-11-07 03:59] misaka4e21 opened #2045 "gwenview: broken dependency"
Bug description
-----------------------

gwenview: error while loading shared libraries: libKF5PurposeWidgets.so.5: cannot open shared object file: No such file or directory

Reproducing steps
---------------------------

Install gwenview and run it.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

[code]

[2019-11-07 04:03] misaka4e21 opened #2046 "lximage-qt: broken dependency"
Bug description
-----------------------

lximage-qt: error while loading shared libraries: `libfm-qt.so.5`: cannot open shared object file: No such file or directory

`dpkg -L libfm-qt`:

    ...
    /usr/lib/libfm-qt.so.6

Reproducing steps
---------------------------

Install lximage-qt and run it.

Update channel(s)
--------------------------

stable

Package and version
-----------------------

[2019-11-07 04:05] MingcongBai commented on #2046
@misaka4e21 The sover on libfm-qt.so has changed from 5 to 6, marking PKGBREAK and rebuilding relevant packages.

[2019-11-11 08:42] KexyBiscuit opened #2047 "file: buffer overflow"
**CVE IDs:** [CVE-2019-18218](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-18218)

**Other security advisory IDs:** [oss-fuzz Issue 16780](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=16780), [DSA-4550](https://www.debian.org/security/2019/dsa-4550), [USN-4172](https://usn.ubuntu.com/4172-1/), [FEDORA-2019-554c3c691f](https://lists.fedoraproject.org/archives/list/package-announ

[2019-11-13 07:28] KexyBiscuit opened #2048 "Intel TAA, MCEPSC, i915 hardware vulnerabilities and more"
**CVE IDs:** [CVE-2018-12207](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-12207), [CVE-2019-0154](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-0154), [CVE-2019-0155](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-0155), [CVE-2019-11135](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11135), [CVE-2019-18813](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE

[2019-11-13 07:48] KexyBiscuit commented on #2048
Fixed in 3b94b50de09109c42140d899a4743f3227e23168, 746ba3d2cf8ba08d6d302374109aa19ace68adf3, b1a9f79b4ebb043baee3d36ed70a350e89f47d43.

[2019-11-13 10:16] KexyBiscuit commented on #2048
All packages on Stable Proposed now.

[2019-11-14 01:23] MingcongBai commented on #2048
Merged into Stable. Closing.

[2019-11-14 01:23] #2048 closed, assigned to KexyBiscuit

[2019-11-18 02:23] KexyBiscuit opened #2049 "Chromium: security update to 78.0.3904.97"
**CVE IDs:** [CVE-2019-13720](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13720), [CVE-2019-13721](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13721)

**Other security advisory IDs:** N/A

**Descriptions:** Use-after-free in PDFium.

Use-after-free in audio.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**
- [ ] `chromium`
  - [x] AMD64 `amd64`
  - [ ] AArch6

[2019-11-19 19:29] eatradish opened #2050 "blogilo: undefined symbol"
Bug description
-----------------------

[code]

Update channel(s)
--------------------------

Stable

Package and version
------------------------------
[code]

[2019-11-19 19:30] eatradish commented on #2050
[code]

[2019-11-19 20:41] eatradish opened #2051 "netease-cloud-music-gtk 0.7.0: FTBFS on testing-proposed"
Bug description
-----------------------
[code]
http://fars.ee/ze1m

Reproducing steps
---------------------------

see `extra-multimedia/netease-cloud-music-gtk`

Update channel(s)
--------------------------
Testing-proposed

[2019-11-19 20:58] eatradish commented on #2050
Ok, This package is no longer on the github repo. We should be remove it?

[2019-11-19 20:59] MingcongBai commented on #2050
@eatradish This should be removed automatically in our next archive.

[2019-11-19 22:30] eatradish opened #2052 "gnome-podcasts: have unmet dependencies"
Bug description
-----------------------
[code]

Update channel(s)
--------------------------

All

Package and version
------------------------------
[code]

[2019-11-19 22:35] eatradish commented on #2052
[code]

It seems to be pushing the github commit but not pushing the package

[2019-11-19 22:45] eatradish commented on #2052
And...FTBFS

[code]

[2019-11-19 23:03] eatradish commented on #2052
http://fars.ee/PoCK

[2019-11-19 23:24] #2052 closed, assigned to nobody

[2019-11-25 02:57] KexyBiscuit commented on #1896
Closing as all items are completed or transferred.

[2019-11-25 02:57] #1896 closed, assigned to MingcongBai, KexyBiscuit

[2019-12-03 08:48] KexyBiscuit opened #2053 "Chromium: security update to 78.0.3904.108"
**CVE IDs:** [CVE-2019-13723](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13723), [CVE-2019-13724](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13724)

**Other security advisory IDs:** N/A

**Descriptions:** Use after free in WebBluetooth in Google Chrome prior to 78.0.3904.108 allowed a remote attacker who had compromised the renderer process to potentially exploit heap cor

[2019-12-05 13:48] KexyBiscuit opened #2054 "Linux: security update to 4.19.87"
**CVE IDs:** [CVE-2019-15291](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15291), [CVE-2019-18660](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-18660), [CVE-2019-18683](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-18683)

**Other security advisory IDs:** N/A

**Descriptions:** An issue was discovered in the Linux kernel through 5.2.9. There is a NULL pointer deref

[2019-12-08 07:09] l2dy opened #2055 "ceph: security update to 13.2.7"
**CVE IDs:** CVE-2019-10222

**Other security advisory IDs:** RHSA-2019:2577-01, USN-4112-1

**Descriptions:**
* ceph: Unauthenticated clients can crash ceph RGW configured with beast as
frontend (CVE-2019-10222)

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] PowerPC 64-bit BE `ppc64`

[2019-12-08 07:15] l2dy opened #2056 "thunderbird: security update to 68.3.0"
**CVE IDs:** CVE-2019-17008, CVE-2019-11745, CVE-2019-17010, CVE-2019-17005, CVE-2019-17011, CVE-2019-17012

**Other security advisory IDs:** N/A

**Descriptions:**
[CVE-2019-17008: Use-after-free in worker destruction](https://www.mozilla.org/en-US/security/advisories/mfsa2019-38/#CVE-2019-17008)
[CVE-2019-11745: Out of bounds write in NSS when encrypting with a block cipher](https://www.mozilla.

[2019-12-08 07:30] l2dy opened #2057 "phpmyadmin: security update to 4.9.2"
**CVE IDs:** CVE-2019-18622, CVE-2019-12922

**Other security advisory IDs:** openSUSE-SU-2019:2599-1, openSUSE-SU-2019:2211-1

**Descriptions:**
##### [PMASA-2019-4](https://www.phpmyadmin.net/security/PMASA-2019-4/) CSRF vulnerability in login form
A vulnerability was found that allows an attacker to trigger a CSRF attack against a phpMyAdmin user. The attacker can trick the user, for instance t

[2019-12-08 07:41] l2dy opened #2058 "firefox: security update to 71.0"
**CVE IDs:** CVE-2019-11745, CVE-2019-11756, CVE-2019-17005, CVE-2019-17008, CVE-2019-17009, CVE-2019-17010, CVE-2019-17011, CVE-2019-17012, CVE-2019-17013, CVE-2019-17014

**Other security advisory IDs:** ASA-201912-1

**Descriptions:**
- CVE-2019-11745 (arbitrary code execution)

An out-of-bounds write vulnerability has been found in the NSS
component of Firefox before 71.0. When encrypting with

[2019-12-08 12:51] #2041 closed, assigned to nobody

[2019-12-09 09:21] KexyBiscuit commented on #2055
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] KexyBiscuit commented on #2017
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] KexyBiscuit commented on #2018
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] KexyBiscuit commented on #2019
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] KexyBiscuit commented on #2027
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] KexyBiscuit commented on #1734
As #1997, Ceph will be dropped this iteration. Closing.

[2019-12-09 09:22] #1734 closed, assigned to KexyBiscuit

[2019-12-11 16:39] l2dy opened #2059 "git: security update to 2.23.1/2.24.1"
**CVE IDs:** CVE-2019-1348, CVE-2019-1349, CVE-2019-1350, CVE-2019-1351, CVE-2019-1352, CVE-2019-1353, CVE-2019-1354, CVE-2019-1387, CVE-2019-19604

**Other security advisory IDs:** USN-4220-1, DSA-4581-1

**Descriptions:**
Joern Schneeweisz and Nicolas Joly discovered that Git contained various
security flaws. An attacker could possibly use these issues to overwrite
arbitrary paths, execute arbit

[2019-12-11 16:42] MingcongBai commented on #2059
This will be an exceptional update for Stable-Proposed.

[2019-12-11 16:47] KexyBiscuit opened #2060 "Chromium: security update to 79.0.3945.79"
**CVE IDs:** [CVE-2019-13725, CVE-2019-13726, CVE-2019-13727, CVE-2019-13728, CVE-2019-13729, CVE-2019-13730, CVE-2019-13732, CVE-2019-13734, CVE-2019-13735, CVE-2019-13764, CVE-2019-13736, CVE-2019-13737, CVE-2019-13738, CVE-2019-13739, CVE-2019-13740, CVE-2019-13741, CVE-2019-13742, CVE-2019-13743, CVE-2019-13744, CVE-2019-13745, CVE-2019-13746, CVE-2019-13747, CVE-2019-13748, CVE-2019-13749, CV

[2019-12-11 20:37] MingcongBai commented on #2059
- For stable-propsoed, update to 2.23.1.
- For testing-proposed, update to 2.24.1.

[2019-12-12 15:25] eatradish commented on #2012
Hi, I use `testing-proposed` branch, and package info:
[code]

[2019-12-12 15:27] eatradish commented on #2012
and I use iPod 5th (Video) 80GB, and `rhythmbox -d` logs:
[code]
[code]

[2019-12-12 16:36] eatradish opened #2061 "libevent: dpkg installation fails after build in testing"
[code]

[2019-12-14 17:15] eatradish commented on #2061
ok, my fault

[2019-12-14 17:15] #2061 closed, assigned to nobody

[2019-12-21 11:26] eatradish opened #2062 "libnspr4.so: Wrong link to /opt/32/lib (testing-proposed)"
[code]

[2019-12-22 20:35] eatradish commented on #2062
Solved, Close this issue.

[2019-12-22 20:35] #2062 closed, assigned to nobody

[2019-12-22 20:36] #2042 closed, assigned to nobody

[2019-12-22 20:36] #2040 closed, assigned to nobody

[2019-12-23 06:12] jyhi opened #2063 "nvme-cli: broken package"
Bug description
-----------------------

The `nvme-cli` package does not contain any binary executable or library, while it should have.

Reproducing steps
---------------------------

Install `nvme-cli` using the package manager.

Update channel(s)
--------------------------

Stable.

Package and version
------------------------------

[code]

[2019-12-23 08:23] MingcongBai commented on #2063
An update is made available for `stable`, `nvme-cli==1.7-1`.

[2019-12-23 08:23] #2063 closed, assigned to nobody

[2019-12-25 20:55] eatradish opened #2064 "typora: cannot open"
Update channel(s)
--------------------------

All

Package and version
------------------------------
0.9.42

[2019-12-25 20:59] eatradish commented on #2064
Fixed with f6b9b0c .

[2019-12-25 20:59] #2064 closed, assigned to nobody

[2019-12-26 08:30] LionNatsu commented on #2018
https://github.com/ceph/ceph/commit/01de299fc01 has fixed this after v14.0.1

[2019-12-26 08:36] LionNatsu commented on #2027
The error related to incompatible definitions in Boost. Try -DWITH_SYSTEM_BOOST=OFF and move on. Could you move this issue to the next iteration plan which is appropriate?

[2019-12-26 08:40] LionNatsu commented on #2019
Duplicated:  #2027

[2019-12-26 08:40] #2019 closed, assigned to nobody

[2019-12-26 08:41] KexyBiscuit commented on #2027
Moved to Soon™ milestone, thanks for triage!

[2019-12-26 09:13] LionNatsu commented on #2017
Besides #2027, there is something more.
Long story short, neither PowerPC nor PPC64 is supported by [**nodeenv**](https://github.com/ekalinin/nodeenv/blob/e0914ddcd4e051243eca48403f32607f5e910ed5/nodeenv.py#L508-L518) which is wanted by [/src/pybind/mgr/dashboard/CMakeLists.txt](https://github.com/ceph/ceph/blob/master/src/pybind/mgr/dashboard/CMakeLists.txt).

Question: is there any flag to work

[2019-12-26 12:33] LionNatsu commented on #2051
https://github.com/gmg137/netease-cloud-music-gtk/commit/4e44d862d7e454c64a81ada8cc0b34d84684582d has the fix. It is only one commit **ahead** of tag `0.7.0`. What should we do next?

[2019-12-26 12:40] eatradish commented on #2051
trying.

[2019-12-26 13:32] LionNatsu commented on #2037
Here is more context of the [code](https://github.com/rethinkdb/rethinkdb/blob/68f6898d6563d725d2b1ce915744b10b0706c89c/drivers/javascript/errors.coffee#L1-L6):
[code]

The failure was because of the breaking changes in syntax from CoffeeScript 1.x to 2.0 http://coffeescript.org/v2/#breaking-changes-super-this and it is fundamentally because the new limitation in ES2015. Notations like `@xxxx` are

[2019-12-26 13:36] LionNatsu commented on #2037
See also:
https://github.com/jashkenas/coffeescript/issues/4547
https://github.com/hyperledger/hyperledger-rocket-chat-hubot/issues/16

[2019-12-26 14:32] LionNatsu commented on #2036
Fix `anthy-ut` first and this will be solved naturally.
Hints: iconv them from EUC-JP to UTF-8.

[2019-12-26 14:48] LionNatsu opened #2065 "anthy: switch the upstream from Fedora to Debian"
Issue description
-----------------------
Currently, we are using http://src.fedoraproject.org/repo/pkgs/anthy as the upstream of `anthy`, which is out of date.

Debian has taken over the repository years ago: https://salsa.debian.org/debian/anthy and it's under active development.

See also: https://wiki.debian.org/Teams/DebianAnthy

Package and version
------------------------------
`anthy` http

[2019-12-26 15:05] eatradish commented on #2051
Since the testing-proposed branch is currently frozen, `netease-cloud-music-gtk` will be temporarily on my personal source

deb: https://aosc.szclsya.me/papa/pool/main/n/netease-cloud-music-gtk/
autobuild: https://github.com/eatradish/aosc-os-papa-tree/tree/master/extra-multimedia/netease-cloud-music-gtk

[2019-12-26 16:53] LionNatsu commented on #2020
I don't know how this happened, and I guess it used incorrect header files. In the upstream zip package, besides Clp, I saw CoreUtils and Osi. It looks like a bundle. The "missing" member functions in both AArch64 and Armv7 cases can be easily found in directory "CoreUtils".

https://github.com/AOSC-Dev/aosc-os-abbs/blob/explosive/extra-scientific/clp/autobuild/build We build the top-level target.

[2019-12-26 16:55] LionNatsu commented on #2020
FYI: the 2-level tree:
[code]

[2019-12-26 16:57] Icenowy commented on #2020
The key is that coinutils should be updated. When the system has one copy, the bundled one seems to be ignored.

I have already finished the build (and LibreOffice included) on AArch64.

[2019-12-26 17:05] LionNatsu commented on #2020
@Icenowy So that's why it read an old definition. No wonder.

Thanks for the good news. Closing this.

[2019-12-26 17:05] #2020 closed, assigned to nobody

[2019-12-26 17:44] LionNatsu commented on #1949
Anything wrong in the CMake log? It looks pretty normal.

[2019-12-26 18:05] LionNatsu commented on #1948
Found nothing in the CMake log

[2019-12-26 18:31] LionNatsu commented on #1947
[code]
Konqueror has this dependency. However, the issue probably due to a broken `tidyhtml` missing these files. We have updated it in Sep. Now I can sure the `tidybuffio.h` is in the package. Please try again.

The CMakeError.log shows a test case failed as intended. We have mallinfo in `malloc.h`.
[code]

Feel free to re-open it if the file is still missing during compiling `konqueror`.

[2019-12-26 18:31] #1947 closed, assigned to nobody

[2019-12-26 19:02] LionNatsu commented on #1704
[code]
There *is* `/var/log/sddm.log`. More important, you should use "strace -f" to trace those new tasks forked by `clone`. Sadly those infomation was lost. Anyways, can you still reproduce it now?

[2019-12-26 19:08] LionNatsu commented on #1679
Perl is at 5.28.2-1 now. I confirmed the bug has been fixed.

[2019-12-26 19:08] #1679 closed, assigned to nobody

[2019-12-26 19:11] LionNatsu commented on #1962
Have the issue fixed?

[2019-12-26 19:16] LionNatsu commented on #2045
The fix is in the stable branch. Gwenview looks fine now.

[2019-12-26 19:16] #2045 closed, assigned to nobody

[2019-12-26 19:20] #2050 closed, assigned to nobody

[2019-12-26 20:10] LionNatsu commented on #1389
Amazing, we didn't even have latrace!

[2019-12-26 20:14] LionNatsu commented on #1389
And it's in `stable` bruh

[2019-12-28 19:46] eatradish commented on #2051
Fixed with https://github.com/eatradish/aosc-os-papa-tree/commit/79d127a0fa0e4f55fd4c514d670c2f310243266e , Closing.

[2019-12-28 19:46] #2051 closed, assigned to nobody

[2019-12-28 19:49] eatradish commented on #1962
yep, Closing.

[2019-12-28 19:49] #1962 closed, assigned to nobody

[2019-12-28 19:50] #1238 closed

[2019-12-29 04:50] RedL0tus commented on #1704
My P50 died, closing.

[2019-12-29 04:50] #1704 closed, assigned to nobody

[2019-12-29 04:50] RedL0tus commented on #1705
My P50 died, closing.

[2019-12-29 04:50] #1705 closed, assigned to nobody

[2019-12-29 12:49] LionNatsu opened #2066 "scikit-sparse: wrong permissions"
Bug description
-----------------------
https://packages.aosc.io/files/amd64/stable/scikit-sparse/0.4.4-2

Files in `/usr/lib/python2.7/site-packages/scikit_sparse-0.4.4-py2.7.egg-info/`
have `-rw------- 1 root root`.

Update channel(s)
--------------------------
Stable

Package and version
------------------------------
`scikit-sparse` 0.4.4-2

[2019-12-31 01:43] LionNatsu opened #2067 "qtcreator: null-pointer dereferencing at QWidget::window() const ()"
Bug description
-----------------------

[code]

Reproducing steps
---------------------------
In "Design" view, put a combo box on the canvas and double click it.

Update channel(s)
--------------------------
Testing

Package and version
------------------------------
`qtcreator/stable,now 4.9.2 amd64 [已安装]`

[2019-12-31 01:43] LionNatsu opened #2068 "gdb: Python script syntax error"
Bug description
-----------------------
After `coredumpctl gdb` attached to a dump:
[code]

Reproducing steps
---------------------------
I can only reproduce this on a certain dump file.

Update channel(s)
--------------------------
Testing

Package and version
------------------------------
[code]

[2019-12-31 01:46] LionNatsu commented on #2067
[code]

[2020-01-01 11:18] luzpaz commented on #1743
1.5.5 is current development version

[2020-01-02 10:33] eatradish commented on #1949
Looks like AOSC OS has dropped this package

[2020-01-02 10:34] KexyBiscuit commented on #1949
Really?
https://github.com/AOSC-Dev/aosc-os-abbs/tree/explosive/extra-kde/umbrello still exists.

[2020-01-02 10:37] eatradish commented on #1949
Ok i confused this package with https://github.com/AOSC-Dev/aosc-os-abbs/issues/2050

[2020-01-02 11:22] LionNatsu commented on #2035
Progress updated

[2020-01-03 14:26] LionNatsu opened #2083 "gcc: should install PIC version of libiberty"
Now libiberty.a is not available for shared objects unless it was built with PIC. GCC always builds two libiberty.a and we should install the PIC one not the plain static one.
[code]
FYI, Arch Linux had the same issue and they fixed it:
- issue: https://bugs.archlinux.org/task/40174
- commit: https://git.archlinux.org/svntogit/packages.git/commit/trunk/PKGBUILD?h=packages/gcc&id=e691ba34dd83a6fddc

[2020-01-03 14:33] LionNatsu opened #2070 "latrace: FTBFS on stable, AMD64"
Bug description
-----------------------
https://pastebin.aosc.io/paste/wppk7fsQMhxFGjwKLvL9QA
Blocked by an issue from https://github.com/AOSC-Dev/aosc-os-core/issues/75

Update channel(s)
--------------------------
Stable

Package and version
------------------------------
latrace 0.5.11

[2020-01-06 10:24] eatradish commented on #2012
I tried to identify the iPod using amarok player, a similar situation happened, here is the log:

https://pastebin.aosc.io/paste/umgTLybk65ODkMPlTfLSYg

[2020-01-06 11:57] eatradish commented on #2012
I tried `sudo ipod-read-sysinfo-extended /dev/sdd/ /run/media/sakiiily/IPOD/` and then opened amarok and found that it successfully recognized my iPod, but Rhythmbox still couldn't recognize it (the same error as before)

[2020-01-06 12:03] LionNatsu commented on #2012
So the next step is to figure out how amarok automatically do this mounting thing, and we perhaps will find the reason why amarok failed.

[2020-01-07 09:21] eatradish opened #2071 "netease-cloud-music: click on search bar to crash"
Update channel(s)
--------------------------

Testing-proposed

Package and version
------------------------------

[code]

[2020-01-07 10:46] #2071 closed, assigned to nobody

[2020-01-07 11:19] eatradish opened #2072 "amule: error while loading shared libraries libbfd-2.32.0.20190419.so"
Bug description
-----------------------

[code]

Update channel(s)
--------------------------

Testing-proposed

Package and version
------------------------------
[code]

[2020-01-08 10:12] KexyBiscuit opened #2073 "Iteration Plan for Winter 2020"
This plan captures our work in **Winter**.

## Cycle Schedule

Shown below is the expected date-and-month schedule for the current cycle.

- February 1, 2020: Start first survey for updates.
- March 1, 2020: Start second survey for updates.
- March 31, 2020: Freeze Testing-Proposed.
    - Merge all changes to Testing for updates.
    - Transfer all skip-ahead changes to Experimental.
    - All non

[2020-01-09 03:50] MingcongBai commented on #2012
When the iPod volume is mounted, Rhythmbox will be able to detect this device, same goes for Amarok. However, I do have my doubts about whether Amarok really works with my iPod as it never finishes "detecting collection" from it.

[2020-01-09 03:50] MingcongBai commented on #2012
This behaviour I think - stems from the fact that Plasma desktop does not auto-mount external devices by default, while GTK-series desktop environments do (MATE, GNOME, XFCE, etc.).

[2020-01-10 12:03] eatradish opened #2074 "aria2c: segmentation fault (core dumped) (1.35)"
Bug description
-----------------------

[code]

Update channel(s)
--------------------------

testing-proposed

Package and version
------------------------------
[code]

[2020-01-10 13:41] eatradish commented on #2074
`gdb` log:

[code]
and `bt`:

[code]

- Lion: edited, remove inrrelevent messages

[2020-01-10 14:33] eatradish commented on #2074
Fixed with 6a20c351a671c2c7561973ed192461356eb19422, but the problem of `jemalloc` still needs to be observed.

[2020-01-10 14:52] eatradish commented on #2074
I tried adding
[code]
to `prepare` and add `ABSTRIP=0` in `defines` and run again using` gdb`, the result is as follows:

[code]

[2020-01-10 14:57] eatradish commented on #2074
And use `valgrind`:
[code]

[2020-01-10 15:34] LionNatsu commented on #2074
[code]
Crashed at here https://github.com/aria2/aria2/blob/ecba2625da8d66c674da32b30a7f5c522a5444d6/src/prefs.cc#L110

[2020-01-10 16:37] eatradish commented on #2066
Fixed with dd4ee8f, Closing

[2020-01-10 16:37] #2066 closed, assigned to nobody

[2020-01-10 18:47] LionNatsu commented on #2074
https://pastebin.aosc.io/paste/MkJI1vlWGZEQiB2LU297~Q

[2020-01-10 18:47] LionNatsu commented on #2074
[code]

[2020-01-13 09:15] LionNatsu commented on #2072
A rebuild should be enough.
https://packages.aosc.io/files/arm64/testing-proposed/binutils/2.33.1-1 **Library provides** `libbfd-2.33.1.20191220.so`

[2020-01-13 09:17] eatradish commented on #2072
But other Linux distributions doesn't depend `libbfd` (Debian, Arch Linux)

[2020-01-13 09:19] LionNatsu commented on #2072
They turned it off perhaps. Amule uses bfd to analyse its crash report, so it needs bfd naturally. Leave it be.

[2020-01-13 09:23] eatradish commented on #2072
(This is @MingcongBai )

I have been looking at this with @eatradish today, and I agree that `libbfd` is necessary (in Amule's case) to produce such crash report. However, this poses an issue whenever we update Core components - even the slightest bump to `binutils`'s version will lead to this particular issue.

I feel like this is some sort of "unnecessary trouble." Moreover, I seems that Arch Li

[2020-01-13 10:21] LionNatsu commented on #2072
No, it is not a slightest bump to binutils's version in practice. If the soname has a date part, every rebuild to the bfd is significant. QA should have addressed this issue. https://packages.aosc.io/qa/code/431/amd64/stable

It needs more investigation indeed.

[2020-01-14 12:15] eatradish opened #2082 "binutils: libbfd-*.so.* file version problem"
I noticed that the file names of our bindutils all have date names like `/usr/lib/libbfd-2.33.1.20191220.so`, which seems to cause some problems, such as https://github.com/AOSC-Dev/aosc-os-abbs/issues/2072 .

[2020-01-14 12:27] eatradish commented on #2082
Why source not use `https://ftp.gnu.org/gnu/binutils/binutils-$VER.tar.xz` ?

[2020-01-14 12:28] MingcongBai commented on #2082
@eatradish Like Glibc and GCC, fixes are pushed to the release branch and they don’t tend to release further patch releases. Not our fault.

[2020-01-14 12:36] LionNatsu commented on #2082
@MingcongBai For better understanding of our policy for this particular case, could you give us some examples of what kind of fixes we need beyond the releases they tagged?

[2020-01-14 12:38] MingcongBai commented on #2082
@LionNatsu https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=shortlog;h=refs/heads/binutils-2_33-branch As you can see, more fixes are commited after the last tag (2.33.1).

[2020-01-14 12:41] LionNatsu commented on #2082
@MingcongBai It's a calendar actually. Nah, just joking.

[2020-01-14 12:41] MingcongBai commented on #2082
@LionNatsu Well actually if you look at GCC (which is really the worst offender here)... Emm, it's still (mostly) a calendar, but hey, less work for us.

[2020-01-16 11:10] eatradish opened #2075 "texlive: FTBFS (testing-proposed, amd64)"
[code]

Full log: http://fars.ee/lNjj

Version: 20190410

[2020-01-16 11:57] eatradish opened #2076 "amule: segmentation fault"
Bug description
-----------------------

Segmentation fault

[code]

Reproducing steps
---------------------------

1. Open amule
2. Segmentation fault

Update channel(s)
--------------------------

Testing-Proposed

Package and version
------------------------------

[code]

[2020-01-16 12:27] LionNatsu commented on #2076
Looks like a stack overflow happened in wx.

[2020-01-16 12:33] LionNatsu opened #2077 "amule: find out how it detects binutils"
This is derived from #2072. Arch Linux doesn't have such a dependency. How?

[2020-01-16 12:38] LionNatsu commented on #2072
It seems the rebuilding has solved the binutils API breakage. Further investigation of dependency policies goes on issue 2077.

[2020-01-16 12:38] #2072 closed, assigned to nobody

[2020-01-16 13:03] LionNatsu commented on #2074
aria2c is calling malloc in glibc and sdallocx(deallocate) in libjemalloc. Memory allocation infrastructures in glibc and libjemalloc works in completely different ways, so a crash could happen when the program deallocate anything.

The unusual order of shared object dependencies in program (check with `readelf -d`) makes this bug possible. `libjemalloc.so` must always come before `libc.so` and `l

[2020-01-16 13:06] Artoria2e5 commented on #2072
I think we can cut the name part out and just use the rest of the soname. These people should have enough sensibility to commit a bump when they do break something, I hope

[2020-01-16 13:16] LionNatsu commented on #2072
Very true, libbfds with different names don't mean any incompatibility or API breakage. As a matter of fact, *the date part* comes with the version number we named it for a git checkout on the latest stable branch. We should address this as another issue for binutils.

[2020-01-20 01:52] eatradish opened #2078 "fcitx5-rime: cannot display rime icon in KDE system tray"
Bug description
-----------------------

Tray cannot display rime icon.

in my Arch Linux:

![photo_2020-01-20_09-43-11](https://user-images.githubusercontent.com/19554922/72693136-7abcff00-3b6a-11ea-9f51-aad74df59da0.jpg)

in my AOSC OS (testing-proposed):

![photo_2020-01-20_09-10-01](https://user-images.githubusercontent.com/19554922/72693167-a04a0880-3b6a-11ea-9c4f-e944ecc2fb39.jpg)

Update ch

[2020-01-20 02:25] eatradish commented on #2078
Use kimpanel to display the fcitx5-rime icon normally, In the screenshot here, Arch Linux uses kimpanel, while AOSC OS uses KDE system tray. for now, AOSC OS using kimpanel can also display the rime icon.

[2020-01-20 02:50] eatradish commented on #2078
The same problem has also been resumed on Arch Linux. It seems that fcitx5-rime does not implement the icon display under the KDE system tray.

[2020-01-20 02:50] eatradish commented on #2078
Close issue.

[2020-01-20 02:50] #2078 closed, assigned to nobody

[2020-01-23 18:11] eatradish opened #2079 "virtualbox 6.0.16: FTBFS on stable"
Bug description
-----------------------

[code]

https://fars.ee/sMcX

Update channel(s)
--------------------------

Stable

[2020-01-23 18:48] eatradish opened #2080 "virtualbox 6.1.2: FTBFS on testing-proposed"
Bug description
-----------------------

[code]
https://fars.ee/DNRo

Update channel(s)
--------------------------

testing-proposed

[2020-01-23 18:54] eatradish commented on #2079
Request to test virtualbox 6.1.2: https://aosc.szclsya.me/papa/pool/main/v/ (Core 7 users do not try)

[2020-01-23 19:21] #1768 closed, assigned to nobody

[2020-01-24 01:30] eatradish commented on #2080
in `$SRCTBL/doc/manual/en_US/user_Troubleshooting.xml (671-687)` :

[code]

[2020-01-24 02:52] eatradish commented on #2079
Fixed with add patch:
[code]
Closing.

[2020-01-24 02:52] #2079 closed, assigned to nobody

[2020-01-27 03:29] liushuyu opened #2081 "openjdk-8, openjdk: security update to 8u242 and 11.0.6+ga"
**CVE IDs:** CVE-2020-2604, CVE-2020-2601, CVE-2020-2655, CVE-2020-2593, CVE-2020-2654, CVE-2020-2590, CVE-2020-2659, CVE-2020-2583

**Other security advisory IDs:** N/A

**Descriptions:**
https://openjdk.java.net/groups/vulnerability/advisories/2020-01-14

  - S8224909, CVE-2020-2583: Unlink Set of LinkedHashSets
  - S8226352, CVE-2020-2590: Improve Kerberos interop capabilities
  - S8228548, CVE

[2020-01-30 17:10] MingcongBai commented on #1997
Cycle complete, @KexyBiscuit please help with entry clean up and migration.

[2020-01-30 17:10] #1997 closed, assigned to Icenowy, MingcongBai, liushuyu, KexyBiscuit, eatradish

[2020-01-30 17:13] MingcongBai commented on #2077
A hack is used in 12c7794ba9f909c9efcd66d28724ab4e71cc25ca to cut BFD detection from the `configure` script, and it now no longer links to the big-fucking-deal library.

[2020-01-30 17:13] #2077 closed, assigned to nobody

[2020-01-30 17:13] MingcongBai commented on #2076
Fixed in 12c7794ba9f909c9efcd66d28724ab4e71cc25ca, it seems that aMule is still incompatible with the GTK+ 3 wx runtime. Closing.

[2020-01-30 17:13] #2076 closed, assigned to nobody

[2020-01-30 17:33] MingcongBai commented on #2084
This is fixed in 6346e0e46d1cb295a4af31af56e814db9e977615 (amd64, arm64). Other architectures to follow.

[2020-01-30 17:35] MingcongBai commented on #2086
Fixed with 6346e0e46d1cb295a4af31af56e814db9e977615 (amd64, arm64), other architectures to follow.

[2020-01-30 17:36] MingcongBai commented on #2087
@lmy441900 No, still up for discussion.

[2020-01-31 09:12] eatradish opened #2091 "RFC: brise/rime-data need add to exceptions list"
`brise` and `rime-data` are Rime input scheme list, we should add it to the exceptions list

[2020-02-02 19:04] liushuyu opened #2093 "sudo: security update to 1.8.31"
**CVE IDs:** CVE-2019-18634

**Other security advisory IDs:** DSA-4614, APPLE-SA-2020-1-28-2, RHSA-2020:0487-01

**Descriptions:**
Sudo's `pwfeedback` option can be used to provide visual feedback when the user is inputting their password. For each key press, an asterisk is printed. This option was added in response to user confusion over how the standard Password: prompt disables the echoing of k

[2020-02-06 17:00] MingcongBai opened #2094 "GNU Screen: Security Fixes"
**CVE IDs:** CVE-2020-9366

**Descriptions:**

    Fix out of bounds access when setting w_xtermosc after OSC 49

    echo -e "\e]49\e;                                    \n\ec"
    crashes screen.

    This happens because 49 is divided by 10 and used as table index
    resulting in access to w_xtermosc[4], which is out of bounds with table
    itself being size 4. Increase size of table by 1 to

[2020-02-07 17:43] szclsya opened #2095 "libexif: CVE-2019-9278"
**CVE IDs:** CVE-2019-9278

**Other security advisory IDs:** MGASA-2019-0331, DSA-4618-1, openSUSE-SU-2020:0264-1

**Descriptions:**
In libexif, there is a possible out of bounds write due to an integer overflow. This could lead to remote escalation of privilege in the media content provider with no additional execution privileges needed. User interaction is needed for exploitation. Product: Andro

[2020-02-08 19:13] szclsya commented on #2095
Patched in  b50d049e506715a338c46409bf337192809606f1 .

[2020-02-09 04:25] jyhi opened #2096 "thunderbird: define MOZ_USE_XINPUT2 globally"
Bug description
-----------------------

a23cabe0 defines environment variable `MOZ_USE_XINPUT2=1` which tells Firefox to support touch scrolling and multi-touch:

- https://wiki.gentoo.org/wiki/Firefox#Enabling_multitouch

This works fine for me, but in scenarios when the `firefox` binary is directly called, Firefox will still use XInput 1 and simulates mouse scrolling upon touchpad scrolling eve

[2020-02-09 04:27] sztsian opened #2097 "GCC 10 now default to -fno-common which might break packaging"
Bug description
-----------------------
This is meant to be a tracker and reference.

GCC 10 now defaults to -fno-common.

https://gcc.gnu.org/gcc-10/changes.html

So if a package has variables with the same name in different object, when linking together ld will fail.

One valid but dirty workaround is to add `-z muldefs` in LDFLAGS.

Reproducing steps
---------------------------

Take trace-cmd

[2020-02-09 04:28] jyhi commented on #2096
One concern (and it's also Firefox developers' concern) is that they find this buggy:

- https://bugzilla.mozilla.org/show_bug.cgi?id=1390795: "We explicitly keep MOZ_USE_XINPUT2 off by default because behaviour is buggy when it is turned on."
- https://bugzilla.mozilla.org/show_bug.cgi?id=1182700: (Open) Wheel scrolling periodically stops working with XInput2
- https://bugzilla.mozilla.org/show_b

[2020-02-09 04:49] jyhi commented on #2097
Injecting `-fcommon` (overriding the default behavior) may also help.

[2020-02-09 05:00] sztsian commented on #2097
Probably for other scenarios. But unfortunately it does not work for my scenario. Let keep it as a reference as well.

[2020-02-11 06:14] eatradish opened #2098 "fcitx5 20200211: FTBFS on testing-proposed, amd64"
https://github.com/fcitx/fcitx5/commit/7eb183f5d353a2e133284dbbc79e0c673f7c1e57

[code]

[2020-02-11 06:15] eatradish commented on #2098
fcitx5 newest commit needs `cldr-emoji-annotation`

[2020-02-11 06:24] eatradish commented on #2098
Fixed with fa01dfe (https://github.com/AOSC-Dev/aosc-os-abbs/commit/fa01dfe6d68976bc80c61cb27799e4cd5a8e7f69), closing.

[2020-02-11 06:24] #2098 closed, assigned to nobody

[2020-02-14 03:36] MingcongBai opened #2099 "Marking Packages with "Reboot Required" Tag"
This is a standard defined in Debian/Ubuntu, and thus used by their motd/profiles and the PackageKit APTCC backend to notify users about updates which requires a reboot to take effect.

To adapt this to AOSC OS, several things must be done:

- Start tasking some packages with creating `/var/run/reboot-required` in `postinst`.
    - Autobuild3 task: A switch to automatically append this operation?

[2020-02-18 14:59] jyhi commented on #2096
Thunderbird seems to be able to benefit from this too. I tested with `env MOZ_USE_XINPUT2=1 thunderbird` and the scrolling experience is obviously different, except that there is still no inertial scrolling.

[2020-02-20 07:21] eatradish opened #2100 "qcef 1.1.6: FTBFS"
Bug description
-----------------------

[code]

http://fars.ee/l9MO

Reproducing steps
---------------------------

See `22333:/buildroots/sakiiily/stable-proposed/TREE/*/qcef`

Update channel(s)
--------------------------

Stable

[2020-02-20 07:34] eatradish commented on #2080
Fixed on testing-proposed branch. Closing.

[2020-02-20 07:34] #2080 closed, assigned to liushuyu

[2020-02-20 07:36] #2043 closed, assigned to nobody

[2020-02-20 12:46] Artoria2e5 opened #2101 "xorg-server: add "dont force 96 dpi" patch"
Bug description
-----------------------
xorg-server 1.7.0 broke its builtin detection of screen dpi by ignoring EDID information in favor of a default 96 dpi value. Whoever came up with this idea is drunk.

https://bugs.launchpad.net/ubuntu/+source/xorg-server/+bug/589485

patch at https://gitlab.freedesktop.org/xorg/xserver/issues/253 / http://git.altlinux.org/gears/x/xorg-server.git?p=xorg-serve

[2020-02-27 08:24] Artoria2e5 opened #2103 "Do another sweep for db/db+32 in PKGDEP"
[gh search](https://github.com/AOSC-Dev/aosc-os-abbs/search?q=db+pkgdep&unscoped_q=db+pkgdep)

Berkeley DB has been naughty for [pretty well-known reasons](https://lists.debian.org/debian-devel/2014/06/msg00328.html). The upstream is not really quick to [fix issues](https://www.openwall.com/lists/oss-security/2018/06/17/1) either. The common suggestion is to replace with lmdb.

Affected packages:

[2020-02-28 17:27] szclsya opened #2104 "opensmtpd: security update to 6.6.4"
**CVE IDs:** CVE-2020-8794

**Other security advisory IDs:** DSA-4634-1

**Descriptions:**
The OpenSMTPD SMTP server (before 6.6.4) performed insufficient
validation of SMTP commands, which could result in local privilege
escalation or the execution of arbitrary code.

**Patches:** N/A, update to 6.6.4

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] A

[2020-02-28 17:42] szclsya opened #2105 "thunderbird: security update to 68.5.0"
**CVE IDs:** CVE-2020-6792, CVE-2020-6793, CVE-2020-6794, CVE-2020-6795, CVE-2020-6798, CVE-2020-6800

**Other security advisory IDs:** DSA-4625-1

**Descriptions:**
Multiple security issues have been found in Thunderbird, which may lead to the execution of arbitrary code or denial of service.

**Patches:** N/A, update to 68.5.0

**PoC(s):** N/A

**Architectural progress:**
- [x] AMD64 `amd64`
- [

[2020-03-04 16:23] EchedelleLR opened #2106 "PPC64 upgrade from XFCE tarball fails as (what it seems) result of webkitgtk2"
Bug description
-----------------------

In the "upgrade" step, following installation guide for powerpc, it seems that the same upgrade is being broken between gnome-online-accounts, webkitgtk and icu. It seems that gnome-online-accounts needs webkitgtk2 2.22.5 or higher but webkitgtk is only upgraded until 2.20 and icu breaks versions until 2.22.7.

Reproducing steps
---------------------------

[2020-03-04 16:30] MingcongBai commented on #2106
@EchedeyLR I’m really sorry but it might really be best if you could refrain from upgrading right this moment. We have been struggling to keep up with updates for this architecture and this is the result from that...

That said, we are not deprecating this port, but it will take some time before we are on sync again.

[2020-03-04 16:32] EchedelleLR commented on #2106
Well, since have been deprecated by Suse, Red Hat, Debian and followers I don't think I have so much to lose.

[2020-03-04 16:33] EchedelleLR commented on #2106
To add: is there any problem if I leave this issue opened just to see how evolves or there is another one to check that?

[2020-03-04 16:35] MingcongBai commented on #2106
@EchedeyLR Nope, please do leave this open... for a period of time the only customer for this port are the machines that builds these packages (PowerMac G5 Quads). Glad that someone’s picking it up and now (as I am really the sole advocate to keep this port alive here) there’s a legitimate reason to keep maintaining it.

[2020-03-04 16:44] EchedelleLR commented on #2106
WTF (sorry for saying it). I have no idea if I should be glad to catch this before (maybe) you are not going to support it or sad because (maybe) I am the only user and other people (with your exception) is not interested on this port.

I think (not sure) I could get a new machine since people here is not using some old iMacs. I got this one from one of these people who use to repair similar compu

[2020-03-04 17:01] EchedelleLR opened #2107 "Yaboot or Grub"
After the initialization of the RAM Disk in the powerpc guide, the installation of yaboot at the Bootstrap partition is requested. However, during the RAM Disk step, I checked how grub entries were added at the Grub menu and, as expected, it seems Yaboot is not installed in the provided XFCE tarball for ppc64, only Grub.

What should I do?.

[2020-03-04 17:04] MingcongBai commented on #2107
Jesus. Sorry for all the trouble you're running into - but at this point I think I am comfortable enough to recommend GRUB as the default (documentation work to follow if it works out here). It should be as simple as `grub-install --target=powerpc-ieee1275 --no-nvram` and `grub-mkconfig -o /boot/grub/grub.cfg`.

Also, I believe you will have to uncomment `#GRUB_TERMINAL_OUTPUT=console`.

Please le

[2020-03-04 17:05] MingcongBai commented on #2107
I will also transfer this issue to AOSC-Dev/aosc-os-abbs.

[2020-03-04 17:14] EchedelleLR commented on #2107
Where should I install grub? In the "disk" itself as I do in other distributions or (as its Apple Partition Table type) in a specific partition?

Sorry, I am a bit new with this as only tried FreeBSD with a successful installation.

[2020-03-04 17:18] MingcongBai commented on #2107
You shouldn't need to specify a disk with this platform.

[2020-03-04 17:20] EchedelleLR commented on #2107
Then something is wrong in the line. Grub just points me to check the help and usage but I am sure the line is written correctly.

[2020-03-04 17:21] MingcongBai commented on #2107
Did it tell you anything about what parametre is wrong?

[2020-03-04 17:24] EchedelleLR commented on #2107
No, just to check that.

[2020-03-04 17:24] MingcongBai commented on #2107
Could you try appending `/dev/sda1`, assuming GRUB is to be installed on the main drive?

[2020-03-04 17:28] EchedelleLR commented on #2107
But isn't the first partition of a Apple table intouchable because it's where the partitions are defined? The second one, /dev/sda2 its dedicated to that I think as yaboot was requested to be installed there. But I am not sure.

root@lubuntu [ / ] ! grub-install --target=powerpc-ieee1275 --no-vram
grub-install: unrecognized option '--no-vram'
Try 'grub-install --help' or 'grub-install --usage' for

[2020-03-04 17:30] EchedelleLR commented on #2107
Okay, doesnt matter, was my fault. I just copied your line and worked ;-;

[2020-03-04 17:30] MingcongBai commented on #2107
I was going to say that you mis-typed `--no-nvram`. No worries XD.

[2020-03-04 17:31] EchedelleLR commented on #2107
Oh yes, jajajajaja.

[2020-03-04 17:34] EchedelleLR commented on #2107
I need to ask other question, can I do it here or should I open other issue as expected?

[2020-03-04 17:46] MingcongBai commented on #2107
Why don't we open an issue simply titled "PPC64 Testing and Issues" or something along that line so we can assemble a little checklist to get them sorted?

Also if you'd like to help, please feel free to join us, either on GitHub or Telegram (if you have it), I can provide all necessary training for packaging and distribution maintenance.

[2020-03-04 17:49] EchedelleLR commented on #2107
Okay, this one is related: since this iMac is using a ATI Radeon video card, radeon.agpmode=-1 set in the bootloader should be preferable but I have no idea if I should add any other config being Grub.

[2020-03-04 17:52] EchedelleLR commented on #2107
Sorry, with this old firefox in the lubuntu live image I can't update the view automatically to see new posts easily. Yes, would be preferable but I think you could do it better to create the desired list. I could add using posts what I am checking at the moment.

Away from that, about packaging and maintaining the distribution I would be glad but I would like to ensure a successful installation f

[2020-03-04 17:53] MingcongBai commented on #2106
No worries! As long as it's not a directed attack [we are all for expressive speech](https://wiki.aosc.io/users/guidelines/community-guidelines).

Back to your comments...

I am not sure about how many users we have - we know it's not a large number regardless of the architecture. But I am personally a PowerPC/POWER hobbist and will do everything in my power to keep AOSC OS running on them.

At th

[2020-03-04 17:55] MingcongBai commented on #2107
Nope, that should be all you need.

[2020-03-04 17:58] EchedelleLR commented on #2107
So directly I add it to the grub conf. Okay.

[2020-03-04 17:58] MingcongBai opened #2108 "PowerPC 32/64 Big Endian TODO"
Listed below are tasks to be addressed for the `powerpc` (`ppc32be`) and `ppc64` (`ppc64be`) ports:

- [x] Synchronise package versions to mitigate dependency issues. #2106
- [x] Transition to GRUB as the default bootloader. #2107
- [x] Transition to Retro, RFC pending.

This issue will also serve as a concentrated location for discussions and troubleshooting given the poor maintenance statuses fo

[2020-03-04 17:58] MingcongBai commented on #2107
To `/etc/default/grub`, yes.

[2020-03-04 17:59] MingcongBai commented on #2107
Please refer to https://github.com/AOSC-Dev/aosc-os-abbs/issues/2108 for other issues.

Sure thing, hopefully we can get this sorted out, and again, I am very sorry for all the trouble.

[2020-03-04 18:04] EchedelleLR commented on #2107
Okay and thank you for the help.

Yes, I told that to confirm you were not telling me to not adding it.

[2020-03-04 18:05] MingcongBai commented on #2107
Got it.

[2020-03-04 18:21] EchedelleLR commented on #2108
I reply to this part of the post referenced in the other issue (#2106). I use to be a "mouse enthusiast" and since 9wm and w9wm are not upgraded but "finished" I would want to know if there is no issue to be added. The only fact is that, at least, w9wm needs a three button mouse where, at least, old powermac only included a 2 button mouse by default (anyways you can change it).

Edited by @Mingcon

[2020-03-04 18:24] MingcongBai commented on #2108
Sure thing, this package can be introduced to the repository. My reasoning behind IceWM is its relatively complete FD.o compliance (.desktop support, icon theme support, etc.), graphical settings, and localisation support.

[2020-03-04 18:27] EchedelleLR commented on #2108
Yes, I have used IceWM in a limited resources machine for a while. I am also glad that it's included.

[2020-03-04 18:28] MingcongBai commented on #2108
And I brought it up as the fact that we need a default for the Retro distributions, but frankly I still need to look into it more since I'm still in the warm beds of Plasma Desktop.

Otherwise, I should be working on an RFC document for AOSC OS/Retro in the near future.

[2020-03-04 18:54] EchedeyLR commented on #2108
Sorry but I have to ask here: information for recursive umount after finishing the installation before rebooting the machine?

[2020-03-04 18:55] MingcongBai commented on #2108
`umount -lf /path/to/mountpoint` should do.

[2020-03-04 19:06] EchedeyLR commented on #2108
I tried with -R saying me that the system was busy a lot of times, I even checked with lsof as suggested saying systemd services running. I got a bit stressed and tried to shutdown normally expecting the filesystem to be unmounted as expected. 9 minutes later I lost the patient waiting with the black screen and the cursor and forced shutdown. I must start the installation again.

[2020-03-04 20:27] EchedeyLR commented on #2108
Sorry but as far I have not touched so much with bash loops "# for i in dev proc sys; do mount --rbind /$i /mnt/$i; done" get me confused to umount later

So, I should do umount -lf to /mnt/sys, umount -lf to /mnt/proc and finally to /mnt/dev

Is this correct?

[2020-03-05 13:49] EchedelleLR commented on #2107
A good reference being found at https://wiki.adelielinux.org/wiki/Package:GRUB2

[2020-03-05 16:19] eatradish commented on #1759
Fixed, closing.

[2020-03-05 16:19] #1759 closed, assigned to nobody

[2020-03-07 12:13] Artoria2e5 opened #2109 "Patch kernel with the 4.61s load thing"
The current load average sample rate of five seconds plus one tick is insufficient to avoid consecutively hitting scheduled tasks like heartbeat packets, and causes a Moire sawtooth pattern as it hits and misses. Android people seem to like it a lot. See https://github.com/Swapnil133609/Android-Kernel-Patches/blob/master/labodj/0166-sched-LOAD_FREQ-4-HZ-61-avoids-loadavg-Moire.patch for a patch an

[2020-03-07 20:55] eatradish opened #2110 "yarn 1.22.3: cannot find module"
Bug description
-----------------------

[code]

Reproducing steps
---------------------------
[code]

Update channel(s)
--------------------------

Testing-proposed

Package and version
------------------------------

yarn 1.22.3

[2020-03-07 21:05] eatradish commented on #2110
It looks like `https://github.com/yarnpkg/yarn/archive/v1.22.3.tar.gz` cannot be used with ` npm i -g --user root --prefix="$ PKGDIR" "$SRCDIR"/yarn-$PKGVER.tar.gz` to install, and 1.22.3 seems to be just a fix for the Windows version (their tag page only has the .msi binary distribution file)

[2020-03-07 21:06] eatradish commented on #2110
Closing.

[2020-03-07 21:06] #2110 closed, assigned to nobody

[2020-03-09 16:11] l2dy commented on #2104
+CVE-2020-7247 from DSA-4611-1

[2020-03-11 17:02] eatradish opened #2111 "KDE: Control size exception"
Bug description
-----------------------

![Screenshot_20200312_005920](https://user-images.githubusercontent.com/19554922/76443048-c8cce100-63fc-11ea-8348-dfd61673ffbe.png)

![Screenshot_20200312_010025](https://user-images.githubusercontent.com/19554922/76443131-ebf79080-63fc-11ea-8377-ffd11469467d.png)

Reproducing steps
---------------------------

I don‘t know...

Update channel(s)
-----------

[2020-03-11 23:15] eatradish commented on #2111
The problem is caused by the upgrade of qt-5 to 5.14.1, but the packages that KDE depends on have not been refactored. Rebuilding the packages that depend on it can solve the problem. Currently KDE in the repo has been upgraded to 5.18.3 to solve the problem.

Closing.

[2020-03-11 23:15] #2111 closed, assigned to nobody

[2020-03-21 17:37] l2dy opened #2112 "thunderbird: security update to 68.6.0"
**CVE IDs:** CVE-2020-6805 CVE-2020-6806 CVE-2020-6807 CVE-2020-6811 CVE-2019-20503 CVE-2020-6812 CVE-2020-6814

**Other security advisory IDs:** MGASA-2020-0142, GLSA 202003-10, ASA-202003-11, RHSA-2020:0905-01, DSA-4642-1

**Descriptions:**
CVE-2020-6805: Use-after-free when removing data about origins
CVE-2020-6806: BodyStream::OnInputStreamReady was missing protections against state confusion

[2020-03-21 17:53] l2dy opened #2113 "virtualbox: security update to 6.1.2"
**CVE IDs:** CVE-2020-2674, CVE-2020-2678, CVE-2020-2681, CVE-2020-2682, CVE-2020-2689, CVE-2020-2690, CVE-2020-2691, CVE-2020-2692, CVE-2020-2693, CVE-2020-2698, CVE-2020-2701, CVE-2020-2702, CVE-2020-2703, CVE-2020-2704, CVE-2020-2705, CVE-2020-2725, CVE-2020-2726, CVE-2020-2727

**Other security advisory IDs:** MGASA-2020-0065

**Descriptions:**
This update provides the upstream 6.0.16 and fixe

[2020-03-21 17:53] l2dy commented on #2113
Fixed in c452f66a0b2d4c393eb41f06bf01e7c67fc7c47b.

[2020-03-21 18:02] l2dy opened #2114 "chromium, google-chrome, opera, vivaldi: security update to 80.0.3987.149"
**CVE IDs:** CVE-2020-6422, CVE-2020-6424, CVE-2020-6425, CVE-2020-6426, CVE-2020-6427, CVE-2020-6428, CVE-2020-6429, CVE-2019-20503, CVE-2020-6449

**Other security advisory IDs:** ASA-202003-12

**Descriptions:**
- CVE-2020-6422: Use after free in WebGL. Reported by David Manouchehri on 2020-02-13
- CVE-2020-6424: Use after free in media. Reported by Sergei Glazunov of Google Project Zero on 201

[2020-03-21 18:07] l2dy opened #2115 "tor: security update to 0.4.2.7"
**CVE IDs:** CVE-2020-10592

**Other security advisory IDs:** DSA-4644-1

**Descriptions:**
https://blog.torproject.org/new-releases-03510-0419-0427

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2020-03-21 18:13] l2dy opened #2116 "webkit2gtk: security update to 2.28.0"
**CVE IDs:** CVE-2019-8835, CVE-2019-8844, CVE-2019-8846, CVE-2020-3862, CVE-2020-3864, CVE-2020-3865, CVE-2020-3867, CVE-2020-3868

**Other security advisory IDs:** WSA-2020-0001, WSA-2020-0002, WSA-2020-0003

**Descriptions:**
CVE-2019-8835
    Versions affected: WebKitGTK before 2.26.3 and WPE WebKit before
    2.26.3.
    Credit to Anonymous working with Trend Micro's Zero Day Initiative,

[2020-03-22 19:35] liushuyu commented on #1880
Use AOSA-2019-0214.

[2020-03-22 19:37] liushuyu commented on #1924
Use AOSA-2019-0215.

[2020-03-22 19:37] liushuyu commented on #1928
Use AOSA-2019-0216.

[2020-03-22 19:38] liushuyu commented on #2048
Use AOSA-2019-0217.

[2020-03-23 07:56] eatradish opened #2117 "kernel-tools 5.6~rc7: FTBFS"
Bug description
-----------------------

[code]

http://fars.ee/MNBc

Update channel(s)
--------------------------
Stable

[2020-03-24 10:54] Artoria2e5 opened #2118 "bsdiff: heap overflow vulnerability."
**CVE IDs:** CVE-2014-9862

**Other security advisory IDs:**
* https://www.freebsd.org/security/advisories/FreeBSD-SA-16:25.bspatch.asc

**Descriptions:** Integer signedness error in bspatch.c in bspatch in bsdiff, as used in Apple OS X before 10.11.6 and other products, allows remote attackers to execute arbitrary code or cause a denial of service (heap-based buffer overflow) via a crafted patch

[2020-03-25 03:41] MingcongBai opened #2119 "SpamAssassin: Security Update to 3.4.4"
**CVE IDs:** CVE-2020-1930, CVE-2020-1931

**Descriptions:**

- CVE-2020-1931 for Nefarious rule configuration (.cf) files can be configured to run system commands with warnings.
- CVE-2020-1930 for Nefarious rule configuration (.cf) files can be configured to run system commands with sa-compile.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `ar

[2020-03-25 04:48] MingcongBai opened #2120 "Firejail: Security Update to 0.9.62"
**CVE IDs:** CVE-2019-12499, CVE-2019-12589

**Descriptions:**

- CVE-2019-12499: https://github.com/netblue30/firejail/issues/2401.
- CVE-2019-12589: https://github.com/netblue30/firejail/issues/2718

**Patches:** N/A

**PoC(s):** See description.

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`

[2020-03-25 05:02] MingcongBai opened #2121 "Trinity Desktop Environment: Security Update to 14.0.7"
**CVE IDs:** CVE-2018-19872, CVE-2019-14744

**Descriptions:**

- CVE-2019-14744: Prevent arbitrary code execution from .desktop files
- CVE-2018-19872: Fix crash in tqimage for certain malformed ppm image files

**Patches:** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-03-25 05:29] MingcongBai commented on #2114
Also affects Opera (^67.0.3575.97).

[2020-03-25 05:48] MingcongBai commented on #2113
All done. Closing.

[2020-03-25 05:48] #2113 closed, assigned to nobody

[2020-03-25 05:49] MingcongBai commented on #2105
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/2112. Closing.

@l2dy Please assign an AOSA for this issue.

[2020-03-25 05:49] #2105 closed, assigned to nobody

[2020-03-25 05:51] l2dy commented on #2105
Use AOSA-2019-0218.

[2020-03-25 05:54] l2dy commented on #2113
Use AOSA-2019-0219.

[2020-03-25 05:56] l2dy commented on #2113
Use AOSA-2020-0001.

[2020-03-25 05:56] l2dy commented on #2105
Use AOSA-2020-0002.

[2020-03-25 06:07] MingcongBai commented on #2114
Also affects Vivaldi [(^2.11.1811.49)](https://vivaldi.com/zh-hans/blog/news/minor-update-5-for-vivaldi-2-11/).

[2020-03-25 07:28] Artoria2e5 commented on #2118
@JeffBai Add freebsd/freebsd@d0260bc and https://github.com/freebsd/freebsd/commit/59381119a4c0b13088daea263ddd543d9bba5a16 too, would you?

[2020-03-25 07:29] MingcongBai commented on #2118
Yep, that's no problem. Could you please update your original security report to include all the added details?

[2020-03-25 21:25] MingcongBai commented on #2118
@Artoria2e5 I don't think the other two patches would even apply to our source...

[2020-03-26 05:24] MingcongBai commented on #2114
@l2dy Please assign an AOSA for Google Chrome.

[2020-03-26 05:33] l2dy commented on #2114
Use AOSA-2020-0003 for Google Chrome.

[2020-03-26 22:19] eatradish opened #2122 "yuzu 0+git20200327: FTBFS"
Bug description
-----------------------

[code]

http://fars.ee/2iwu

Update channel(s)
--------------------------

Testing-proposed

[2020-03-27 01:12] MingcongBai commented on #2114
@l2dy Please assign AOSAs for Opera and Vivaldi.

[2020-03-27 01:47] l2dy commented on #2114
Use AOSA-2020-0004 for Opera.
Use AOSA-2020-0005 for Vivaldi.

[2020-03-27 04:17] #2122 closed, assigned to nobody

[2020-04-02 05:21] eatradish commented on #2117
Fixed on s-p, closing.

[2020-04-02 05:21] #2117 closed, assigned to nobody

[2020-04-04 16:49] eatradish opened #2123 "Firefox 74.0.1: FTBFS"
Bug description
-----------------------
[code]

Update channel(s)
--------------------------

Stable-Proposed, amd64

[2020-04-07 20:04] KexyBiscuit opened #2124 "[FROZEN] Iteration Plan for Spring 2020"
This plan captures our work in **Spring**.

## Important dates

- May 1, 2020: Start first survey for updates.
- June 15, 2020: Freeze Testing-Proposed.
    - Merge all changes to Testing for updates.
    - Transfer all skip-ahead changes to Experimental.
    - All non-complete entries on Testing-Proposed => Testing to be deferred to Spring 2020.
- June 15, 2020: Commence draft on Summer 2020 Iter

[2020-04-08 08:43] #2123 closed, assigned to nobody

[2020-04-09 04:37] MingcongBai opened #2125 "Firefox: Security Update to 75.0"
**CVE IDs:** CVE-2020-6821, CVE-2020-6822, CVE-2020-6823, CVE-2020-6824, CVE-2020-6825, CVE-2020-6826

**Other security advisory IDs:** MFSA2020-12

**Descriptions:**

[Security Vulnerabilities fixed in Firefox 75](https://www.mozilla.org/en-US/security/advisories/mfsa2020-12/)

**Patches:** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-04-09 18:18] MingcongBai opened #2126 "libssh: Security Update to 0.8.9"
**CVE IDs:** CVE-2020-1730

**Other security advisory IDs:** N/A

**Descriptions:**
[code]

**Patches:** N/A (Available but update)

**Architectural progress:**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `optenv32`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64`

[2020-04-10 06:27] MingcongBai commented on #2103
Another point of reference from [Fedora](https://fedoraproject.org/wiki/User:Pkubat/Draft_-_Removing_BerkeleyDB_from_Fedora?rd=User:Jstanek/Draft_-_Removing_BerkeleyDB_from_Fedora).

[2020-04-10 16:55] Artoria2e5 commented on #2103
The mention to nss_updatedb looks a bit fishy, as glibc has dropped berkeley db for nss_db since 2011 (https://github.com/bminor/glibc/commit/2666d441c2d8107b1987b869714189af64b954c6).

[2020-04-14 19:40] szclsya opened #2128 "git: Security update to 2.24.2"
**CVE IDs:** CVE-2020-5260

**Other security advisory IDs:** DSA-4657-1

**Descriptions:**
Felix Wilhelm of Google Project Zero discovered a flaw in git, a fast,
scalable, distributed revision control system. With a crafted URL that
contains a newline, the credential helper machinery can be fooled to
return credential information for a wrong host.

**Patches:** N/A

**PoC(s):** N/A

**Architectura

[2020-04-14 19:44] MingcongBai commented on #2128
@szclsya Please update instead to 2.24.1, as specified [here](https://lkml.org/lkml/2020/4/14/1136).

[2020-04-15 03:38] MingcongBai commented on #2073
Having some trouble catching up on other architectures, especially with Python 3.8 rebuilds. I have moved the merge date to May 1, and hopefully this is the last adjustment to our schedule here.

[2020-04-16 10:54] l2dy opened #2130 "openjdk-8: security update to 8u252"
**CVE IDs:** CVE-2020-2754, CVE-2020-2755, CVE-2020-2756, CVE-2020-2757, CVE-2020-2773, CVE-2020-2781, CVE-2020-2800, CVE-2020-2803, CVE-2020-2805, CVE-2020-2830

**Other security advisory IDs:** N/A

**Descriptions:**
CVE-2020-2754: Forward references to Nashorn
CVE-2020-2755: Improve Nashorn matching
CVE-2020-2756: Better mapping of serial ENUMs
CVE-2020-2757: Less Blocking Array Queues
CVE-2020

[2020-04-16 10:57] l2dy opened #2131 "openjdk: security update to 11.0.7"
**CVE IDs:** CVE-2020-2803, CVE-2020-2805, CVE-2020-2816, CVE-2020-2781, CVE-2020-2830, CVE-2020-2767, CVE-2020-2800, CVE-2020-2778, CVE-2020-2754, CVE-2020-2755, CVE-2020-2773, CVE-2020-2756, CVE-2020-2757

**Other security advisory IDs:** N/A

**Descriptions:**
https://www.oracle.com/security-alerts/cpuapr2020.html#AppendixJAVA

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm

[2020-04-16 11:02] l2dy opened #2132 "virtualbox: security update to 6.1.6"
**CVE IDs:** CVE-2020-2902, CVE-2020-2959, CVE-2020-2905, CVE-2020-2908, CVE-2020-2758, CVE-2020-2894, CVE-2020-2929, CVE-2020-2911, CVE-2020-2907, CVE-2020-2958, CVE-2020-2913, CVE-2020-2914, CVE-2020-2910, CVE-2020-2951, CVE-2020-2741, CVE-2020-2748, CVE-2020-2909

**Other security advisory IDs:** N/A

**Descriptions:**
https://www.oracle.com/security-alerts/cpuapr2020.html#AppendixOVIR

**Archi

[2020-04-16 19:31] MingcongBai commented on #2128
Addressed in c67ed81dcd385b6836e3a22e343bd7824355c4bb.

[2020-04-16 19:34] MingcongBai opened #2133 "OpenSSL: Security Update to 1.1.1e"
**CVE IDs:** CVE-2019-1551

**Other security advisory IDs:** N/A

**Descriptions:**
Fixed an overflow bug in the x64_64 Montgomery squaring procedure used in exponentiation with 512-bit moduli.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
    - [x] 32-bit Optional Environment `optenv32`
- [x] AArch64 `arm64`
- [x] ARMv7 `armel`
- [x] PowerPC 64-bit BE `ppc64

[2020-04-16 19:35] MingcongBai commented on #2133
Since the vulnerability has been announced for over a month now, this will be pushed directly to `stable`.

[2020-04-16 19:37] MingcongBai opened #2134 "WebKitGTK+ (webkit2gtk): Security Update to 2.28.1"
**CVE IDs:** CVE-2020-11793

**Other security advisory IDs:** WSA-2020-0004

**Descriptions:**
Processing maliciously crafted web content may lead to arbitrary code execution or application crash (denial of service)... A memory corruption issue (use-after-free) was addressed with improved memory handling.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AA

[2020-04-17 02:21] szclsya opened #2135 "WebKitGTK+ (webkit2gtk): Security vunerbility on 2.26.2"
**CVE IDs:** CVE-2020-11793

**Other security advisory IDs:** WSA-2020-0004

**Descriptions:**
Processing maliciously crafted web content may lead to arbitrary code execution or application crash (denial of service)... A memory corruption issue (use-after-free) was addressed with improved memory handling.

Same as #2134, but on stable branch.

**Patches:** Cherry pick patch from 2.28.1.

**PoC(s):

[2020-04-17 04:11] liushuyu commented on #2131
Fixed in a35d1f4bfd9738795379bde84027df446a233782 017d5835e66ee9ae4fbc474fd5c1552674a0dc5c

[2020-04-17 04:11] #2131 closed, assigned to nobody

[2020-04-17 04:12] liushuyu commented on #2130
Fixed in a35d1f4bfd9738795379bde84027df446a233782

[2020-04-17 04:12] #2130 closed, assigned to nobody

[2020-04-19 14:55] szclsya opened #2136 "thunderbird: security update to 68.7.0"
**CVE IDs:**  CVE-2020-6819, CVE-2020-6820, CVE-2020-6821, CVE-2020-6822, CVE-2020-6825

**Other security advisory IDs:**
Mozilla Foundation Security Advisory 2020-14, DSA-4656-1

**Descriptions:**
See Mozilla Security Advisory.

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-04-19 19:50] MingcongBai commented on #1031
v0.9.12 indeed fixes CVE-2018-7226 - also suggested by Arch Linux.

[2020-04-19 19:50] MingcongBai commented on #1031
Fixed with 8e39117df2.

[2020-04-19 19:51] MingcongBai commented on #1031
Closing. @l2dy Please assign an AOSA.

[2020-04-19 19:51] #1031 closed

[2020-04-19 19:52] MingcongBai commented on #1598
All done. Another issue with OpenJDK will supersede this, do not assign an AOSA.

[2020-04-19 19:52] #1598 closed, assigned to liushuyu

[2020-04-19 19:54] MingcongBai commented on #2130
@l2dy Please assign an AOSA.

[2020-04-19 19:54] MingcongBai commented on #2131
@l2dy Please assign an AOSA.

[2020-04-19 20:06] MingcongBai commented on #1744
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:06] #1744 closed, assigned to nobody

[2020-04-19 20:18] MingcongBai commented on #1750
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:18] #1750 closed, assigned to nobody

[2020-04-19 20:18] MingcongBai commented on #1777
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:18] #1777 closed, assigned to KexyBiscuit

[2020-04-19 20:19] MingcongBai commented on #1804
Superseded by https://github.com/AOSC-Dev/aosc-os-abbs/issues/2130. Closing,

[2020-04-19 20:19] #1804 closed, assigned to liushuyu

[2020-04-19 20:20] MingcongBai commented on #1811
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:20] #1811 closed, assigned to nobody

[2020-04-19 20:20] MingcongBai commented on #1827
Superseded by #1910. Closing.

[2020-04-19 20:20] #1827 closed, assigned to nobody

[2020-04-19 20:25] MingcongBai commented on #1828
Why would they even use `PANDOC=false` to disable Pandoc generation, since they're already using Autotools...

[2020-04-19 20:27] MingcongBai commented on #1828
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:27] #1828 closed, assigned to nobody

[2020-04-19 20:28] MingcongBai commented on #1843
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:28] #1843 closed, assigned to KexyBiscuit

[2020-04-19 20:34] MingcongBai commented on #1845
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:34] #1845 closed, assigned to KexyBiscuit

[2020-04-19 20:34] MingcongBai commented on #1844
All done. @l2dy Please assign an AOSA.

[2020-04-19 20:34] #1844 closed, assigned to KexyBiscuit

[2020-04-19 20:55] MingcongBai opened #2137 "re2c: heap overflow in Scanner::fill (scanner.cc)"
**CVE IDs:** CVE-2020-11958

**Other security advisory IDs:**

**Descriptions:**

AddressSanitizer: heap-buffer-overflow /var/tmp/portage/sys-libs/compiler-rt-sanitizers-9.0.0/work/compiler-rt-9.0.0.src/lib/asan/asan_interceptors_memintrinsics.cc:26:3 in __asan_memset

**Patches:** https://github.com/skvadrik/re2c/commit/c4603ba5ce229db83a2a4fb93e6d4b4e3ec3776a

**PoC(s):**

**Architectural progre

[2020-04-19 21:44] MingcongBai commented on #1851
All done. @l2dy Please assign an AOSA.

[2020-04-19 21:44] #1851 closed, assigned to KexyBiscuit

[2020-04-19 21:45] MingcongBai commented on #1853
Superseded by #2134 and #2135. Closing.

[2020-04-19 21:45] #1853 closed, assigned to MingcongBai

[2020-04-19 21:49] MingcongBai commented on #1863
All done. @l2dy Please assign an AOSA for Neovim.

[2020-04-19 21:49] #1863 closed, assigned to KexyBiscuit

[2020-04-19 21:50] MingcongBai commented on #1872
All done. @l2dy Please assign an AOSA.

[2020-04-19 21:50] #1872 closed, assigned to KexyBiscuit

[2020-04-19 21:58] MingcongBai commented on #1879
All done. @l2dy Please assign an AOSA.

[2020-04-19 21:58] #1879 closed, assigned to nobody

[2020-04-19 22:08] MingcongBai commented on #1881
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:08] #1881 closed, assigned to nobody

[2020-04-19 22:10] MingcongBai commented on #1882
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:10] #1882 closed, assigned to nobody

[2020-04-19 22:11] MingcongBai commented on #1890
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:11] #1890 closed, assigned to nobody

[2020-04-19 22:12] MingcongBai commented on #1891
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:12] #1891 closed, assigned to nobody

[2020-04-19 22:13] MingcongBai commented on #1893
All done. @l2dy  Please assign an AOSA, one each for Python 2 and 3.

[2020-04-19 22:13] #1893 closed, assigned to nobody

[2020-04-19 22:20] MingcongBai commented on #1897
Long superseded by other issues. Closing.

[2020-04-19 22:20] #1897 closed, assigned to nobody

[2020-04-19 22:22] MingcongBai commented on #1898
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:22] #1898 closed, assigned to KexyBiscuit

[2020-04-19 22:23] MingcongBai commented on #1899
@KexyBiscuit What is the situation with this issue?

[2020-04-19 22:33] MingcongBai commented on #1895
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:33] #1895 closed, assigned to nobody

[2020-04-19 22:33] MingcongBai commented on #1894
All done. @l2dy Please assign an AOSA.

[2020-04-19 22:33] #1894 closed, assigned to nobody

[2020-04-20 00:45] KexyBiscuit commented on #1899
Fixed in https://github.com/AOSC-Dev/aosc-os-abbs/commit/cebfc023736f6ec0872f2e1878da274e45cfcf4b#diff-6daf1a77609c4d2e27c2dc901bd41886 , closing.

[2020-04-20 00:45] #1899 closed, assigned to KexyBiscuit

[2020-04-20 00:50] MingcongBai commented on #1899
@l2dy Please assign an AOSA.

[2020-04-20 01:27] MingcongBai commented on #1900
All done. @l2dy Please assign an AOSA.

[2020-04-20 01:27] #1900 closed, assigned to KexyBiscuit

[2020-04-20 01:29] MingcongBai commented on #1903
Qemu at 4.1.1 since fe672af1589fb372e70d578d019c95358de8ae82.

[2020-04-20 02:05] MingcongBai commented on #1903
All done. @l2dy Please assign an AOSA.

[2020-04-20 02:05] #1903 closed, assigned to nobody

[2020-04-20 02:07] MingcongBai commented on #1904
All done. @l2dy Please assign an AOSA.

[2020-04-20 02:07] #1904 closed, assigned to nobody

[2020-04-20 02:07] MingcongBai commented on #1905
All done. @l2dy Please assign an AOSA.

[2020-04-20 02:07] #1905 closed, assigned to nobody

[2020-04-20 02:09] MingcongBai commented on #1906
`libmediainfo` at 19.09 since 00c659cf792ee5d68ab227b0d9f75ecc15c04038.

[2020-04-20 03:52] MingcongBai commented on #1906
All done. @l2dy Please assign an AOSA.

[2020-04-20 03:52] #1906 closed, assigned to nobody

[2020-04-20 03:56] MingcongBai commented on #1910
All done. @l2dy Please assign an AOSA.

[2020-04-20 03:56] #1910 closed, assigned to nobody

[2020-04-20 03:58] MingcongBai commented on #1914
All done. @l2dy Please assign an AOSA.

[2020-04-20 03:58] #1914 closed, assigned to nobody

[2020-04-20 03:58] MingcongBai commented on #1915
Superseded by #2136. Closing.

[2020-04-20 03:59] #1915 closed, assigned to nobody

[2020-04-20 04:00] MingcongBai commented on #1917
Fixed with fe9d470f55736c531d9f9c7675f03f2de1bcb250.

[2020-04-20 04:07] MingcongBai commented on #1907
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:07] #1907 closed, assigned to nobody

[2020-04-20 04:33] MingcongBai commented on #1908
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:33] #1908 closed, assigned to nobody

[2020-04-20 04:36] MingcongBai commented on #1909
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:36] #1909 closed, assigned to nobody

[2020-04-20 04:39] MingcongBai commented on #1917
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:39] #1917 closed, assigned to nobody

[2020-04-20 04:41] MingcongBai commented on #1919
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:41] #1919 closed, assigned to nobody

[2020-04-20 04:43] MingcongBai commented on #1920
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:43] #1920 closed, assigned to nobody

[2020-04-20 04:45] MingcongBai commented on #1925
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:45] #1925 closed, assigned to nobody

[2020-04-20 04:46] MingcongBai commented on #1926
Superseded by #2130. Closing.

[2020-04-20 04:46] #1926 closed, assigned to nobody

[2020-04-20 04:47] MingcongBai commented on #1929
All done. @l2dy Let's not assign an AOSA for this one, as we are already on another branch, consider this a backlog.

[2020-04-20 04:47] #1929 closed, assigned to nobody

[2020-04-20 04:48] MingcongBai commented on #1931
@liushuyu Could you please evaluate this issue?

[2020-04-20 04:50] MingcongBai commented on #1932
All done. @l2dy Please assign an AOSA.

[2020-04-20 04:50] #1932 closed, assigned to nobody

[2020-04-20 04:54] liushuyu commented on #1931
https://github.com/AOSC-Dev/aosc-os-abbs/blob/stable-proposed/extra-java/icedtea-web/spec

Looks like we are already using 1.8.3

[2020-04-20 04:59] MingcongBai commented on #1931
@liushuyu Since which version? Could you point to a commit?

[2020-04-20 05:00] liushuyu commented on #1931
In cf994ab410efd080f5bf493b8e732505a6d9cc9e right from the beginning. The package was splitted from `openjdk-8`

[2020-04-20 05:01] MingcongBai commented on #1931
Thanks, seems like we are all done here. @l2dy Please assign an AOSA.

[2020-04-20 05:01] #1931 closed, assigned to liushuyu

[2020-04-20 05:02] MingcongBai commented on #1933
The new Sigil could not be built on `ppc64` due to missing QtWebEngine support, and will be dropped soon.

[2020-04-20 05:02] MingcongBai commented on #1933
With that, we are all done. @l2dy Please assign an AOSA.

[2020-04-20 05:02] #1933 closed, assigned to nobody

[2020-04-20 05:08] MingcongBai commented on #1945
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:08] #1945 closed, assigned to nobody

[2020-04-20 05:34] MingcongBai commented on #1967
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:34] #1967 closed, assigned to KexyBiscuit

[2020-04-20 05:34] #1969 closed, assigned to nobody

[2020-04-20 05:34] MingcongBai commented on #1969
This is probably fixed by now.

[2020-04-20 05:35] MingcongBai commented on #1970
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:35] #1970 closed, assigned to nobody

[2020-04-20 05:36] MingcongBai commented on #1971
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:36] #1971 closed, assigned to nobody

[2020-04-20 05:36] MingcongBai commented on #1972
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:36] #1972 closed, assigned to nobody

[2020-04-20 05:38] MingcongBai commented on #1937
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:38] #1937 closed, assigned to nobody

[2020-04-20 05:38] MingcongBai commented on #1953
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:38] #1953 closed, assigned to KexyBiscuit

[2020-04-20 05:41] MingcongBai commented on #1978
Fixed with cf649e9a7395153381f88082db15c310caf1f59e.

[2020-04-20 05:42] MingcongBai commented on #1980
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:42] #1980 closed, assigned to nobody

[2020-04-20 05:48] MingcongBai commented on #1925
This is actually superseded by #1986. Removing AOSA pending. @l2dy

[2020-04-20 05:48] MingcongBai commented on #1986
Fixed with 303cad6b91a685eb2554760203a3d67e5e689675.

[2020-04-20 05:48] MingcongBai commented on #1986
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:48] #1986 closed, assigned to nobody

[2020-04-20 05:49] MingcongBai commented on #1978
All done. @l2dy Please assign two AOSAs, one for `hostapd` and another for `wpa-supplicant`.

[2020-04-20 05:49] #1978 closed, assigned to nobody

[2020-04-20 05:49] MingcongBai commented on #1982
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:49] #1982 closed, assigned to nobody

[2020-04-20 05:50] MingcongBai commented on #1930
Superseded by #1987. Closing.

[2020-04-20 05:50] #1930 closed, assigned to nobody

[2020-04-20 05:52] MingcongBai commented on #1987
Superseded by 6dbb918743ea268a34e90c2b9a472d868dc12743 (Chromium) and  f3bcedfc34cd1cda2e151eb0126db2747fd0380d (Google Chrome), v80.0.3987.116. @l2dy Could you please open an issue for the latest security update?

[2020-04-20 05:52] #1987 closed, assigned to nobody

[2020-04-20 05:52] MingcongBai commented on #1989
Fixed with d2cd89b3f7f5f4e4398d2f56cb8d0020ed21b845.

[2020-04-20 05:53] MingcongBai commented on #1989
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:53] #1989 closed, assigned to nobody

[2020-04-20 05:54] MingcongBai commented on #1976
Superseded by #1992. Closing.

[2020-04-20 05:54] #1976 closed, assigned to nobody

[2020-04-20 05:56] MingcongBai commented on #1958
Twisted superseded by #1993 .

@l2dy Please assign an AOSA for each of the packages affected.

[2020-04-20 05:56] #1958 closed, assigned to KexyBiscuit

[2020-04-20 05:57] MingcongBai commented on #1908
@l2dy Please disregard the AOSA request above. This is superseded by #1994 .

[2020-04-20 05:57] MingcongBai commented on #1994
Fixed with c2a6f65c076d84f63314ca56e217fec960264448.

All done. @l2dy Please assign an AOSA.

[2020-04-20 05:57] #1994 closed, assigned to nobody

[2020-04-20 05:58] MingcongBai commented on #1900
@l2dy Please disregard the AOSA request above. This is superseded by #1995.

[2020-04-20 05:59] MingcongBai commented on #1995
All done. @l2dy Please assign an AOSA.

[2020-04-20 05:59] #1995 closed, assigned to nobody

[2020-04-20 06:00] MingcongBai commented on #1893
@l2dy Please disregard the AOSA request above. This is superseded by #2001 .

[2020-04-20 06:01] MingcongBai commented on #2001
Fixed with e81e750aef7f865033129a4386794911fb3cc042 (Python 3), and 9e4cd34282a8551524b0c1a3c40a0ad0cba934bc (Python 2).

[2020-04-20 06:01] MingcongBai commented on #2001
All done. @l2dy Please assign an AOSA.

[2020-04-20 06:01] #2001 closed, assigned to KexyBiscuit

[2020-04-20 06:02] MingcongBai commented on #2002
Issue for 1.1.1 branch superseded by #2133.

[2020-04-20 06:02] MingcongBai commented on #2005
Fixed with 1b5fa446b7671ebe5d6a5f264345b05d8bcd0e17.

[2020-04-20 06:03] MingcongBai commented on #2005
All done. @l2dy Please assign an AOSA.

[2020-04-20 06:03] #2005 closed, assigned to nobody

[2020-04-20 06:16] hartwork commented on #2005
Thank you!

[2020-04-20 10:36] l2dy commented on #1031
Use AOSA-2020-0006 for CVE-2018-7226.

[2020-04-20 10:37] l2dy commented on #2130
Use AOSA-2020-0007.

[2020-04-20 10:37] l2dy commented on #2131
Use AOSA-2020-0008.

[2020-04-20 10:38] l2dy commented on #1744
Use AOSA-2020-0009.

[2020-04-20 10:38] l2dy commented on #1750
Use AOSA-2020-0010.

[2020-04-20 10:39] l2dy commented on #1777
Use AOSA-2020-0011.

[2020-04-20 10:40] l2dy commented on #1811
Use AOSA-2020-0012.

[2020-04-20 10:40] l2dy commented on #1828
Use AOSA-2020-0013.

[2020-04-20 10:40] l2dy commented on #1843
Use AOSA-2020-0014.

[2020-04-20 10:40] l2dy commented on #1845
Use AOSA-2020-0015.

[2020-04-20 10:43] l2dy commented on #1844
Use AOSA-2020-0016.

[2020-04-20 10:43] l2dy commented on #1851
Use AOSA-2020-0017.

[2020-04-20 10:43] l2dy commented on #1863
Use AOSA-2020-0018 for neovim.

[2020-04-20 10:43] l2dy commented on #1872
Use AOSA-2020-0019.

[2020-04-20 10:49] l2dy commented on #1879
Use AOSA-2020-0020.

[2020-04-20 10:49] l2dy commented on #1881
Use AOSA-2020-0021.

[2020-04-20 10:49] l2dy commented on #1882
Use AOSA-2020-0022.

[2020-04-20 10:49] l2dy commented on #1890
Use AOSA-2020-0023.

[2020-04-20 10:49] l2dy commented on #1891
Use AOSA-2020-0024.

[2020-04-20 10:49] l2dy commented on #1898
Use AOSA-2020-0025.

[2020-04-20 10:49] l2dy commented on #1895
Use AOSA-2020-0026.

[2020-04-20 10:49] l2dy commented on #1894
Use AOSA-2020-0027.

[2020-04-20 10:49] l2dy commented on #1899
Use AOSA-2020-0028.

[2020-04-20 10:49] l2dy commented on #1903
Use AOSA-2020-0029.

[2020-04-20 10:57] l2dy commented on #1904
Use AOSA-2020-0030.

[2020-04-20 10:58] l2dy commented on #1905
Use AOSA-2020-0031.

[2020-04-20 10:58] l2dy commented on #1906
Use AOSA-2020-0032.

[2020-04-20 10:58] l2dy commented on #1910
Use AOSA-2020-0033.

[2020-04-20 10:58] l2dy commented on #1914
Use AOSA-2020-0034.

[2020-04-20 10:58] l2dy commented on #1907
Use AOSA-2020-0035.

[2020-04-20 10:58] l2dy commented on #1909
Use AOSA-2020-0036.

[2020-04-20 10:58] l2dy commented on #1917
Use AOSA-2020-0037.

[2020-04-20 10:58] l2dy commented on #1919
Use AOSA-2020-0038.

[2020-04-20 10:58] l2dy commented on #1920
Use AOSA-2020-0039.

[2020-04-20 11:01] l2dy commented on #1932
Use AOSA-2020-0040.

[2020-04-20 11:01] l2dy commented on #1931
Use AOSA-2020-0041.

[2020-04-20 11:01] l2dy commented on #1933
Use AOSA-2020-0042.

[2020-04-20 11:01] l2dy commented on #1945
Use AOSA-2020-0043.

[2020-04-20 11:01] l2dy commented on #1967
Use AOSA-2020-0044.

[2020-04-20 11:01] l2dy commented on #1970
Use AOSA-2020-0045.

[2020-04-20 11:01] l2dy commented on #1971
Use AOSA-2020-0046.

[2020-04-20 11:01] l2dy commented on #1972
Use AOSA-2020-0047.

[2020-04-20 11:01] l2dy commented on #1937
Use AOSA-2020-0048.

[2020-04-20 11:01] l2dy commented on #1953
Use AOSA-2020-0049.

[2020-04-20 11:04] l2dy commented on #1980
Use AOSA-2020-0050.

[2020-04-20 11:04] l2dy commented on #1986
Use AOSA-2020-0051.

[2020-04-20 11:05] l2dy commented on #1978
Use AOSA-2020-0052 for hostapd.
Use AOSA-2020-0053 for wpa-supplicant.

[2020-04-20 11:05] l2dy commented on #1982
Use AOSA-2020-0054.

[2020-04-20 11:05] l2dy commented on #1989
Use AOSA-2020-0055.

[2020-04-20 11:06] l2dy commented on #1958
AOSAs already assigned by @KexyBiscuit.

[2020-04-20 11:06] l2dy commented on #1994
Use AOSA-2020-0056.

[2020-04-20 11:07] l2dy commented on #1995
Use AOSA-2020-0057.

[2020-04-20 11:08] l2dy commented on #2001
Use AOSA-2020-0058.

[2020-04-20 11:08] l2dy commented on #2005
Use AOSA-2020-0059.

[2020-04-20 11:18] l2dy opened #2138 "chromium, google-chrome: security update to 81.0.4044.113"
**CVE IDs:** CVE-2020-6450, CVE-2020-6451, CVE-2020-6452, CVE-2020-6454, CVE-2020-6423, CVE-2020-6455, CVE-2020-6430, CVE-2020-6456, CVE-2020-6431, CVE-2020-6432, CVE-2020-6433, CVE-2020-6434, CVE-2020-6435, CVE-2020-6436, CVE-2020-6437, CVE-2020-6438, CVE-2020-6439, CVE-2020-6440, CVE-2020-6441, CVE-2020-6442, CVE-2020-6443, CVE-2020-6444, CVE-2020-6445, CVE-2020-6446, CVE-2020-6447, CVE-2020-644

[2020-04-20 15:50] MingcongBai commented on #1996
Updating to 5.0.2.

[2020-04-20 15:57] MingcongBai commented on #1996
All done. @l2dy Please assign an AOSA.

[2020-04-20 15:57] #1996 closed, assigned to nobody

[2020-04-20 16:00] MingcongBai commented on #1991
Updating to 1.20 instead.

[2020-04-20 16:06] MingcongBai commented on #1991
All done. @l2dy Please assign an AOSA.

[2020-04-20 16:06] #1991 closed, assigned to nobody

[2020-04-20 16:08] MingcongBai commented on #2028
Fixed with 3556cc06dbdb03e639608a4de1e71c3003511f81.

[2020-04-20 16:08] MingcongBai commented on #2028
All done. @l2dy Please assign an AOSA.

[2020-04-20 16:08] #2028 closed, assigned to nobody

[2020-04-20 16:13] MingcongBai commented on #2047
All done. @l2dy Please assign an AOSA.

[2020-04-20 16:13] #2047 closed, assigned to KexyBiscuit

[2020-04-20 16:16] MingcongBai commented on #2049
Superseded by #2138. Closing.

[2020-04-20 16:16] #2049 closed, assigned to KexyBiscuit

[2020-04-20 16:16] MingcongBai commented on #2053
Superseded by #2138. Closing.

[2020-04-20 16:17] #2053 closed, assigned to KexyBiscuit

[2020-04-20 16:17] MingcongBai commented on #2054
Long since superseded. Closing.

[2020-04-20 16:17] #2054 closed, assigned to KexyBiscuit

[2020-04-20 16:17] MingcongBai commented on #2056
Superseded by #2136. Closing.

[2020-04-20 16:17] #2056 closed, assigned to nobody

[2020-04-20 16:18] MingcongBai commented on #2057
Done in #1996. Closing.

[2020-04-20 16:18] #2057 closed, assigned to nobody

[2020-04-20 16:19] MingcongBai commented on #2058
Superseded by #2125. Closing.

[2020-04-20 16:19] #2058 closed, assigned to nobody

[2020-04-20 16:19] MingcongBai commented on #2060
Superseded by #2138. Closing.

[2020-04-20 16:19] #2060 closed, assigned to KexyBiscuit

[2020-04-20 16:20] MingcongBai commented on #2081
Superseded by #2130 and #2131.

[2020-04-20 16:20] #2081 closed, assigned to nobody

[2020-04-20 16:21] MingcongBai commented on #2059
Superseded by #2128. Closing.

[2020-04-20 16:21] #2059 closed, assigned to nobody

[2020-04-20 16:21] MingcongBai commented on #2084
All done. @l2dy Please assign an AOSA.

[2020-04-20 16:21] #2084 closed, assigned to nobody

[2020-04-20 16:22] MingcongBai commented on #2084
@l2dy Please ignore the request above, as this is superseded by #2086.

[2020-04-20 16:23] MingcongBai commented on #2086
All done. @l2dy Please assign an AOSA.

[2020-04-20 16:23] #2086 closed, assigned to nobody

[2020-04-20 16:23] MingcongBai commented on #2035
Superseded by  #2093. Closing.

[2020-04-20 16:23] #2035 closed, assigned to KexyBiscuit

[2020-04-20 16:26] MingcongBai commented on #2116
Superseded by #2134. Closing.

[2020-04-20 16:26] #2116 closed, assigned to nobody

[2020-04-20 16:27] MingcongBai commented on #2114
Superseded by #2138. Closing.

[2020-04-20 16:27] #2114 closed, assigned to nobody

[2020-04-20 16:27] MingcongBai commented on #2112
Superseded by #2136. Closing.

[2020-04-20 16:27] #2112 closed, assigned to nobody

[2020-04-20 17:07] MingcongBai commented on #2132
All done. @l2dy Please assign an AOSA.

[2020-04-20 17:07] #2132 closed, assigned to nobody

[2020-04-20 19:30] MingcongBai commented on #1992
All done. @l2dy Please assign an AOSA.

[2020-04-20 19:30] #1992 closed, assigned to KexyBiscuit

[2020-04-20 22:09] MingcongBai commented on #2138
@l2dy Please assign an AOSA for Google Chrome. Chromium later.

[2020-04-20 22:10] MingcongBai commented on #1977
Long since superseded. Closing.

[2020-04-20 22:10] #1977 closed, assigned to nobody

[2020-04-20 22:14] MingcongBai commented on #1981
Fixed by updating to v2.3.1.

[2020-04-20 22:20] MingcongBai commented on #2095
All done. @l2dy Please assign an AOSA.

[2020-04-20 22:20] #2095 closed, assigned to nobody

[2020-04-20 22:21] MingcongBai commented on #2094
All done. @l2dy Please assign an AOSA.

[2020-04-20 22:21] #2094 closed, assigned to nobody

[2020-04-20 22:40] MingcongBai commented on #2093
All done. @l2dy Please assign an AOSA.

[2020-04-20 22:40] #2093 closed, assigned to nobody

[2020-04-20 23:11] MingcongBai commented on #2032
All done. @l2dy Please assign an AOSA.

[2020-04-20 23:11] #2032 closed, assigned to KexyBiscuit

[2020-04-20 23:12] MingcongBai commented on #2002
All done. @l2dy Please assign an AOSA.

[2020-04-20 23:12] #2002 closed, assigned to nobody

[2020-04-20 23:26] szclsya opened #2139 "git: security update to 2.26.2"
**CVE IDs:** CVE-2020-11008

**Other security advisory IDs:** DSA-4659-1

**Descriptions:**
Carlo Arenas discovered a flaw in git, a fast, scalable, distributed revision control system. With a crafted URL that contains a newline or empty host, or lacks a scheme, the credential helper machinery can be fooled into providing credential information that is not appropriate for the protocol in use and h

[2020-04-20 23:29] MingcongBai commented on #1990
All done. @l2dy Please assign an AOSA.

[2020-04-20 23:29] #1990 closed, assigned to nobody

[2020-04-21 05:08] l2dy commented on #1996
Use AOSA-2020-0060.

[2020-04-21 05:08] l2dy commented on #1991
Use AOSA-2020-0061.

[2020-04-21 05:08] l2dy commented on #2028
Use AOSA-2020-0062.

[2020-04-21 05:08] l2dy commented on #2047
Use AOSA-2020-0063.

[2020-04-21 05:08] l2dy commented on #2086
Use AOSA-2020-0064.

[2020-04-21 05:08] l2dy commented on #2132
Use AOSA-2020-0065.

[2020-04-21 05:08] l2dy commented on #1992
Use AOSA-2020-0066.

[2020-04-21 05:08] l2dy commented on #2138
Use AOSA-2020-0067 for Google Chrome.

[2020-04-21 05:10] l2dy commented on #2095
Use AOSA-2020-0068.

[2020-04-21 05:10] l2dy commented on #2094
Use AOSA-2020-0069.

[2020-04-21 05:11] l2dy commented on #2093
Use AOSA-2020-0070.

[2020-04-21 05:11] l2dy commented on #2032
Use AOSA-2020-0071.

[2020-04-21 05:11] l2dy commented on #2002
Use AOSA-2020-0072.

[2020-04-21 05:11] l2dy commented on #1990
Use AOSA-2020-0073.

[2020-04-21 12:29] szclsya opened #2140 "git: update to 2.24.3"
**CVE IDs:** CVE-2020-11008

**Other security advisory IDs:** DSA-4659-1

**Descriptions:**
Carlo Arenas discovered a flaw in git, a fast, scalable, distributed revision control system. With a crafted URL that contains a newline or empty host, or lacks a scheme, the credential helper machinery can be fooled into providing credential information that is not appropriate for the protocol in use and h

[2020-04-21 18:32] MingcongBai commented on #2138
All done. @l2dy Please assign an AOSA for Chromium.

[2020-04-21 18:32] #2138 closed, assigned to nobody

[2020-04-21 18:39] MingcongBai commented on #2126
All done. @l2dy Please assign an AOSA.

[2020-04-21 18:39] #2126 closed, assigned to nobody

[2020-04-21 18:39] MingcongBai commented on #2115
All done. @l2dy Please assign an AOSA.

[2020-04-21 18:39] #2115 closed, assigned to nobody

[2020-04-21 18:42] MingcongBai commented on #2133
All done. @l2dy Please assign an AOSA.

[2020-04-21 18:42] #2133 closed, assigned to nobody

[2020-04-21 18:45] MingcongBai commented on #2128
Superseded by #2140. Closing.

[2020-04-21 18:45] #2128 closed, assigned to nobody

[2020-04-21 18:53] MingcongBai opened #2141 "openssl: security update to 1.1.1g"
**CVE IDs:** CVE-2020-1967

**Other security advisory IDs:** DSA-4661-1

**Descriptions:**

Server or client applications that call the SSL_check_chain() function during or after a TLS 1.3 handshake may crash due to a NULL pointer dereference as a result of incorrect handling of the "signature_algorithms_cert" TLS extension. The crash occurs if an invalid or unrecognised signature algorithm is rec

[2020-04-21 18:57] MingcongBai commented on #2141
All done. @l2dy Please assign an AOSA.

[2020-04-21 18:57] #2141 closed, assigned to nobody

[2020-04-21 19:11] MingcongBai commented on #1923
All done. @l2dy Please assign an AOSA.

[2020-04-21 19:11] #1923 closed, assigned to nobody

[2020-04-22 00:07] MingcongBai commented on #2125
All done. @l2dy Please assign an AOSA.

[2020-04-22 00:07] #2125 closed, assigned to nobody

[2020-04-22 04:38] MingcongBai commented on #2135
All done. @l2dy Please assign an AOSA.

[2020-04-22 04:38] #2135 closed, assigned to nobody

[2020-04-22 05:53] MingcongBai commented on #2136
All done. @l2dy Please assign an AOSA.

[2020-04-22 05:53] #2136 closed, assigned to nobody

[2020-04-22 07:12] MingcongBai commented on #2137
All done. @l2dy Please assign an AOSA.

[2020-04-22 07:12] #2137 closed, assigned to nobody

[2020-04-22 07:15] MingcongBai commented on #2140
All done. @l2dy Please assign an AOSA.

[2020-04-22 07:15] #2140 closed, assigned to nobody

[2020-04-22 07:44] KexyBiscuit opened #2142 "freerdp: security update to 2.0.0"
**CVE IDs:** CVE-2020-11521, CVE-2020-11522, CVE-2020-11523, CVE-2020-11524, CVE-2020-11525, CVE-2020-11526

**Other security advisory IDs:** [* fix multiple other security related issues (#6005, #6006, #6007, #6008, #6009, #6010, #6011, #6012, #6013)](https://github.com/FreeRDP/FreeRDP/blob/5ab2bed8749747b8e4b2ed431fd102bc726be684/ChangeLog#L6)

**Descriptions:** FreeRDP version 2.0.0

See https:

[2020-04-22 11:39] l2dy commented on #2138
Use AOSA-2020-0074 for Chromium.

[2020-04-22 11:40] l2dy commented on #2126
Use AOSA-2020-0075.

[2020-04-22 11:40] l2dy commented on #2115
Use AOSA-2020-0076.

[2020-04-22 11:40] l2dy commented on #2133
Use AOSA-2020-0077.

[2020-04-22 11:40] l2dy commented on #2141
Use AOSA-2020-0078.

[2020-04-22 11:41] l2dy commented on #1923
Use AOSA-2020-0079.

[2020-04-22 11:42] l2dy commented on #2125
Use AOSA-2020-0080.

[2020-04-22 11:42] l2dy commented on #2135
Use AOSA-2020-0081.

[2020-04-22 11:42] l2dy commented on #2137
Use AOSA-2020-0083.

[2020-04-22 11:42] l2dy commented on #2136
Use AOSA-2020-0082.

[2020-04-22 11:42] l2dy commented on #2140
Use AOSA-2020-0084.

[2020-04-23 05:05] MingcongBai commented on #2142
All done. @l2dy Please assign an AOSA.

[2020-04-23 05:05] #2142 closed, assigned to nobody

[2020-04-23 11:13] l2dy commented on #2142
Use AOSA-2020-0085.

[2020-04-28 06:28] MingcongBai commented on #2121
All done. @l2dy Please assign an AOSA.

[2020-04-28 06:28] #2121 closed, assigned to nobody

[2020-04-28 06:29] MingcongBai commented on #2055
All done. @l2dy Please assign an AOSA.

[2020-04-28 06:29] #2055 closed, assigned to nobody

[2020-04-28 06:30] MingcongBai commented on #1993
All done. @l2dy Please assign an AOSA.

[2020-04-28 06:30] #1993 closed, assigned to nobody

[2020-04-28 06:30] MingcongBai commented on #2134
All done. @l2dy Please assign an AOSA.

[2020-04-28 06:30] #2134 closed, assigned to nobody

[2020-04-28 07:17] MingcongBai commented on #1981
All done. @l2dy Please assign an AOSA.

[2020-04-28 07:17] #1981 closed, assigned to nobody

[2020-04-28 07:17] MingcongBai commented on #2139
All done. @l2dy Please assign an AOSA.

[2020-04-28 07:17] #2139 closed, assigned to nobody

[2020-04-29 12:22] MingcongBai commented on #2118
All done. @l2dy Please assign an AOSA.

[2020-04-29 12:22] #2118 closed, assigned to nobody

[2020-04-29 12:24] MingcongBai commented on #2120
All done. @l2dy Please assign an AOSA.

[2020-04-29 12:24] #2120 closed, assigned to nobody

[2020-04-29 12:25] MingcongBai commented on #2104
All done. @l2dy Please assign an AOSA.

[2020-04-29 12:25] #2104 closed, assigned to nobody

[2020-04-29 12:39] MingcongBai commented on #2119
All done. @l2dy Please assign an AOSA.

[2020-04-29 12:39] #2119 closed, assigned to nobody

[2020-04-30 05:14] l2dy opened #2143 "linux-kernel*: CVE-2020-11494"
**CVE IDs:** CVE-2020-11494

**Other security advisory IDs:** openSUSE-SU-2020:0543-1, MGASA-2020-0183

**Descriptions:**
   - CVE-2020-11494: An issue was discovered in slc_bump in
     drivers/net/can/slcan.c, which allowed attackers to read uninitialized
     can_frame data, potentially containing sensitive information from kernel
     stack memory, if the configuration lacks CONFIG_INIT_STACK_

[2020-04-30 05:17] l2dy commented on #2121
Use AOSA-2020-0086.

[2020-04-30 05:17] l2dy commented on #2055
Use AOSA-2020-0087.

[2020-04-30 05:17] l2dy commented on #1993
Use AOSA-2020-0088.

[2020-04-30 05:17] l2dy commented on #2134
Use AOSA-2020-0089.

[2020-04-30 05:17] l2dy commented on #1981
Use AOSA-2020-0090.

[2020-04-30 05:17] l2dy commented on #2139
Use AOSA-2020-0091.

[2020-04-30 05:17] l2dy commented on #2118
Use AOSA-2020-0092.

[2020-04-30 05:17] l2dy commented on #2120
Use AOSA-2020-0093.

[2020-04-30 05:17] l2dy commented on #2104
Use AOSA-2020-0094.

[2020-04-30 05:17] l2dy commented on #2119
Use AOSA-2020-0095.

[2020-05-03 01:41] MingcongBai commented on #2073
Cycle closed. Transitioning into Spring 2020 cycle (#2124).

[2020-05-03 01:41] #2073 closed, assigned to Icenowy, cthbleachbit, MingcongBai, liushuyu, KexyBiscuit, szclsya, eatradish

[2020-05-03 01:46] MingcongBai commented on #2124
Spring 2020 is now live.

[2020-05-07 03:10] KexyBiscuit opened #2144 "OpenLDAP: security update to 2.4.50"
**CVE IDs:** [CVE-2020-12243](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12243)

**Other security advisory IDs:** [USN-4352-1](https://usn.ubuntu.com/4352-1/)

**Descriptions:** In filter.c in slapd in OpenLDAP before 2.4.50, LDAP search filters with nested boolean expressions can result in denial of service (daemon crash).

**Patches:** [ITS#9202 limit depth of nested filters](https:

[2020-05-07 22:06] eatradish opened #2145 "fcitx5: FTBFS"
log: http://fars.ee/YWSH
commit: https://github.com/fcitx/fcitx5/commit/3658c24a1aad7b6b78ffe8fc9cf7cdaf35cb2797
xcb-imdkit version: https://github.com/fcitx/xcb-imdkit/commit/c0bec58324fd8f8ff5c6b2a8e4d1e9d408cd4329

[2020-05-07 23:02] MingcongBai commented on #2145
@eatradish Build passes with Clang (`USECLANG=1`) and with Wayland support disabled (`CMAKE_AFTER+="-DENABLE_WAYLAND=OFF"`). Still investigating.

[2020-05-08 09:55] MingcongBai opened #2146 "firefox: security update to 76.0"
**CVE IDs:** CVE-2020-6831, CVE-2020-12387, CVE-2020-12388, CVE-2020-12389, CVE-2020-12390, CVE-2020-12391, CVE-2020-12392, CVE-2020-12393, CVE-2020-12394, CVE-2020-12395, CVE-2020-12396

**Other security advisory IDs:** MFSA2020-16

**Descriptions:**

See https://www.mozilla.org/en-US/security/advisories/mfsa2020-16/.

**Patches:** N/A

**PoC(s):**

**Architectural progress:**

- [x] AMD64 `amd64

[2020-05-08 09:57] MingcongBai opened #2147 "thunderbird: security update to 68.8.0"
**CVE IDs:** CVE-2020-6831, CVE-2020-12387, CVE-2020-12392, CVE-2020-12393, CVE-2020-12395, CVE-2020-12397.

**Other security advisory IDs:** MFSA2020-18.

**Descriptions:**

See https://www.mozilla.org/en-US/security/advisories/mfsa2020-18/.

**Patches:** N/A

**PoC(s):**

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-05-08 17:29] MingcongBai commented on #2146
Updating to 76.0.1.

[2020-05-09 15:59] eatradish commented on #2145
Fixed on testing-proposed, closing.

[2020-05-09 15:59] #2145 closed, assigned to nobody

[2020-05-10 04:48] MingcongBai commented on #2143
@l2dy Does this only affect 5.6?

[2020-05-11 02:01] l2dy commented on #2143
Any version before 5.6.4.

[2020-05-12 22:02] MingcongBai commented on #2147
All done. @l2dy Please assign an AOSA.

[2020-05-12 22:02] #2147 closed, assigned to nobody

[2020-05-12 22:02] MingcongBai commented on #2146
All done. @l2dy Please assign an AOSA.

[2020-05-12 22:02] #2146 closed, assigned to nobody

[2020-05-13 09:00] KexyBiscuit opened #2148 "aspnetcore-runtime-{2.1,3.1}, dotnet-host{,-fxr}, dotnet-runtime-{2.1,3.1}, dotnet-sdk-{2,3,2.1,3.1,2.1.5xx,2.1.6xx,2.1.8xx,3.1.1xx}: security update to 2.1.17, 3.1.3"
**CVE IDs:** [CVE-2020-1108](https://github.com/dotnet/announcements/issues/156), [CVE-2020-1161](https://github.com/aspnet/Announcements/issues/416)

**Other security advisory IDs:** N/A

**Descriptions:** Microsoft Security Advisory CVE-2020-1108 | .NET Core Denial of Service Vulnerability

Microsoft Security Advisory CVE-2020-1161 | ASP.NET Core Denial of Service Vulnerability

**Patches:** N/A

[2020-05-13 09:02] KexyBiscuit opened #2149 "FreeRDP: security update to 2.1.0"
**CVE IDs:** CVE-2020-11039, CVE-2020-11038, CVE-2020-11043, CVE-2020-11040, CVE-2020-11041, CVE-2020-11019, CVE-2020-11017, CVE-2020-11018

**Other security advisory IDs:** [GHSA](https://github.com/FreeRDP/FreeRDP/security/advisories)

**Descriptions:** 2.1.0 is mainly a security and bug fix release that addresses multiple security issues indentified by hac425. If you are using any earlier versi

[2020-05-14 03:31] KexyBiscuit opened #2150 "APT CVE-2020-3810: out-of-bounds bug"
**CVE IDs:** [CVE-2020-3810](https://people.canonical.com/~ubuntu-security/cve/2020/CVE-2020-3810.html)

**Other security advisory IDs:** [USN-4359-1](https://usn.ubuntu.com/4359-1/)

**Descriptions:** Stack buffer out-of-bounds read when handling ar archive members with
specially crafted names.

**Patches:** [SECURITY UPDATE: Fix out of bounds read in .ar and .tar implementation (CVE-2020-3810)](

[2020-05-14 03:38] KexyBiscuit opened #2151 "libexif: several security issues"
**CVE IDs:** [CVE-2018-20030](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20030), [CVE-2020-12767](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12767)

**Other security advisory IDs:** [USN-4358-1](https://usn.ubuntu.com/4358-1/)

**Descriptions:** Several security issues were fixed in libexif.

**Patches:** [Improve deep recursion detection in exif_data_load_data_content.](

[2020-05-14 03:50] KexyBiscuit opened #2152 "Squid: credential replay and remote code execution"
**CVE IDs:** [CVE-2019-12519](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12519), [CVE-2019-12521](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12521), [CVE-2020-11945](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11945)

**Other security advisory IDs:** [USN-4356-1](https://usn.ubuntu.com/4356-1/)

**Descriptions:** An issue was discovered in Squid before 5.0.2.

[2020-05-14 11:40] l2dy commented on #2146
Use AOSA-2020-0097.

[2020-05-14 11:40] l2dy commented on #2147
Use AOSA-2020-0096.

[2020-05-15 03:43] KexyBiscuit opened #2153 "json-c CVE-2020-12762: integer overflow and out-of-bounds write"
**CVE IDs:** [CVE-2020-12762](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12762)

**Other security advisory IDs:** [USN-4360-1](https://usn.ubuntu.com/4360-1/)

**Descriptions:** json-c through 0.14 has an integer overflow and out-of-bounds write via a large JSON file, as demonstrated by printbuf_memappend.

**Patches:** [Prevent out of boundary write on malicious input](https://github

[2020-05-15 04:37] KexyBiscuit opened #2154 "PowerShell: security update to 6.2.5"
**CVE IDs:** [CVE-2020-1108](https://github.com/PowerShell/Announcements/issues/20)

**Other security advisory IDs:** #2148

**Descriptions:** Microsoft Security Advisory CVE-2020-1108: .NET Core Denial of Service Vulnerability

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**
- [x] AMD64 `amd64`

[2020-05-15 19:03] KexyBiscuit commented on #2153
Upstream introduced regressions: [cannot add more than 11 objects. Is this a known issue?](https://github.com/json-c/json-c/issues/599), [let's not call lh_table_resize with INT_MAX](https://github.com/json-c/json-c/pull/610), and is [marked as critical on Ubuntu](https://bugs.launchpad.net/ubuntu/+source/json-c/+bug/1878723) which caused a [revert](http://changelogs.ubuntu.com/changelogs/pool/mai

[2020-05-20 08:46] KexyBiscuit opened #2155 "An old experimental development branch of BIND has been shipped on stable"
Bug description
-----------------------

An old experimental development branch of BIND has been shipped on stable.

Reproducing steps
---------------------------

https://packages.aosc.io/packages/bind shows 9.15.6 is the latest version on all branches.

Update channel(s)
--------------------------

Stable

Package and version
------------------------------

N/A

[2020-05-20 08:48] KexyBiscuit opened #2156 "BIND: security update to 9.16.3"
**CVE IDs:** [CVE-2020-8616](https://kb.isc.org/docs/cve-2020-8616), [CVE-2020-8617](https://kb.isc.org/docs/cve-2020-8617)

**Other security advisory IDs:** [USN-4365-1](https://usn.ubuntu.com/4365-1/)

**Descriptions:** BIND does not sufficiently limit the number of fetches performed when processing referrals

A logic error in code which checks TSIG validity can be used to trigger an assertion f

[2020-05-20 08:53] KexyBiscuit opened #2157 "Dovecot: security update to 2.3.10.1"
**CVE IDs:** [CVE-2020-10957, CVE-2020-10958, CVE-2020-10967](https://dovecot.org/pipermail/dovecot-news/2020-May/000438.html)

**Other security advisory IDs:** [USN-4361-1](https://usn.ubuntu.com/4361-1/)

**Descriptions:** Multiple vulnerabilities in Dovecot

**Patches:** N/A, patch version update is required since Dovecot 2.3.7 branch is no longer supported

**PoC(s):** N/A

**Architectural pro

[2020-05-20 08:57] KexyBiscuit opened #2158 "Exim CVE-2020-12783: out-of-bound buffer read"
**CVE IDs:** [CVE-2020-12783](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12783)

**Other security advisory IDs:** [USN-4366-1](https://usn.ubuntu.com/4366-1/)

**Descriptions:** Exim through 4.93 has an out-of-bounds read in the SPA authenticator that could result in SPA/NTLM authentication bypass in auths/spa.c and auths/auth-spa.c.

**Patches:** [Fix SPA authenticator, checking clie

[2020-05-22 04:22] KexyBiscuit opened #2159 "ClamAV: security update to 0.102.3"
**CVE IDs:** [CVE-2020-3327](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-3327), [CVE-2020-3341](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-3341)

**Other security advisory IDs:** [USN-4370-1](https://usn.ubuntu.com/4370-1/)

**Descriptions:** A vulnerability in the ARJ archive parsing module in Clam AntiVirus
(ClamAV) Software versions 0.102.2 could allow an unauthenticate

[2020-05-22 04:26] KexyBiscuit opened #2160 "libvirt: several security issues"
**CVE IDs:** [CVE-2020-10703](https://people.canonical.com/~ubuntu-security/cve/2020/CVE-2020-10703.html), [CVE-2020-12430](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12430)

**Other security advisory IDs:** [USN-4371-1](https://usn.ubuntu.com/4371-1/)

**Descriptions:** Potential denial of service via active pool without target path

An issue was discovered in qemuDomainGetStatsIOThr

[2020-05-22 04:34] KexyBiscuit opened #2161 "QEMU: several security issues"
**CVE IDs:** [CVE-2019-20382](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-20382), [CVE-2020-10702](https://people.canonical.com/~ubuntu-security/cve/2020/CVE-2020-10702.html), [CVE-2020-11869](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11869)

**Other security advisory IDs:** [USN-4372-1](https://usn.ubuntu.com/4372-1/)

**Descriptions:** QEMU 4.1.0 has a memory leak in zr

[2020-05-24 13:18] l2dy opened #2162 "openconnect: security update to 8.10"
**CVE IDs:** CVE-2019-16239, CVE-2020-12105, CVE-2020-12823

**Other security advisory IDs:** openSUSE-SU-2019:2385-1, openSUSE-SU-2020:0694-1

**Descriptions:**
   - CVE-2019-16239: Fixed a buffer overflow when a malicious server uses
     HTTP chunked encoding with crafted chunk sizes. (bsc#1151178)
   - CVE-2020-12105: Fixed the improper handling of negative return values
     from X509_check_

[2020-05-24 13:44] l2dy opened #2163 "httpd: security update to 2.4.42"
**CVE IDs:** CVE-2020-1927 CVE-2020-1934

**Other security advisory IDs:** ASA-202004-14

**Descriptions:**
- CVE-2020-1927 (open redirect)

A security issue has been found in Apache HTTP Server from 2.4.0 up to
and including 2.4.41, in the mod_rewrite module, where redirects that
were intended to be self-referential might be fooled by encoded
newlines and redirect instead to an an unexpected URL

[2020-05-24 13:51] l2dy opened #2164 "django: security update to 3.0.4"
**CVE IDs:** CVE-2020-9402

**Other security advisory IDs:** USN-4296-1

**Descriptions:**
https://docs.djangoproject.com/en/dev/releases/3.0.4/

CVE-2020-9402: Potential SQL injection via tolerance parameter in GIS functions and aggregates on Oracle

**Patches:**

**PoC(s):**

**Architectural progress:**

- [x] Architecture-independent `noarch`

[2020-05-24 13:56] l2dy opened #2165 "opensc: security update to 0.20.0"
**CVE IDs:** CVE-2019-6502, CVE-2019-15945, CVE-2019-15946, CVE-2019-19479, CVE-2019-19480, CVE-2019-19481

**Other security advisory IDs:** MGASA-2020-0026

**Descriptions:**

<https://google.github.io/oss-fuzz>. It is running billions of tests each
weak and has found around 100 unique crashes, most notable the security
issues tracked as CVE-2019-6502, CVE-2019-15946, CVE-2019-15945,
CVE-2019-194

[2020-05-24 14:11] l2dy commented on #2152
+CVE-2019-12519 CVE-2019-12521

`[oss-security] [ADVISORY] SQUID-2019:12 Multiple issues in ESI Response processing`

^ Update to 4.10 or split to separate issue.

[2020-05-24 14:11] l2dy commented on #2152
+CVE-2019-12519 CVE-2019-12521

`[oss-security] [ADVISORY] SQUID-2019:12 Multiple issues in ESI Response processing`

^ Update to 4.11 or split to separate issue.

[2020-05-24 15:33] l2dy commented on #2150
@KexyBiscuit Please add the CVE number to title. It would be easier to check for duplicates.

[2020-05-24 17:09] l2dy commented on #2094
This is CVE-2020-9366.

[2020-05-24 17:14] l2dy opened #2166 "ceph: security update to 13.2.10"
**CVE IDs:** CVE-2020-12059

**Other security advisory IDs:** N/A

**Descriptions:**

https://ceph.io/releases/v13-2-10-mimic-released/

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-05-24 17:22] l2dy opened #2167 "pillow: security update to 6.2.2"
**CVE IDs:** CVE-2019-19911, CVE-2020-5310, CVE-2020-5311, CVE-2020-5312, CVE-2020-5313

**Other security advisory IDs:** MGASA-2020-0088

**Descriptions:**
https://pillow.readthedocs.io/en/stable/releasenotes/6.2.2.html

CVE-2019-19911 is regarding FPX images. If an image reports that it has a large number of bands, a large amount of resources will be used when trying to process the image. This i

[2020-05-25 20:56] liushuyu opened #2169 "rustc: security update to 1.43.1"
**CVE IDs:** N/A

**Other security advisory IDs:** N/A

**Descriptions:**
https://blog.rust-lang.org/2020/05/07/Rust.1.43.1.html

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-05-28 02:59] MingcongBai commented on #2148
@KexyBiscuit Could you specify in the title the packages affected by this issue?

[2020-05-28 03:03] KexyBiscuit commented on #2148
Done. Also, all dotnet packages that are not specified should be dropped.

[2020-05-28 03:07] MingcongBai commented on #2148
@KexyBiscuit Is it possible to leave this to you, since you do hold more expertise on this?

[2020-05-28 03:10] KexyBiscuit commented on #2148
@MingcongBai Yes, I can drop the unsupported packages later, since no packages in repo actually depends on them, they shouldn't be a problem for now. In the meanwhile, could you do the security work first? I've got few time recently.

[2020-05-28 03:11] MingcongBai commented on #2148
@KexyBiscuit Fair enough.

[2020-05-28 03:19] KexyBiscuit opened #2172 "unbound CVE-2020-12662 and CVE-2020-12663: several security issues"
**CVE IDs:** [CVE-2020-12662](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12662), [CVE-2020-12663](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-12663)

**Other security advisory IDs:** [USN-4374-1](https://usn.ubuntu.com/4374-1/)

**Descriptions:** Unbound before 1.10.1 has Insufficient Control of Network Message Volume, aka an "NXNSAttack" issue. This is triggered by random

[2020-05-28 03:24] KexyBiscuit opened #2173 "php7: security update to 7.4.6"
**CVE IDs:** [CVE-2019-11048](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11048)

**Other security advisory IDs:** [USN-4375-1](https://usn.ubuntu.com/4375-1/)

**Descriptions:** In PHP versions 7.2.x below 7.2.31, 7.3.x below 7.3.18 and 7.4.x below 7.4.6, when HTTP file uploads are allowed, supplying overly long filenames or field names could lead PHP engine to try to allocate oversiz

[2020-05-28 03:32] MingcongBai commented on #2156
Updating to 9.16.3. Updated title.

[2020-05-28 21:11] MingcongBai opened #2174 "gnutls: security update to 3.6.12"
**CVE IDs:** CVE-2020-11501

**Other security advisory IDs:** N/A

**Descriptions:**

When using libcoap example client built with GnuTLS against a Californium + Scandium COAP Server the DTLS handshake can not be completed. We are using one-way authentication with x509 certificates (issued by Lets Encrypt via DNS01 ACME). Investigation of the Wireshark logs showed several issues on the client side

[2020-05-28 21:12] MingcongBai commented on #2174
This is a prerequisite to #2162 .

[2020-05-28 22:08] MingcongBai commented on #2163
Updating to 2.4.43. 2.4.42 gone.

[2020-05-28 22:14] MingcongBai commented on #2164
All done. @l2dy Please assign an AOSA.

[2020-05-28 22:14] #2164 closed, assigned to nobody

[2020-05-28 22:57] MingcongBai commented on #2155
Done with #2156. Closing.

[2020-05-28 22:57] #2155 closed, assigned to nobody

[2020-05-29 03:24] MingcongBai opened #2175 "palemoon: security update to 28.9.3"
**CVE IDs:** CVE-2020-12392, CVE-2020-12393

**Other security advisory IDs:** N/A

**Descriptions:** [Pale Moon 28.9.3](https://github.com/MoonchildProductions/Pale-Moon/releases/tag/28.9.3_Release)

**Patches:** N/A

**PoC(s):** N/A

**Architectural progress:**

- [x] AMD64 `amd64`
- [x] AArch64 `arm64`

[2020-05-29 03:38] KexyBiscuit commented on #2153
Ubuntu released a [new version](https://launchpad.net/ubuntu/+source/json-c/0.13.1+dfsg-7ubuntu0.3).

[2020-05-29 03:38] MingcongBai commented on #2153
Thanks for the update.

[2020-05-29 03:39] eatradish opened #2176 "librime 1.5.3: FTBFS"
**Intended Version:**

librime 1.5.3 rebuild

**Target Branch:**

testing-proposed (amd64)

**Description:**
[code]

log: https://fars.ee/DGLN